
<div id="popupPageGrp" class="c_popup" jwcid="@Any" style="ognl:hidden=='false'?'':'display:none'">
	<div class="c_popupWrapper">
		<div class="c_popupHeight"></div>
		<div class="c_popupBox" style="width:75%;">
			<div class="c_popupTitle">
				<div class="text"><span jwcid="@Insert" value="ognl:pupupTitle" encode="false" /></div>
				<div class="fn"><a href="#nogo" class="close" onclick="hiddenPopupPageGrp();"></a></div>
			</div>
			<div class="c_popupContent"><div class="c_popupContentWrapper">
				<span jwcid="@Conditional" condition="ognl:frameName!=null">
				<iframe jwcid="@Frame" type="iframe" page="ognl:frameName" listener="ognl:frameListener" params="ognl:frameParams" ></iframe>
				</span>
			</div></div>
			<div class="c_popupBottom"><div></div></div>
			<div class="c_popupShadow"></div>
		</div>
	</div>
	<iframe class="c_popupFrame"></iframe>
	<div class="c_popupCover"></div>
</div>

<input jwcid="@Hidden" name="POPUPPAGEGRP_COMPONENT_ID" id="POPUPPAGEGRP_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="POPUPPAGEGRP_FRAME_NAME" id="POPUPPAGEGRP_FRAME_NAME" value="ognl:frameName"/>
