<!-- 标题 开始 -->
<div class="c_title c_title">
	<div class="text">合同信息</div>
	<div class="fn" id="contractButts">
		  <button type="button" id="bcreateCont" onclick="createContract();" ><i class="e_ico-add"></i><span>创建合同</span></button>
		  <button type="button" id="bupdateCont" onclick="updateContract();" ><i class="e_ico-add"></i><span>维护合同</span></button>
       	  <button  type="button" onclick="refreshCont();" class="l_ml"><i class="e_ico-refresh"></i><span>刷新</span></button>

		</div>
</div>
<!-- 标题 结束 -->
<!-- 表单 开始 -->
<div class="c_form c_form-col-2 c_form-label-7">

	<ul class="ul">
		<li class="li">
			<span class="label"><span class="e_required">合同列表：</span></span>
			<span class="e_select"><span><span>
				<select jwcid="@Select"
					name="SELE_CONTRACTPRODUCT_CONTRACT_ID" id="SELE_CONTRACTPRODUCT_CONTRACT_ID"
					source="ognl:contractInfos"
					onchange="seleGrpContractAfterAction()"
					value="ognl:contractInfo.CONTRACT_ID"
					/>
			</span></span></span>
		</li>

	</ul>
</div>
<!-- 表单 结束 -->

<!-- 表单 开始 -->
<div class="c_form c_form-col-3 c_form-label-7">
	<ul class="ul">

		<div jwcid="AcctInfoPart@Part" >
			<li class="li">
				<span class="label">合同名称：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField"
						id="SELE_CONTRACTPRODUCT_CONTRACT_NAME"
						type="text"
						name="SELE_CONTRACTPRODUCT_CONTRACT_NAME"
						value="ognl:contractInfo.CONTRACT_NAME"
						title="合同名称"  disabled="true"/>

				</span></span>
			</li>
			<li class="li">
				<span class="label">合同业务类型：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField"
						type="text"
						id="SELE_CONTRACTPRODUCT_CONTRACT_TYPE"
						name="SELE_CONTRACTPRODUCT_CONTRACT_TYPE"
						value="ognl:contractInfo.CONTRACT_TYPE"
						disabled="true"
						title="合同业务类型"/>
				</span></span>
			</li>
			<li class="li">
				<span class="label">合同决策人：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField"
						type="text"
						id="SELE_CONTRACTPRODUCT_CONTRACT_CONMAN"
						name="SELE_CONTRACTPRODUCT_CONTRACT_CONMAN"
						value="ognl:contractInfo.CONTRACT_CONMAN"
						disabled="true"
						title="合同决策人"/>
				</span></span>
			</li>
			<li class="li">
				<span class="label">合同项目经理：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField"
						type="text"
						id="SELE_CONTRACTPRODUCT_CONTRACT_MANAGER"
						name="SELE_CONTRACTPRODUCT_CONTRACT_MANAGER"
						value="ognl:contractInfo.CONTRACT_MANAGER"
						disabled="true"
						title="合同项目经理"/>
				</span></span>
			</li>
			<li class="li">
				<span class="label">合同签订日期：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField"
						type="text"
						id="SELE_CONTRACTPRODUCT_CONTRACT_WRITE_DATE"
						name="SELE_CONTRACTPRODUCT_CONTRACT_WRITE_DATE"
						value="ognl:contractInfo.CONTRACT_WRITE_DATE"
						disabled="true"
						title="合同签订日期"/>
				</span></span>
			</li>
			<li class="li">
				<span class="label">合同有效期：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField"
						type="text"
						id="SELE_CONTRACTPRODUCT_CONTRACT_END_DATE" 
						name=SELE_CONTRACTPRODUCT_CONTRACT_END_DATE" 
						value="ognl:contractInfo.CONTRACT_END_DATE"
						disabled="true"
						title="合同签订日期"/>
				</span></span>
			</li>
			<li class="li">
				<span class="label">合同签订人：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField"
						type="text"
						id="SELE_CONTRACTPRODUCT_CONTRACT_WRITER"
						name="SELE_CONTRACTPRODUCT_CONTRACT_WRITER"
						value="ognl:contractInfo.CONTRACT_WRITER"
						disabled="true"
						title="合同签订人"/>
				</span></span>
			</li>
			<li class="li">
				<span class="label">合同内容：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField"
						type="text"
						id="SELE_CONTRACTPRODUCT_CONTRACT_CONTENT"
						name="SELE_CONTRACTPRODUCT_CONTRACT_CONTENT"
						value="ognl:contractInfo.CONTRACT_CONTENT"
						disabled="true"
						title="合同内容"/>
				</span></span>
			</li>
			<li class="li">
				<span class="label">合同状态：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField"
						type="text"
						id="SELE_CONTRACTPRODUCT_CONTRACT_STATE"
						name="SELE_CONTRACTPRODUCT_CONTRACT_STATE"
						value="ognl:contractInfo.CONTRACT_STATE"
						disabled="true"
						title="合同状态"/>
				</span></span>
			</li>
		</div>
	</ul>
</div>

<!-- 表格 开始 -->
<div class="c_scroll c_scroll-x c_scroll-table-5"><div class="c_table" >
	<table>
		<thead>
			<tr>
				<th style="display:none">TAG</th>
				<th >合同ID</th>
				<th style="display:none">产品类型</th>
				<th  style="display:none">产品ID</th>
				<th >产品名称</th>
				<th >开始时间</th>
				<th >结束时间</th>
			</tr>
		</thead>
		<tbody id="contractProductBody">
		    <tr jwcid="@Foreach" source="ognl:infos" value="ognl:info" element="tr" index="ognl:rowIndex" class="ognl:rowIndex % 2 == 0 ? '' : 'odd'">
                <td class="e_center"><input id="conprocheck" name="conprocheck" jwcid="@Radio" value="ognl:info.PRODUCT_ID"  onclick="ognl:clickAction"/></td>
                <td style="display:none">3</td>
                <td><span jwcid="@Insert" name="" value="ognl:info.CONTRACT_ID" raw="true"/></td>
                <td style="display:none"><span jwcid="@Insert" name="CP_BRAND_CODE" value="ognl:info.PRODUCT_TYPE_CODE" raw="true"/></td>
                <td style="display:none"><span jwcid="@Insert" name="CP_PRODUCT_ID" value="ognl:info.PRODUCT_ID" raw="true"/></td>
                <td><span jwcid="@Insert" value="ognl:info.PRODUCT_NAME" raw="true"/></td>
                <td><span jwcid="@Insert" value="ognl:info.START_DATE" raw="true"/></td>
                <td><span jwcid="@Insert" value="ognl:info.END_DATE" raw="true"/></td>
            </tr>
	  </tbody>
	</table>
</div></div>
<!-- 表格 结束 -->

<input type="hidden" jwcid="@Any" id="SELE_CONTRACTPRODUCT_CLICKPRODUCT_ACTION" name="SELE_CONTRACTPRODUCT_CLICKPRODUCT_ACTION" value="ognl:clickAction"  />
<input type="hidden" jwcid="@Any" id="SELE_CONTRACTPRODUCT_CUST_ID" name="SELE_CONTRACTPRODUCT_CUST_ID" value="ognl:custId"  />
<input type="hidden" jwcid="@Any" id="SELE_CONTRACTPRODUCT_GROUP_ID" name="SELE_CONTRACTPRODUCT_GROUP_ID" value="ognl:groupId"  />
<input type="hidden" jwcid="@Any" id="SELE_CONTRACTPRODUCT_CUST_NAME" name="SELE_CONTRACTPRODUCT_CUST_NAME" value="ognl:custName"  />
<input type="hidden" jwcid="@Any" id="SELE_CONTRACTPRODUCT_USER_ID" name="SELE_CONTRACTPRODUCT_USER_ID" value="ognl:userId"  />
<input type="hidden" jwcid="@Any" id="SELE_CONTRACTPRODUCT_PRODUCT_ID" name="SELE_CONTRACTPRODUCT_PRODUCT_ID" value="ognl:productId"  />
<input type="hidden" jwcid="@Any" id="SELE_CONTRACTPRODUCT_EOS" name="SELE_CONTRACTPRODUCT_EOS" value="ognl:eos"  />

