<div class="c_box" jwcid="MustInfoPart@Part">
	<input jwcid="@Hidden" name="PRE_FLAG" id="PRE_FLAG" value="ognl:editInfo.PRE_FLAG"/>
  
	 <div class="c_box">
		<div class="c_title">
			<div class="text">千群百号信息</div>
		</div>
		<div class="c_form c_form-col-3 c_form-label-7">
			<ul class="ul">
				<li class="li col-1">
					<span class="label"><span class="e_required">代表号码：</span></span>
					<span class="e_input"><span>
						<input type="text" jwcid=@TextField id="MAIN_SERIAL_NUMBER" name="MAIN_SERIAL_NUMBER" value="ognl:info.SERIAL_NUMBER" nullable="no" rows="1" desc="代表号码"/>
					</span></span>
				</li>
			</ul>
		</div>
	</div>

 </div> 