<!--<div class="l_left" style="width:27%;">-->
<div class="c_box"> 
	<div class="c_title">
		<div class="text">批量返销营销活动</div>
	</div>
	<!-- 标题 结束  -->
	<div id="listContent">
		<!--表单 开始 -->
		<div class="c_form c_form-col-2 c_form-label-6">
			<ul class="ul">
				<li class="li">
					<span class="label"><span class="e_required">活动类型：</span></span>
	                <span class="e_select"><span><span>
	               		<select jwcid="@Select" name="SALE_CAMPN_TYPE" id="SALE_CAMPN_TYPE"
								source="ognl:batcampnTypes"
								textField="LABEL_NAME" valueField="LABEL_ID" titleField="LABEL_ID"
	                			value="ognl:info.LABEL_ID"
								desc="活动类型"
	                			nullable="no"
	                			onchange="queryProductByType()"
                           		disabled="ognl:'true'.equals(info.NEED_DISABLED)"
                           />
	                </span></span></span>	
				</li>
				<li class="li">
					<div jwcid="productHiddenPart@Part" style="display:none;"></div>
					<span class="label"><span class="e_required">营销方案：</span></span>
	                <span class="e_select"><span><span>
	                <select jwcid="@Select" name="SALE_PRODUCT_ID" id="SALE_PRODUCT_ID"
								source="" 
	                			value=""
	                			onchange="checkByProduct()"
								desc="营销方案"
                    />
	                </span></span></span>
				</li>
				
				<li class="li col-2">
					<div jwcid="packageHiddenPart@Part" style="display:none;"></div>
					<span class="label"><span class="e_required">产品包：</span></span>
	                <span class="e_select"><span><span>
	                <select jwcid="@Select" name="SALE_PACKAGE_ID" id="SALE_PACKAGE_ID"
								source="" 
	                			value=""
								desc="产品包" 
                    />
	                </span></span></span>
				</li>
			</ul> 
		</div> 
	</div> 
</div> 