<div class="c_box" jwcid="MustInfoPart@Part">
    <div class="c_title">
        <span class="text">批量办理家庭网套餐</span>
    </div>
    <div class="c_form c_form-col-2 c_form-label-6" jwcid="QueryCondPart@Part">
        <ul class="ul">
			<li class="li">
				<div jwcid="SelectListB@Part">
				<span class="label"><span class="e_required">操作类型：</span></span>
	            <span class="e_select"><span><span>
	            <select jwcid="@Select" name="MODIFY_TAG" id="MODIFY_TAG"
					source="ognl:page.pageutil.getStaticList('BATFAMILYNETDISCNT_TAG')"
					textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
	    			value="ognl:info.MODIFY_TAG"
					desc="操作类型" nullable="no"/>
	            </span></span></span></div>
			</li>
			</ul>
    </div>
</div>