<div class="c_box" jwcid="MustInfoPart@Part">
    <div class="c_title">
        <span class="text">目标用户批量导入</span>
    </div>
    <div class="c_form c_form-col-2 c_form-label-6" jwcid="QueryCondPart@Part">
        <ul class="ul">
			<li class="li">
				<div jwcid="SelectListB@Part">
				<span class="label"><span class="e_required">操作类型：</span></span>
	            <span class="e_select"><span><span>
	            <select jwcid="@Select" name="MODIFY_TAG" id="MODIFY_TAG"
					source="ognl:page.pageutil.getStaticList('BAT_ELEMENT_MODIFY_TAG2')"
					textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
	    			value="ognl:info.MODIFY_TAG"
					desc="操作类型" nullable="no" onchange="bathintmessagechg.changeState()"/>
	            </span></span></span></div>
			</li>
			
			<li class="li col-1">
				<span class="label"><span class="">业务类型：</span></span>
					<span class="e_select"><span><span>
		            	<select jwcid="@Select" name="RSRV_VALUE" id="RSRV_VALUE"
						source="cancelTradeTypes"
						textField="TRADE_TYPE" valueField="TRADE_TYPE_CODE"
		    			value="ognl:info.RSRV_VALUE"
						desc="业务类型" disabled="true"/>
			        </span></span></span>
			</li>
			
			<li class="li">
				<span class="label"><span>开始时间：</span></span>
				<span class="e_input e_input-left"><span>
				<input type="text" jwcid="@DateField" name="START_DATE" id="START_DATE" maxName="END_DATE" value="ognl:info.START_DATE" format="yyyy-MM-dd" desc="开始时间"  min="ognl:page.pageutil.getSysDate()" startdate="ognl:page.pageutil.getSysDate()" rows="1"/></span></span>
	        </li>
        
			<li class="li">
					<span class="label"><span>结束时间：</span></span>
					<span class="e_input e_input-left"><span>
					<input type="text" jwcid="@DateField" name="END_DATE" id="END_DATE" minName="START_DATE" value="ognl:info.END_DATE" format="yyyy-MM-dd" desc="结束时间"  min="ognl:page.pageutil.getSysDate()" enddate="ognl:info.END_DATE" disabled="true"/></span></span>
			</li>
		</ul>
		<ul class="ul">
			<li class="li">
	        	<div jwcid="SelectListA@Part">
				<span class="label"><span id="ename" class="e_required">推荐元素：</span></span>
	            	<span class="e_elements">
						<button type="button" class="e_button-right" id="btBatchTask" onclick="bathintmessagechg.queryElements()">
						<i class="e_ico-check"></i><span></span></button>
						<span class="e_input e_input-left"><span>
						
						<input type="text" jwcid="@Popup" readOnly="true" value="" text="" 
						name="ELEMENT_ID" id="ELEMENT_ID" 
						afterAction="bathintmessagechg.resolveReturnValues()"
						desc="推荐元素"
						/>
						<input jwcid="@TextField" id="ELEMENT_TYPE" name="ELEMENT_TYPE" value="ognl:info.ELEMENT_TYPE" desc="推荐元素类型(1:优惠;2:服务)" bat_element_type="text" style="display:none"/>
						</span></span>
					</span>
	            </div>
			</li>
			<li class="li">
				<span class="label"><span class="e_required">提示内容：</span></span>
				<span class="e_input"><span>
					<input type="text" jwcid=@TextField id="RSRV_STR8" name="RSRV_STR8" value="ognl:info.RSRV_STR8" rows="1" desc="提示内容"/>
				</span></span>
			</li>
		</ul>
    </div>
</div>