<div class="c_box" jwcid="MustInfoPart@Part">
<input jwcid="@Hidden" name="SVC_FLAG" id="SVC_FLAG" value="ognl:editInfo.SVC_FLAG"/>
    <div class="c_title">
        <span class="text">批量条件</span>
    </div>
    <div class="c_form c_form-col-2 c_form-label-10" jwcid="QueryCondPart@Part">
        <ul class="ul">
	        <li class="li">
	        	<div jwcid="SelectListA@Part">
				<span class="label"><span class="e_required">策略服务：</span></span>
	            <span class="e_select">
	            <select jwcid="@Select" name="SERVICE" id="SERVICE" source="ognl:info.LIST" desc="服务" textField="ALL_SERVICE_NAME" valueField="SERVICE_ID" titleField="SERVICE_NAME" nullable="no" ></select>
	            </span>
	            </div>
			</li>
			<li class="li">
				<span class="label"><span class="e_required">操作类型：</span>	</span>
				<span class="e_select"><span><span>
						<select name="TRADE_TYPE_TAG" id="TRADE_TYPE_TAG"";>
								<option value="279" selected="selected">个人用户</option>
								<option value="280">成员用户</option>
							  </select> 
				</span></span></span>
			</li>
        </ul>
        
        <div class="Dtable@Part" id="tableValue">
        	<div class="c_table c_table-row-5">
        	<table jwcid="@Table" id="BatPcrtTable" name="BatPcrtTable">
        		<thead>
        			<tr>
        				<td col="IS_SELECT"></td>
        				<td col="SERVICE_CODE">策略编码</td>
        				<td col="OPER_TYPE">操作类型</td>
        				<td col="BILLING_TYPE">计费类型</td>
        				<td col="START_DATE">生效时间</td>
        				<td col="END_DATE">失效时间</td>
        				<td col="USAGE_STATE">配额状态</td>
        			</tr>
        		</thead>
        		<tbody id="tableValue">
        			<tr id="pctrValue">
        				<td><input type="checkbox" name="checkbox" class="checkbox" onclick="batpcrfchg.addline(this)" /></td>
        				<td><span class="e_select">
        					<select jwcid="@Select" name="SERVICE_CODE" id="SERVICE_CODE" source="ognl:page.pageutil.getStaticList('ServiceCode')" addDefault="true"
                            textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
                            desc="策略编码" ></select>
        				</span></td>
        				<td><span class="e_select">
        					<select jwcid="@Select" name="OPER_TYPE" id="OPER_TYPE" source="ognl:page.pageutil.getStaticList('BAT_ELEMENT_MODIFY_TAG')" addDefault="true"
                            textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
                            desc="操作类型" ></select>
        				</span></td>
        				<td><span class="e_select">
        					<select jwcid="@Select" name="BILLING_TYPE" id="BILLING_TYPE" source="ognl:page.pageutil.getStaticList('ServiceBillingType')" addDefault="true"
                            textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
                            desc="计费类型" ></select>
        				</span></td>
        				<td><span class="e_input">
						<input type="text" jwcid="@DateField" name="START_DATE" id="START_DATE"
									value="ognl:@com.ailk.bizcommon.util.SysDateMgr@getSysDateYYYYMMDDHHMMSS()" desc="业务启用时间" format="yyyy-MM-dd HH:mm:ss"  time = "true"  maxName="END_DATE"  min="ognl:page.pageutil.getSysDate()"/>
						</span></td>
						<td><span class="e_input">
						<input type="text" jwcid="@DateField" name="END_DATE" id="END_DATE"
                               value="ognl:@com.ailk.bizcommon.util.SysDateMgr@getTheLastTime()" desc="业务截止时间" format="yyyy-MM-dd HH:mm:ss"  time = "true"  minName="START_DATE"  min="ognl:page.pageutil.getSysDate()"/>
						</span></td>
						<td><span class="e_select">
        					<select jwcid="@Select" name="USAGE_STATE" id="USAGE_STATE" source="ognl:page.pageutil.getStaticList('ServiceUsageState')" addDefault="true"
                            textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
                            desc="配额状态" ></select>
        				</span></td>
        			</tr>
         			
        		</tbody>
        	</table>
        	</div>
        </div>
        
	</div>
	<input type="text" style="display:none" id="innertext">
</div>