<div class="c_box" jwcid="MustInfoPart@Part">
	<div class="c_title">
		<div class="text">批量办理营销活动</div>
	</div>
	<div class="c_form c_form-label-7 c_form-col-1">
		<ul class="ul">
			<li class="li col-1">
				<span class="label"><span class="e_required">营销活动：</span></span>
				<span class="e_select"><span><span>
					<select jwcid="@Select" id="PRODUCT_PACKAGE_ID" name="PRODUCT_PACKAGE_ID" source="ognl:listC"
					valueField="PRODUCT_PACKAGE_ID" textField="PACKAGE_NAME" value="ognl:info.PRODUCT_PACKAGE_ID"
					titleField="PACKAGE_NAME" desc="营销活动" nullable="no" onchange="changePayMode()"/>
				</span></span></span>
			</li>
			<li class="li col-1">
				<span class="label"><span class="e_required">付费方式：</span></span>
				<span class="e_select"><span><span>
					<select jwcid="@Select" id="PAY_MODE" name="PAY_MODE" source="ognl:page.pageutil.getList('TD_S_PAYMONEY','PAY_MONEY_CODE', 'PAY_MONEY')"
							valueField="PAY_MONEY_CODE" textField="PAY_MONEY" value="ognl:info.PAY_MONEY_CODE"
							titleField="PAY_MONEY_CODE" desc="付款方式" nullable="no" disabled="true"/>
				</span></span></span>
			</li>
		</ul>
	</div>
	<input jwcid="@Hidden" name="CAMPN_TYPE" id="CAMPN_TYPE" value="ognl:info.PRODUCT_PACKAGE_ID" encode="false" />
	<input jwcid="@Hidden" name="PRODUCT_ID" id="PRODUCT_ID" value="ognl:info.PRODUCT_PACKAGE_ID" encode="false" />
	<input jwcid="@Hidden" name="PACHAGE_ID" id="PACHAGE_ID" value="ognl:info.PRODUCT_PACKAGE_ID" encode="false" />
  </div>