<div class="c_box" jwcid="MustInfoPart@Part">
	<!-- 标题 开始 -->
	<div class="c_title">
		<div class="text">批量修改帐户银行资料</div>
	</div>
	<!-- 标题 结束 -->
	<div class="c_form c_form-col-3 c_form-label-7">
		<ul class="ul">
		  <li class="li">
				<div jwcid="SelectListC@Part">
				<span class="label"><span class="">查询用户：</span></span>
	            	<span class="e_elements">
						<button type="button" class="e_button-right" id="btUserBatchTask" onclick="javascript:popupPage('bat.batbankquery.UserPopupQryByBank','','&IS_POP=USERBANKQRY','银行用户查询',900,490,'BANK_CODE1111')">
						<i class="e_ico-check"></i><span></span></button>
						<span class="e_input e_input-left"><span>
						<input type="text" jwcid="@Popup" readOnly="true" 
						value="" 
						text="" 
						name="BANK_CODE1111" id="BANK_CODE1111" 
						afterAction="batmodifyacycinfo.resolveReturnValues()"
						desc="查询用户"
						/>
						</span></span>
					</span>
	            </div>
			</li>
			<li class="li col-1">
				<span class="label"><span class="e_required">账户名称：</span></span>
				<span class="e_input"><span>
					<input type="text" jwcid=@TextField id="PAY_NAME" name="PAY_NAME" value="ognl:info.PAY_NAME" nullable="no" rows="1" desc="账户名称"/>
				</span></span>
			</li>
			<li class="li col-1">
				<span class="label"><span class="e_required">账户类别：</span></span>
				<span class="e_select"><span><span>
					<select jwcid="@Select" name="PAY_MODE_CODE" id="PAY_MODE_CODE"
							source="ognl:@com.ailk.biz.util.StaticUtil@getList(getVisit(),'TD_S_PAYMODE','PAY_MODE_CODE','PAY_MODE','EPARCHY_CODE',getVisit().getLoginEparchyCode())"
							textField="PAY_MODE" valueField="PAY_MODE_CODE" value="0"
							desc="账户类别" nullable="no" onchange="batmodifyacycinfo.checkPaymode()"/>
				</span></span></span>
			</li>
		</ul>
		<ul class="ul">
			<li class="li">
				<div jwcid="SelectListA@Part">
				<span class="label"><span id="bname" class="e_required">银行名称：</span></span>
	            	<span class="e_elements">
						<button type="button" class="e_button-right" id="btBatchTask" onclick="batmodifyacycinfo.queryBanks()">
						<i class="e_ico-check"></i><span></span></button>
						<span class="e_input e_input-left"><span>
						<input type="text" jwcid="@Popup" readOnly="true" 
						value="ognl:info.BANK_CODE" 
						text="ognl:info.BANK" 
						name="BANK_CODE" id="BANK_CODE" 
						afterAction=""
						desc="银行名称" nullable="no"
						/>
						</span></span>
						
					</span>
	            </div>
			</li>
			
			<li class="li col-1">
				<span class="label"><span id="baname" class="e_required">银行帐号：</span></span>
				<span class="e_input"><span>
					<input type="text" jwcid=@TextField id="BANK_ACCT_NO" name="BANK_ACCT_NO" value="ognl:info.BANK_ACCT_NO" desc="银行帐号" nullable="no"/>
				</span></span>
			</li>
			<li class="li col-1">
				<span class="label"><span id="cname" class="e_required">合同号：</span></span>
				<span class="e_input"><span>
					<input type="text" jwcid=@TextField id="CONTRACT_NO" name="CONTRACT_NO" value="ognl:info.CONTRACT_NO" desc="合同号" nullable="no"/>
				</span></span>
			</li>
		</ul>
		<ul class="ul">
			<li class="li col-1">
				<span class="label"><span class="e_required">邮政编码：</span></span>
				<span class="e_input"><span>
					<input type="text" jwcid=@TextField id="POST_CODE" name="POST_CODE" value="410000" datatype="numeric" equsize="6" desc="邮政编码" nullable="no"/>
				</span></span>
			</li>
			<li class="li col-1">
				<span class="label"><span class="e_required">邮政地址：</span></span>
				<span class="e_input"><span>
					<input type="text" jwcid=@TextField id="POST_ADDRESS" name="POST_ADDRESS" value="ognl:info.POST_ADDRESS" desc="邮政地址" nullable="no"/>
				</span></span>
			</li>
			<li class="li col-1">
				<span class="label"><span id="zname" class="e_required">欠费周期：</span></span>
				<span class="e_input"><span>
					<input type="text" jwcid="@TextField" id="RSRV_STR5" name="RSRV_STR5" value="ognl:info.RSRV_STR5"  desc="欠费周期" datatype="numeric" nullable="no"/>
				</span></span>
			</li>
			<li class="li col-1">
				<input jwcid="@Hidden" name="IMPORT_COND" id="IMPORT_COND" value=""/>
			</li>
		</ul>
	</div>
</div>