<div class="c_list c_list-s c_list-border c_list-col-3 c_list-line c_list-phone-col-1 e_hide-x">
    <ul>
        <li class="link" ontap="showPopup('assureInfoPop','assureInfoPopItem')">
            <div class="label e_blue">担保信息</div>
            <div class="value">
                <input type="text" readonly="readonly"/>
            </div>
            <div class="more"></div>
        </li>
    </ul>
</div>
<!-- 区域 开始 -->
<div jwcid="@Popup" name="assureInfoPop">
    <div class="c_popupGroup">
        <div class="c_popupItem" id="assureInfoPopItem">
            <div jwcid="@Any" id="AssureInfoCmp" requiredField="ognl:requiredField" isHidden="ognl:isHidden">
                <!-- 标题 开始 -->
                <!--<div class="c_title">-->
                    <!--<div class="text">担保信息</div>-->
                    <!--<div class="fn">-->
                        <!--<a href="#nogo" class="e_button" id="AssureInfoVisiblPart"><i class="e_ico-fold"></i><span>隐藏担保信息</span></a>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- 标题 结束 -->
                <div class="c_header">
                    <div class="back" ontap="hidePopup(this)">担保信息</div>
                </div>
                <div id="AssureInfoPart">
                    <!-- 表单 开始 -->
                    <div class="c_list c_list-col-1 c_list-border c_list-line">
                        <ul class="ul">
                            <li class="link">
                                <div class="label" id="span_ASSURE_TYPE_CODE">担保类型：</div>
                                <div class="value">
						<span jwcid="@Select" class="e_select" name="ASSURE_TYPE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_ASSURETYPE')"
                              textField="DATA_NAME" valueField="DATA_ID" value="ognl:assureInfo.ASSURE_TYPE_CODE"
                              desc="担保类型"/>
                                </div>
                            </li>
                            <li class="link">
                                <div class="label" id="span_ASSURE_DATE">担保期限：</div>
                                <div class="value">
                                    <input type="text" jwcid="@DateField" name="ASSURE_DATE"
                                           value="ognl:assureInfo.ASSURE_DATE"
                                           format="yyyy-MM-dd HH:mm:ss" desc="担保期限"/>
                                </div>
                            </li>
                            <li class="link">
                                <div class="label" id="span_ASSURE_PSPT_TYPE_CODE">担保人证件类型：</div>
                                <div class="value">
                                    <select jwcid="@Select" class="e_select" name="ASSURE_PSPT_TYPE_CODE"
                                            source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_PASSPORTTYPE2')"
                                            textField="DATA_NAME" valueField="DATA_ID"
                                            value="ognl:assureInfo.ASSURE_PSPT_TYPE_CODE"
                                            desc="担保人证件类型"/>
                                </div>
                            </li>
                            <li class="link">
                                <div class="label" id="span_ASSURE_PSPT_ID">担保人证件号码：</div>
                                <div class="value">
                                    <input jwcid="@TextField" name="ASSURE_PSPT_ID"
                                           value="ognl:assureInfo.ASSURE_PSPT_ID"
                                           desc="担保人证件号码"/>
                                </div>
                            </li>
                            <li class="link">
                                <div class="label" id="span_ASSURE_NAME">担保人名称：</div>
                                <div class="value">
                                    <input jwcid="@TextField" name="ASSURE_NAME" value="ognl:assureInfo.ASSURE_NAME"
                                           desc="担保人名称"/>
                                </div>
                            </li>
                            <li class="link">
                                <div class="label" id="span_ASSURE_PHONE">担保人联系方式：</div>
                                <div class="value">
                                    <input jwcid="@TextField" name="ASSURE_PHONE" value="ognl:assureInfo.ASSURE_PHONE"
                                           desc="担保人联系方式"/>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 表单 结束 -->

                </div>
            </div>
            <!-- 区域 结束 -->
        </div>
    </div>
</div>