<div jwcid="@Popup" class="c_popup c_popup-half c_popup-half-hasBg"  name="ognl:id+'Pop'" visible="false" >
	<div class="c_popupGroup" level="1">
		<div class="c_popupItem" id="popup-ItemList" >
			<div class="c_header">
				<div class="back" ontap="hidePopup(this)">新增服务/优惠</div>
				<div class="fn">
					<div class="e_mix e_mix-search" id="searchPart">
						<input type="text" id="searchInput" />
						<button type="button" id="searchBtn" ontap="ognl:id+'.searchItem()'" jwcid="@Any"><span class="e_ico-search"></span></button>
					</div>
				</div>
			</div>
			
			<div class="c_scroll c_scroll-white c_scroll-float c_scroll-header c_scroll-page">
				<div class="c_filter c_filter-label-1">
					<ul id="labelsArea">
						<li>
							<div class="label">标签：</div>
							<div class="option option-fold">
								<ul id="labels">
								</ul>
							</div>
							<div class="more"><button class="e_button-s e_button-r" onclick='ItemList.foldTags(this)'><span>更多</span></button></div>
						</li>
					</ul>
				</div>
				<div class="c_line"></div>
				<div class="c_list c_list-s c_list-line">
					<ul id="itemListArea">
					</ul>
				</div>
			</div>
			<div class="l_bottom">
				<div class="c_line"></div>
				<div class="c_page" id="pagingComponent">
					<div class="more" style="width:85px">
						<span id="dataSourceCount"></span>
					</div>
					<div class="turn">
						<div class="first"><div class="e_ico-first"></div></div>
						<div class="prev">上一页</div>
						<div class="page"><span id="current"></span>/<span id="pageSize"></span></div>
						<div class="next">下一页</div>
						<div class="last"><div class="e_ico-last"></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="searchResult_float" class="c_float" style="width : 230px;" tabindex="1">
	<div class="bg"></div>
	<div class="content">
		<div class="c_scrollContent">
			<div class="c_list c_list-pc-s c_list-phone-line">
				<ul id="searchResult" >
				</ul>
			</div>
		</div>
	</div>
</div>
<input jwcid="@Hidden" name="SWITCH_LABEL_AFTER_ACTION" id="SWITCH_LABEL_AFTER_ACTION" value="ognl:afterAction"/>
<input jwcid="@Hidden" name="SWITCH_LABEL_ACTION" id="SWITCH_LABEL_ACTION" value="ognl:switchAction"/>
<input jwcid="@Hidden" name="bindedComponent" id="bindedComponent" value="ognl:bindedComponent"/>
