<!-- 区域 开始 -->
<div class="c_box" jwcid="@Any" id="AcctInfoCmp" cityCode="ognl:cityCode!=null?cityCode:getVisit().getCityCode()" isHidden="ognl:isHidden"
	requiredField="ognl:requiredField" eparchyCode="ognl:eparchyCode!=null?eparchyCode:getVisit().getLoginEparchyCode()" changeAcctDay="ognl:changeAcctDay">
	<!-- 标题 开始 -->
	<div class="c_title">
		<div class="text">账户信息</div>
		<div class="fn">
			<a href="#nogo" class="e_button" id="AcctInfoVisiblPart"><i class="e_ico-fold"></i><span>隐藏账户信息</span></a>
		</div>
	</div>
	<!-- 标题 结束 -->
		
	<div id="AcctInfoPart">
		<!-- 表单 开始 -->
		<div class="c_form c_form-col-3 c_form-label-6">
			<ul class="ul">
				<li class="li">
					<span class="label"><span id="span_PAY_NAME" class="e_required">账户名称：</span></span>
					<span class="e_input"><span>
						<input jwcid="@TextField" name="PAY_NAME" value="ognl:acctInfo.PAY_NAME" 
								desc="账户名称" nullable="no"/>
					</span></span>
				</li>
				<li class="li">
					<span class="label"><span id="span_PAY_MODE_CODE" class="e_required">账户类型：</span></span>
					<span class="e_select"><span><span>
						<select jwcid="@Select" name="PAY_MODE_CODE" 
								source="ognl:@com.ailk.biz.util.StaticUtil@getList(getVisit(),'TD_S_PAYMODE','PAY_MODE_CODE','PAY_MODE','REMARK','割接批量导入')" 
								textField="PAY_MODE" valueField="PAY_MODE_CODE" value="ognl:acctInfo.PAY_MODE_CODE"
								desc="账户类型" nullable="no"/>
					</span></span></span>
				</li>
				<li class="li">
					<span class="label"><span id="span_ACCT_DAY" class="e_required">用户结账日：</span></span>
					<span class="e_select"><span><span>
						<select jwcid="@Select" name="ACCT_DAY" source="ognl:acctInfoDays"
							textField="PARAM_NAME" valueField="PARA_CODE1" value="ognl:acctInfo.ACCT_DAY" 
								disabled="ognl:changeAcctDay==false" desc="用户结账日" nullable="no" />
					</span></span></span>
				</li>
				<li class="li" id="SuperBankCodeLi">
					<span class="label"><span id="span_SUPER_BANK_CODE">上级银行：</span></span>
					<span class="e_select"><span><span>
						<select jwcid="@Select" name="SUPER_BANK_CODE" 
								source="ognl:@com.ailk.biz.util.StaticUtil@getList(getVisit(),'TD_S_SUPERBANK','SUPER_BANK_CODE','SUPER_BANK')"
								textField="SUPER_BANK" valueField="SUPER_BANK_CODE" value="ognl:acctInfo.SUPER_BANK_CODE"
								desc="上级银行"/>
					</span></span></span>
				</li>
				<li class="li" id="BankCodeLi">
					<span class="label"><span id="span_BANK_CODE">银行名称：</span></span>
					<span class="e_elements">
						<button type="button" class="e_button-right" id="QryBankBtn"><i class="e_ico-check"></i><span></span></button>
						<span class="e_input e_input-left"><span>
						<input type="text" jwcid="@Any" id="BANK" name="BANK" readOnly="readOnly" value="ognl:@com.ailk.biz.util.StaticUtil@getStaticValue(getVisit(),'TD_B_BANK','BANK_CODE','BANK', acctInfo.BANK_CODE)" desc="银行名称"/>
						<input jwcid="@Hidden" name="BANK_CODE" value="ognl:acctInfo.BANK_CODE" desc="银行名称"/>
						</span></span>
					</span>
				</li>
				<li class="li" id="BankAcctNoLi">
					<span class="label"><span id="span_BANK_ACCT_NO">银行账号：</span></span>
					<span class="e_input"><span>
						<input jwcid="@TextField" name="BANK_ACCT_NO" value="ognl:acctInfo.BANK_ACCT_NO" 
								desc="银行帐号" />
					</span></span>
				</li>
				<li class="li" id="bankAgreementNoLi">
					<span class="label"><span id="span_BANK_AGREEMENT_NO">银行协议号：</span></span>
					<span class="e_input"><span>
						<input jwcid="@TextField" id="BANK_AGREEMENT_NO" name="BANK_AGREEMENT_NO" value="ognl:acctInfo.RSRV_STR6" desc="银行协议号" />
					</span></span>
				</li>
	
			</ul>
		</div>
		<!-- 表单 结束 -->
	</div>
</div>
<!-- 区域 结束 -->

