<div jwcid="@Conditional" condition="ognl:!styleMode.equals('simple')">
	<div class="c_title">
		<div class="text">集团成员查询</div>
	</div>
	<div class="c_form">
	<ul class="ul">
		<li class="li">
			<span class="label">成员服务号码：</span>
			<span class="e_input"><span>
				<input type="text" name="ognl:id" id="ognl:id" jwcid="@TextField" value="ognl:condition.cond_SERIAL_NUMBER" onkeypress="var e=$.event.fix(event);if (e.which == 13) {queryMemberInfo();e.stop();}"  maxlength="15" desc="成员服务号码" />
			</span></span>
		</li>
		<div jwcid="@Conditional" condition="ognl:relaCode== 1">
			
			<li class="li" id="mebRelationTypePart" style="display:none" >
				<span class="label">查询类型：</span>
				<label for="relation_type1"><input id="relation_type1" name="relation_type" type="radio" value="1" checked="true" class="e_radio" />非ADC/MAS/BBOSS</label>
			</li>
		</div>
		<div jwcid="@Conditional" condition="ognl:relaCode == 2 ">
			
			<li class="li" id="mebRelationTypePart"  style="display:none">
				<span class="label">查询类型：</span>
				<label for="relation_type2"><input id="relation_type2" name="relation_type" type="radio" value="2" checked="true"class="e_radio" />ADC/MAS/BBOSS</label> 
			</li>
		</div>
		<div jwcid="@Conditional" condition="ognl:relaCode == 0">
			
			<li class="li" id="mebRelationTypePart"  >
				<span class="label">查询类型：</span>
				<label for="relation_type1"><input id="relation_type1" name="relation_type" type="radio" value="1" checked="true" class="e_radio" />非ADC/MAS/BBOSS</label>
				<label for="relation_type2"><input id="relation_type2" name="relation_type" type="radio" value="2" class="e_radio" />ADC/MAS/BBOSS</label> 
			</li>
		</div>
	</ul>
	</div>
</div>
<div jwcid="@Conditional" condition="ognl:styleMode.equals('simple')">
	
	<li class="li">
		<span class="label">成员服务号码：</span>
		<span class="e_input"><span>
			<input type="text" name="ognl:id" id="ognl:id" jwcid="@TextField" value="ognl:condition.cond_SERIAL_NUMBER" onkeypress="var e=$.event.fix(event);if (e.which == 13) {queryMemberInfo();e.stop();}"  maxlength="15" desc="成员服务号码" />
		</span></span>
	</li>
	
	<div jwcid="@Conditional" condition="ognl:relaCode == 1">
			
		<li class="li" id="mebRelationTypePart" style="display:none" >
			<span class="label">查询类型：</span>
			<label for="relation_type1"><input id="relation_type1" name="relation_type" type="radio" value="1" checked="true" class="e_radio" />非ADC/MAS/BBOSS</label>
		</li>
	</div>
	<div jwcid="@Conditional" condition="ognl:relaCode == 2">
		
		<li class="li" id="mebRelationTypePart"  style="display:none">
			<span class="label">查询类型：</span>
			<label for="relation_type2"><input id="relation_type2" name="relation_type" type="radio" value="2" checked="true"class="e_radio" />ADC/MAS/BBOSS</label> 
		</li>
	</div>
	<div jwcid="@Conditional" condition="ognl:relaCode == 0">
		
		<li class="li" id="mebRelationTypePart"  >
			<span class="label">查询类型：</span>
			<label for="relation_type1"><input id="relation_type1" name="relation_type" type="radio" value="1" checked="true" class="e_radio" />非ADC/MAS/BBOSS</label>
			<label for="relation_type2"><input id="relation_type2" name="relation_type" type="radio" value="2" class="e_radio" />ADC/MAS/BBOSS</label> 
		</li>
	</div>
		
</div>
<input type="hidden" jwcid="@Any" id="SELECTMEMBERINFO_REFRESH_PART" name="SELECTMEMBERINFO_REFRESH_PART" value="ognl:refreshPart"  />
<input type="hidden" jwcid="@Any" id="SELECTMEMBERINFO_LISTENER_NAME" name="SELECTMEMBERINFO_LISTENER_NAME" value="ognl:listenerName"  />
<input type="hidden" jwcid="@Any" id="SELECTMEMBERINFO_SUCCESS_JSMETHOD" name="SELECTMEMBERINFO_SUCCESS_JSMETHOD" value="ognl:successJsMethod"  />
<input type="hidden" jwcid="@Any" id="SELECTMEMBERINFO_ERROR_JSMETHOD" name="SELECTMEMBERINFO_ERROR_JSMETHOD" value="ognl:errorJsMethod"  />
<input type="hidden" jwcid="@Any" id="SELECTMEMBERINFO_STYLE_MODE" name="SELECTMEMBERINFO_STYLE_MODE" value="ognl:styleMode"  />
<input type="hidden" jwcid="@Any" id="SELECTMEMBERINFO_LIMITTYPE" name="SELECTMEMBERINFO_LIMITTYPE" value="ognl:limitType"  />
<input type="hidden" jwcid="@Any" id="SELECTMEMBERINFO_LIMITPRODUCTS" name="SELECTMEMBERINFO_LIMITPRODUCTS" value="ognl:limitProducts"  />
<input type="hidden" jwcid="@Any" id="SELECTMEMBERINFO_SN_NAME" name="SELECTMEMBERINFO_SN_NAME" value="ognl:id"  />
<input type="hidden" jwcid="@Any" id="SELECTMEMBERINFO_JUDGE_USER_STATE" name="SELECTMEMBERINFO_JUDGE_USER_STATE" value="ognl:judgeUserState"  />

		
