<span class="label">集团产品编码：</span> 
<span class="e_elements" style="width:200px">
	<button type="button" class="e_button-right" onclick="$.popupPageExternal('csserv.component.group.selectgroupbysnpopup.SearchGroupBySnPopupPage',null,null,'集团号码资料查询',780,350,'cond_GROUP_SERIAL_NUMBER')"><i class="e_ico-check"></i><span></span></button>
	<span class="e_input e_input-left"><span>
		<input type="text" jwcid="@Any" name="cond_GROUP_SERIAL_NUMBER" id="cond_GROUP_SERIAL_NUMBER" value="ognl:condition.cond_GROUP_SERIAL_NUMBER" afterAction="getGrpInfoBySn();"  onkeypress="var e=$.event.fix(event);if (e.which == 13) {getGrpInfoBySn();e.stop();}" />
	</span></span>
	
</span>

<input type="hidden" jwcid="@Any" id="SN_AFTER_ACTION" name="SN_AFTER_ACTION" value="ognl:afterAction"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUP_BYSNPOPUP_LIMITTYPE" name="SELECTGROUP_BYSNPOPUP_LIMITTYPE" value="ognl:limitType"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUP_BYSNPOPUP_LIMITPRODUCTS" name="SELECTGROUP_BYSNPOPUP_LIMITPRODUCTS" value="ognl:limitProducts"  />
<input type="hidden" jwcid="@Any" id="SN_AFTER_ERR_ACTION" name="SN_AFTER_ERR_ACTION" value="ognl:afterErrorAction"  />				