
<div class="c_title c_title-2">
	<div class="text">付费计划列表</div>
</div>

<!-- 表格 开始 -->
<div class="c_scroll"><div class="c_table" >
	<table>
		<thead>
			<tr>    
				<th>选择</th>
				<th >付费计划名称</th>
      			<th >付费计划类型</th>
      			<th >账目列表</th>
      			<th >付费计划描述</th>
			</tr>
		</thead>
		<tbody id="payplanedit_userplanlist">
			<tr jwcid="@Foreach" source="ognl:payPlans" value="ognl:payPlan" element="tr" index="ognl:rowIndex" class="ognl:rowIndex % 2 == 0 ? '' : 'odd'">
				<td class="e_center"><input id="USERPAYPLAN_PLANCODE_CHECK" name="USERPAYPLAN_PLANCODE_CHECK" jwcid="@Checkbox" value="ognl:payPlan.PLAN_TYPE"  checked="ognl:payPlan.CHECKED=='true'?true:false" playCode="ognl:payPlan.PLAN_TYPE" /></td>
				<td class="e_center"><span jwcid="@Insert" value="ognl:payPlan.PLAN_NAME" raw="false"/></td>
				<td class="e_center"><span jwcid="@Insert" value="ognl:payPlan.PLAN_TYPE_NAME" raw="false"/></td>
				<td class="e_center"><span jwcid="@Insert" value="ognl:payPlan.PAY_ITEMS_DESC" raw="false"/></td>
				<td class="e_center"><span jwcid="@Insert" value="ognl:payPlan.PLAN_DESC" raw="false"/></td>
			</tr>
		</tbody>
	</table>
</div></div>

<textarea jwcid="@TextArea" id="OLD_PAYPLANEDIT_PLANINFOS" name="OLD_PAYPLANEDIT_PLANINFOS" value="ognl:payPlanList" style="display:none"/>
<input type="hidden" name="PAYPLAN_INFOS" id="PAYPLAN_INFOS" value="[]"/>
<!-- 表格 开始 -->
