<div jwcid="@Any" element="div" class="c_popupItem" id="EnterpriseLoginItem">
	<div id="EnterpriseLoginHead" class="c_header">
		<div class="back" ontap="hidePopup(this)">查询集团</div>
	</div>
	<div class="c_box c_box-blue l_padding l_padding-u"   >
		<span class="e_mix e_mix-prefix e_mix-r e_mix-full">
			<span jwcid="@Select" name="custOperType" source="ognl:custOperTypes"  
						    textField="DATA_NAME" valueField="DATA_ID" 
						   nullable="no" desc="集团查询" value="">
			</span> 
			<input type="text" id="groupSearchBox" />
			<span class="e_ico-search" ontap="queryCustInfoTypes();"></span>
		</span>
	</div>
	<div class="c_scroll c_scroll-float c_scroll-header c_scroll-search">
		<div class="c_list c_list-line" jwcid="custInfoPart@Part">
			<ul>
			<li class="link" jwcid="@Foreach" source="ognl:custInfoList" value="ognl:custInfo" element="li" CUST_ID="ognl:custInfo.CUST_ID" GROUP_ID="ognl:custInfo.GROUP_ID" ontap="selectCustInfo(this)">
				<div class="pic"><span class="e_ico-pic e_ico-group"></span></div>
					<div class="main">
						<div class="title">
						<span jwcid="@Insert" name="pre_CUST_NAME" value="ognl:custInfo.CUST_NAME" />
						</div>
						<div class="content">
						<span jwcid="@Insert" name="pre_CUST_ID" value="ognl:custInfo.CUST_ID" />
						</div>
					</div>
			</li>
		</ul>
	</div>
	<div class="c_line"></div>
	</div>

</div>

