<span jwcid="@Conditional" condition="ognl:hasTitle">	
	<div jwcid="@Any" class="ognl:titleLev">
		<div class="text"><span jwcid="@Insert" value="ognl:titleName==null?'集团账户信息':titleName"/></div>
	</div>
</span>
<div class="c_form c_form-text c_form-label-6 c_form-col-3">
	<ul class="ul">
			<li class="li" >
				<span class="label">账户名称：</span>
				<span class="text"  name="SPAN_GROUPACCTINFO_PAY_NAME" id="SPAN_GROUPACCTINFO_PAY_NAME" ><span jwcid="@Insert" value="ognl:accInfo.PAY_NAME" raw="true"/></span>
			</li>
			<li class="li">
				<span class="label">账户标识：</span>
				<span class="text"  name="SPAN_GROUPACCTINFO_ACCT_ID" id="SPAN_GROUPACCTINFO_ACCT_ID"><span jwcid="@Insert" value="ognl:accInfo.ACCT_ID" raw="true"/></span>
			</li>
			<li class="li">
				<span class="label">账户说明：</span>
				<span class="text"  name="SPAN_GROUPACCTINFO_RSRV_STR3" id="SPAN_GROUPACCTINFO_RSRV_STR3"><span jwcid="@Insert" value="ognl:accInfo.RSRV_STR3" raw="true"/></span>
			</li>
			<li class="li">
				<span class="label">账户类别：</span>
				<span class="text" name="SPAN_GROUPACCTINFO_PAY_MODE_NAME" id="SPAN_GROUPACCTINFO_PAY_MODE_NAME"><span jwcid="@Insert" value="ognl:accInfo.PAY_MODE_NAME" raw="false"/></span>
			</li>
			<li class="li">
				<span class="label">银行名称：</span>
				<span class="text"  name="SPAN_GROUPACCTINFO_BANK" id="SPAN_GROUPACCTINFO_BANK"><span jwcid="@Insert" value="ognl:accInfo.BANK" raw="false"/></span>
			</li>
			<li class="li">
				<span class="label">银行账号：</span>
				<span class="text"  name="SPAN_GROUPACCTINFO_BANK_ACCT_NO" id="SPAN_GROUPACCTINFO_BANK_ACCT_NO"><span jwcid="@Insert" value="ognl:accInfo.BANK_ACCT_NO" raw="true"/></span>
			</li>
			<input jwcid="@Any" id="GRP_ACCT_ID" name="GRP_ACCT_ID" value="ognl:accInfo.ACCT_ID" style="display:none;" encode="false" />			
	</ul>
</div>