.x_bs {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.x_round {
	border-radius: 52%;
}

.x_size {
	width: 100%;
	height: 100%;
}

.x_full {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.x_to {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.x_clear:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: 0 none;
	font-style: normal;
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: inherit;
}

html {
	height: 100%;
	font-size: 100px;
	overflow: hidden;
	width: 100%;
	border: 0 none;
	font-family: "microsoft yahei", helvetica, simsun;
}

body {
	background: #f0f0f0;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 0;
	font-size: 0.14em;
	color: #333;
	line-height: 1;
	width: 100%;
	border: 0 none;
	text-align: left;
}

body:before {
	/*content:"debug x1";*/
	position: absolute;
	z-index: 10000;
	right: 0.71em;
	bottom: 0.71em;
	opacity: 0.3;
	pointer-events: none;
}

a {
	text-decoration: none;
	color: #68a2e5;
}

input {
	-webkit-appearance: none;
	font-size: 100%;
	border-radius: 0;
	min-width: 0;
}

input:-webkit-autofill {
	-webkit-text-fill-color: #333 !important;
	-webkit-transition: background-color 5000s ease-in-out 0s;
	transition: background-color 5000s ease-in-out 0s;
}

textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {
	color: #ccc;
}

button {
	cursor: pointer;
	overflow: visible;
	font-family: "microsoft yahei", verdana;
}

input,textarea,button {
	font-family: inherit;
}

iframe {
	background: #fff;
	border: 0 none;
	height: 100%;
	width: 100%;
	vertical-align: top;
	display: block;
}

iframe,img {
	border: 0 none;
	vertical-align: top;
}

label {
	cursor: default !important;
}

img {
	max-width: 100%;
}

#__bs_notify__ {
	display: none !important;
}

.s_pc a:hover {
	color: #f3b100;
}

.s_phone a.active,.s_pad a.active {
	color: #f3b100;
}

html.s_pc.s_force,html.s_pc.s_print {
	font-size: 100px !important;
}

html.s_pad.s_force,html.s_pad.s_print {
	font-size: 100px !important;
}

html.s_pc.s_force-s,html.s_pc.s_print-s {
	font-size: 90px !important;
}

html.s_pad.s_force-s,html.s_pad.s_print-s {
	font-size: 90px !important;
}

html.s_pc.s_force-xs,html.s_pc.s_print-xs {
	font-size: 80px !important;
}

html.s_pad.s_force-xs,html.s_pad.s_print-xs {
	font-size: 80px !important;
}

html.s_pc.s_force-xxs,html.s_pc.s_print-xxs {
	font-size: 70px !important;
}

html.s_pad.s_force-xxs,html.s_pad.s_print-xxs {
	font-size: 70px !important;
}

.s_pc.s_test {
	padding: 0 1.6em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button {
	border: 0 none;
}

.s_ie8 {
	min-width: 1200px;
	overflow: auto;
}

.s_ie8 .m_header {
	min-height: 4.29em;
}

.s_ie8 .m_header .staff {
	float: left;
}

.s_ie8 .m_header .staff .info:after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 6px;
	top: 2.1em;
	background: url(../img-ie8/frame.png) no-repeat -64px -124px;
}

.s_ie8 .m_header .staff .info .role {
	font-size: 100%;
}

.s_ie8 .m_header .home {
	position: absolute;
	left: 22.14em;
	z-index: 2;
}

.s_ie8 .m_header .home:after {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	background: url(../img-ie8/frame.png) no-repeat -544px -4px;
}

.s_ie8 .m_header .task {
	overflow: hidden;
	padding: 0 0 0 4.35em;
}

.s_ie8 .m_header .task ul {
	display: block;
	overflow: hidden;
}

.s_ie8 .m_header .task li {
	float: left;
}

.s_ie8 .m_header .task>.e_ico-search {
	position: absolute;
	right: 0;
	top: 0;
}

.s_ie8 .m_header .task .e_ico-search:after {
	width: 52px;
	height: 52px;
	background: url(../img-ie8/frame.png) no-repeat -604px -4px;
}

.s_ie8 .m_header .task .e_ico-close:after {
	width: 52px;
	height: 52px;
	background: url(../img-ie8/frame.png) no-repeat -664px -4px;
}

.s_ie8 .m_header .task .close:after {
	width: 12px;
	height: 12px;
	background: url(../img-ie8/frame.png) no-repeat -424px -124px;
	display: inline-block;
	content: "";
}

.s_ie8 .m_header .task .addFavo:after {
	width: 12px;
	height: 12px;
	background: url(../img-ie8/frame.png) no-repeat -364px -124px;
	display: inline-block;
	content: "";
}

.s_ie8 .m_header .task .guide:after {
	width: 12px;
	height: 12px;
	background: url(../img-ie8/frame.png) no-repeat -484px -124px;
	display: inline-block;
	content: "";
}

.s_ie8 .m_header .task .more:after {
	width: 12px;
	height: 12px;
	background: url(../img-ie8/frame.png) no-repeat -544px -124px;
	display: inline-block;
	content: "";
}

.s_ie8 .m_header .task-full {
	padding-right: 4.29em;
}

.s_ie8 .m_header .task-full ul {
	table-layout: fixed;
	display: table;
	width: 100%;
}

.s_ie8 .m_header .task-full li {
	width: auto;
	display: table-cell;
	float: none;
}

.s_ie8 .m_header .card {
	border-bottom: 1px solid #4d5b65;
	border-right: 1px solid #4d5b65;
}

.s_ie8 .m_header .card .base .head {
	position: relative;
}

.s_ie8 .m_header .card .base .head:after {
	content: "";
	position: absolute;
	left: 1.07em;
	top: 1.07em;
	width: 60px;
	height: 60px;
	background: url(../img-ie8/frame.png) no-repeat -540px -60px;
}

.s_ie8 .m_header .card .fn ul {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.s_ie8 .m_header .card .fn li {
	display: table-cell;
}

.s_ie8 .m_header .card .fn .more:after {
	content: "";
	bottom: 0;
	right: 0;
	width: 7px;
	height: 7px;
	background: url(../img-ie8/frame.png) no-repeat -244px -184px;
}

.s_ie8 .m_header .card .op .city:after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(../img-ie8/frame.png) no-repeat -64px -124px;
}

.s_ie8 .m_header .card .cityList {
	background: url(../img-ie8/black-op-7.png);
}

.s_ie8 .m_favo .favo .text {
	font-size: 100%;
}

.s_ie8 .m_fn li:before {
	display: none;
}

.s_ie8 .m_fn li:after {
	display: none;
}

.s_ie8 .m_fn li {
	background-image: url(../img-ie8/frame.png);
}

.s_ie8 .m_fn li.on {
	background-image: url(../img-ie8/frame.png);
	background-color: #fff;
	background-position-y: -4px;
}

.s_ie8 .m_fn .cust {
	background-position: -4px -64px;
}

.s_ie8 .m_fn .favo {
	background-position: -64px -64px;
}

.s_ie8 .m_fn .notice {
	background-position: -124px -64px;
}

.s_ie8 .m_fn .menu {
	background-position: -184px -64px;
}

.s_ie8 .m_fn .group {
	background-position: -244px -64px;
}

.s_ie8 .m_fn .ambulance {
	background-position: -304px -64px;
}

.s_ie8 .m_fn .wiki {
	background-position: -364px -64px;
}

.s_ie8 .m_fn .like {
	background-position: -424px -64px;
}

.s_ie8 .m_fn .agent {
	background-position: -484px -64px;
}

.s_ie8 .m_fn .lock {
	background-position: -724px -64px;
}

.s_ie8 .m_fn .shot {
	background-position: -784px -64px;
}

.s_ie8 .m_fn .num {
	background: url(../img-ie8/frame.png) no-repeat -4px -124px;
	width: 14px;
	height: 14px;
	line-height: 14px;
}

.s_ie8 .m_floatNotice .wrapper {
	margin-left: 0.61em;
}

.s_ie8 .m_floatNotice .wrapper:after {
	background: none;
	color: #3e4951;
}

.s_ie8 .m_cust>.wrapper .c_msg {
	background: url(../img-ie8/white-op-7.png);
}

.s_ie8 .m_cust>.wrapper>.fn .num {
	background: url(../img-ie8/frame.png) no-repeat -4px -124px;
	width: 14px;
	height: 14px;
	line-height: 14px;
}

.s_ie8 .m_cust>.wrapper>.cust .head:after {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	background: url(../img-ie8/frame.png) no-repeat -244px -124px;
}

.s_ie8 .m_cust>.wrapper>.cust .head .is4g-on {
	border: 0 none;
	background: none;
}

.s_ie8 .m_cust>.wrapper>.cust .head .is4g-on:after {
	content: "";
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img-ie8/frame.png) no-repeat -304px -124px;
}

.s_ie8 .m_cust>.wrapper>.cust .statu-destroy,.s_ie8 .m_cust>.wrapper>.cust .statu-off,.s_ie8 .m_cust>.wrapper>.cust .statu-on
	{
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
	top: -3em;
	left: -3em;
}

.s_ie8 .m_cust>.wrapper>.cust .level {
	display: inline-block;
	overflow: hidden;
}

.s_ie8 .m_cust>.wrapper>.cust .level span:after {
	content: "";
}

.s_ie8 .m_cust>.wrapper>.cust .level span {
	float: left;
	margin: 0 1px;
	width: 14px;
	height: 14px;
	background: url(../img-ie8/frame.png) no-repeat -64px -184px;
}

.s_ie8 .m_cust>.wrapper>.cust .level-0 span,.s_ie8 .m_cust>.wrapper>.cust .level-1 span 
	~ span,.s_ie8 .m_cust>.wrapper>.cust .level-2 span ~ span ~ span,.s_ie8 .m_cust>.wrapper>.cust .level-3 span 
	~ span ~ span ~ span,.s_ie8 .m_cust>.wrapper>.cust .level-4 span ~ span 
	~ span ~ span ~ span {
	background-position: -124px -184px;
}

.s_ie8 .m_cust>.wrapper>.cust .level-diamond span {
	background-position: -4px -184px;
}

.s_ie8 .m_cust>.wrapper>.cust .level-gold span {
	background-position: -184px -184px;
}

.s_ie8 .m_cust>.wrapper>.cust .list li .fn:after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 10px;
	background: url(../img-ie8/frame.png) no-repeat -424px -184px;
}

.s_ie8 .m_cust>.wrapper>*>.more .pic:after {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	background: url(../img-ie8/frame.png) no-repeat -244px -124px;
}

.s_ie8 .m_cust>.wrapper>.info .fn {
	background: url(../img-ie8/black-op-7.png);
}

.s_ie8 .m_cust>.wrapper>.login .submit {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.s_ie8 .m_cust>.wrapper>.login .submit button {
	display: table-cell;
	margin: 0;
	padding: 0;
}

.s_ie8 .m_cust>.wrapper>.login>.content .unfold:after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(../img-ie8/frame.png) no-repeat -124px -124px;
}

.s_ie8 .m_cust>.wrapper>.login>.list>.wrapper>.title .back:after {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 14px;
	background: url(../img-ie8/frame.png) no-repeat -304px -184px;
}

.s_ie8 .m_cust-group>.wrapper>.cust .head:after {
	background-position: -364px -184px;
}

.s_ie8 .m_help .bg .s1,.s_ie8 .m_help .bg .s2,.s_ie8 .m_help .bg .s3,.s_ie8 .m_help .bg .s4,.s_ie8 .m_help .bg .s5
	{
	background: url(../img-ie8/black-op-7.png);
}