.s_test,.x_bs {
	box-sizing: border-box
}

.m_welcome .content,body {
	text-align: center;
	width: 100%
}

.x_size,body,html {
	width: 100%
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: 0;
	font-style: normal;
	-webkit-focus-ring-color: transparent;
	-webkit-tap-highlight-color: transparent;
	color: inherit
}

html {
	border: 0;
	font-family: "microsoft yahei", helvetica, simsun
}

body {
	z-index: 0;
	line-height: 1;
	border: 0
}

body:before {
	position: absolute;
	z-index: 10000;
	right: .71em;
	bottom: .71em;
	opacity: .3;
	pointer-events: none
}

a {
	text-decoration: none;
	color: #68a2e5
}

input {
	-webkit-appearance: none;
	font-size: 100%;
	border-radius: 0;
	min-width: 0
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #ccc
}

button {
	cursor: pointer;
	overflow: visible
}

button,input,textarea {
	font-family: inherit
}

iframe {
	background: #fff
}

iframe,img {
	border: 0;
	vertical-align: top
}

label {
	cursor: default !important
}

img {
	max-width: 100%
}

#__bs_notify__ {
	display: none !important
}

.s_pad a.active,.s_pc a:hover,.s_phone a.active {
	color: #f3b100
}

.x_round {
	border-radius: 52%
}

.x_size {
	height: 100%
}

.x_full {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

.x_to {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.x_clear:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

body,html {
	height: 100%;
	overflow: hidden
}

html.s_pad.s_force,html.s_pad.s_print,html.s_pc.s_force,html.s_pc.s_print
	{
	font-size: 100px !important
}

html.s_pad.s_force-s,html.s_pad.s_print-s,html.s_pc.s_force-s,html.s_pc.s_print-s
	{
	font-size: 90px !important
}

html.s_pad.s_force-xs,html.s_pad.s_print-xs,html.s_pc.s_force-xs,html.s_pc.s_print-xs
	{
	font-size: 80px !important
}

html.s_pad.s_force-xxs,html.s_pad.s_print-xxs,html.s_pc.s_force-xxs,html.s_pc.s_print-xxs
	{
	font-size: 70px !important
}

.s_test {
	padding: 0 1.55em
}

@font-face {
	font-family: icon;
	src: url(../img/icon.eot);
	src: url(../img/icon.eot?#iefix) format('eot'), url(../img/icon.ttf)
		format('truetype')
}

.e_ico-aa_ok:after,.e_ico-activity:after,.e_ico-add:after,.e_ico-addFavo:after,.e_ico-alarm:after,.e_ico-ambulance:after,.e_ico-asc:after,.e_ico-asir:after,.e_ico-back:after,.e_ico-backward:after,.e_ico-base-pseudo,.e_ico-bill:after,.e_ico-bottom:after,.e_ico-browse:after,.e_ico-call:after,.e_ico-callreminder:after,.e_ico-cancel:after,.e_ico-cart:after,.e_ico-center:after,.e_ico-change:after,.e_ico-chart:after,.e_ico-check:after,.e_ico-circular:after,.e_ico-close:after,.e_ico-cmlogo2:after,.e_ico-cmlogo:after,.e_ico-config:after,.e_ico-copy:after,.e_ico-corner:after,.e_ico-customerManager:after,.e_ico-date:after,.e_ico-delete:after,.e_ico-desc:after,.e_ico-diamond:after,.e_ico-download:after,.e_ico-edit:after,.e_ico-error:after,.e_ico-excel:after,.e_ico-exit:after,.e_ico-export:after,.e_ico-family:after,.e_ico-familyTrade:after,.e_ico-familyand:after,.e_ico-fare:after,.e_ico-favo:after,.e_ico-female:after,.e_ico-file:after,.e_ico-first:after,.e_ico-flow:after,.e_ico-fold:after,.e_ico-forward:after,.e_ico-grid:after,.e_ico-group:after,.e_ico-groupMemberPorduct:after,.e_ico-groupProduct:after,.e_ico-groupmember:after,.e_ico-guide:after,.e_ico-halfhook:after,.e_ico-help:after,.e_ico-hide:after,.e_ico-home:after,.e_ico-img:after,.e_ico-import:after,.e_ico-itc:after,.e_ico-last:after,.e_ico-left:after,.e_ico-like:after,.e_ico-liked:after,.e_ico-link:after,.e_ico-lock:after,.e_ico-longdis:after,.e_ico-male:after,.e_ico-menu:after,.e_ico-merge:after,.e_ico-mms:after,.e_ico-money:after,.e_ico-more:after,.e_ico-msg:after,.e_ico-musicring:after,.e_ico-net-4g:after,.e_ico-net:after,.e_ico-nettraffic:after,.e_ico-newspaper:after,.e_ico-next:after,.e_ico-notice:after,.e_ico-ok:after,.e_ico-package2:after,.e_ico-package3:after,.e_ico-package:after,.e_ico-pause:after,.e_ico-phone:after,.e_ico-play:after,.e_ico-position:after,.e_ico-ppt:after,.e_ico-print:after,.e_ico-pwd:after,.e_ico-qq:after,.e_ico-rar:after,.e_ico-reduce:after,.e_ico-refresh:after,.e_ico-reset:after,.e_ico-rhombus:after,.e_ico-right:after,.e_ico-scan:after,.e_ico-search:after,.e_ico-secretary:after,.e_ico-select:after,.e_ico-send:after,.e_ico-share:after,.e_ico-shot:after,.e_ico-show:after,.e_ico-speak:after,.e_ico-star:after,.e_ico-table:after,.e_ico-target:after,.e_ico-task:after,.e_ico-telephone:after,.e_ico-tool:after,.e_ico-top:after,.e_ico-tree:after,.e_ico-tv:after,.e_ico-unfold:after,.e_ico-upload:after,.e_ico-user:after,.e_ico-video:after,.e_ico-view:after,.e_ico-voice:after,.e_ico-wechat:after,.e_ico-weibo:after,.e_ico-wifi:after,.e_ico-wiki:after,.e_ico-word:after
	{
	font-family: icon;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	text-decoration: none;
	text-transform: none
}

.e_ico-aa_ok:after {
	content: "\E001"
}

.e_ico-activity:after {
	content: "\E002"
}

.e_ico-add:after {
	content: "\E003"
}

.e_ico-addFavo:after {
	content: "\E004"
}

.e_ico-alarm:after {
	content: "\E005"
}

.e_ico-ambulance:after {
	content: "\E006"
}

.e_ico-asc:after {
	content: "\E007"
}

.e_ico-asir:after {
	content: "\E008"
}

.e_ico-back:after {
	content: "\E009"
}

.e_ico-backward:after {
	content: "\E00A"
}

.e_ico-bill:after {
	content: "\E00B"
}

.e_ico-bottom:after {
	content: "\E00C"
}

.e_ico-browse:after {
	content: "\E00D"
}

.e_ico-call:after {
	content: "\E00E"
}

.e_ico-callreminder:after {
	content: "\E00F"
}

.e_ico-cancel:after {
	content: "\E010"
}

.e_ico-cart:after {
	content: "\E011"
}

.e_ico-center:after {
	content: "\E012"
}

.e_ico-change:after {
	content: "\E013"
}

.e_ico-chart:after {
	content: "\E014"
}

.e_ico-check:after {
	content: "\E015"
}

.e_ico-circular:after {
	content: "\E016"
}

.e_ico-close:after {
	content: "\E017"
}

.e_ico-cmlogo:after {
	content: "\E018"
}

.e_ico-cmlogo2:after {
	content: "\E019"
}

.e_ico-config:after {
	content: "\E01A"
}

.e_ico-copy:after {
	content: "\E01B"
}

.e_ico-corner:after {
	content: "\E01C"
}

.e_ico-customerManager:after {
	content: "\E01D"
}

.e_ico-date:after {
	content: "\E01E"
}

.e_ico-delete:after {
	content: "\E01F"
}

.e_ico-desc:after {
	content: "\E020"
}

.e_ico-diamond:after {
	content: "\E021"
}

.e_ico-download:after {
	content: "\E022"
}

.e_ico-edit:after {
	content: "\E023"
}

.e_ico-error:after {
	content: "\E024"
}

.e_ico-excel:after {
	content: "\E025"
}

.e_ico-exit:after {
	content: "\E026"
}

.e_ico-export:after {
	content: "\E027"
}

.e_ico-family:after {
	content: "\E028"
}

.e_ico-familyand:after {
	content: "\E029"
}

.e_ico-familyTrade:after {
	content: "\E02A"
}

.e_ico-fare:after {
	content: "\E02B"
}

.e_ico-favo:after {
	content: "\E02C"
}

.e_ico-female:after {
	content: "\E02D"
}

.e_ico-file:after {
	content: "\E02E"
}

.e_ico-first:after {
	content: "\E02F"
}

.e_ico-flow:after {
	content: "\E030"
}

.e_ico-fold:after {
	content: "\E031"
}

.e_ico-forward:after {
	content: "\E032"
}

.e_ico-grid:after {
	content: "\E033"
}

.e_ico-group:after {
	content: "\E034"
}

.e_ico-groupmember:after {
	content: "\E035"
}

.e_ico-groupMemberPorduct:after {
	content: "\E036"
}

.e_ico-groupProduct:after {
	content: "\E037"
}

.e_ico-guide:after {
	content: "\E038"
}

.e_ico-halfhook:after {
	content: "\E039"
}

.e_ico-help:after {
	content: "\E03A"
}

.e_ico-hide:after {
	content: "\E03B"
}

.e_ico-home:after {
	content: "\E03C"
}

.e_ico-img:after {
	content: "\E03D"
}

.e_ico-import:after {
	content: "\E03E"
}

.e_ico-itc:after {
	content: "\E03F"
}

.e_ico-last:after {
	content: "\E040"
}

.e_ico-left:after {
	content: "\E041"
}

.e_ico-like:after {
	content: "\E042"
}

.e_ico-liked:after {
	content: "\E043"
}

.e_ico-link:after {
	content: "\E044"
}

.e_ico-lock:after {
	content: "\E045"
}

.e_ico-longdis:after {
	content: "\E046"
}

.e_ico-male:after {
	content: "\E047"
}

.e_ico-menu:after {
	content: "\E048"
}

.e_ico-merge:after {
	content: "\E049"
}

.e_ico-mms:after {
	content: "\E04A"
}

.e_ico-money:after {
	content: "\E04B"
}

.e_ico-more:after {
	content: "\E04C"
}

.e_ico-msg:after {
	content: "\E04D"
}

.e_ico-musicring:after {
	content: "\E04E"
}

.e_ico-net-4g:after {
	content: "\E04F"
}

.e_ico-net:after {
	content: "\E050"
}

.e_ico-nettraffic:after {
	content: "\E051"
}

.e_ico-newspaper:after {
	content: "\E052"
}

.e_ico-next:after {
	content: "\E053"
}

.e_ico-notice:after {
	content: "\E054"
}

.e_ico-ok:after {
	content: "\E055"
}

.e_ico-package:after {
	content: "\E056"
}

.e_ico-package2:after {
	content: "\E057"
}

.e_ico-package3:after {
	content: "\E058"
}

.e_ico-pause:after {
	content: "\E059"
}

.e_ico-phone:after {
	content: "\E05A"
}

.e_ico-play:after {
	content: "\E05B"
}

.e_ico-position:after {
	content: "\E05C"
}

.e_ico-ppt:after {
	content: "\E05D"
}

.e_ico-print:after {
	content: "\E05E"
}

.e_ico-pwd:after {
	content: "\E05F"
}

.e_ico-qq:after {
	content: "\E060"
}

.e_ico-rar:after {
	content: "\E061"
}

.e_ico-reduce:after {
	content: "\E062"
}

.e_ico-refresh:after {
	content: "\E063"
}

.e_ico-reset:after {
	content: "\E064"
}

.e_ico-rhombus:after {
	content: "\E065"
}

.e_ico-right:after {
	content: "\E066"
}

.e_ico-scan:after {
	content: "\E067"
}

.e_ico-search:after {
	content: "\E068"
}

.e_ico-secretary:after {
	content: "\E069"
}

.e_ico-select:after {
	content: "\E06A"
}

.e_ico-send:after {
	content: "\E06B"
}

.e_ico-share:after {
	content: "\E06C"
}

.e_ico-shot:after {
	content: "\E06D"
}

.e_ico-show:after {
	content: "\E06E"
}

.e_ico-speak:after {
	content: "\E06F"
}

.e_ico-star:after {
	content: "\E070"
}

.e_ico-table:after {
	content: "\E071"
}

.e_ico-target:after {
	content: "\E072"
}

.e_ico-task:after {
	content: "\E073"
}

.e_ico-telephone:after {
	content: "\E074"
}

.e_ico-tool:after {
	content: "\E075"
}

.e_ico-top:after {
	content: "\E076"
}

.e_ico-tree:after {
	content: "\E077"
}

.e_ico-tv:after {
	content: "\E078"
}

.e_ico-unfold:after {
	content: "\E079"
}

.e_ico-upload:after {
	content: "\E07A"
}

.e_ico-user:after {
	content: "\E07B"
}

.e_ico-video:after {
	content: "\E07C"
}

.e_ico-view:after {
	content: "\E07D"
}

.e_ico-voice:after {
	content: "\E07E"
}

.e_ico-wechat:after {
	content: "\E07F"
}

.e_ico-weibo:after {
	content: "\E080"
}

.e_ico-wifi:after {
	content: "\E081"
}

.e_ico-wiki:after {
	content: "\E082"
}

.e_ico-word:after {
	content: "\E083"
}

.m_welcome .bar:after,.m_welcome .bar:before {
	content: "";
	display: block
}

button {
	border: 0
}

html {
	font-size: 100px
}

body {
	background: #4d5b65;
	position: relative;
	font-size: .14rem;
	color: #fff
}

@media ( min-width :0px) {
	html {
		font-size: 44.44px
	}
}

@media ( min-width :320px) {
	html {
		font-size: 66.67px
	}
}

@media ( min-width :480px) {
	html {
		font-size: 100px
	}
}

@media ( min-width :540px) {
	html {
		font-size: 112.5px
	}
}

@media ( min-width :640px) {
	html {
		font-size: 133.33px
	}
}

@media ( min-width :720px) {
	html {
		font-size: 150px
	}
}

@media ( min-width :768px) {
	html {
		font-size: 160px
	}
}

@media ( min-width :800px) {
	html {
		font-size: 166.67px
	}
}

@media ( min-width :1024px) {
	html {
		font-size: 213.33px
	}
}

@media ( min-width :1080px) {
	html {
		font-size: 225px
	}
}

@media ( min-width :1200px) {
	html {
		font-size: 250px
	}
}

@media ( min-width :1280px) {
	html {
		font-size: 266.67px
	}
}

@media ( min-width :1366px) {
	html {
		font-size: 284.58px
	}
}

@media ( min-width :1536px) {
	html {
		font-size: 320px
	}
}

@media ( min-width :1600px) {
	html {
		font-size: 333.33px
	}
}

@media ( min-width :1920px) {
	html {
		font-size: 400px
	}
}

@media ( min-width :2048px) {
	html {
		font-size: 426.67px
	}
}

@media ( min-width :2560px) {
	html {
		font-size: 533.33px
	}
}

.m_welcome .content {
	position: absolute;
	top: 50%;
	margin-top: -1.6rem
}

.m_welcome .content .logo {
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/logo.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 auto
}

.m_welcome .content .ch {
	font-size: .32rem;
	margin-top: .3rem
}

.m_welcome .content .en {
	color: rgba(255, 255, 255, .5);
	margin-top: .14rem;
	font-size: .18rem
}

.m_welcome .bar {
	position: absolute;
	background: #68a2e5;
	height: .04rem;
	width: 100%;
	bottom: 0
}

.m_welcome .bar:before {
	width: 20%;
	background: #e40077;
	height: .04rem;
	float: left
}

.m_welcome .bar:after {
	width: 40%;
	background: #8fc320;
	height: .04rem;
	float: right
}