<span class="label"><span jwcid="@Insert" value="ognl:headText" raw="false"/></span>
<span class="e_elements" >
	<button type="button" class="e_button-right" jwcid="@Any" id="ognl:id+'_BUTTON'" name="ognl:id+'_BUTTON'" onclick="showDetailInfo(this)"><i class="e_ico-check"></i><span></span></button>
	<span class="e_input e_input-left"><span>
		<input type="text" jwcid="@Any" id="ognl:id" name="ognl:id" disabled="ognl:disabled" value="ognl:value" onclick="ognl:clickAfterAction"  />
	</span></span>
</span>


<input type="hidden" jwcid="@Any" id="ognl:id+'_WIDTH'" name="ognl:id+'_WIDTH'" value="ognl:boxWidth"  />
<input type="hidden" jwcid="@Any" id="ognl:id+'_SHOWFILEDS_INPUT'" name="ognl:id+'_SHOWFILEDS_INPUT'" value="ognl:showFields"  />
<input type="hidden" jwcid="@Any" id="ognl:id+'_SHOWHEADS_INPUT'" name="ognl:id+'_SHOWHEADS_INPUT'" value="ognl:showHeads"  />
<input type="hidden" jwcid="@Any" id="ognl:id+'_VALUEFILED_INPUT'" name="ognl:id+'_VALUEFILED_INPUT'" value="ognl:valueField"  />
	