<span class="label">成员服务号码：</span>
<span class="e_input"><span>
	<input type="text" jwcid="@TextField" name="ognl:id" id="ognl:id" value="ognl:condition.SERIAL_NUMBER"  onkeypress="var e=$.event.fix(event);if (e.which == 13) {getMemInfo();e.stop();};" nullable="no" maxsize="16" datatype="numeric" desc="成员服务号码" />
</span></span>
<input type="hidden" jwcid="@Any" id="SN_MEB_AFTER_ACTION" name="SN_MEB_AFTER_ACTION" value="ognl:afterAction"  />
<input type="hidden" jwcid="@Any" id="SN_MEB_AFTER_ERROR_ACTION" name="SN_MEB_AFTER_ERROR_ACTION" value="ognl:afterErrorAction"  />	
<input type="hidden" jwcid="@Any" id="SN_MEB_JUDGE_USER_STATE" name="SN_MEB_JUDGE_USER_STATE" value="ognl:judgeUserState"  />
<input type="hidden" jwcid="@Any" id="SN_MEB_SN_NAME" name="SN_MEB_SN_NAME" value="ognl:id" />