<div class="c_form">
	<ul class="ul">
		<li class="li">
			<span class="label">关联服务号码：</span>
			<span class="e_input">
				<span>
					<input type="text" jwcid="cond_SERIAL_NUMBER@TextField" value="ognl:condition.cond_SERIAL_NUMBER" onkeydown="if(event.keyCode==13) {if(isNumber(this.value)) ajaxDirect4CS(this, 'queryRelaInfo', '&cond_SERIAL_NUMBER='+this.value, 'PersonInfoPart',true,afterCheckGroupInfo);}" nullable="no" maxlength="15" class="e_input" desc="关联服务号码" />
				</span>
			</span>
		</li>
	</ul>
	<div class="submitPlace"></div>
	<div class="submit">
		<!--<button class="e_button-form"><i class="e_ico-search"></i><span>查询</span></button>-->
	</div>
</div>
