<!-- 集团产品编码信息 开始 -->

<span class="label"><span class="e_required">服务号码：</span></span>
<div jwcid="GroupSNPart@Part" >
	<span class="e_input"><span>
		<input jwcid="@TextField" name="SERIAL_NUMBER" id="SERIAL_NUMBER" type="text" 
			   value="ognl:info.SERIAL_NUMBER" desc="服务号码" disabled="ognl:info.IF_RES_CODE != 1" 
			   enterAction="checkSerialNumber(this, false);" nullable="no" />
		<input jwcid="@Any" name="RES_TYPE_CODE" id="RES_TYPE_CODE" value="ognl:info.RES_TYPE_CODE" style="display:none"/>
		<input jwcid="@Any" name="IF_RES_CODE" id="IF_RES_CODE" value="ognl:info.IF_RES_CODE" style="display:none"/>
	</span></span>
</div>
<input jwcid="@Any" name="HIDDEN_SERIAL_NUMBER" id="HIDDEN_SERIAL_NUMBER" value="ognl:info.HIDDEN_SERIAL_NUMBER" style="display:none"/>

<input jwcid="@Hidden" name="GROUP_SERIALNUMBER_ID" id="GROUP_SERIALNUMBER_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="GROUP_SERIALNUMBER_EPARCHY_CODE" id="GROUP_SERIALNUMBER_EPARCHY_CODE" value="ognl:grpUserEparchyCode"/>
<input jwcid="@Hidden" name="GROUP_SERIALNUMBER_RESTYPE" id="GROUP_SERIALNUMBER_RESTYPE" value="ognl:resTypeCode"/>
<input jwcid="@Hidden" id="GROUP_SERIALNUMBER_ACTION" name="GROUP_SERIALNUMBER_ACTION" value="ognl:afterAction"  />
<input jwcid="@Hidden" id="GROUP_SERIALNUMBER_ERROR_ACTION" name="GROUP_SERIALNUMBER_ERROR_ACTION" value="ognl:afterErrorAction"  />
<!-- 集团产品编码信息 结束 -->