<!-- 
<div class="c_header">
	<div class="back" ontap="hidePopup('popup')">付款</div>
</div>
<div class="c_scroll c_scroll-float c_scroll-header" style="bottom:0.69rem;">
	<div id="FEE_INPUT_LIST" class="l_padding-side">

	</div>
	<div class="c_space"></div>
</div>
<div class="l_bottom" id="PAY_PART">
	<div class="c_line"></div>
	<div class="l_padding">
		<div class="c_list c_list-form">
			<ul>
				<li>
					<div class="value">
						<span class="e_mix e_mix-prefix" id="FEE_SELECT">
							<input type="text" id="PAY_TOTAL" disabled="true" />
							<span class="e_label">元</span>
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="FEE_LIST_PART" class="l_fixedBox" style="display:none"><div class="l_fixedBoxWrapper">
	<div class="c_pay">
		<div class="total"><i class="e_ico-money"></i><span id="FEE_TOTAL"></span></div>
		<div class="detail">
			<ul id="FEE_ITEM_LIST">
			</ul>
		</div>
	</div>
</div></div> -->
<div class="ognl:'c_list c_list-col-'+ feeColNum + ' c_list-phone-col-1 c_list-line c_list-border'"  jwcid="FEE_LIST_PART@Part" id="FEE_LIST_PART" feeColNum="ognl:feeColNum" style="display:none">
	<ul id="FEE_ITEM_LIST">
		
	</ul>
</div>




 