<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>海南新系统发票打印模板</title>
<style>
* { padding:0; list-style:none;}
html { font-size:14px;}
body { overflow:visible; text-align:left; line-height:1.5; font-family:tahoma,simsun;}
.c_float { position:absolute; top:0; left:0;}
</style>
</head>
<body>

<div style="margin-left:-20px; margin-top:-20px; width:900px; overflow:hidden; height:500px;"><div style="position:relative;">
	<!-- 打印区域 开始 -->
	<div class="c_float" style="left:170px;  top:90px;">${OPERATION_DATE}</div>
	<div class="c_float" style="left:400px;  top:90px;">${TRADE_NAME}</div>


	<div class="c_float" style="left:90px;  top:125px;">机打代码：</div>
	<div class="c_float" style="left:160px;  top:125px;">${TAX_NO}</div>
	<div class="c_float" style="left:350px;  top:125px;">防伪码：</div>
	<div class="c_float" style="left:410px;  top:125px;">${SECURITY_CODE}</div>

	<div class="c_float" style="left:700px;  top:125px">${EWM}</div>

	<div class="c_float" style="left:90px;  top:145px;">机打号码：</div>
	<div class="c_float" style="left:160px;  top:145px;">${TICKET_ID}</div>


	<div class="c_float" style="left:90px;  top:165px;">客户名称：</div>
	<div class="c_float" style="left:160px;  top:165px;">${CUST_NAME}</div>
	<div class="c_float" style="left:350px;  top:165px;">业务类别：</div>
	<div class="c_float" style="left:420px;  top:165px;">${TRADE_TYPE}</div>


	<div class="c_float" style="left:90px;  top:185px;">用户号码：</div>
	<div class="c_float" style="left:160px;  top:185px;">${SERIAL_NUMBER}</div>
	<div class="c_float" style="left:350px;  top:185px;">话费账期：</div>
	<div class="c_float" style="left:420px;  top:185px;">${CUR_CYCLE}</div>
	<div class="c_float" style="left:520px;  top:185px;">合同号：</div>
	<div class="c_float" style="left:580px;  top:185px;">${BARGAIN}</div>


	<div class="c_float" style="left:100px;  top:215px;">品名规格</div>
	<div class="c_float" style="left:200px;  top:215px;">品牌型号</div>
	<div class="c_float" style="left:300px;  top:215px;">单位</div>
	<div class="c_float" style="left:370px;  top:215px;">数量</div>
	<div class="c_float" style="left:450px;  top:215px;">单价</div>
	<div class="c_float" style="left:550px;  top:215px;">金额</div>


	<div class="c_float" style="left:100px;  top:240px;">${FEE_TYPE}</div>
	<div class="c_float" style="left:200px;  top:240px;">${BRAND_MODEL}</div>
	<div class="c_float" style="left:300px;  top:240px;">${UNIT}</div>
	<div class="c_float" style="left:370px;  top:240px;">${QUANTITY}</div>
	<div class="c_float" style="left:450px;  top:240px;">${PRICE}</div>
	<div class="c_float" style="left:550px;  top:240px;">${FEE}</div>


	<div class="c_float" style="left:100px;  top:355px;">合计：</div>
	<div class="c_float" style="left:270px;  top:355px;">${ALL_MONEY_LOWER}</div>


	<div class="c_float" style="left:100px;  top:395px;">本次发票金额：</div>
	<div class="c_float" style="left:270px;  top:395px;">${ALL_MONEY_LOWER}</div>


	<div class="c_float" style="left:100px;  top:415px;">大写金额合计：</div>
	<div class="c_float" style="left:270px;  top:415px;">${ALL_MONEY_UPPER}</div>


	<div class="c_float" style="left:90px;  top:435px;">备注：</div>
	<div class="c_float" style="left:220px;  top:435px;">${REMARK}</div>


	<div class="c_float" style="left:90px;  top:475px;">流水号：</div>
	<div class="c_float" style="left:150px;  top:475px;">${TRADE_ID}</div>
	<div class="c_float" style="left:350px;  top:475px;">开票人：</div>
	<div class="c_float" style="left:410px;  top:475px;">${STAFF_NAME}</div>
	<div class="c_float" style="left:540px;  top:475px;">营业厅：</div>
	<div class="c_float" style="left:600px;  top:475px;">${DEPART_NAME}</div>
	
	<!-- 打印区域 结束 -->
</div></div>			

</body>
</html>