<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>海南新系统收据打印</title>
<style>
* { padding:0; list-style:none;}
html { font-size:12px;}
body { overflow:visible; text-align:left; line-height:1.5; font-family:tahoma,simsun;}
.c_float { position:absolute; top:0; left:0;}
</style>
</head>
<body>
<div class="c_float" style="left:0px;  top:0px; padding:5px; font-family:'黑体'; font-size:16px; color:#0F0;background-color:#F00;"></div>
<div style="padding:23px; width:676px; overflow:hidden; height:500px;"><div style="position:relative;">
	<!-- 打印区域 开始 -->
	<div class="c_float" style="left:35px;  top:44px;">${TRADE_ID}</div>
	<div class="c_float" style="left:210px; top:44px;">${OPERATION_DATE}</div>

	<div class="c_float" style="left:100px; top:72px;">${SERIAL_NUMBER}</div>
	<div class="c_float" style="left:435px; top:72px;">${TRADE_TYPE}</div>

	<div class="c_float" style="left:100px; top:103px;">${CUST_NAME}</div>
	<div class="c_float" style="left:435px; top:103px;">现金</div>

	<div class="c_float" style="left:3px; top:136px;">${FEE_CONTENT}</div>
	<div class="c_float" style="left:43px; top:272px;">合计</div>
	<div class="c_float" style="left:77px; top:272px;">${ALL_MONEY_LOWER}</div>

	<div class="c_float" style="left:83px; top:303px;">${ALL_MONEY_UPPER}</div>
	<div class="c_float" style="left:466px; top:303px;">${ALL_MONEY_LOWER}</div>

	<div class="c_float" style="left:315px; top:328px;">${STAFF_ID}</div>
	<div class="c_float" style="left:487px; top:326px;">${STAFF_NAME}</div>
	<!-- 打印区域 结束 -->
</div></div>			

</body>
</html>