<div jwcid="SelectedElements_Svc@Svc" svcList="ognl:svcList" element="div"></div>
<div jwcid="SelectedElements_Discnt@Discnt" discntList="ognl:discntList" element="div"></div>
<input jwcid="@Hidden" name="SELECTEDELEMENTS_COMPONENT_ID" id="SELECTEDELEMENTS_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="AFTER_RENDER_ACTION" id="AFTER_RENDER_ACTION" value="ognl:afterRenderAction"/>
<input jwcid="@Hidden" name="basicStartDateControlId" id="basicStartDateControlId" value="ognl:basicStartDateControlId"/>
<input jwcid="@Hidden" name="basicCancelDateControlId" id="basicCancelDateControlId" value="ognl:basicCancelDateControlId"/>
<input jwcid="@Hidden" name="ELEMENT_EXTEND_FIELD" id="ELEMENT_EXTEND_FIELD" value="ognl:elementExtendFiled"/>
<input jwcid="@Hidden" name="callAddElementSvc" id="callAddElementSvc" value="ognl:callAddElementSvc"/>
<input jwcid="@Hidden" name="ELEMENT_EXTEND_ACTION" id="ELEMENT_EXTEND_ACTION" value="ognl:elementExtendAction"/>
<input jwcid="@Hidden" name="SELECTED_TRADE_TYPE_CODE" id="SELECTED_TRADE_TYPE_CODE" value="ognl:tradeTypeCode"/>
<input jwcid="@Hidden" name="ACCT_DAY" id="ACCT_DAY" value="ognl:acctDay"/>
<input jwcid="@Hidden" name="FIRST_DATE" id="FIRST_DATE" value="ognl:firstDate"/>
<input jwcid="@Hidden" name="NEXT_ACCT_DAY" id="NEXT_ACCT_DAY" value="ognl:nextAcctDay"/>
<input jwcid="@Hidden" name="NEXT_FIRST_DATE" id="NEXT_FIRST_DATE" value="ognl:nextFirstDate"/>


<div class="c_popup" id="remindPopup" style="display:none;";>
	<div class="c_popupWrapper">
		<div class="c_popupHeight"></div>
		<div class="c_popupBox" style="width:350px;">
			<div class="c_popupTitle">
				<div class="text">提交提醒</div>
				<div class="fn"><a href="#nogo" class="close"  onclick="$('#remindPopup').attr('style','display:none');"></a></div>
			</div>
			<div class="c_popupContent"><div class="c_popupContentWrapper">
				<div style="height:80px;">
					<div class="l_middle">
       				<h4> 您当前有<span id="unChangeNum" name="unChangeNum">5</span>条套餐没有修改结束日期，请确认是否继续提交！</h4>     				 
      			    <button class="e_button-form" name="yes"  onclick="if(!setData('1')) return false;"><span>是</span></button>
                    <button class="e_button-form l_ml" name="no"  onclick="if(!setData('0')) return false;"><span>否</span></button>
                   </div>
               </div>

			</div></div>
			<div class="c_popupBottom"><div></div></div>
			<div class="c_popupShadow"></div>
		</div>
	</div>
	<iframe class="c_popupFrame"></iframe>
	<div class="c_popupCover"></div>
</div>