<span class="label">成员服务号码：</span>
<span class="e_input"><span>
	<input type="text" jwcid="@TextField" name="ognl:id" id="ognl:id" value="ognl:condition.SERIAL_NUMBER" maxsize="16" desc="成员服务号码"/>
	</span></span>
<input type="hidden" jwcid="@Any" id="SN_MEB_AFTER_ACTION" name="SN_MEB_AFTER_ACTION" value="ognl:afterAction"  />
<input type="hidden" jwcid="@Any" id="SN_MEB_AFTER_ERROR_ACTION" name="SN_MEB_AFTER_ERROR_ACTION" value="ognl:afterErrorAction"  />
<input type="hidden" jwcid="@Any" id="GROUP_AUTH_FLAG" name="GROUP_AUTH_FLAG" value="false"  />
<input type="hidden" jwcid="@Any" id="IF_ADD_MEB" name="IF_ADD_MEB" value="false"  />
<input type="hidden" jwcid="@Any" id="cond_CHECK_MODE" name="cond_CHECK_MODE" value=""  />
<input type="hidden" jwcid="@Any" id="SN_MEB_JUDGE_USER_STATE" name="SN_MEB_JUDGE_USER_STATE" value="ognl:judgeUserState"  />
<input type="hidden" jwcid="@Any" id="SN_MEB_SN_NAME" name="SN_MEB_SN_NAME" value="ognl:id" />
<span jwcid="@UserCheck"  authType="00" fieldName="ognl:id" cacheSn="ognl:cacheSn" isAuth="ognl:isAuth" classHandler="com.asiainfo.veris.crm.order.web.frame.csview.common.component.group.selectmemberinfo.SelectMemberInfoHttpHandler" exceptAction="ognl:userCheckErrAction" tradeAction="getMemInfoForAuth();"/>	

