<!-- 查询条件开始 -->
<div class="c_list c_list-form" id="snInfo">
	<ul>
		<li class="link required">
			<div class="label">成员服务号码</div>
			<div class="value">
				<div class="e_mix" >
					<input jwcid="@TextField" name="cond_SERIAL_NUMBER_INPUT" value="ognl:cond.SERIAL_NUMBER" onkeydown="keyEventOfMemAccessNum(this, event);" nullable="no" desc="成员服务号码"/>
					<div jwcid="@Conditional" condition="ognl:isAuth=='true'">
					<button class="e_button-blue" onclick="checkSerailNumber()"><span>验证</span></button>
					</div>
					<div jwcid="@Conditional" condition="ognl:isAuth!='true'">
					<button class="e_button-blue" type="button" ontap="insertNumberAfter()"><span class="e_ico-search"></span></button>
					</div>
					<input type="hidden" jwcid="@Any" id="SN_MEB_AFTER_ACTION" name="SN_MEB_AFTER_ACTION" value="ognl:afterAction"  />
<input type="hidden" jwcid="@Any" id="SN_MEB_AFTER_ERROR_ACTION" name="SN_MEB_AFTER_ERROR_ACTION" value="ognl:afterErrorAction"  />
<input type="hidden" jwcid="@Any" id="GROUP_AUTH_FLAG" name="GROUP_AUTH_FLAG" value="false"  />
<input type="hidden" jwcid="@Any" id="IF_ADD_MEB" name="IF_ADD_MEB" value="false"  />
<input type="hidden" jwcid="@Any" id="cond_CHECK_MODE" name="cond_CHECK_MODE" value="ognl:isAuth"  />
<input type="hidden" jwcid="@Any" id="SN_MEB_JUDGE_USER_STATE" name="SN_MEB_JUDGE_USER_STATE" value="ognl:judgeUserState"  />
<input type="hidden" jwcid="@Any" id="SN_MEB_SN_NAME" name="SN_MEB_SN_NAME" value="ognl:id" />
<input type="hidden" jwcid="@Any" id="cond_Auth" name="cond_Auth" value="ognl:isAuth" />
<input jwcid="@Any" id="POP_FIELD_NAME" type="hidden" name="POP_FIELD_NAME" value="" />
<span jwcid="@UserCheck"  authType="00" fieldName="cond_SERIAL_NUMBER_INPUT" cacheSn="ognl:cacheSn" isAuth="ognl:isAuth" classHandler="com.asiainfo.veris.crm.order.web.frame.csview.common.component.group.selectmemberinfo.SelectMemberInfoHttpHandler" exceptAction="ognl:userCheckErrAction" tradeAction="checkFinish();"/>
				</div>
			</div>
		</li>
	</ul>
</div>
<!-- 查询条件结束 -->					
<div class="c_space"></div>
<!-- 查询结果开始 -->
<div jwcid="insertNumberAfter@Part" class="c_list c_list-form" style="display:none" id="insertNumberAfter">
	<ul>
		<li>
			<div class="pic"><span class="e_ico-user e_ico-pic"></span></div>
			<div class="main">
				<div class="title"><span jwcid="@Insert" value="ognl:userInfo.PARTY_NAME"/></div>
				<div class="content">
					<div  class="c_param c_param-col-2 c_param-label-auto">
						<ul>
							<li>
								成员品牌：<span jwcid="@Insert" name ="cond_BRAND_NAME" value="ognl:userInfo.BRAND_NAME"/>
							</li>
							<li>
								归属地州：<span jwcid="@Insert" name ="cond_MGMT_DISTRICT" value="ognl:userInfo.EPARCHY_NAME"/>
							</li>
						</ul>
						<ul>
							<li class="merge-2">
								成员商品：<span jwcid="@Insert" name ="cond_OFFER_NAME" value="ognl:userInfo.PRODUCT_NAME"/>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<input jwcid="@Hidden" name="cond_IS_VALIDATE_SUCCESS" value="false"/>
	<input jwcid="@Hidden" name="cond_VALID_SERIAL_NUMBER" value ="ognl:userInfo.SERIAL_NUMBER"/>	
	<input jwcid="@Hidden" name="cond_USER_ID" value ="ognl:userInfo.USER_ID"/>	
	<input jwcid="@Hidden" name="cond_USER_EPARCHY_CODE" value ="ognl:userInfo.EPARCHY_CODE"/>	

</div>
<!-- 查询结果 结束 -->