﻿<!-- 区域 开始 -->
<div jwcid="@Any" id="CustInfoCmp" isRealName="ognl:isRealName"
     requiredField="ognl:requiredField" thisTradeTypeCode="ognl:blackTradeType"
     eparchyCode="ognl:eparchyCode != null ? eparchyCode : getVisit().getLoginEparchyCode()"
     isHidden="ognl:isHidden">
	<div id="CustInfoPart">
        <!-- 客户信息标题 开始 -->
        <div class="c_title">
            <div class="text e_hide-phone">客户信息</div>
            <div class="fn">
                <ul>
                	<li id="FORM_SCAN_PSPT" style="display: none;">
            			<span class="e_ico-scan"></span>原客户扫描
            		</li>
            		<li id="FORM_SHOT_IMG" style="display: none;">
            			<span class="e_ico-camera"></span>原客户摄像
                    </li>
                    <li id="CUST_INPUT_CONTROL">
                        <span class="e_ico-show"></span><span>显示非必填项</span>
                    </li>
                    <li id="span_PSPT_TYPE_CODE">
                        <span jwcid="@Select" name="PSPT_TYPE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_PASSPORTTYPE2')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.PSPT_TYPE_CODE"
                              optionWidth="30" optionColumn="2"
                              optionAlign="right" addDefault="false"
                              desc="证件类型"></span>
                    </li>
                    <li id="SHOW_EDIT_AREA">
                        <span class="e_ico-edit e_hide-phone"></span>手工输入
                    </li>
                    <li id="SHOW_SCAN_AREA" style="display: none;">
                        <span class="e_ico-scan e_hide-phone"></span>扫描证件
                    </li>
                    <li id="SHOT_IMG" style="display: none;">
                        <span class="e_ico-camera e_hide-phone"></span>客户摄像
                    </li>
                </ul>
            </div>
        </div>
        <!-- 客户信息标题 结束 -->
        <!-- 客户信息扫描区域 开始 -->
        <div id="ScanPsptArea" class="c_box c_box-border e_center l_padding-4">
            <button id="SCAN_PSPT" type="button"
                    class="e_button-l e_button-r e_button-blue">
                <span class="e_ico-scan"></span><span>扫描身份证</span>
            </button>
        </div>
        <!-- 客户信息扫描区域 结束 -->
        <!-- 客户信息手写区域 开始 -->
        <div id="EditInfoArea" style="display: none;"
             class="c_list c_list-s c_list-col-3 c_list-border c_list-line c_list-phone-col-1">
            <ul>
                <li class="link" id="span_PSPT_ID">
                    <div class="label">证件号码</div>
                    <div class="value">
                        <div class="e_mix">
                            <input jwcid="@TextField" name="PSPT_ID" value="ognl:custInfo.PSPT_ID" maxsize="32" desc="证件号码"/>
                            <input jwcid="@Hidden" name="custinfo_ReadCardFlag" value="0" desc="二代证读取标志"/>
                            <input jwcid="@Hidden" name="BLACK_TRADE_TYPE" value="ognl:blackTradeType" desc="业务类型"/>
                            <input jwcid="@Hidden" name="FORM_PIC_ID" value="ognl:custInfo.FORM_PIC_ID" desc="原客户照片ID"/>
                            <input jwcid="@Hidden" name="FORM_PIC_STREAM" value="ognl:custInfo.FORM_PIC_STREAM" desc="原客户人像照片流"/>
                            <input jwcid="@Hidden" name="FORM_BACKBASE64" value="ognl:custInfo.FORM_BACKBASE64" desc="原客户身份证背面照"/>
                            <input jwcid="@Hidden" name="FORM_FRONTBASE64" value="ognl:custInfo.FORM_FRONTBASE64" desc="原客户身份证正面照"/>
                            <input jwcid="@Hidden" name="FORM_SCAN_TAG" value="1" desc="原客户扫描标志"/>
                            <input jwcid="@Hidden" name="FORM_PSPT_ID" value="ognl:custInfo.FORM_PSPT_ID" desc="原客户扫描身份证证件号码"/>
                            <input jwcid="@Hidden" name="FORM_CUST_NAME" value="ognl:custInfo.FORM_FORM_CUST_NAME" desc="原客户扫描身份证姓名"/>
                            <input jwcid="@Hidden" name="FORM_PSPT_TYPE_CODE" value="0" desc="原客户扫描身份证证件类型"/>
                            <input jwcid="@Hidden" name="PIC_ID" value="ognl:custInfo.PIC_ID" desc="客户照片ID"/>
                            <input jwcid="@Hidden" name="PIC_STREAM" value="ognl:custInfo.PIC_STREAM" desc="客户人像照片流"/>
                            <input jwcid="@Hidden" name="BACKBASE64" value="ognl:custInfo.BACKBASE64" desc="身份证背面照"/>
                            <input jwcid="@Hidden" name="FRONTBASE64" value="ognl:custInfo.FRONTBASE64" desc="身份证正面照"/>
                            <input jwcid="@Hidden" name="SCAN_TAG" value="1" desc="客户扫描标志"/>
                            <input jwcid="@Hidden" name="BOOKTAG" value="0" desc="是否有线上预约工单"/>
                            <input jwcid="@Hidden" name="SCAN_PSPT_TAG" value="1" desc="是否证件扫面入口进入"/>
                            <!-- REQ201904190005全网用户数据查询平台分册V2.2.0改造需求 -->
                            <input jwcid="@Hidden" id="CARD_SEX" name="CARD_SEX" value="ognl:custInfo.custInfo_CARD_SEX" desc="性别"/>
							<input jwcid="@Hidden" id="CARD_ADDRESS" name="CARD_ADDRESS" value="ognl:custInfo.custInfo_CARD_ADDRESS" desc="地址"/>
							<input jwcid="@Hidden" id="CARD_BORN" name="CARD_BORN" value="ognl:custInfo.custInfo_CARD_BORN" desc="出生日期"/>
							<input jwcid="@Hidden" id="EFF_DATE" name="EFF_DATE" value="ognl:custInfo.custInfo_EFF_DATE" desc="证件有效期"/>
							<input jwcid="@Hidden" id="CARD_ISSUED" name="CARD_ISSUED" value="ognl:custInfo.custInfo_CARD_ISSUED" desc="发行机构"/>
							<input jwcid="@Hidden" id="HEADBASE64" name="HEADBASE64" value="ognl:custInfo.custInfo_HEADBASE64" desc="身份证头像"/>
                            <!-- REQ201904190005全网用户数据查询平台分册V2.2.0改造需求 -->
                        
                            <!-- REQ201911080010 关于实名入网办理日志留存的改造通知 - add by guonj -20200305  -->
							<input jwcid="@Hidden" id="custInfo_DEV_READ" name="custInfo_DEV_READ" value="0" desc="是否读取"/>
							<input jwcid="@Hidden" id="custInfo_READ_RUSLT" name="custInfo_READ_RUSLT" value="0" desc="是否读取"/>
							<input jwcid="@Hidden" id="custInfo_COMPARISON_IS" name="custInfo_COMPARISON_IS" value="0" desc="是否进行人像比对"/>
							<input jwcid="@Hidden" id="custInfo_COMPARISON_RUSLT" name="custInfo_COMPARISON_RUSLT" value="0" desc="人像比对是否通过"/>
							<input jwcid="@Hidden" id="custInfo_COMPARISON_SEQ" name="custInfo_COMPARISON_SEQ" value="0" desc="人像比对是否通过"/>
							<input jwcid="@Hidden" id="custInfo_AUTHENTICITY_IS" name="custInfo_AUTHENTICITY_IS" value="0" desc="是否联网验证真实性"/>
							<input jwcid="@Hidden" id="custInfo_AUTHENTICITY_RUSLT" name="custInfo_AUTHENTICITY_RUSLT" value="0" desc="真实性验证结果"/>
							<input jwcid="@Hidden" id="custInfo_AUTHENTICITY_SEQ" name="custInfo_AUTHENTICITY_SEQ" value="0" desc="真实性验证结果"/>
							<input jwcid="@Hidden" id="custInfo_PROVENUM_IS" name="custInfo_PROVENUM_IS" value="0" desc="是否进行一证五号查验"/>
							<input jwcid="@Hidden" id="custInfo_PROVENUM_RUSLT" name="custInfo_PROVENUM_RUSLT" value="0" desc="一证五号验证结果"/>
							<input jwcid="@Hidden" id="custInfo_PROVENUM_SEQ" name="custInfo_PROVENUM_SEQ" value="0" desc="一证五号验证结果"/>
							<!-- REQ201911080010 关于实名入网办理日志留存的改造通知 - add by guonj -20200305  -->
                            
                        </div>
                        <div style="display:none">
                            <object id="makeActiveX" classid="clsid:1114a5b7-b206-4e79-8ee2-9df3973d0012"></object>
                        </div>
                    </div>
                </li>
                <li class="link" id="span_CUST_NAME">
                    <div class="label">姓名</div>
                    <div class="value">
                        <input jwcid="@TextField" name="CUST_NAME"
                               value="ognl:custInfo.CUST_NAME" desc="客户姓名"/>
                    </div>
                </li>
                <li class="link" id="span_BIRTHDAY">
                    <div class="label">出生日期</div>
                    <div class="value">
                        <input jwcid="@DateField" dropDown="true"
                               format="yyyy-MM-dd" name="BIRTHDAY"
                               value="ognl:getPage().formatDate('yyyy-MM-dd',custInfo.BIRTHDAY)"
                               maxName="PSPT_END_DATE" desc="出生日期"/>
                    </div>
                </li>
                <li class="link" id="span_PSPT_END_DATE">
                    <div class="label">证件有效期</div>
                    <div class="value">
                        <input jwcid="@DateField" dropDown="true"
                               format="yyyy-MM-dd" name="PSPT_END_DATE"
                               value="ognl:custInfo.PSPT_END_DATE"
                               minName="BIRTHDAY" desc="证件有效期"/>
                    </div>
                </li>
                <li class="link" id="span_PSPT_ADDR">
                    <div class="label">证件地址</div>
                    <div class="value">
                        <input jwcid="@TextField" name="PSPT_ADDR"
                               value="ognl:custInfo.PSPT_ADDR" maxsize="128"
                               desc="证件地址"/>
                    </div>
                </li>
                <li class="link" id="span_SEX">
                    <div class="label">性别</div>
                    <div class="value">
                        <span jwcid="@Select" name="SEX"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('SEX')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.SEX" desc="性别"></span>
                    </div>
                </li>
                <li class="link" id="span_FOLK_CODE">
                    <div class="label">民族</div>
                    <div class="value">
                        <span jwcid="@Select" name="FOLK_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_FOLK')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.FOLK_CODE"
                              desc="民族"></span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 客户信息手写区域 结束 -->
        <!-- 法人信息 开始 -->
        <div id="EnterprisePart" style="display: none;">
            <div class="c_space"></div>
            <div class="c_list c_list-s c_list-col-3 c_list-phone-col-1 c_list-line c_list-border">
                <ul>
                    <li class="link" id="span_legalperson">
                        <div class="label">法人</div>
                        <div class="value">
                            <input jwcid="@TextField" name="legalperson"
                                   desc="法人" />
                        </div>
                    </li>
                    <li class="link" id="span_termstartdate">
                        <div class="label">营业开始日期</div>
                        <div class="value">
                            <input jwcid="@TextField" name="termstartdate"
                                   desc="营业开始日期" />
                        </div>
                    </li>
                    <li class="link" id="span_termenddate">
                        <div class="label">营业结束日期</div>
                        <div class="value">
                            <input jwcid="@TextField" name="termenddate"
                                   desc="营业结束日期" />
                        </div>
                    </li>
                    <li class="link" id="span_startdate">
                        <div class="label">成立日期</div>
                        <div class="value">
                            <input jwcid="@TextField" name="startdate"
                                   desc="成立日期"  />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 法人信息 结束 -->
        <!-- 机构信息 开始 -->
        <div id="OrgPart" style="display: none;">
            <div class="c_space"></div>
            <div class="c_list c_list-s c_list-col-3 c_list-phone-col-1 c_list-line c_list-border">
                <ul>
                    <li class="link" id="span_orgtype">
                        <div class="label">机构类型</div>
                        <div class="value">
                            <input jwcid="@TextField" name="orgtype"
                                   desc="机构类型"/>
                        </div>
                    </li>
                    <li class="link" id="span_effectiveDate">
                        <div class="label">有效日期</div>
                        <div class="value">
                            <input jwcid="@TextField" name="effectiveDate"
                                   desc="有效日期" />
                        </div>
                    </li>
                    <li class="link" id="span_expirationDate">
                        <div class="label">失效日期</div>
                        <div class="value">
                            <input jwcid="@TextField" name="expirationDate"
                                   desc="失效日期" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 机构信息 结束 -->
        <!-- 经办人信息 开始 -->
        <div id="AgentFieldPart" style="display: none;">
            <div class="c_space"></div>
            <div class="c_list c_list-s c_list-col-3 c_list-phone-col-1 c_list-line c_list-border">
                <ul>
                    <li class="link" id="span_AGENT_CUST_NAME">
                        <div class="label">经办人名称</div>
                        <div class="value">
                            <input jwcid="@TextField" name="AGENT_CUST_NAME"
                                   value="ognl:custInfo.RSRV_STR7" maxsize="48"
                                   desc="经办人名称"/>
                        </div>
                    </li>
                    <li class="link" id="span_AGENT_PSPT_TYPE_CODE">
                        <div class="label">经办人证件类型</div>
                        <div class="value">
                            <span jwcid="@Select" name="AGENT_PSPT_TYPE_CODE"
                                  source="ognl:@com.ailk.biz.util.StaticUtil@getList(getVisit(),'TD_S_PASSPORTTYPE','PSPT_TYPE_CODE','PSPT_TYPE','EPARCHY_CODE','0894')"
                                  textField="PSPT_TYPE" valueField="PSPT_TYPE_CODE"
                                  value="ognl:custInfo.RSRV_STR8"
                                  desc="经办人证件类型"></span>
                        </div>
                    </li>
                    <li class="link" id="span_AGENT_PSPT_ID">
                        <div class="label">经办人证件号码</div>
                        <div class="value">
                            <div class="e_mix">
                                <input jwcid="@TextField" name="AGENT_PSPT_ID"
                                       value="ognl:custInfo.RSRV_STR9" maxsize="32"
                                       desc="经办人证件号码"/>
                                <span id="SCAN_PSPT2" class="e_ico-scan"></span>
                                <span id="AGENT_SHOT_IMG" class="e_ico-camera"
                                      style="display: none;"></span>
                                <input jwcid="@Hidden" name="AGENT_PIC_ID"
                                       value="AGENT_PIC_ID_value"/>
                                <input jwcid="@Hidden" name="AGENT_PIC_STREAM"
                                       value="ognl:custInfo.AGENT_PIC_STREAM"
                                       nullable="yes" desc="拍摄经办人人像照片流"/>
                                <input jwcid="@Hidden" name="AGENT_BACKBASE64"
                                       value="ognl:custInfo.AGENT_BACKBASE64"
                                       nullable="yes" desc="经办人身份证背面照"/>
                                <input jwcid="@Hidden" name="AGENT_FRONTBASE64"
                                       value="ognl:custInfo.AGENT_FRONTBASE64"
                                       nullable="yes" desc="经办人身份证正面照"/>
                                <input jwcid="@Hidden" name="AGENT_SCAN_TAG"
                                       value="1" nullable="yes" desc="客户扫描标志"/>
                            </div>
                        </div>
                    </li>
                    <li class="link" id="span_AGENT_PSPT_ADDR">
                        <div class="label">经办人证件地址</div>
                        <div class="value">
                            <input jwcid="@TextField" name="AGENT_PSPT_ADDR"
                                   value="ognl:custInfo.RSRV_STR10" maxsize="128"
                                   desc="经办人证件地址"/>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 经办人信息 结束 -->
        <!-- 使用人信息 开始 -->
        <div id="UseFieldPart" style="display: none;">
            <div class="c_space"></div>
            <div class="c_list c_list-s c_list-col-3 c_list-phone-col-1 c_list-line c_list-border">
                <ul>
                    <li class="link" id="span_USE">
                        <div class="label">使用人姓名</div>
                        <div class="value">
                            <input jwcid="@TextField" name="USE"
                                   value="ognl:custInfo.USE" desc="使用人姓名"/>
                        </div>
                    </li>
                    <li class="link" id="span_USE_PSPT_TYPE_CODE">
                        <div class="label">使用人证件类型</div>
                        <div class="value">
                            <span jwcid="@Select" name="USE_PSPT_TYPE_CODE"
                                  source="ognl:@com.ailk.biz.util.StaticUtil@getList(getVisit(),'TD_S_PASSPORTTYPE','PSPT_TYPE_CODE','PSPT_TYPE','EPARCHY_CODE','0894')"
                                  textField="PSPT_TYPE" valueField="PSPT_TYPE_CODE"
                                  titleField="DATA_NAME"
                                  value="ognl:custInfo.USE_PSPT_TYPE_CODE"
                                  disabled="false" desc="使用人证件类型"></span>
                        </div>
                    </li>
                    <li class="link" id="span_USE_PSPT_ID">
                        <div class="label">使用人证件号码</div>
                        <div class="value">
                            <div class="e_mix">
                                <input jwcid="@TextField" name="USE_PSPT_ID"
                                       value="ognl:custInfo.USE_PSPT_ID"
                                       maxsize="20" maxLength="20" disabled="false"
                                       desc="使用人证件号码"/>
                                <span id="SCAN_PSPT3" class="e_ico-scan"></span>
                            </div>

                        </div>
                    </li>
                    <li class="link" id="span_USE_PSPT_ADDR">
                        <div class="label">使用人证件地址</div>
                        <div class="value">
                            <input jwcid="@TextField" name="USE_PSPT_ADDR"
                                   value="ognl:custInfo.USE_PSPT_ADDR"
                                   maxLength="128" maxsize="128"
                                   desc="使用人证件地址"/>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 使用人信息 结束 -->
        <!-- 责任人信息 开始 -->
        <div id="RsrvFieldPart" style="display: none;">
            <div class="c_space"></div>
            <div class="c_list c_list-s c_list-col-3 c_list-phone-col-1 c_list-line c_list-border">
                <ul>
                    <li class="link" id="span_RSRV_STR2">
                        <div class="label">责任人姓名</div>
                        <div class="value">
                            <input jwcid="@TextField" name="RSRV_STR2"
                                   value="ognl:custInfo.RSRV_STR2"
                                   desc="责任人姓名"/>
                        </div>
                    </li>
                    <li class="link" id="span_RSRV_STR3">
                        <div class="label">责任人证件类型</div>
                        <div class="value">
                            <span jwcid="@Select" name="RSRV_STR3"
                                  source="ognl:@com.ailk.biz.util.StaticUtil@getList(getVisit(),'TD_S_PASSPORTTYPE','PSPT_TYPE_CODE','PSPT_TYPE','EPARCHY_CODE','0894')"
                                  textField="PSPT_TYPE" valueField="PSPT_TYPE_CODE"
                                  value="ognl:custInfo.RSRV_STR3"
                                  disabled="false" desc="责任人证件类型"></span>
                        </div>
                    </li>
                    <li class="link" id="span_RSRV_STR4">
                        <div class="label">责任人证件号码</div>
                        <div class="value">
                            <div class="e_mix">
                                <input jwcid="@TextField" name="RSRV_STR4"
                                       value="ognl:custInfo.RSRV_STR4"
                                       maxsize="20" maxLength="20"
                                       disabled="false" desc="责任人证件号码"/>
                                <span id="SCAN_PSPT4" class="e_ico-scan"></span>
                            </div>
                        </div>
                    </li>
                    <li class="link" id="span_RSRV_STR5">
                        <div class="label">责任人证件地址</div>
                        <div class="value">
                            <input jwcid="@TextField" name="RSRV_STR5"
                                   value="ognl:custInfo.RSRV_STR5"
                                   maxLength="128" maxsize="128"
                                   desc="责任人证件地址"/>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 责任人信息 结束 -->
        <!-- 其他信息标题 开始 -->
        <div id="OtherInfoPart">
		<div class="c_title">
			<div class="text">其他信息</div>
			<div class="fn">
                <ul>
                    <li class="link" id="SPECIAL_INFO" style="display:none;">
                        <input type="checkbox" id="SPECIAL_CHANGE_CUST" name="SPECIAL_CHANGE_CUST"/> 单方特殊过户
                    </li>
                    <li id="SHOW_MORE_INFO" tip="担保信息等其他信息">
                        <span class="e_ico-next e_hide-phone"></span><span>更多选项</span>
                    </li>
                </ul>
			</div>
		</div>
        <!-- 其他信息标题 结束 -->
		<!-- 其他信息区域 开始 -->
        <div class="c_list c_list-s c_list-col-3 c_list-border c_list-line c_list-phone-col-1">
            <ul>
                <li class="link" id="span_USER_TYPE_CODE" jwcid="@Conditional"
                    condition='ognl:"false".equals(hideUserTypeCode)'
                    element="li">
                    <div class="label">用户类型</div>
                    <div class="value">
                        <span jwcid="@Select" name="USER_TYPE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getList(getVisit(),'TD_B_USERTYPE','USER_TYPE_CODE','USER_TYPE','EPARCHY_CODE','0898')"
                              textField="USER_TYPE" valueField="USER_TYPE_CODE"
                              onchange="checkUserTypePriv()"
                              addDefault="false" desc="用户类型"></span>
                    </div>
                </li>
                <li class="link" id="span_PHONE">
                    <div class="label">联系电话</div>
                    <div class="value">
                        <input jwcid="@TextField" name="PHONE"
                               value="ognl:custInfo.PHONE" datatype="numeric"
                               desc="联系电话"/>
                    </div>
                </li>
				<li class="link" id="span_CALLING_TYPE_CODE"
                    jwcid="@Conditional" element="li"
                    condition='ognl:"IOT_OPEN".equals(openType)'>
					<div class="label">应用行业</div>
					<div class="value">
						<span jwcid="@Select" name="CALLING_TYPE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('WLW_APPLY_INDUSTRY')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              addDefault="false" desc="应用行业"></span>
					</div>
				</li>
                <li class="link" jwcid="@Conditional" element="li"
                    id='ognl:"true".equals(showEmailAddress) ? "span_POST_EMAIL" : "span_EMAIL"'
                    condition='ognl:"false".equals(hideEmail)'>
                    <div class="label">需要邮寄</div>
                    <div class="value">
                        <input jwcid="@TextField" title="按月邮寄" disabled="true"
                               name='ognl:"true".equals(showEmailAddress) ? "POST_EMAIL" : "EMAIL"'/>
                        <input jwcid="@Hidden" name="POST_CYC" value="0"
                               desc="邮寄周期"/>
                        <input jwcid="@Hidden" name="EMAILTYPE_CONTENT"
                               value="0" desc="账单"/>
                    </div>
                    <label class="fn">
                        <input id="postCheckbox" name="POST_TAG" value="0"
                               type="checkbox"/></label>
                </li>
            </ul>
        </div>
	    <!-- 其他信息区域 结束 -->
	    </div>
	</div>
</div>
<!-- 区域 结束 -->
<script>
    $(function () {
        $.custInfo.init();
    });
</script>