<input jwcid="@Hidden" name="CUSTINFO_MORE_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="CUSTINFO_MORE_POPUP_ID" value="ognl:popupId"/>
<div class="c_header">
    <div class="back" ontap="hidePopup(this)">更多选项</div>
</div>
<div id="CustInfoMorePart" class="c_scroll c_scroll-float c_scroll-header">
    <div class="l_padding">
        <!-- 担保人信息 -->
        <div jwcid="@Conditional" element="div"
             condition='ognl:"true".equals(showAssureInfo)'
             class="c_list c_list-s c_list-line c_list-border">
            <ul>
                <li class="link" id="span_ASSURE_TYPE_CODE">
                    <div class="label">担保类型</div>
                    <div class="value">
						<span jwcid="@Select" name="ASSURE_TYPE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_ASSURETYPE')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:assureInfo.ASSURE_TYPE_CODE"
                              desc="担保类型"></span>
                    </div>
                </li>
                <li class="link" id="span_ASSURE_DATE">
                    <div class="label">担保期限</div>
                    <div class="value">
						<input jwcid="@DateField" name="ASSURE_DATE"
                               value="ognl:assureInfo.ASSURE_DATE"
                               dropDown="true" format="yyyy-MM-dd HH:mm:ss"
                               desc="担保期限"/>
				    </div>
                </li>
                <li class="link" id="span_ASSURE_PSPT_TYPE_CODE">
                    <div class="label">担保人证件类型</div>
                    <div class="value">
						<span jwcid="@Select" name="ASSURE_PSPT_TYPE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_PASSPORTTYPE2')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:assureInfo.ASSURE_PSPT_TYPE_CODE"
                              desc="担保人证件类型"></span>
					</div>
                </li>
                <li class="link" id="span_ASSURE_PSPT_ID">
                    <div class="label">担保人证件号码</div>
                    <div class="value">
						<input jwcid="@TextField" name="ASSURE_PSPT_ID"
                               value="ognl:assureInfo.ASSURE_PSPT_ID"
                               desc="担保人证件号码"/>
					</div>
                </li>
                <li class="link" id="span_ASSURE_NAME">
                    <div class="label">担保人姓名</div>
                    <div class="value">
						<input jwcid="@TextField" name="ASSURE_NAME"
                               value="ognl:assureInfo.ASSURE_NAME"
                               desc="担保人姓名"/>
					</div>
                </li>
                <li class="link" id="span_ASSURE_PHONE">
                    <div class="label">担保人联系号码</div>
                    <div class="value">
						<input jwcid="@TextField" name="ASSURE_PHONE"
                               value="ognl:assureInfo.ASSURE_PHONE"
                               desc="担保人联系号码"/>
					</div>
                </li>
            </ul>
        </div>
        <div class="c_space"></div>
        <!-- 联系人信息 -->
        <div class="c_list c_list-s c_list-line c_list-border">
            <ul>
                <li class="link" id="span_CONTACT">
                    <div class="label">联系人姓名</div>
                    <div class="value">
                        <input jwcid="@TextField" name="CONTACT"
                               value="ognl:custInfo.CONTACT" desc="联系人姓名"/>
                    </div>
                </li>
                <li class="link" id="span_CONTACT_PHONE">
                    <div class="label">联系人电话</div>
                    <div class="value">
                        <input jwcid="@TextField" name="CONTACT_PHONE"
                               value="ognl:custInfo.CONTACT_PHONE"
                               desc="联系人电话"/>
                    </div>
                </li>
                <li class="link" id="span_WORK_NAME">
                    <div class="label">工作单位</div>
                    <div class="value">
                        <input jwcid="@TextField" name="WORK_NAME"
                               value="ognl:custInfo.WORK_NAME" desc="工作单位"/>
                    </div>
                </li>
                <li class="link" id="span_WORK_DEPART">
                    <div class="label">工作部门</div>
                    <div class="value">
                        <input jwcid="@TextField" name="WORK_DEPART"
                               value="ognl:custInfo.WORK_DEPART"
                               desc="工作部门"/>
                    </div>
                </li>
                <li class="link" id="span_EMAIL" jwcid="@Conditional"
                    condition='ognl:"true".equals(showEmailAddress)'
                    element="li">
                    <div class="label">Email地址</div>
                    <div class="value">
                        <input jwcid="@TextField" name="EMAIL"
                               value="ognl:custInfo.EMAIL" datatype="email"
                               desc="Email地址"/>
                    </div>
                </li>
                <li class="link" id="span_FAX_NBR">
                    <div class="label">传真电话</div>
                    <div class="value">
                        <input jwcid="@TextField" name="FAX_NBR"
                               value="ognl:custInfo.FAX_NBR" desc="传真电话"/>
                    </div>
                </li>
                <li class="link" id="span_CONTACT_TYPE_CODE">
                    <div class="label">优先联系方式</div>
                    <div class="value">
                        <span jwcid="@Select" name="CONTACT_TYPE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_CONTACTTYPE')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.CONTACT_TYPE_CODE"
                              desc="优先联系方式"></span>
                    </div>
                </li>
                <li class="link" id="span_HOME_ADDRESS">
                    <div class="label">家庭地址</div>
                    <div class="value">
                        <input jwcid="@TextField" name="HOME_ADDRESS"
                               value="ognl:custInfo.HOME_ADDRESS"
                               desc="家庭地址"/>
                    </div>
                </li>
                <li class="link" id="span_POST_CODE">
                    <div class="label">通信邮编</div>
                    <div class="value">
						<input jwcid="@TextField" name="POST_CODE"
                               value="ognl:custInfo.POST_CODE"
                               datatype="numeric" maxsize="6" maxLength="6"
                               desc="通信邮编"/>
					</div>
                </li>
                <li class="link" id="span_CONTACT_ADDRESS">
                    <div class="label">通信地址</div>
                    <div class="value">
						<input jwcid="@TextField" name="CONTACT_ADDRESS"
                               value="ognl:custInfo.CONTACT_ADDRESS"
                               desc="通信地址"/>
					</div>
                </li>
            </ul>
        </div>
        <div class="c_space"></div>
        <div class="c_list c_list-s c_list-line c_list-border">
            <ul>
                <li class="link" id="span_JOB_TYPE_CODE">
                    <div class="label">职业类型</div>
                    <div class="value">
                        <span jwcid="@Select" name="JOB_TYPE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_JOBTYPE')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.JOB_TYPE_CODE"
                              desc="职业类型"></span>
                    </div>
                </li>
                <li class="link" id="span_MARRIAGE">
                    <div class="label">婚姻状况</div>
                    <div class="value">
                        <span jwcid="@Select" name="MARRIAGE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('SALECHANCECONTACT_MARRIAGE')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.MARRIAGE"
                              desc="婚姻状况"></span>
                    </div>
                </li>
                <li class="link" id="span_EDUCATE_DEGREE_CODE">
                    <div class="label">教育程度</div>
                    <div class="value">
                        <span jwcid="@Select" name="EDUCATE_DEGREE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('CUSTPERSON_EDUCATEDEGREECODE')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.EDUCATE_DEGREE_CODE"
                              desc="教育程度"></span>
                    </div>
                </li>
                <li class="link" id="span_NATIONALITY_CODE">
                    <div class="label">国籍</div>
                    <div class="value">
                        <span jwcid="@Select" name="NATIONALITY_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_NATIONALITY')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.NATIONALITY_CODE"
                              desc="国籍"></span>
                    </div>
                </li>
                <li class="link" id="span_RELIGION_CODE">
                    <div class="label">信仰</div>
                    <div class="value">
                        <span jwcid="@Select" name="RELIGION_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_RELIGION')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.RELIGION_CODE"
                              desc="信仰"></span>
                    </div>
                </li>
                <li class="link" id="span_LANGUAGE_CODE">
                    <div class="label">语言</div>
                    <div class="value">
                        <span jwcid="@Select" name="LANGUAGE_CODE"
                              source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_LANGUAGE')"
                              textField="DATA_NAME" valueField="DATA_ID"
                              value="ognl:custInfo.LANGUAGE_CODE"
                              desc="语言"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="c_space"></div>
        <!-- 提交 开始 -->
        <div class="c_submit c_submit-full">
            <button type="button" class="e_button-r e_button-l e_button-blue"
                    ontap="hidePopup(this)">确定</button>
        </div>
        <!-- 提交 结束 -->
    </div>
</div>