<?xml version="1.0" encoding="utf-8"?>
<module> 
	<!--mms-->
  <mmsfile default="ftp">
   <ftp
     iboss_server = "10.200.174.6"
   iboss_user = "upload"
   iboss_password = "29Jan56%^"
   iboss_updir = "/home/webapp/deploy/dest_trash/ljcx"
   iboss_downdir = "/home/webapp/deploy/dest_trash/ljcx"
   dest_server = "10.200.174.6"
   dest_user = "upload"
   dest_password = "29Jan56%^"
   dest_sourcepath = "/home/webapp/deploy/dest_trash/ljcxps"
   />
 </mmsfile>
  
  <pushinfo>
		<baseinfo
			name="baseinfo"
			addr="\saleserv\saleserv?service=page/person.speservice.CommNewSvcRecomdInfo&#38;listener=onInitTrade"
			/> 
	</pushinfo>
</module>