<div class="c_scroll" style="height:243px;">
	<div id="SALEACTIVE_LIST_DETAIL">
	    <input type="text" jwcid="@TextField" id="SALEACTIVE_IMEI" name="SALEACTIVE_IMEI" value="ognl:info.IMEI" style="display:none" disabled="true"/>
	    <input type="text" jwcid="@TextField" id="DEVICE_MODEL_CODE" name="DEVICE_MODEL_CODE" value="ognl:info.DEVICE_MODEL_CODE" style="display:none" disabled="true"/>
	    <!--  
	    <input type="text" jwcid="@Any" id="TERMINAL_DETAIL_INFO" name="TERMINAL_DETAIL_INFO" value="ognl:info.TERMINAL_DETAIL_INFO" style="display:none" disabled="true"/>
		-->
		<div jwcid="saleActiveListHiddenPart@Part" style="display:none;"></div>
		<div class="c_list c_list-table c_list-col-3 e_noborder">
			<ul id="SaleActiveListTable_Body">
				<li jwcid="@Foreach" source="ognl:saleActives" value="ognl:saleActive" index="ognl:rowIndex" element="li" title="ognl:saleActive.PACKAGE_NAME">
					<a href="#nogo" id="ognl:saleActive.PRODUCT_ID+'_'+saleActive.PACKAGE_ID" jwcid="@Any" packageId="ognl:saleActive.PACKAGE_ID" productId="ognl:saleActive.PRODUCT_ID" campnType="ognl:saleActive.CAMPN_TYPE" class="text" onclick="saleactiveList.checkByPkgId(this);">
					    <span jwcid="@Any" class="ognl:1==saleActive.ERROR_FLAG ? 'e_gray e_del' : 'e_blue'"><span jwcid="@Insert" value="ognl:saleActive.PACKAGE_NAME"></span></span>
					    <input jwcid="@TextField" name="SALEACTIVE_ERROR_FLAG" id="SALEACTIVE_ERROR_FLAG" value="ognl:saleActive.ERROR_FLAG "  style="display:none"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<input jwcid="@TextField" name="SALEACTIVELIST_USER_ID" id="SALEACTIVELIST_USER_ID" value="ognl:saleActiveListUserId"  style="display:none"/>
<input jwcid="@TextField" name="SALEACTIVELIST_CUST_ID" id="SALEACTIVELIST_CUST_ID" value="ognl:saleActiveListCustId"  style="display:none"/>

<input jwcid="@TextField" name="SALEACTIVELIST_COMPONENT_ID" id="SALEACTIVELIST_COMPONENT_ID" value="ognl:id"  style="display:none"/>
<input jwcid="@TextField" name="SALEACTIVELIST_EPARCHY_CODE_COMPID" id="SALEACTIVELIST_EPARCHY_CODE_COMPID" value="ognl:eparchyCodeCompId" style="display:none"/>