<div class="c_title">
	<div class="text" >已订购用户信息列表：</div>
</div>

<!-- 表格 开始 -->
<div class="c_scroll" jwcid="@Any" style="ognl:'height:'+heightVal"><div class="c_table" >
	<table>
		<thead>
			<tr>
				<div jwcid="@Conditional" condition="ognl:ifCheck!='false'">	    
				<th>选择</th>
				</div>
				<th id="col_GROUP_SN">集团用户标识</th>
				<th id="col_GROUP_PRODUCT">集团产品编码</th>
				<th id="col_OPEN_DATE">开户时间</th>
			</tr>
		</thead>
		<tbody id="grpuserlist_tbody">
			<tr jwcid="@Foreach" source="ognl:useInfos" value="ognl:userInfo" element="tr" index="ognl:rowIndex" class="ognl:rowIndex % 2 == 0 ? '' : 'odd'">
				<div jwcid="@Conditional" condition="ognl:ifCheck!='false'">	    
					<td class="e_center"><input id="usercheck" name="usercheck" jwcid="@Radio" value="ognl:userInfo.PRODUCT_ID"  checked="ognl:userInfo.CHECKED=='true'?true:false" sn="ognl:userInfo.SERIAL_NUMBER" eparchycode="ognl:userInfo.EPARCHY_CODE" userida="ognl:userInfo.USER_ID" onclick="ognl:clickAction"/></td>
				</div>
				<td><span jwcid="@Insert" value="ognl:userInfo.USER_ID"　raw="false"/></td>
				<td><span jwcid="@Insert" value="ognl:userInfo.SERIAL_NUMBER"　raw="false"/></td>
				<td><span jwcid="@Insert" value="ognl:userInfo.OPEN_DATE" raw="false"/></td>
			</tr>
		</tbody>
	</table>
</div></div>
<!-- 表格 开始 -->
<input type="hidden" jwcid="@Any" id="GRPUSERLIST_CLICK_ACTION" name="GRPUSERLIST_CLICK_ACTION" value="ognl:clickAction"  />
<input type="hidden" jwcid="@Any" id="GRPUSERLIST_IF_HAS_CHECK" name="GRPUSERLIST_IF_HAS_CHECK" value="ognl:ifCheck"  />
<div jwcid="@Conditional" condition="ognl:ifCheck!='false'">	
	<input type="hidden" jwcid="@Any" id="GRP_SN" name="GRP_SN" value="ognl:selUserInfo.SERIAL_NUMBER"  />
	<input type="hidden" jwcid="@Any" id="GRP_USER_ID" name="GRP_USER_ID" value="ognl:selUserInfo.USER_ID"  />
	<input type="hidden" jwcid="@Any" id="GRP_PRODUCT_ID" name="GRP_PRODUCT_ID" value="ognl:selUserInfo.PRODUCT_ID"  />
	<input type="hidden" jwcid="@Any" id="GRP_USER_EPARCHYCODE" name="GRP_USER_EPARCHYCODE" value="ognl:selUserInfo.EPARCHY_CODE"  />
	<input type="hidden" jwcid="@Any" id="GRP_PRODUCT_NAME" name="GRP_PRODUCT_NAME" style="display:none"  value="ognl:selUserInfo.PRODUCT_NAME"/>
</div>
