<div class="c_header">
	<div class="back" id="back2Product" onclick="hidePopup(this)">产品</div>
	<div class="fn" jwcid="prodCond@Part">
		<span class="e_mix e_mix-search" style="width:15em;">
			<input jwcid="@TextField"  id="PRODUCT_SEARCH_TEXT" name="PRODUCT_SEARCH_TEXT" onkeyup="ProductSelect.search();" value="" class="" />
			<button type="button" class="e_button-blue" onclick="ProductSelect.search();"><span class="e_ico-search"></span></button>
		</span>
	</div>
</div>

<div class="c_scroll c_scroll-white c_scroll-float c_scroll-header" id="productTreePanel">
	<div class="c_filter e_hide-x l_padding">
		<ul id="SELECTOR_UL">
			
		</ul>
	</div>
	
	<!--  标签结果区域 start -->
	<!--<div class="c_box c_box-gray l_padding">-->
		<!--<div class="l_col l_col-phone-merge">-->
			<!--<div class="l_colItem">-->
				<!--<div id="tags">-->
					<!--<div class="c_list c_list-auto c_list-space" jwcid="RESULT_DIV@Part">-->
						<!--<ul id="RESULT_UL">-->
							<!---->
						<!--</ul>-->
					<!--</div>-->
					<!--<div class="c_space e_show-phone"></div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--  标签结果区域 end -->
	<div class="c_line"></div>
	
	<div class="c_list c_list-line"  id="productUlDiv">
		<ul id="productUl">
			
		</ul>
	</div>
	
	<div class="c_line"></div>
	
	<div id="productNull" class="c_msg c_msg-warn" style="display:none">
		<div class="wrapper">
			<div class="emote"></div>
			<div class="info">
				<div class="text">
					<div class="title">没有查到数据</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="productLoading" class="c_msg c_msg-s c_msg-full c_msg-loading" style="display:none;top:4em">
	<div class="wrapper">
		<div class="emote"></div>
		<div class="info">
			<div class="text">
				<div id="subsysLoading_title" class="title">加载中</div>
				<div id="subsysLoading_content" class="content">loading</div>
			</div>
		</div>
	</div>
</div>
<input jwcid="@Hidden" name="monitor" id="monitor" value="ognl:monitor"/>
<input jwcid="@Hidden" name="AFTER_ACTION" id="AFTER_ACTION" value="ognl:afterAction"/>
<input jwcid="@Hidden" name="PRODUCTSELECT_COMPONENT_ID" id="PRODUCTSELECT_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="PRODUCT_SELECT_POPUP_ID" id="PRODUCT_SELECT_POPUP_ID" value="ognl:popupId"/>
<input jwcid="@Hidden" name="SEARCH_LISTENER" id="SEARCH_LISTENER" value="ognl:searchListener"/>
<!-- 
<div id="productTreePanel" class="c_popup" style="display:none">
	<div class="c_popupWrapper">
		<div class="c_popupHeight"></div>
		<div class="c_popupBox">
			<div class="c_popupTitle">
				<div class="text">产品选择</div>
				<div class="fn"><a href="#nogo" class="close" onclick="$('#productTreePanel').css('display','none');"></a></div>
			</div>
			<div class="c_popupContent"><div class="c_popupContentWrapper">
	            <div class="c_scroll" style="height:300px">
						<div class="c_filter">
							<ul id="productTagArea">
								
							</ul>
						</div>
						<div jwcid="@Any" class="c_list c_list-table c_list-col-2" >
							<ul id="productArea">
								
							</ul>
						</div>
                    <input jwcid="@Hidden" name="monitor" id="monitor" value="ognl:monitor"/>
                    <input jwcid="@Hidden" name="AFTER_ACTION" id="AFTER_ACTION" value="ognl:afterAction"/>
				</div>
            	<div class="c_submit">
            		<input jwcid="@Hidden" name="PRODUCTSELECT_COMPONENT_ID" id="PRODUCTSELECT_COMPONENT_ID" value="ognl:id"/>
					<a href="#nogo" class="e_button e_button-page-ok" onclick="ProductSelect.confirmAction()"><i></i><span>确定</span></a>
				</div>
            
            </div></div>
			<div class="c_popupBottom"><div></div></div>
			<div class="c_popupShadow"></div>
		</div>
	</div>
	<iframe class="c_popupFrame"></iframe>
	<div class="c_popupCover"></div>
</div>
 -->