<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@Head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script jwcid="@Script" src="scripts/offer/offerdetail.js"></script>
<title>商品详情</title>
</head>
<body jwcid="@Body" >
<div class="c_box">
	<div class="c_article">
		<div class="title"><span jwcid="@Insert" value="ognl:offer.OFFER_NAME"/></div>
		<div class="info"><span jwcid="@Insert" value="ognl:offer.OFFER_PRICE_REL_LIST[0].FEE"/>元</div>
		<div class="content">
			　　商品描述：<span jwcid="@Insert" value="ognl:offer.DESCRIPTION"/>
		</div>
	</div>
	<!-- 段落 结束 -->
	<!-- 表单 开始 -->
	<div class="c_form c_form-label-4 c_form-col-1">
		<ul class="ul">
			<div jwcid="@Conditional" condition="ognl:offer.OFFER_COM_REL_LIST != null && offer.OFFER_COM_REL_LIST.size() > 0">
			<li class="li">
				<span class="label">商品组成：</span>
				<!-- 功能 开始 -->
				<div class="c_fn">
					<ul>
						<li
							jwcid="@Foreach" 
							source="ognl:offer.OFFER_COM_REL_LIST" 
							value="ognl:comOffer"
							element="li"
			                title="ognl:comOffer.OFFER_NAME">
							<label>
								<input type="checkbox" checked="" disabled="" />
								<span jwcid="@Insert" value="ognl:comOffer.OFFER_NAME"/>
							</label>
						</li>
					</ul>
				</div>
				<!-- 功能 结束 -->
			</li>
			</div>
			<div jwcid="@Conditional" condition="ognl:offer.OFFER_GROUP_REL_LIST != null && offer.OFFER_GROUP_REL_LIST.size() > 0">
			<li
				jwcid="@Foreach" 
				source="ognl:offer.OFFER_GROUP_REL_LIST" 
				value="ognl:group"
				element="li"
                title="ognl:group.GROUP_NAME">
				<span class="label"><span jwcid="@Insert" value="ognl:group.GROUP_NAME"/>：</span>
				<!-- 功能 开始 -->
				<div class="c_fn">
					<ul>
						<li
							jwcid="@Foreach" 
							source="ognl:group.GROUP_COM_REL_LIST" 
							value="ognl:groupOffer"
							element="li"
			                title="ognl:groupOffer.OFFER_NAME">
							<label>
								<input type="checkbox" checked="" disabled="" />
								<span jwcid="@Insert" value="ognl:groupOffer.OFFER_NAME"/>
							</label>
						</li>
					</ul>
				</div>
				<!-- 功能 结束 -->
			</li>
			</div>
			<li class="li">
				<span class="label">价格：</span>
				<!-- 功能 开始 -->
				<div class="c_fn">
					<ul>
						<li>
							<label>
								<input type="radio" name="a1"  checked/>
								<span jwcid="@Insert" value="ognl:offer.OFFER_PRICE_REL_LIST[0].FEE"/>元
							</label>
						</li>
					</ul>
				</div>
				<!-- 功能 结束 -->
			</li>
			<div jwcid="@Conditional" condition="ognl:offer.OFFER_CHA_REL_LIST != null && offer.OFFER_CHA_REL_LIST.size() > 0">
			<li class="li">
				<span class="label">呼转号码：</span>
				<span class="e_input"><span><input type="text" /></span></span>
			</li>
			</div>
		</ul>
	</div>
	<!-- 表单 结束 -->
	<!-- 提交 开始 -->
	<div class="c_submit">
		<button class="e_button-page-ok"><i></i><span>确定</span></button>
		<button class="e_button-page-cancel"><i></i><span>取消</span></button>
	</div>
</div>
</body>
</html>