* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: 0 none;
}

html,body {
	width: 100%;
	height: 100%;
}

html {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 101px;
	padding-bottom: 37px;
	overflow: hidden;
	background: #fff;
}

body {
	font-size: 12px;
	overflow: visible;
}

table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
	outline: 0 none;
}

a img {
	border: 0 none;
}

input {
	font-size: 12px;
}

.m_header {
	height: 46px;
	background: url(../img/s.png) repeat-x;
	margin-top: -101px;
	position: relative;
	z-index: 7;
}

.m_header .logo {
	float: left;
	width: 400px;
	height: 46px;
	background: url(../img/logo.png) no-repeat;
}

.m_header .fn {
	float: right;
	margin-right: 10px;
	display: inline;
}

.m_header .fn .user {
	float: left;
	padding-right: 16px;
	background: url(../img/s.png) no-repeat right -526px;
	line-height: 17px;
	height: 22px;
	margin-top: 14px;
	cursor: pointer;
	position: relative;
}

.m_header .fn .user .option {
	top: 20px;
}

.m_header .fn .user .name {
	color: #fff;
}

.m_header .fn .user .role {
	color: #a3c7e7;
}

.m_header .fn .more .spot,.m_header .fn .msg,.m_header .fn .lock,.m_header .fn .exit
	{
	float: left;
	height: 22px;
	line-height: 17px;
	margin-left: 10px;
	padding-left: 20px;
	margin-top: 14px;
	color: #fff;
}

.m_header .fn .msg {
	background: url(../img/s.png) no-repeat -484px -174px;
}

.m_header .fn .lock {
	background: url(../img/s.png) no-repeat -484px -196px;
}

.m_header .fn .exit {
	background: url(../img/s.png) no-repeat -484px -218px;
}

.m_header .fn .msg span {
	font-family: tahoma;
	color: #fe0;
}

.m_header .fn .more {
	position: relative;
}

.m_header .fn .more .spot {
	background: url(../img/s.png) no-repeat -484px -240px;
}

.m_header .fn .more .spot:hover,.m_header .fn .msg:hover,.m_header .fn .lock:hover,.m_header .fn .exit:hover
	{
	color: #fe0;
}

.m_header .fn .more {
	float: left;
}

.m_header .subnav {
	float: left;
	margin-left: 10px;
	font-family: verdana;
	position: relative;
}

.m_header .subnav .spot {
	display: block;
	color: #fff;
	width: 82px;
	padding-left: 10px;
	height: 27px;
	margin-top: 9px;
	line-height: 27px;
	background: url(../img/s.png) no-repeat -95px -176px;
}

.m_header .option {
	position: absolute;
	right: 0;
	top: 34px;
	width: 95px;
}

.m_header .option .top {
	height: 5px;
	overflow: hidden;
	background: url(../img/s.png) no-repeat 0 -176px;
}

.m_header .option .list {
	border-left: 1px solid #397ab5;
	border-right: 1px solid #397ab5;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#60a4e0),
		to(#3780c3));
	background: -moz-linear-gradient(top, #60a4e0, #3780c3);
	background: none\9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff60a4e0,
		endColorstr=#ff3780c3) \9;
	zoom: 1;
	padding: 0 4px;
}

.m_header .option .list a {
	display: block;
	color: #fff;
	line-height: 22px;
	height: 22px;
	padding: 0 6px;
	background: url(../img/s.png) no-repeat -1000px -1000px;
}

.m_header .option .list .on {
	background-position: 0 -208px;
	color: #ff0;
}

.m_header .option .list a:hover {
	background-position: 0 -186px;
	position: relative;
}

.m_header .option .bottom {
	height: 5px;
	overflow: hidden;
	background: url(../img/s.png) no-repeat 0 -181px;
}

.m_nav {
	height: 28px;
	background: url(../img/s.png) repeat-x 0 -46px;
	position: relative;
	z-index: 6;
}

.m_nav .nav {
	float: left;
	line-height: 27px;
}

.m_nav .nav .on {
	background: url(../img/s.png) no-repeat 0 -263px;
	color: #75c700;
}

.m_nav .nav a {
	float: left;
	padding: 0 6px;
	color: #000;
	height: 27px;
}

.m_nav .nav a:hover {
	color: #f60;
}

.m_nav .favo {
	float: right;
	position: relative;
}

.m_nav .favo .spot {
	display: inline-block;
	width: 54px;
	height: 16px;
	line-height: 16px;
	margin-top: 5px;
	background: url(../img/s.png) no-repeat -299px -155px;
	color: #000;
	padding-left: 20px;
}

.m_nav .favo .spot:hover {
	color: #f60;
}

.m_nav .favo .subnav {
	right: 0;
	left: auto;
}

.m_nav .search {
	float: right;
	padding: 0 20px 0 10px;
	background: url(../img/s.png) no-repeat -373px -155px;
	margin-top: 4px;
	margin-right: 10px;
	display: inline;
	position: relative;
}

.m_nav .search .subnav {
	top: 23px;
	left: auto;
	right: 0;
}

.m_nav .search input {
	border: 0 none;
	background: transparent;
	width: 97px;
	color: #aaa;
	height: 19px;
	line-height: 19px;
	font-family: verdana;
}

.m_nav .search .inputFocus {
	color: #000;
}

.m_nav .subnav {
	clear: both;
	position: absolute;
	left: 0;
	top: 27px;
	line-height: 20px;
	font-family: simsun;
	width: 178px;
	overflow: hidden;
}

.m_nav .subnav-col-2 {
	width: 340px;
}

.m_nav .subnav-col-3 {
	width: 502px;
}

.m_nav .subnav-col-4 {
	width: 664px;
}

.m_nav .subnav-col-5 {
	width: 826px;
}

.m_nav .subnav-col-6 {
	width: 988px;
}

.m_nav .subnav-col-7 {
	width: 1150px;
}

.m_nav .subnav-col-8 {
	width: 1312px;
}

.m_nav .subnav-col-9 {
	width: 1474px;
}

.m_nav .subnav-col-10 {
	width: 1636px;
}

.m_nav .subnav-col-11 {
	width: 1798px;
}

.m_nav .subnav-col-12 {
	width: 1960px;
}

.m_nav .subnav-col-13 {
	width: 2122px;
}

.m_nav .subnav-col-14 {
	width: 2284px;
}

.m_nav .subnav-col-15 {
	width: 2446px;
}

.m_nav .subnav-col-16 {
	width: 2608px;
}

.m_nav .subnav-col-17 {
	width: 2770px;
}

.m_nav .subnav-col-18 {
	width: 2932px;
}

.m_nav .subnav-col-19 {
	width: 3094px;
}

.m_nav .subnav-col-20 {
	width: 3256px;
}

.m_nav .subnav-col-21 {
	width: 3418px;
}

.m_nav .subnav-col-22 {
	width: 3580px;
}

.m_nav .subnav-col-23 {
	width: 3742px;
}

.m_nav .subnav-col-24 {
	width: 3904px;
}

.m_nav .subnav-col-25 {
	width: 4066px;
}

.m_nav .subnav-col-26 {
	width: 4228px;
}

.m_nav .subnav-col-27 {
	width: 4390px;
}

.m_nav .subnav-col-28 {
	width: 4552px;
}

.m_nav .subnav-col-29 {
	width: 4714px;
}

.m_nav .subnav-col-30 {
	width: 4876px;
}

.m_nav .subnav .list {
	border: 1px solid;
	border-color: #edf1f6 #a4b9d4 #4a73aa #a4b9d4;
	background: #fff;
	overflow: hidden;
	zoom: 1;
	padding: 0 10px 0 4px;
}

.m_nav .subnav .list .col {
	width: 162px;
	float: left;
	vertical-align: top;
	padding: 8px 0;
}

.m_nav .subnav .list .type,.m_nav .subnav .list a {
	display: block;
	width: 13em;
	padding-left: 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	height: 22px;
	font-size: 12px;
	color: #666;
	line-height: 22px;
}

.m_nav .subnav .list .space {
	display: block;
	height: 22px;
}

.m_nav .subnav .list .type {
	color: #f60;
	color: #539bdb;
	font-weight: bold;
}

.m_nav .subnav .list .on,.m_nav .subnav .list a:hover {
	color: #fff;
	background: #75c700;
}

.m_nav .subnav .list .first {
	margin-top: 0;
}

.m_nav .subnav .list em {
	color: #f60;
	font-style: normal;
}

.m_nav .subnav .list .on em,.m_nav .subnav .list a:hover em {
	color: #ff0;
}

.m_nav .subnav .shadow {
	height: 3px;
	overflow: hidden;
	background: #000;
	opacity: 0.2;
	filter: alpha(opacity = 20);
	clear: both;
	margin: 0 3px;
}

.m_nav .subnav .scroll {
	overflow-y: auto;
	height: 236px;
	overflow-x: hidden;
	width: 172px;
	_margin-right: -10px;
}

.m_nav .subnav .scroll .list {
	padding-right: 0;
}

.m_usual {
	background: #a9cded;
	height: 22px;
	border-bottom: 1px solid #4b72ad;
	border-right: 1px solid #4b72ad;
	padding: 2px 1px 2px 1px;
	overflow: hidden;
	width: 198px;
	float: left;
	_margin-right: -3px;
	position: relative;
}

.m_usual a {
	width: 20px;
	height: 20px;
	border: 1px solid #a9cded;
	float: left;
	background: url(../img/s.png) no-repeat;
	overflow: hidden;
}

.m_usual a:hover {
	background-color: #cbe1f4;
	border: 1px solid #81afd7;
}

.m_usual .query {
	background-position: -294px -306px;
}

.m_usual .reckoning {
	background-position: -314px -306px;
}

.m_usual .change {
	background-position: -334px -306px;
}

.m_usual .flatBiz {
	background-position: -354px -306px;
}

.m_usual .pwdApp {
	background-position: -374px -306px;
}

.m_usual .close {
	background-position: -394px -306px;
}

.m_usual .open {
	background-position: -414px -306px;
}

.m_usual .readyFollow {
	background-position: -434px -306px;
}

.m_usual .callCenter {
	background-position: -454px -306px;
}

.m_custLogin {
	background: #a9cded;
	height: 21px;
	border-bottom: 1px solid #4b72ad;
	border-right: 1px solid #4b72ad;
	padding: 3px 4px 2px 4px;
	width: 192px;
	float: left;
	_margin-right: -3px;
	position: relative;
}

.m_custLogin .input {
	float: left;
	width: 143px;
	height: 21px;
	padding: 0 5px 0 10px;
	background: url(../img/s.png) no-repeat 0 -155px;
}

.m_custLogin .input input {
	float: left;
	width: 143px;
	height: 21px;
	line-height: 21px;
	border: 0 none;
	background: transparent;
	font-size: 12px;
	font-family: verdana;
	color: #aaa;
}

.m_custLogin .inputFocus {
	color: #000;
}

.m_custLogin button {
	float: left;
	width: 34px;
	height: 21px;
	background: url(../img/s.png) no-repeat -158px -155px;
	border: 0 none;
	cursor: pointer;
}

.m_custLogin button:hover {
	background-position: -192px -155px;
}

.m_task {
	background: #a9cded;
	height: 26px;
	border-bottom: 1px solid #4b72ad;
	overflow: hidden;
	zoom: 1;
	position: relative;
}

.m_task .fn {
	float: right;
	margin-left: -1px;
	_margin-left: -4px;
}

.m_task .fn li {
	float: left;
	width: 28px;
	height: 26px;
	margin-right: -1px;
	display: inline;
	cursor: pointer;
}

.m_task .fn .favo {
	background: url(../img/s.png) no-repeat -27px -231px;
}

.m_task .fn .favo:hover {
	background-position: -108px -231px;
}

.m_task .fn .screen {
	background: url(../img/s.png) no-repeat 0 -231px;
}

.m_task .fn .screen:hover {
	background-position: -81px -231px;
}

.m_task .fn .closeAll {
	background: url(../img/s.png) no-repeat -54px -231px;
}

.m_task .fn .closeAll:hover {
	background-position: -135px -231px;
}

.m_task .fn i {
	display: none;
}

.m_task .task {
	overflow: hidden;
	zoom: 1;
	position: relative;
}

.m_task .task table {
	border-collapse: collapse;
}

.m_task .task td {
	width: 140px;
	line-height: 26px;
	padding-left: 8px;
	color: #fff;
	background: url(../img/s.png) repeat-x 0 -128px;
	cursor: pointer;
	border-right: 1px solid #4b72ad;
}

.m_task .task td.hover,.m_task .task td:hover {
	background-position: 0 -101px;
}

.m_task .task .text {
	display: block;
	width: 10em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.m_task .task td.on,.m_task .task td.on:hover {
	background-position: 0 -74px;
	cursor: default;
	font-weight: bold;
}

.m_task .task .close {
	float: right;
	margin-top: -21px;
	margin-right: 3px;
	width: 15px;
	height: 15px;
	background: url(../img/s.png) no-repeat -241px -155px;
	cursor: default;
	display: none;
}

.m_task .task .close:hover {
	background-position: -226px -155px;
}

.m_task .task .on .close {
	background-position: -271px -155px;
}

.m_task .task .on .close:hover {
	background-position: -256px -155px;
}

.m_task .task td.hover .close,.m_task .task td:hover .close {
	display: inline;
}

.m_task .task-full table {
	width: 100%;
	table-layout: fixed;
	min-width: 200px;
}

.m_task .task-full td {
	width: auto;
	padding-right: 16px;
}

.m_task .task-full .close {
	margin-right: -12px;
}

.m_task .task-full .text {
	width: 100%;
}

.m_task .task .home {
	width: 30px;
	padding: 0;
	height: 26px;
	text-align: center;
}

.m_task .task .home .text {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/s.png) no-repeat -358px -217px;
	overflow: hidden;
	line-height: 5;
	vertical-align: middle;
}

.m_side {
	border-right: 1px solid #4b72ad;
	background: #539bdb;
	width: 200px;
	float: left;
	height: 100%;
	_margin-right: -3px;
	overflow: auto;
	position: relative;
	z-index: 4;
	color: #fff;
}

.m_sideFrame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.m_side .title {
	font-size: 18px;
	font-family: "microsoft yahei";
	font-weight: bold;
	display: block !important;
	line-height: 22px;
	color: #fff;
}

.m_side .title:hover {
	color: #ff0;
}

.m_side .title-fold {
	background: url(../img/s.png) no-repeat right -460px;
}

.m_side .title-fold:hover {
	background-position: right -482px;
}

.m_side .title-unfold {
	background: url(../img/s.png) no-repeat right -438px;
}

.m_side .title-fold:hover {
	background-position: right -504px;
}

.m_custInfo {
	line-height: 20px;
	padding: 10px 10px 12px 10px;
	background: url(../img/sidePart.png) repeat-x bottom;
}

.m_custInfo .base {
	overflow: hidden;
	zoom: 1;
	padding-bottom: 10px;
	border-bottom: 1px solid #87b9e6;
}

.m_custInfo .base .brand {
	float: left;
	width: 40px;
	height: 41px;
	background: url(../img/s.png) no-repeat -187px -176px;
	margin-right: 10px;
	_margin-right: 7px;
}

.m_custInfo .base .brand-mzone {
	background-position: -227px -176px;
}

.m_custInfo .base .brand-easyown {
	background-position: -267px -176px;
}

.m_custInfo .base .name {
	font-size: 18px;
	font-family: "microsoft yahei";
	font-weight: bold;
	color: #fff;
	line-height: 22px;
}

.m_custInfo .base .num {
	font-family: verdana;
	color: #fff;
	line-height: 22px;
}

.m_custInfo .product {
	color: #ddebf8;
	font-family: verdana;
	padding: 4px 0;
	border-bottom: 1px solid #87b9e6;
}

.m_custInfo .info {
	color: #ddebf8;
	margin-top: 8px;
}

.m_custInfo .info a {
	color: #ff0;
}

.m_custInfo .info a:hover {
	color: #fff;
	text-decoration: underline;
}

.m_sale {
	zoom: 1;
	padding: 10px 10px 12px 10px;
	background: url(../img/sidePart.png) repeat-x bottom;
}

.m_sale ul {
	margin-top: 10px;
}

.m_sale li {
	margin-top: 5px;
	line-height: 18px;
	padding-left: 13px;
	background: url(../img/s.png) no-repeat -493px -344px;
	zoom: 1;
}

.m_sale ul a {
	color: #fff;
}

.m_sale ul a:hover {
	color: #ff0;
}

.m_pay {
	zoom: 1;
	padding: 10px 10px 12px 10px;
	background: url(../img/sidePart.png) repeat-x bottom;
}

.m_pay .price li {
	margin-top: 8px;
	padding-left: 13px;
	background: url(../img/s.png) no-repeat -493px -344px;
	line-height: 18px;
}

.m_pay .price .sort {
	color: #fff;
}

.m_pay .price .detail {
	color: #bad7f1;
}

.m_pay .price .fact {
	margin-left: 5px;
}

.m_pay .price .fact input {
	width: 2.5em;
	border: 0 none;
	border-bottom: 1px solid #bad7f1;
	background: #6daae0;
	color: #fff;
	line-height: 18px;
	height: 18px;
	vertical-align: middle;
	padding: 0 5px;
}

.m_pay .line {
	height: 1px;
	overflow: hidden;
	background: url(../img/s.png) no-repeat 0 -291px;
	margin-top: 8px;
}

.m_pay .total {
	margin-top: 8px;
	font-size: 14px;
	font-family: "microsoft yahei";
	font-weight: bold;
}

.m_pay .pay {
	margin-top: 3px;
}

.m_pay .pay .top {
	background: url(../img/s.png) no-repeat 0 -292px;
	padding-left: 50px;
}

.m_pay .pay .top div {
	height: 14px;
	overflow: hidden;
	background: url(../img/s.png) no-repeat right -292px;
}

.m_pay .pay .content {
	background: #87b9e6;
	padding: 0 0 8px 20px;
	zoom: 1;
}

.m_pay .pay ul {
	margin-top: -5px;
	zoom: 1;
	vertical-align: middle;
}

.m_pay .pay li {
	margin-top: 5px;
	overflow: hidden;
	zoom: 1;
}

.m_pay .pay .label {
	float: left;
	line-height: 25px;
}

.m_pay .pay .value {
	float: left;
	width: 81px;
	height: 21px;
	padding: 2px 5px;
	background: url(../img/s.png) no-repeat -112px -306px;
}

.m_pay .pay .value input {
	width: 81px;
	height: 21px;
	line-height: 21px;
	float: left;
	border: 0 none;
	background: transparent;
}

.m_pay .pay .focus {
	background-position: -203px -306px;
}

.m_pay .pay .bottom {
	background: url(../img/s.png) no-repeat 0 -331px;
	position: relative;
	margin-top: -8px;
	padding-left: 10px;
}

.m_pay .pay .bottom div {
	height: 11px;
	overflow: hidden;
	background: url(../img/s.png) no-repeat right -331px;
}

.m_pay .pay .tip {
	background: #87b9e6;
	padding-top: 8px;
	overflow: hidden;
	padding: 5px 5px 8px 10px;
	border-top: 1px solid #4b8dc6;
	zoom: 1;
}

.m_pay .pay .tip .text {
	float: left;
	line-height: 23px;
	color: yellow;
}

.m_pay .pay .tip .fn {
	float: right;
}

.m_pay .pay .tip .fn a {
	display: block;
	width: 33px;
	height: 23px;
	background: url(../img/s.png) no-repeat 0 -306px;
	line-height: 23px;
	padding-left: 23px;
	color: #2a6ca6;
}

.m_pay .pay .tip .fn a:hover {
	background-position: -56px -306px;
	color: #f60;
}

.m_main {
	overflow: hidden;
	zoom: 1;
	height: 100%;
	padding-top: 37px;
	position: relative;
}

.m_mainFrame {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.m_main .loading {
	height: 100%;
	background: #fff;
	position: relative;
	position: absolute;
	top: 0;
	width: 100%;
}

.m_main .loading span {
	width: 100px;
	height: 100px;
	background: url(../img/loading.gif) no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -65px;
}

.m_mainCover {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity = 0);
}

.m_sideTab {
	float: left;
	padding: 7px 0;
	zoom: 1;
	margin-top: -37px;
	background: #539bdb;
	width: 200px;
	border-right: 1px solid #4b72ad;
}

.m_sideTab li {
	float: left;
	margin-left: 7px;
	display: inline;
}

.m_sideTab a {
	float: left;
	width: 57px;
	height: 23px;
}

.m_sideTab .cust {
	background: url(../img/s.png) no-repeat -187px -217px;
}

.m_sideTab .continue {
	background: url(../img/s.png) no-repeat -244px -217px;
}

.m_sideTab .msg {
	background: url(../img/s.png) no-repeat -301px -217px;
}

.m_sideTab .cust:hover,.m_sideTab .on .cust {
	background: url(../img/s.png) no-repeat -187px -240px;
}

.m_sideTab .continue:hover,.m_sideTab .on .continue {
	background: url(../img/s.png) no-repeat -244px -240px;
}

.m_sideTab .msg:hover,.m_sideTab .on .msg {
	background: url(../img/s.png) no-repeat -301px -240px;
}

.m_slip {
	width: 16px;
	height: 57px;
	overflow: hidden;
	background: url(../img/s.png) no-repeat 0 -340px;
	position: absolute;
	z-index: 5;
	left: 195px;
	top: 50%;
	margin-top: -29px;
	cursor: pointer;
}

.m_slip:hover {
	background-position: -12px -340px;
}

.m_slip span {
	display: inline-block;
	width: 26px;
	height: 39px;
}

.m_msg {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	overflow: hidden;
}

.m_msg .content {
	padding: 15px 0 2px;
	border: 1px solid #1d5f9c;
	background: url(../img/s.png) no-repeat #377ec1 0 -548px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.m_msg .close {
	position: absolute;
	width: 23px;
	height: 14px;
	overflow: hidden;
	background: url(../img/s.png) no-repeat -53px -340px;
	right: 2px;
	top: 0;
}

.m_msg .close:hover {
	background-position: -53px -354px;
}

.m_msg .list {
	margin: 0 2px;
	border: 1px solid #1d5f9c;
	background: #fff;
}

.m_msg .list li {
	overflow: hidden;
	zoom: 1;
	font-family: verdana;
}

.m_msg .list li a {
	display: block;
	vertical-align: middle;
	padding: 5px 8px;
	line-height: 18px;
	color: #333;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

.m_msg .list li a:hover {
	background: #f4f7fa;
	border-color: #b6d0ea;
	color: #036
}

.m_msg .list li i {
	width: 18px;
	height: 18px;
	background: url(../img/s.png) no-repeat;
	float: left;
	margin-right: 5px;
}

.m_msg .list li .text {
	display: block;
	overflow: hidden;
	zoom: 1;
	*display: inline;
}

.m_msg .list .sys i {
	background-position: -76px -340px;
}

.m_msg .list .info i {
	background-position: -94px -340px;
}

.m_msg .list .notice i {
	background-position: -112px -340px;
}

.m_msg .list .more {
	background: #f7f7f7;
	text-align: right;
	padding: 0 5px;
	line-height: 24px;
}

.m_msg .list .more a {
	color: #333;
}

.m_msg .list .more a:hover {
	color: #f60;
}

.m_msg .cover {
	position: absolute;
	left: 0;
	top: 0;
	height: 2000px;
}

.m_menu {
	margin-top: -27px;
	overflow: hidden;
	zoom: 1;
	background: #8bb5da;
}

.m_menu .unfold,.m_menu .fold {
	display: block;
	height: 28px;
	background: url(../img/personserv.png) no-repeat right -28px;
	line-height: 28px;
	padding: 0 20px 0 10px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	margin-top: -1px;
	cursor: pointer;
}

.m_menu .fold {
	background-position: right 0;
}

.m_menu .fold span,.m_menu .unfold span {
	width: 100%;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.m_menu .unfold:hover {
	background-position: right -84px;
}

.m_menu .fold:hover {
	background-position: right -56px;
}

.m_menu .sub {
	margin: 8px 8px 9px;
}

.m_menu .sub .top {
	background: url(../img/personserv.png) no-repeat 0 -112px;
	padding-left: 4px;
}

.m_menu .sub .top span {
	display: block;
	height: 4px;
	overflow: hidden;
	background: url(../img/personserv.png) no-repeat right -112px;
}

.m_menu .sub .bottom {
	background: url(../img/personserv.png) no-repeat 0 -116px;
	padding-left: 4px;
}

.m_menu .sub .bottom span {
	display: block;
	height: 4px;
	overflow: hidden;
	background: url(../img/personserv.png) no-repeat right -116px;
}

.m_menu .sub ul {
	padding: 4px 0;
	border-left: 1px solid #377ec1;
	border-right: 1px solid #377ec1;
	background: #e7eef4;
}

.m_menu .sub li {
	zoom: 1;
}

.m_menu .sub a {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 2px 12px;
	line-height: 18px;
	border-top: 1px solid #e7eef4;
	border-bottom: 1px solid #e7eef4;
	zoom: 1;
}

.m_menu .sub .on a {
	color: #0c0;
	border-color: #c4d8ea;
	background-color: #fff;
}

.m_menu .sub li a:hover {
	color: #f60;
	background-color: #f3f7fa;
	border-color: #c4d8ea;
}

.m_cover {
	position: absolute;
	top: -30px;
	width: 100%;
	height: 150%;
	left: 0;
	z-index: 5;
	background: url(../img/s.png) -5000px -5000px no-repeat;
}

.m_cover iframe {
	height: 100%;
	width: 100%;
	display: none;
	_display: block;
	*filter: alpha(opacity = 0);
}

.m_cover div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../img/s.png) -5000px -5000px no-repeat;
}

.s_noside .m_side {
	display: none;
}

.s_noside .m_usual {
	display: none;
}

.s_noside .m_slip {
	left: -5px;
	background-position: -24px -340px;
}

.s_noside .m_slip:hover {
	background-position: -36px -340px;
}

.c_popup {
	_padding: 101px 0 37px 0;
}

.c_popupWrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}