<!-- 标题 开始 -->
<div class="c_title">
	<div class="text">合同信息</div>
</div>
<!-- 标题 结束 -->
<!-- 表单 开始 -->
<div class="c_list c_list-line c_list-border c_list-col-1 c_list-phone-col-1">
		<ul>
		<li class="link required">
			<div class="label">合同信息</div>
			<div class="value"><input class="e_center" jwcid="@TextArea" name="CONTRACT_INFO" value="ognl:info.CONTRACT_INFO" disabled="disabled" desc="合同信息" /></div>
		</li>
	</ul>
</div>

<div class="c_title">
	<div class="text">产品信息</div>
</div>

<div class="c_list c_list-line c_list-border c_list-col-1 c_list-phone-col-1">
	<ul>
		<li class="link required">
			<div class="label">产品信息</div>
			<div class="value"><input class="e_center" jwcid="@TextArea" name="PRODUCT_INFO" value="ognl:info.PRODUCT_INFO" disabled="disabled" desc="产品信息" /></div>
		</li>
		<li class="link required">
			<div class="label">元素信息</div>
			<div class="value"><input class="e_textarea-row-4 e_center" jwcid="@TextArea" name="ELEMENT_INFO" value="ognl:info.ELEMENT_INFO" disabled="disabled" desc="元素信息" /></div>
		</li>
	</ul>
</div>

<div class="c_title">
	<div class="text">定制信息</div>
</div>

<div class="c_list c_list-line c_list-border c_list-col-1 c_list-phone-col-1">
	<ul>
		<li class="link required">
			<div class="label">成员附加产品</div>
			<div class="value"><input class="e_textarea-row-4 e_center" jwcid="@TextArea" name="GRP_INFO" value="ognl:info.GRP_INFO" disabled="disabled" desc="成员附加产品" /></div>
		</li>
	</ul>
</div>

<div class="c_title">
	<div class="text">资源信息</div>
</div>

<div class="c_list c_list-line c_list-border c_list-col-1 c_list-phone-col-1">
	<ul>
		<li class="link required">
			<div class="label">产品编码</div>
			<div class="value"><input class="e_center" jwcid="@TextArea" name="SERIAL_NUMBER" value="ognl:info.SERIAL_NUMBER" disabled="disabled" desc="服务号码" /></div>
		</li>
	</ul>
</div>

<div class="c_title">
	<div class="text">账户信息</div>
</div>

<div class="c_list c_list-line c_list-border c_list-col-1 c_list-phone-col-1">
	<ul>
		<li class="link required">
			<div class="label">账户关系信息</div>
			<div class="value"><input class="e_center" jwcid="@TextArea" name="ACCOUNT_INFO" value="ognl:info.ACCOUNT_INFO" disabled="disabled" desc="账户关系信息" /></div>
		</li>
	</ul>
</div>