<!-- 标题 开始 -->
<div class="c_title">
	<div class="text">勘察信息（勘察单选择否为快速开通,只支持互联网专线）</div>
</div>
<!-- 标题 结束 -->
<!-- 表单 开始 -->
<div jwcid="ChooseConfCrmPart@Part" id="ChooseConfCrmPart" class="c_list c_list-line c_list-border c_list-col-3 c_list-phone-col-1">
		<ul>
		<!-- 现在资管不支持快速变更和快开，变更只能选关联勘察单，开通也只能选关联勘察单 -->
		<li class="link required">
			<div class="label">是否选择勘察单号</div>
			<div class="value">
				<input jwcid="@Select" name="pattr_IF_CHOOSE_CONFCRM" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('IF_CHOOSE_CONFCRM')" textField="DATA_NAME" valueField="DATA_ID" 
				value="ognl:info.IF_CHOOSE_CONFCRM" disabled="" nullable="no"  onchange="confCrm();" desc="是否选择勘察单号"/>
			</div>
		</li>
		<li class="link required" id="chooseConfCrm" ontap="chooseConfCrm();">
			<div class="label">选择关联CRM勘查工单号</div>
			<div class="value"><input type="text"  readonly="readonly" /></div>
			<div class="more"></div>
		</li>
		<!-- 
		<div jwcid="@Conditional" condition="ognl:info.TEMPLET_ID != 'EDIRECTLINECHANGE'">
			<li class="link required">
			<div class="label">是否选择勘察单号</div>
			<div class="value">
				<input jwcid="@Select" name="pattr_IF_CHOOSE_CONFCRM" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('IF_CHOOSE_CONFCRM')" textField="DATA_NAME" valueField="DATA_ID" 
				value="ognl:info.IF_CHOOSE_CONFCRM" onchange="confCrm();" disabled="disabled" nullable="no" desc="是否选择勘察单号"/>
			</div>
		</li>
		<li class="link required" id="chooseConfCrm" ontap="chooseConfCrm();showPopup('popup03', 'confCrmPopupItem', true);" style="display:none">
			<div class="label">选择关联CRM勘查工单号</div>
			<div class="value"><input type="text"  readonly="readonly" /></div>
			<div class="more"></div>
		</li>
		</div>
		 -->
		<input type="hidden" jwcid="@Any" id="TEMPLET_ID" value="ognl:info.TEMPLET_ID" raw="false" />
		<input type="hidden" jwcid="@Any" id="CONFCRMTICKETNO" value="ognl:info.CONFCRMTICKETNO" raw="false" />
		<input type="hidden" jwcid="@Any" id="CONFIBSYSID" value="ognl:info.CONFIBSYSID" raw="false" />
	</ul>
</div>
<!-- 表单 结束 -->
