<!-- 区域 开始 -->
<div class="c_box" jwcid="@Any" id="AssureInfoCmp" requiredField="ognl:requiredField" isHidden="ognl:isHidden">
	<!-- 标题 开始 -->
	<div class="c_title">
		<div class="text">担保信息</div>
		<div class="fn">
			<a href="#nogo" class="e_button" id="AssureInfoVisiblPart"><i class="e_ico-fold"></i><span>隐藏担保信息</span></a>
		</div>
	</div>
	<!-- 标题 结束 -->

	<div id="AssureInfoPart">
		<!-- 表单 开始 -->
		<div class="c_form c_form-col-3 c_form-label-7">
			<ul class="ul">
				<li class="li">
					<span class="label" id="span_ASSURE_TYPE_CODE">担保类型：</span>
					<span class="e_select"><span><span>
						<select jwcid="@Select" name="ASSURE_TYPE_CODE" 
								source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_ASSURETYPE')"
								textField="DATA_NAME" valueField="DATA_ID" value="ognl:assureInfo.ASSURE_TYPE_CODE"
								desc="担保类型"/>
					</span></span></span>
				</li>
				<li class="li">
					<span class="label" id="span_ASSURE_DATE">担保期限：</span>
					<span class="e_input"><span>
						<input type="text" jwcid="@DateField"  name="ASSURE_DATE" value="ognl:assureInfo.ASSURE_DATE"  
								format="yyyy-MM-dd HH:mm:ss" desc="担保期限"/>
				    </span></span>
				</li>
				<li class="li">
					<span class="label" id="span_ASSURE_PSPT_TYPE_CODE">担保人证件类型：</span>
					<span class="e_select"><span><span>
						<select jwcid="@Select" name="ASSURE_PSPT_TYPE_CODE" 
								source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_PASSPORTTYPE2')"
								textField="DATA_NAME" valueField="DATA_ID" value="ognl:assureInfo.ASSURE_PSPT_TYPE_CODE"
								desc="担保人证件类型"/>
					</span></span></span>
				</li>
				<li class="li">
					<span class="label" id="span_ASSURE_PSPT_ID">担保人证件号码：</span>
					<span class="e_input"><span>
						<input jwcid="@TextField" name="ASSURE_PSPT_ID" value="ognl:assureInfo.ASSURE_PSPT_ID" 
								desc="担保人证件号码"/>
					</span></span>
				</li>
				<li class="li">
					<span class="label" id="span_ASSURE_NAME">担保人名称：</span>
					<span class="e_input"><span>
						<input jwcid="@TextField" name="ASSURE_NAME" value="ognl:assureInfo.ASSURE_NAME" 
								desc="担保人名称"/>
					</span></span>
				</li>
				<li class="li">
					<span class="label" id="span_ASSURE_PHONE">担保人联系方式：</span>
					<span class="e_input"><span>
						<input jwcid="@TextField" name="ASSURE_PHONE" value="ognl:assureInfo.ASSURE_PHONE" 
								desc="担保人联系方式"/>
					</span></span>
				</li>
			</ul>
		</div>
		<!-- 表单 结束 -->

	</div>
</div>
<!-- 区域 结束 -->
