	<!-- 标题栏 开始 -->
<div class="c_title">
    <div class="text">我的活动</div>
    <div class="fn">
        <div>
            <ul>
                <li id="ShowValidSaleArea" ontap="saleActiveFilter.queryValidSaleActives();">
                    <span class="e_ico-unfold"></span>显示已有的活动
                </li>
                <li id="HideValidSaleArea" ontap="saleActiveFilter.toggleArea(this, '#ShowValidSaleArea', '#ValidSaleArea');"
                    style="display: none;"><span class="e_ico-fold"></span>隐藏已有的活动
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 标题栏 结束 -->
<!-- 已办理活动区域 开始 -->
<div jwcid="ValidSaleArea@Part">
    <div class="c_list c_list-space c_list-line">
        <ul>
            <li jwcid="@Foreach" source="ognl:saleInfos" value="ognl:saleInfo"
                index="ognl:rowIndex" element="li">
                <div class="content">
                    <div class="main">
                        <div class="title">
                            <span jwcid="@Insert" value="ognl:saleInfo.PACKAGE_NAME"></span>
                        </div>
                        <div class="content content-auto">
                            <span jwcid="@Insert" value="ognl:saleInfo.PACKAGE_DESC"></span>
                        </div>
                    </div>
                </div>
                <div class="sub">
                    <div class="main">
                        <!-- 参数 开始 -->
                        <div class="c_param c_param-col-3 c_param-phone-col-1">
                            <ul>
                                <li>
                                    <span class="label">类别：</span>
                                    <span class="value">
                                        <span jwcid="@Insert" value="ognl:saleInfo.ACTIVE_TYPE"></span>
                                    </span>
                                </li>
                                <li>
                                    <span class="label">有效期：</span>
                                    <span class="value">
                                        <span jwcid="@Insert" value="ognl:saleInfo.START_DATE + ' ～ ' + saleInfo.END_DATE"></span>
                                    </span>
                                </li>
                                <li>
                                    <span class="label">受理员工：</span>
                                    <span class="value">
                                        <span jwcid="@Insert" value="ognl:@com.ailk.biz.util.StaticUtil@getStaticValue(getPage().getVisit(),'TD_M_STAFF','STAFF_ID','STAFF_NAME',saleInfo.TRADE_STAFF_ID)"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!-- 参数 结束 -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="c_space"></div>
</div>
<!-- 已办理活动区域 结束 -->




<div jwcid="saleActiveFilterPart@Part">
	<div class="c_box">	
	
	
		<div id="filterContent" jwcid="filterContent@Part">
			<div class="c_filter c_filter-label-6 e_hide-x l_padding l_padding-n">
				<ul>
					<li>
						<div class="label">办理类型：</div>
						<div class="option option-fold" id="activeKindOption">
							<ul>
								<li jwcid="@Foreach" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('MARKETING_ACTIVITY_MODE')" value="ognl:activeMode" index="ognl:rowIndex" id="ognl:activeMode.DATA_ID" ontap="saleActiveFilter.switchUpLabel(this);" element="li">
									<span jwcid="@Insert" value="ognl:activeMode.DATA_NAME"/>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="more">
							<button class="e_button-s e_button-r" mode="fold" ontap="saleActiveFilter.filterFold('activeOption', this);" type="button"><span class="e_ico-fold">更多</span></button>
						</div>
						<div class="label">活动类型：</div>
						<div class="option option-fold" id="activeOption">
							<ul>
								<li jwcid="@Foreach" source="ognl:campnTypes" value="ognl:campnType" index="ognl:rowIndex" catalogId="ognl:campnType.CATALOG_ID" catalogName="ognl:campnType.CATALOG_NAME" ontap="saleActiveFilter.switchLabel(this);" element="li">
									<span jwcid="@Insert" value="ognl:campnType.CATALOG_NAME"/>
								</li>
							</ul>
						</div>
					</li>
					
					<!-- 
					<li>
						<div class="more">
							<button class="e_button-s e_button-r" mode="fold" ontap="saleActiveFilter.filterFold('activePlanOption', this);" type="button"><span class="e_ico-fold">更多</span></button>
						</div>
						<div class="label">营销方案：</div>
						<div class="option option-fold" Id="activePlanOption">
							<ul id="activeTags">
								
							</ul>
						</div>
					</li> -->

					<li class="link required">
						<div class="label">营销方案:</div>
						<div class="value" id="SALE_PRODUCT_SELECT_CONTAINER">
							<span class="e_select e_dis" >--请选择--</span><!-- style="width:600px;" -->
						</div>
					</li>

					<li id="CREDIT_PURCHASES_PART">
						<div class="label">信用购机:</div>
						<div class="value">
							<input jwcid="@Any" type="checkbox" name="CREDIT_PURCHASES"
								id="CREDIT_PURCHASES" value="0" ontap="saleActiveFilter.chooseNp();" />
						</div>
					</li>




					<li id="moreCond">
						<div class="label">更多条件：</div>
						<div class="more">
							<button class="e_button-s e_button-r" ontap="showPopup('mypop1','UI-search',true);" type="button"><span class="e_ico-next">更多</span></button>
						</div>
						<div class="option">
							<ul>
								
							</ul>
						</div>
					</li>
				</ul>
					<div class="c_space"></div>
			</div>
		</div>
	</div>
	
	<!--duhj 以前去掉了-->
	<div class="c_box">
		<div id="saleactiveListPart" style="display:none;">
			<div jwcid="marketActivityList@MarketActivityList" eparchyCodeCompId="ognl:eparchyCodeCompId" element="div" />
		</div>
	</div>
	 
	 
	<input jwcid="@Hidden" name="SALE_CAMPN_TYPE" id="SALE_CAMPN_TYPE" value=""/>
	<input jwcid="@Hidden" name="SALE_PRODUCT_ID" id="SALE_PRODUCT_ID" value=""/>
	
	<input jwcid="@Hidden" name="SALEACTIVE_COMPONENT_ID" id="SALEACTIVE_COMPONENT_ID" value="ognl:id"/>
	<input jwcid="@Hidden" name="SALEACTIVE_USER_ID" id="SALEACTIVE_USER_ID" value="ognl:info.USER_ID"/>
	<input jwcid="@Hidden" name="SALEACTIVE_NEED_CHECK" id="SALEACTIVE_NEED_CHECK" value="ognl:needCheck"/>
	<input jwcid="@Hidden" name="SALEACTIVE_NEED_USER_ID" id="SALEACTIVE_NEED_USER_ID" value="ognl:needUserId"/>
	<input jwcid="@Hidden" name="SALEACTIVE_EPARCHY_CODE_COMPID" id="SALEACTIVE_EPARCHY_CODE_COMPID" value="ognl:eparchyCodeCompId"/>
	<input jwcid="@Hidden" name="SALEACTIVE_ACCT_DAY" id="SALEACTIVE_ACCT_DAY" value="ognl:info.ACCT_DAY"/>
	<input jwcid="@Hidden" name="SALEACTIVE_FIRST_DATE" id="SALEACTIVE_FIRST_DATE" value="ognl:info.FIRST_DATE"/>
	<input jwcid="@Hidden" name="SALEACTIVE_NEXT_ACCT_DAY" id="SALEACTIVE_NEXT_ACCT_DAY" value="ognl:info.NEXT_ACCT_DAY"/>
	<input jwcid="@Hidden" name="SALEACTIVE_NEXT_FIRST_DATE" id="SALEACTIVE_NEXT_FIRST_DATE" value="ognl:info.NEXT_FIRST_DATE"/>
	<input jwcid="@Hidden" name="AFTER_CHOICEPACKAGE_EVENT" id="AFTER_CHOICEPACKAGE_EVENT" value="ognl:afterChoicePackageEvent"/>
	<input jwcid="@Hidden" name="SALEACTIVE_QUERY_MODE" id="SALEACTIVE_QUERY_MODE" value="ognl:queryMode"/>
	<input jwcid="@Hidden" name="DEVICE_MODEL_CODE" id="DEVICE_MODEL_CODE" value=""/>
	<input jwcid="@Hidden" name="TERMINAL_DETAIL_INFO" id="TERMINAL_DETAIL_INFO" value=""/>
	<input jwcid="@Hidden" name="GOODS_INFO" id="GOODS_INFO" value=""/>
	<input jwcid="@Hidden" name="ALL_MONEY_NAME" id="ALL_MONEY_NAME" value=""/>
	<input jwcid="@Hidden" name="IS_GIFT_ACTIVE" id="IS_GIFT_ACTIVE" value="0"/>
	<input jwcid="@Hidden" name="REDPACK_BALANCE" id="REDPACK_BALANCE" value=""/>
	<input jwcid="@Hidden" name="SALEACTIVE_CUST_ID" id="SALEACTIVE_CUST_ID" value="ognl:info.CUST_ID"/>

	
</div>

<div jwcid="hiddenPart@Part">
	<input jwcid="@Hidden" id="custinfo_EPARCHY_CODE" name="custinfo_EPARCHY_CODE" value="0029" desc="用户地州"/>
	<input jwcid="@Hidden" id="LABEL_ID" name="LABEL_ID" value="" desc="活动标签"/>
	<input jwcid="@Hidden" id="ACTIVE_TYPE" name="ACTIVE_TYPE" value="" desc="营销活动大类标示"/>
	<input jwcid="@Hidden" id="SALE_SERIAL_NUMBER" name="SALE_SERIAL_NUMBER" value="" desc="服务号码"/>
	
</div>
	
	    <div name="saleActiveListPopup" jwcid="@Popup"
         class="c_popup c_popup-half c_popup-half-hasBg">
        <div class="c_popupGroup">
            <!-- 校验活动产品老用户手机号 开始 -->
            <div id="checkProdOldCustSnItem" class="c_popupItem">
                <div class="c_header">
                    <div class="back"
                         ontap="marketActivityList.afterPopupProdCheckFailure()">校验营销活动</div>
                </div>
                <div class="c_form c_form-label-4 c_form-submit-h">
                    <div class="submit">
                        <button type="button" class="e_button-blue"
                                ontap="marketActivityList.popupCheckProdOldCustSn()">
                            <span class="e_ico-check"></span><span>校验</span></button>
                    </div>
                    <ul>
                        <li>
                            <div class="label">手机号码：</div>
                            <div class="value">
                                <input name="oldCustSnForProd"
                                       jwcid="@TextField"
                                       onenterAction="marketActivityList.popupCheckProdOldCustSn()"
                                       placeholder="请输入校验用户手机号码"
                                       nullable="no" datatype="mbphone"
                                       desc="校验活动产品老用户手机号码"/>
                            </div>
                        </li>
                    </ul>
                    <input jwcid="@Hidden" name="IF_NEW_USER_ACTIVE"/>
                </div>
            </div>
            <!-- 校验活动产品老用户手机号 结束 -->
        </div>
    </div>
	
	
		    <!-- 校验活动包老用户手机号码弹窗 开始 -->
    <div name="checkPackOldCustSnPopup" jwcid="@Popup"
         class="c_popup c_popup-half c_popup-half-hasBg">
        <div class="c_popupGroup">
            <div id="checkPackOldCustSnItem" class="c_popupItem">
                <div class="c_header">
                    <div class="back"
                         ontap="marketActivityList.afterPopupPackCheckFailure()">校验活动规则</div>
                </div>
                <div class="c_form c_form-label-4 c_form-submit-h">
                    <div class="submit">
                        <button type="button" class="e_button-blue"
                                ontap="marketActivityList.popupCheckPackOldCustSn()">
                            <span class="e_ico-check"></span><span>校验</span></button>
                    </div>
                    <ul>
                        <li>
                            <div class="label">手机号码：</div>
                            <div class="value">
                                <input name="oldCustSnForPack"
                                       jwcid="@TextField"
                                       onenterAction="marketActivityList.popupCheckPackOldCustSn()"
                                       placeholder="请输入校验用户手机号码"
                                       nullable="no" datatype="mbphone"
                                       desc="校验活动包老用户手机号码"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

        <!-- 发送验证码弹窗 开始 -->
    <div name="sendSMSCodePopup" jwcid="@Popup"
         class="c_popup c_popup-half c_popup-half-hasBg">
        <div class="c_popupGroup">
            <div id="sendSMSCodeItem" class="c_popupItem">
                <div class="c_header">
                    <div class="back" ontap="hidePopup(this)">验证码</div>
                </div>
                <div class="c_form c_form-label-3 c_form-submit-h">
                    <div class="submit">
                        <button type="button" class="e_button-blue"
                                ontap="marketActivityList.popupqueryProdRedMoney()">
                            <span class="e_ico-check"></span><span>确定</span></button>
                    </div>
                    <ul>
                        <li>
                            <div class="label">验证码：</div>
                            <div class="value">
                                <input name="RED_SMS_CODE"
                                       jwcid="@TextField"
                                       placeholder="请输入验证码"
                                       nullable="no" desc="校验验证码"/>
                            </div>
                        </li>
                    </ul>
                    <input jwcid="@Hidden" name="RED_SMS_CODE"/>
                    <input jwcid="@Hidden" name="CHECK_RED_SMS_CODE_PARAMS"/>
                </div>
            </div>
        </div>
    </div>
    <!-- 发送验证码弹窗 结束 -->
    