<input jwcid="@Hidden" id="SALEACTIVEMODULE_COMPONENT_ID" name="SALEACTIVEMODULE_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="SALEACTIVEMODULE_EPARCHY_CODE_COMPID" id="SALEACTIVEMODULE_EPARCHY_CODE_COMPID" value='ognl:(null == eparchyCodeCompId || "".equals(eparchyCodeCompId))?"0898":eparchyCodeCompId'/>
<div id="ognl:id+'_PART'" jwcid="@Part">
	<input jwcid="@TextField" id="SALEACTIVE_ELEMENTS" name="SALEACTIVE_ELEMENTS" value="ognl:info.SALEACTIVE_ELEMENTS" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_CAMPN_TYPE" name="SALEACTIVE_CAMPN_TYPE" value="ognl:info.CAMPN_TYPE" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_PRODUCT_ID" name="SALEACTIVE_PRODUCT_ID" value="ognl:info.PRODUCT_ID" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_PRODUCT_NAME" name="SALEACTIVE_PRODUCT_NAME" value="ognl:info.PRODUCT_NAME" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_PACKAGE_ID" name="SALEACTIVE_PACKAGE_ID" value="ognl:info.PACKAGE_ID" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_PACKAGE_NAME" name="SALEACTIVE_PACKAGE_NAME" value="ognl:info.PACKAGE_NAME" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_PGK_ELEMENT_MIN" name="SALEACTIVE_PGK_ELEMENT_MIN" value="ognl:info.MIN_NUMBER" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_PGK_ELEMENT_MAX" name="SALEACTIVE_PGK_ELEMENT_MAX" value="ognl:info.MAX_NUMBER" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_PGK_LIMIT_TYPE" name="SALEACTIVE_PGK_LIMIT_TYPE" value="ognl:info.LIMIT_TYPE" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_BOOK_DATE" name="SALEACTIVE_BOOK_DATE" value="ognl:basicElemDate" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_NEED_ACCT" name="SALEACTIVE_NEED_ACCT" value="ognl:info.NEED_ACCT" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_USER_ID" name="SALEACTIVE_USER_ID" value="ognl:userId" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_SERIAL_NUMBER" name="SALEACTIVE_SERIAL_NUMBER" value="ognl:serialNumber" style="display:none"/>
	<input jwcid="@TextField" id="SALEACTIVE_EPARCHY_CODE" name="SALEACTIVE_EPARCHY_CODE" value="ognl:eparchyCode" style="display:none"/>
	<div class="c_form c_form-col-2 c_form-label-7">
	    <!--活动信息开始-->
	    <ul class="ul">
	        <div jwcid="@Conditional" condition="ognl:info.NEED_ACCT!=null&&info.NEED_ACCT!='' ">
	        <li class="li" id="acctId">
	            <span class="label">返还账户：</span>
            	<span class="e_select"><span><span>
					<select jwcid="@Select" name="SALEACTIVE_ACCT_ID" id="SALEACTIVE_ACCT_ID" nullable="no" desc="返还账户" source="ognl:acctInfos" 
						textField="SHOW_ACCT" valueField="ACCT_ID" value="ognl:info.ACCT_ID" />
				</span></span></span>
	        </li>
	        </div>
	    </ul>
	</div>
	<div class="c_form c_form-col-2 c_form-label-7">
	    <!--活动信息开始-->
	    <ul class="ul">
	        <li class="li">
	            <span class="label">合同起始时间：</span>
	            <span class="e_input"><span>
	                <input jwcid="@TextField" name="SALEACTIVE_START_DATE" id="SALEACTIVE_START_DATE" value="ognl:info.START_DATE"
							desc="合同起始时间" disabled="true"/>
	            </span></span>
	        </li>
	        <li class="li">
	            <span class="label">合同终止时间：</span>
	            <span class="e_input"><span>
	                <input jwcid="@TextField" name="SALEACTIVE_END_DATE" id="SALEACTIVE_END_DATE" value="ognl:info.END_DATE"
							desc="合同终止时间" disabled="true"/>
	            </span></span>
	        </li>
	        <div jwcid="@Conditional" condition="ognl:info.ONNET_START_DATE!=null&&info.ONNET_START_DATE!=''">
	        <li class="li" id="onnetStartDate">
	            <span class="label">在网起始时间：</span>
	            <span class="e_input"><span>
	                <input jwcid="@TextField" name="SALEACTIVE_ONNET_START_DATE" id="SALEACTIVE_ONNET_START_DATE" value="ognl:info.ONNET_START_DATE"
							desc="约定在网起始时间" disabled="true"/>
	            </span></span>
	        </li>
	        </div>
	        <div jwcid="@Conditional" condition="ognl:info.ONNET_END_DATE!=null&&info.ONNET_END_DATE!=''">
	        <li class="li" id="onnetEndDate">
	            <span class="label">在网终止时间：</span>
	            <span class="e_input"><span>
	                <input jwcid="@TextField" name="SALEACTIVE_ONNET_END_DATE" id="SALEACTIVE_ONNET_END_DATE" value="ognl:info.ONNET_END_DATE"
							desc="约定在网终止时间" disabled="true"/>
	            </span></span>
	        </li>
	        </div>
	    </ul>
	    <!--活动信息结束-->
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleCombine">
		<div jwcid="@GrpSaleCombine" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate"
		 userId="ognl:userId" serialNumber="ognl:serialNumber" campnType="ognl:campnType"/>
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleService">
		<div jwcid="@GrpSaleService" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate"
		 userId="ognl:userId" serialNumber="ognl:serialNumber" campnType="ognl:campnType"/>
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleDiscnt">
		<div jwcid="@GrpSaleDiscnt" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate"
		userId="ognl:userId" serialNumber="ognl:serialNumber" campnType="ognl:campnType"/>
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSalePlatsvc">
		<div jwcid="@GrpSalePlatsvc" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate"
		userId="ognl:userId" serialNumber="ognl:serialNumber" campnType="ognl:campnType"/>
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleDeposit">
		<div jwcid="saledeposit@GrpSaleDeposit" element="div" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate"
		userId="ognl:userId" serialNumber="ognl:serialNumber" campnType="ognl:campnType"/>
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleGoods">
		<div jwcid="salegoods@GrpSaleGoods" element="div" packageId="ognl:packageId" productId="ognl:productId" goodsId="ognl:goodsId" eparchyCode="ognl:eparchyCode"
		     userId="ognl:userId" serialNumber="ognl:serialNumber" campnType="ognl:campnType"/>
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleCredit">
		<div jwcid="@GrpSaleCredit" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate"
		userId="ognl:userId" serialNumber="ognl:serialNumber" campnType="ognl:campnType"/>
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleScore">
		<div jwcid="@GrpSaleScore" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode"
		userId="ognl:userId" serialNumber="ognl:serialNumber" campnType="ognl:campnType"/>
	</div>
</div>