<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@Head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>特约商户调账申请表</title>
<script type="text/javascript">
$(document).ready(function(){
	
	$("#ClosePosReceiptBtn").bind("click", function(){
		$.closePopupPage(true,null,null,null,null,true);
	});
	
	$("#PrintPosReceiptBtn").bind("click", function(){
		$.setReturnValue({"POS_RECEIPT":1}, true);
	});
});
</script>
</head>
<body>

<div class="c_print">
	<div class="paper">
		<div class="paperTop"><span></span></div>
		<div class="paperContent"><div class="paperWrapper"><div class="paperWrapper2">
			<!-- 打印区域 开始 -->
			<div class="c_header">特约商户调账申请表</div>
			<div class="e_right l_mt-2 e_size-s">
				<ul>
					<li>
						<span jwcid="@Insert" value="ognl:info.YYYY"/>年　　　
						<span jwcid="@Insert" value="ognl:info.MM"/>月　　　
						<span jwcid="@Insert" value="ognl:info.DD"/>日　　　
						编号：<span jwcid="@Insert" value="ognl:info.POS_TRADE_ID"/>
					</li>
				</ul>
			</div>
			<div class="c_table l_mt e_size-s">
				<table>
					<colgroup>
						<col style="width:1em;" />
						<col style="width:6em;" />
						<col />
						<col style="width:6em;" />
					</colgroup>
					<tbody>
						<tr>
							<td rowspan="9">特约商户填写</td>
							<td>商户工商注册名称</td>
							<td>&nbsp;</td>
							<td>营业名称</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>商户编号</td>
							<td><span jwcid="@Insert" value="ognl:info.MERCH_ID"/></td>
							<td>交易类型</td>
							<td><span jwcid="@Insert" value="ognl:info.TRANS_TYPE"/></td>
						</tr>
						<tr>
							<td>卡号</td>
							<td><span jwcid="@Insert" value="ognl:info.CARD_NO"/></td>
							<td>原始交易日期</td>
							<td><span jwcid="@Insert" value="ognl:info.TRANS_DATE_TIME"/></td>
						</tr>
						<tr>
							<td>原始交易金额</td>
							<td><span jwcid="@Insert" value="ognl:info.AMOUNT"/></td>
							<td>原始检索参考号</td>
							<td><span jwcid="@Insert" value="ognl:info.REF_NO"/></td>
						</tr>
						<tr>
							<td>手机号码</td>
							<td colspan="3"><span jwcid="@Insert" value="ognl:info.SERIAL_NUMBER"/></td>
						</tr>
						<tr>
							<td>申请原因</td>
							<td colspan="3">
								□交易未成功，帐已扣　　□重复扣款　　□交易成功，帐已扣，另收现金<br />
								□其他（请根据具体情况描述，填写在“其他申请原因”处：
							</td>
						</tr>
						<tr>
							<td>调整金额</td>
							<td colspan="3">￥：<span jwcid="@Insert" value="ognl:info.AMOUNT"/>元（大写：<span jwcid="@Insert" value="ognl:info.AMOUNT_UPPER"/>）</td>
						</tr>
						<tr>
							<td>附件内容数量</td>
							<td colspan="3">&nbsp;</td>
						</tr>
						<tr>
							<td colspan="4">
								其他申请原因：..........................................................................................................................................<br />
								.................................................................................................................................................................<br />
								.................................................................................................................................................................<br />
								以上内容属实，如与真实情况不符，我方愿意承担由此造成的损失和责任。<br /><br /><br />
								　　　　　　　　　　　　　　　　　　　　　　　　　　　商户盖章：<br /><br /><br /><br />
								　　　　　　　　　　　　　　　　　　　　　　　　　　　经 办 人：<br />
								　　　　　　　　　　　　　　　　　　　　　　　　　　　日　　期：<br />
							</td>
						</tr>
						<tr>
							<td>银联商务办理</td>
							<td colspan="4" style="word-wrap:break-word; word-break:break-all;">
								<strong>经办意见：</strong><br />
								□审核无误，系统跟踪号为：___________________，已于　　　年　　月　　日处理。
								□瑕疵单据，存在_______________________________________________________________________________________________________________的问题，已于　　　年　　月　　日退回。<br />
								□其他：<br /><br /><br />
								　　　　　　　　　　　　　　　　　　　　　　　　　　　经 办 人：<br />
								　　　　　　　　　　　　　　　　　　　　　　　　　　　日　　期：<br />

							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="c_info l_mt e_size-s">
				<ul>
					<li>
						注：1.商户必须根据<strong>原始POS签购单内容</strong>准确填写表单内容，并确保以上信息填写真实、完整。<br />
						2.商户短款时，还应附：原始交易签购单复印件、消费发票/水单复印件及其他能证明持卡人消费的材料。
					</li>
				</ul>
			</div>
			<div class="c_info l_mt e_center">
				<ul>
					<li>账务电话：0898-685032266</li>
					<li>传真：0898-68503233</li>
				</ul>
			</div>



			<!-- 打印区域 结束 -->
		</div></div></div>
		<div class="paperBottom"><span></span></div>
	</div>
</div>


<div class="submit">
	<button id="ClosePosReceiptBtn" type="button" class="e_button-page"><i class="e_ico-cancel"></i><span>关闭</span></button>
	<button id="PrintPosReceiptBtn" type="button" class="e_button-page"><i class="e_ico-print"></i><span>打印</span></button>
</div>


<!--div class="c_printFn">
	<div class="fn">
		<ul>
			<li>
				<span class="label">字体调节：</span>
				<span class="e_slip">
					<span class="e_slipProgress">
						<span class="e_slipBar" style="width:50%;"></span>
						<a href="#nogo" class="e_slipHandle" style="left:50%;"></a>
					</span>
					<span class="e_slipValue">100%</span>
				</span>
				<a href="#nogo" class="reset">重置</a>
			</li>
		</ul>
	</div>
</div-->
</body>
</html>
