<!-- 区域 开始 -->
<div class="c_box" jwcid="@Any" id="PostInfoCmp" requiredField="ognl:requiredField" isHidden="ognl:isHidden">
	<!-- 标题 开始 -->
	<div class="c_title e_cur-hand">
		<div class="text">邮寄信息</div>
		<div class="fn">
		<a href="#nogo" class="e_button" id="PostInfoVisiblPart"><i class="e_ico-fold"></i><span>隐藏邮寄信息</span></a>
		</div>
	</div>
	<!-- 标题 结束 -->
	<div id="PostInfoPart">
		<!-- 表单 开始 -->
		<div class="c_form c_form-col-3 c_form-label-6">
			<ul class="ul">
				<li class="li">
					<span class="label"><span id="span_POST_TAG" class="e_required">邮递标志：</span></span>
					<span class="e_select"><span><span>
						<select jwcid="@Select" name="POST_TAG" 
								source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('POSTINFO_POSTTAG')" addDefault="false"
								textField="DATA_NAME" valueField="DATA_ID" value="ognl:postInfo.POST_TAG"
								desc="邮递标志"
								onchange=""/>
					</span></span></span>
				</li>
				<span element="span" jwcid="PostTagHidePart@Part" style="display:none">	
				<li class="li">
					<span class="label"><span id="span_POST_CYC">邮寄周期：</span></span>
					<span class="e_select"><span><span>
					<select jwcid="@Select" name="POST_CYC" 
							source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('POSTINFO_POSTCYC')" addDefault="false"
							textField="DATA_NAME" valueField="DATA_ID" value="ognl:postInfo.POST_CYC"
							desc="邮寄周期"/>
					</span></span></span>
				</li>	
				<li class="li col-3">
					<span class="label"><span id="span_POST_TYPESET">邮寄方式：</span></span>
					<div class="c_fn">
						<ul>
							<li jwcid="@Foreach" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('MODIFYPOST_POSTTYPESET')" value="ognl:item" element="li">
								<label>
									<input type="checkbox" class="e_checkbox" jwcid="@Checkbox" value="ognl:item.DATA_ID" name="POST_TYPESET"
									checked="ognl:postInfo.POST_TYPESET==item.DATA_ID? true :false"/>
									<span jwcid="@Insert" value="ognl:item.DATA_NAME"/>
								</label>
							</li>							
						</ul>
					</div>
				</li>
				<li class="li col-3" element="li" id="PostTypeContentPart">
					<span class="label"><span id="span_POSTTYPE_CONTENT">邮政投递：</span></span>
					<div class="c_fn">
						<ul>
							<li jwcid="@Foreach" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('POSTTYPE_CONTENT')" value="ognl:item" element="li">
								<label>
									<input type="checkbox" class="e_checkbox" jwcid="@Checkbox" value="ognl:item.DATA_ID" name="POSTTYPE_CONTENT" 
									        checked="ognl:postInfo.POSTTYPE_CONTENT==item.DATA_ID?true:false"/>
									<span jwcid="@Insert" value="ognl:item.DATA_NAME"/>
								</label>
							</li>							
						</ul>
					</div>
				</li>
				<li class="li col-3" id="EmailTypeContentPart">
					<span class="label"><span id="span_EMAILTYPE_CONTENT">Email移动E信：</span></span>
					<div class="c_fn">
						<ul>
							<li jwcid="@Foreach" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('EMAILTYPE_CONTENT')" value="ognl:item" element="li">
								<label>
									<input type="checkbox" class="e_checkbox" jwcid="@Checkbox" value="ognl:item.DATA_ID" name="EMAILTYPE_CONTENT" 
									        checked="ognl:postInfo.EMAILTYPE_CONTENT==item.DATA_ID?true:false"/>
									<span jwcid="@Insert" value="ognl:item.DATA_NAME"/>
								</label>
							</li>							
						</ul>
					</div>
				</li>
				<li class="li col-3" id="MmsTypeContentPart">
					<span class="label"><span id="span_MMSTYPE_CONTENT">MMS：</span></span>
					<div class="c_fn">
						<ul>
							<li jwcid="@Foreach" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('MMSTYPE_CONTENT')" value="ognl:item" element="li">
								<label>
									<input type="checkbox" class="e_checkbox" jwcid="@Checkbox" value="ognl:item.DATA_ID" name="MMSTYPE_CONTENT" 
									        checked="ognl:postInfo.MMSTYPE_CONTENT==item.DATA_ID?true:false"/>
									<span jwcid="@Insert" value="ognl:item.DATA_NAME"/>
								</label>
							</li>							
						</ul>
					</div>
				</li>
				<li class="li col-2">
					<span class="label"><span id="span_POST_ADDRESS">邮递地址：</span></span>
					<span class="e_input"><span>
						<input jwcid="@TextField" name="POST_ADDRESS" value="ognl:postInfo.POST_ADDRESS" 
								desc="邮递地址"/>
					</span></span>
				</li>
				<li class="li">
					<span class="label"><span id="span_ZIP_CODE">邮递编码：</span></span>
						<span class="e_input"><span>
						<input jwcid="@TextField" name="ZIP_CODE"  value="ognl:postInfo.ZIP_CODE" 
								desc="邮递编码" datatype="numeric" equsize="6"/>
					</span></span>
				</li>
				<li class="li">
					<span class="label"><span id="span_POST_NAME">邮递名称：</span></span>
					<span class="e_input"><span>
						<input jwcid="@TextField" name="POST_NAME" value="ognl:postInfo.POST_NAME" 
								desc="邮递名称"/>
					</span></span>
				</li>
				<li class="li">
					<span class="label"><span id="span_POST_FAX_NBR">传真电话：</span></span>
					<span class="e_input"><span>
						<input jwcid="@TextField" name="POST_FAX_NBR" value="ognl:postInfo.POST_FAX_NBR" 
								desc="传真电话"/>
					</span></span>
				</li>
				<li class="li">
					<span class="label"><span id="span_POST_EMAIL">Email：</span></span>
					<span class="e_input"><span>
						<input jwcid="@TextField" name="POST_EMAIL" value="ognl:postInfo.POST_EMAIL" 
								desc="Email地址"/>
					</span></span>
				</li>
				</span>
			</ul>
		</div>
		<!-- 表单 结束 -->
	</div>
</div>
<!-- 区域 结束 -->
