<div id="payPlansInfos" class="c_popupItem">
	<!-- 付费模式开始  -->
	
	<div class="c_header">
		<div class="back" onclick="hidePopup(this)">付费模式信息</div>
	</div>
	<div jwcid="@Scroller" name="payPlanTableScroll" vScroll="true" checkDOMChanges="true" class="c_scroll c_scroll-float c_scroll-header c_scroll-white">
		<!-- 列表 开始 -->
		<div jwcid="payPlanPart1@Part" id="payPlanPart1">
			<div class="c_list c_list-line">
				<ul name="payPlansListUl" id="payPlansListUl">
					<li jwcid="payPlansList@Foreach" source="ognl:payPlans" value="ognl:payPlan" index="ognl:rowIndex" element="li" PLAN_TYPE_CODE="ognl:payPlan.PLAN_TYPE_CODE">
						<div class="content" >
							<div class="main">
								<div class="title">
									<input type="checkbox" jwcid="@Checkbox" name="checkId" checked="ognl:payPlan.PLAN_TYPE_SELECTED" checkParamValue="ognl:payPlan.PLAN_TYPE_CODE"  checkParamText="ognl:payPlan.PLAN_TYPE"/>
									<span jwcid="PLAN_TYPE@Insert" name="PLAN_TYPE" id="PLAN_TYPE" value="ognl:payPlan.PLAN_TYPE"></span>
									<input type="hidden" jwcid="@Any" id="PLAN_TYPE_CODE" name="PLAN_TYPE_CODE" value="ognl:payPlan.PLAN_TYPE_CODE"/>
									<!-- <div class="fn" onclick="toggle(this);"><span class="e_ico-unfold">详情</span></div>  -->
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="c_line"></div>
		<!-- 列表 结束 -->
	</div>
	<div class="c_submit c_submit-full l_bottom">
		<button type="button" class="e_button-l e_button-navy" onclick="cancelInfo();">取消</button>
		<button type="button" id="payPlanSubmitBtn" class="e_button-l e_button-green" onclick="dealInfo();">确定</button>
	</div>
</div>
<!-- 合同结束  -->	

<!-- showPopup(popupName, showItem); 显示弹窗， popupName为Popup组件的name属性值, showItem为第一层要显示的项(div .c_popupItem)元素id -->
<!-- <button type="button" id="qryButton" ontap="showPopup('mypop', 'level1Item1')">打开弹窗</button> -->