body:before { content:""; position:absolute; z-index:10000; right:0.71em; bottom:0.71em; opacity:0.3; pointer-events:none;}

/* 标签元素 */
.e_tag { border-radius:1em;}



/* 颜色 */
.e_gray:after { color:#999 !important;}



/* 大小 */
.e_size-xxs { font-size:50%;}



/* 图标 */
.e_ico-pic-black { background:#999; color:#fff;}
.e_ico-pic-blueLite { background:#e5f3fa;}



/* 按钮元素 */
.e_button-full { width:100%;}
.e_button-transparent { background:none; border:0 none;}
.e_button-navy { border:1px solid #0085d0; color:#0085d0; background:none;}
.s_pc .e_button-transparent:hover { background:#f9f9f9;}
.s_pc .e_button-navy:hover { background:#e6f3fa; color:#0085d0;}
button:focus { box-shadow:inset 1px 1px 0 #f3b100, inset -1px -1px 0 #f3b100;}



/* 标签元素 */
.e_label-noborder { border:none; background:none;}



/* 复选框 */
input[type="radio"]:focus::-ms-check { box-shadow:inset 0 0 0 1px #f3b100;}
input[type="checkbox"]:focus:checked::-ms-check { border-color:#f3b100;}
input[type="radio"]:focus:after { border:1px solid #f3b100;}
input[type="radio"]:focus:checked:after { border:0.3em solid #0085d0; background:#f3b100;}
input[type="checkbox"]:focus:after { border:1px solid #f3b100;}



/* 下拉框元素 */
.e_select-transparent { background:none; border:0 none;}
.e_select.e_dis { opacity:1; background:#f2f2f2; color:#999;}



/* 分段器 */
.e_segment.e_dis { opacity:1;}
.e_segment-outline.e_dis span { background:#f2f2f2;}
.e_segment-outline span { background:#fcfcfc;}
.e_segment-outline.e_dis span.e_segmentOn { background:#f2f2f2 !important;}



/* 开关 */
.e_switch { background:#0085d0;}
.e_switch-off { background:#ddd;}



/* 进度 */
.e_progress-xxs { line-height:0.4em; width:10em;}
.e_progress-xxs .e_progressBar { height:0.4em;}
.e_progress-xxs .e_progressBar > .e_progressProgress { font-size:0.6em;}
.e_progress-xxs .e_progressValue { display:none;}



/* 组合框 */
.e_group .e_groupLeft > [class*="e_ico"]:after,
.e_group .e_groupRight > [class*="e_ico"]:after,
.e_group .e_groupMain > [class*="e_ico"]:after { background:none; color:#0085d0;}
.e_group.e_dis { opacity:1; background:#f2f2f2;}
.e_group.e_dis input { color:#999;}
.e_mix.e_dis { opacity:1; background:#f2f2f2;}
.e_mix.e_dis span,
.e_mix.e_dis input { background:none; color:#999;}



/* 圆点 */
.c_dot { position:absolute; width:1em; height:1em; background:#e40077; border-radius:50%; display:none;}



/* 标题组件 */
.c_title .text { font-weight:bold; color:#0085d0;}
.c_title .fn ul li { padding:0 1em;}
.c_title-level-2 { padding-left:0;}
.c_title-level-2 .text { color:#333; padding:0 1em;}




/* 提示组件 */
.c_tip { background:#fff; color:#333;}
.c_tip > div { display:inline;}
.c_tip:before { font-family:"ico"; content:"\e02a"; display:inline-block; width:1em; height:1em; text-align:center; border:0.15em solid #333; vertical-align:top; margin-top:0.1em; margin-right:0.3em; line-height:1em; padding:0.2em; border-radius:55%; font-size:80%;}
.c_tip-red { color:#e40077;}
.c_tip-red:before  { border-color:#e40077;}
.c_tip-blue { color:#0085d0;}
.c_tip-blue:before  { border-color:#0085d0;}
.c_tip-green { color:#8fc31f;}
.c_tip-green:before  { border-color:#8fc31f;}
/* 支持多条 */
.c_tip { padding-left:2.4em;}
.c_tip:before{ margin-left :-2.4em}


/* 表格组件 */
.c_table td .e_progress { vertical-align:middle;}
/* .c_table tbody tr.on { background:#0085d0 !important;} */
/* .s_pc .c_table-hover table tbody tr.on:hover { background:#0085d0 !important;} */
.c_table table td.fn { color:#0085d0;}
/* .s_pc .c_table-lite table tbody tr.on td.fn button { background:#0085d0;} */



/* 分割线组件 */
.c_line-light { border-bottom:1px solid #f2f2f2;}
/* .c_header { background:#333;} */
/* .s_pc .c_header .back:hover, */
/* .s_pc .c_header .fn > label:hover { background:#666;} */



/* 菜单组件 */
.c_menu .on { color:#0085d0;}



/* 标签页组件 */
.c_tab-sub > .tab:after { display:none;}
.c_tab-sub > .tab ul li { color:#aaa;}
.c_tab-sub > .tab ul li.on { color:#0085d0; font-weight:bold;}
.c_tab-sub > .tab ul li.on::before { background:#0085d0;}
.c_tab-sub > .tab > .fn.ctrl .e_button-blue { background:none; color:#0085d0;}
.c_tab-box > .tab ul li { color:#aaa;}
.c_tab-box > .tab ul li.on { color:#0085d0; font-weight:bold;}
.c_tab-box > .tab ul li.on::before { background:#0085d0;}
.c_tab-box > .tab > .fn.ctrl .e_button-blue { background:none; color:#0085d0;}
.c_tab-level-2 > .tab ul  li.on { background:#0085d0 !important;}
.c_tab-title.c_tab-sp > .tab .title { font-weight:bold; line-height:1.3em; padding-left:0;}



/* 步骤组件 */
.s_pc .c_step > ul > li.link:hover { background:#f7f7f7; cursor:pointer;}
.s_pc .c_step > ul > li.link:hover + li:before { background-color:#f7f7f7;}



/* 列表组件 */
.s_pc .c_list > ul > li.on.link:hover,
.c_list > ul > li.on { background:none !important; color:#0085d0 !important;}
.c_list > ul > li.on .main .content { color:#0085d0;}
.c_list > ul > li.on .side { color:#0085d0;}
.c_list > ul > li.on .e_red { color:#8fc31f !important;}
.c_list > ul > li { transition:background 0.3s ease-out;}
.c_list > ul > li .ico { color:#333;}
.c_list > ul > li.cur:before { border-left:0.3em solid #0085d0 !important;}
.c_list > ul > li.cur .ico,
.c_list > ul > li.cur .main { color:#0085d0;}
.c_list > ul > li .pic .e_ico-loading:after { vertical-align:middle;}
/* .c_list-v > ul > li.link:hover .main { background:#f7f7f7;} */
/* .c_list-v > ul > li .main { background:none;} */
.c_list > ul > li .side ~ .side { margin-left:0;}
.c_list > ul > li .op:not(.op-float) { display:block; overflow:hidden;}
.c_list > ul > li .op:not(.op-float) ul { display:block; float:right; background:none; width:auto;}
.c_list > ul > li .op:not(.op-float) li { color:#0085d0; float:left; padding:0 1.5em;}
.s_pc .c_list > ul > li .op:not(.op-float) li:hover { background:#f7f7f7;}
.c_list-transparent > ul > li { background:none;}


/* 参数列表 */
/* .c_param:not(.c_param-v) > ul > li .label:after { content:"：";} */



/* 分页组件 */
.c_page .turn .page { background:none; color:#333;}



/* 表单组件 */
.c_form > ul > li.required > .label { color:#333;}
.c_form > ul > li.required > .label:before { color:#e40077;}
.c_form-submit { padding:0;}
.c_form-submit .submit { bottom:0; right:0;}



/* 滚动条组件 */
.c_scroll-fixed { position:fixed;}
.c_scroll-vitrual { overflow:hidden;}
.c_scroll-vitrual > .c_scrollBar { position:absolute; pointer-events:none; top:0; height:4em; right:0; padding:0.2em; box-sizing:border-box; opacity:0; transition:opacity 0.3s ease-out;}
.c_scroll-vitrual > .c_scrollBar:before { content:""; display:block; height:100%; width:0.4em; border-radius:0.3em; background:rgba(0, 0, 0, 0.2);}
.c_scroll-vitrual:hover > .c_scrollBar { opacity:1;}



/* 弹窗组件 */
.c_dialog-animate { visibility:hidden; transition:visibility 0.2s ease-out, background 0.2s ease-out; background:rgba(0, 0, 0, 0);}
.c_dialog-animate .wrapper { transform:scale(0); transition:transform 0.2s ease-out;}
.c_dialog-animate.c_dialog-show { visibility:visible; background:rgba(0, 0, 0, 0.3);}
.c_dialog-animate.c_dialog-show .wrapper { transform:scale(1);}
.c_dialog-fixed { position:fixed;}



/* 容器组件 */
.c_box-shadow { box-shadow:0.3em 0.3em 0.3em rgba(0,0,0,0.1);}
.c_box-fixed { height:3em; position:fixed; top:-3em; width:100%; left:0; z-index:500;}



/* 提交组件 */
.c_submit.e_right button:last-child { margin-right:0;}
.c_submit > button { min-width:6em;}
.c_submit > button:last-child { margin-right:0;}
.c_submit .e_button-navy { margin-left:-1px;}
.c_submit > .center { position:absolute; left:0; right:0; text-align:center; z-index:0; width:28.57em; margin:0 auto; display:flex;}
.c_submit > .center > button { flex:1; margin:0; display:block; padding:0 !important;}
.c_submit > .center > .e_button-r { margin:0 4px;}
.c_submit > .center > .e_button-r:first-child { margin-left:0;}
.c_submit > .center > .e_button-r:last-child { margin-right:0;}
.c_submit > .right { float:right;}


/* 日历 */
.c_calendar button + .e_button-navy { border-left:0 none;}



/* 消息提示框 */
.c_msg-popup .wrapper { border-radius:0;}
.c_msg .fn .e_button-r.e_button-l { width:10em; margin:0.5em 0.25em;}



/* 过滤组件 */
.c_filter-white { background:#fff;}
.s_pc .c_filter .option li.on:hover,
.c_filter .option li.on { background:none; color:#0085d0;}



/* 悬浮层组件 */
.c_float-fixed { position:fixed;}
.c_float-animate { left:0; top:0; transform:scale(0); display:block; transition:visibility 0.1s ease-out, transform 0.1s ease-out;}
.c_float-animate.c_float-show { transform:scale(1); visibility:visible;}
.c_float-animate > .content { border:0 none;}



/* 编辑器 */
html .cke_chrome { border:0 none; box-shadow:none;}
html .cke_top { background:#fff; border-bottom:1px solid #f5f5f5; padding:1.5em;}
html .cke_bottom { background:#fff; border-top:0 none;}
html a.cke_combo_button { background:#fcfcfc; border:1px solid #d9d9d9; font-family:"microsoft yahei";}
html .cke_toolgroup { background:#fcfcfc; border:1px solid #d9d9d9;}



/* 固定布局 */
.l_bottom .c_submit { background:#fff;}



/* 动画 */
@keyframes zoominout {
	0% { transform:scale(1);}
	50% { transform:scale(1.5);}
	100% { transform:scale(1);}
}
.a_zoominout { animation: 0.3s zoominout steps(10);}



/*--------------------------------- 政企平台项目专用 ---------------------------------*/



/* 图片元素 */
.e_pic-quickPic { cursor:pointer; width:4.18em !important; height:4.18em !important; border:0 none; padding:0.8em; box-sizing:border-box;}
.e_pic-r.e_pic-quickPic { border-radius:0.5em;}
.e_pic-gd.e_pic-quickPic { background:linear-gradient(to bottom,#9fcbfe, #68a2e5);}
.e_pic-quickPic.e_pic-gd-green { background:linear-gradient(to bottom,#b3f030,#8fc320);}
.e_pic-quickPic.e_pic-gd-yellow { background:linear-gradient(to bottom,#ffff66,#fdd000);}
.e_pic-quickPic.e_pic-gd-freshGreen { background:linear-gradient(to bottom,#87e8a4,#1fb77c);}
.e_pic-quickPic.e_pic-gd-orange { background:linear-gradient(to bottom,#ffd156,#f3b100);}
.e_pic-quickPic.e_pic-gd-khaki { background:linear-gradient(to bottom,#dac387,#caa952);}
.e_pic-quickPic.e_pic-gd-stoneGreen { background:linear-gradient(to bottom,#90d8d1,#4fc1b6);}
.e_pic-quickPic.e_pic-gd-darkReddishPurple { background:linear-gradient(to bottom,#da93c7,#c24da3);}
.e_pic-quickPic.e_pic-gd-begoniaRed { background:linear-gradient(to bottom,#dd88a2,#cb4770);}
.e_pic.e_pic-gd-green:hover { background:linear-gradient(to bottom,#94e80f,#44a30b);}
.e_pic.e_pic-gd-yellow:hover { background:linear-gradient(to bottom,#fff11d,#ffb201);}
.e_pic.e_pic-gd-blue:hover { background:linear-gradient(to bottom,#469df7,#1b6fcf);}
.e_pic.e_pic-gd-freshGreen:hover { background:linear-gradient(to bottom,#0bcc5f,#00923f);}
.e_pic.e_pic-gd-orange:hover { background:linear-gradient(to bottom,#ffa214,#ff7c00);}
.e_pic.e_pic-gd-khaki:hover { background:linear-gradient(to bottom,#d59937,#b9711c);}
.e_pic.e_pic-gd-stoneGreen:hover { background:linear-gradient(to bottom,#27b7a2,#009d83);}
.e_pic.e_pic-gd-darkReddishPurple:hover { background:linear-gradient(to bottom,#d34388,#be1862);}
.e_pic.e_pic-gd-begoniaRed:hover { background:linear-gradient(to bottom,#ec6a7f,#d3214b);}
.s_ie8 .e_pic-gd.e_pic-quickPic { background:#6ba4e6;}
.s_ie8 .e_pic-quickPic.e_pic-gd-green { background:#91c521;}
.s_ie8 .e_pic-quickPic.e_pic-gd-yellow { background:#fdd204;}
.s_ie8 .e_pic-quickPic.e_pic-gd-freshGreen { background:#25ba7e;}
.s_ie8 .e_pic-quickPic.e_pic-gd-orange { background:#f3b305;}
.s_ie8 .e_pic-quickPic.e_pic-gd-khaki { background:#caa953;}
.s_ie8 .e_pic-quickPic.e_pic-gd-stoneGreen { background:#90d8d1}
.s_ie8 .e_pic-quickPic.e_pic-gd-darkReddishPurple { background:#da93c7;}
.s_ie8 .e_pic-quickPic.e_pic-gd-begoniaRed { background:#dd88a2;}
.s_ie8 .e_pic.e_pic-gd-green:hover { background:#44a30b;}
.s_ie8 .e_pic.e_pic-gd-yellow:hover { background:#ffb201;}
.s_ie8 .e_pic.e_pic-gd-blue:hover { background:#469df7;}
.s_ie8 .e_pic.e_pic-gd-freshGreen:hover { background:#0bcc5f;}
.s_ie8 .e_pic.e_pic-gd-orange:hover { background:#ffa214;}
.s_ie8 .e_pic.e_pic-gd-khaki:hover { background:#d59937;}
.s_ie8 .e_pic.e_pic-gd-stoneGreen:hover { background:#27b7a2;}
.s_ie8 .e_pic.e_pic-gd-darkReddishPurple:hover { background:#d34388;}
.s_ie8 .e_pic.e_pic-gd-begoniaRed:hover { background:#ec6a7f;}



/* 列表组件 */
.c_list .pic-s img:not(.e_pic-ico){ width:5em;}
.c_list-quick { background:#fafafa;}
.c_list-quick > ul > li { padding:1em 0;}
.c_list-notice > ul > li .pic  { margin:0 0.71em;}
.c_list-notice > ul > li .pic span { margin-top:0.56em;}
.c_list-notice > ul > li { margin-bottom:1.42em;}
.c_list-dealt > ul > li .pic {line-height:2.14em;}
.c_list-dealt > ul > li .pic .e_spot { margin:1.42em 0.71em;}
.c_list-notice > ul > li .main,
.c_list-dealt > ul > li .main { padding:0;}
.c_list-notice > ul > li .main .content,
.c_list-dealt > ul > li .main .content { line-height:2.14em; color:#333;}



/* 分页标签组件 */
.c_tab-quick >.tab li { color:#333; font-size:1em;}


/* 页面位置指示器 */
.c_position:before,
.c_position:after { content:""; display:inline-block; border:0.16em solid #ccc; width:0.5em; height:0.5em; border-radius:55%;}
.c_position ul { border-left:0.16em solid #ccc; margin-left:0.33em; padding:1em;}
.c_position ul li { line-height:2; cursor:pointer; padding-left:0.5em; margin-left:-1.99em;}
.c_position ul li a {display: inline-block;width: 7em;color: #000;}
.c_position ul li:before { content:""; display:inline-block; width:0.5em; height:0.5em; border:0.16em solid #fff; background:#ccc; border-radius:55%; vertical-align:top; margin-top:0.6em; margin-right:0.6em;}
.c_position ul li:hover { background:#f5f5f5;}
.c_position ul li:hover:before { background:#000;}
.c_position ul li.on:before { color:#0085d0; content:"\e06d"; font-family:"ico"; border:0 none; background:none; margin-top:0; margin-right:0.9em;}
.c_position ul li.on a { color:#0085d0;}



/* @Dialog白头 */
.c_dialog > .wrapper > .header { background:#fff;}
.c_dialog > .wrapper > .header .text { color:#0085d0; font-weight:bold;}
.c_dialog > .wrapper > .header .fn .close { background:#fff;}



/* 表格行删除 */
.c_table table tbody tr.delete td{ text-decoration:line-through; color:#e40077;}
/* .c_table table tbody tr.delete td.fn [class*="e_ico"] { opacity:0.4; cursor:not-allowed !important; pointer-events:none;} */



/* 置底图标去背景色 */
.l_bottom .c_submit{ background:none;}


/* popup——c_form单行查询区域 */
.c_scroll.c_scroll-search{ top:9.5em;}
.c_scroll.c_scroll-search-row-2{ top:12.3em;}
.c_scroll.c_scroll-wrapper-submit{ bottom:5.5em;}


.c_param-nopadding { padding:0 0.75em;}

/* c_table-edit 操作按钮泛白问题解决 */
.c_table-edit table tr.on td .e_group .e_groupLeft > [class*="e_ico"]:after,
.c_table-edit table tr.on td .e_group .e_groupRight > [class*="e_ico"]:after, 
.c_table-edit table tr.on td .e_group .e_groupMain > [class*="e_ico"]:after { color:#fff !important;}



.s_phone .c_box-phone-noborder{ border:none;}

