
	<!-- 标题 开始 -->
	<div class="c_title c_title-2">
		<div class="text">邮寄信息</div>
	</div>
	<!-- 标题 结束 -->
	<!-- 表单 开始 -->
	<div class="c_form c_form-col-3 c_form-label-8">
		<ul class="ul">
			<li class="li">
				<span class="label"><span class="e_required">邮寄标识：</span></span>
				<span class="e_select"><span><span>
					<select 
						jwcid="@Select" 
						name="post_POST_TAG" id="post_POST_TAG" onchange="changePostTag();"
						source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('POST_TAG')" 
						value="ognl:postInfo.POST_TAG"
						textField="DATA_NAME"
						valueField="DATA_ID"
						addDefault="false"
						/>

				</span></span></span>
			</li>
			<li class="li">
			</li>
			<span id='IF_POST_INFO' style="display:none">
			<li class="li col-3" >
				<span class="label"><span id="POST_CONTENT_LABEL">邮寄内容：</span></span>
				<label for="post_POST_CONTENT_0">
					<input jwcid="@Checkbox" name="post_POST_CONTENT_0" 
						checked="ognl:postInfo.POST_CONTENT_0" id="post_POST_CONTENT_0"
					/>账单&nbsp
				</label>
				<label for="post_POST_CONTENT_1">
					<input jwcid="@Checkbox" name="post_POST_CONTENT_1" 
						checked="ognl:postInfo.POST_CONTENT_1" id="post_POST_CONTENT_1"
					/>清单&nbsp
				</label>
				<label for="post_POST_CONTENT_2">
					<input jwcid="@Checkbox" name="post_POST_CONTENT_2" 
						checked="ognl:postInfo.POST_CONTENT_2" id="post_POST_CONTENT_2"
					/>发票&nbsp
				</label>
				<label for="post_POST_CONTENT_3">
					<input jwcid="@Checkbox" name="post_POST_CONTENT_3" 
						checked="ognl:postInfo.POST_CONTENT_3" id="post_POST_CONTENT_3"
					/>广告&nbsp
				</label>
			</li>
			<li class="li col-3"  >
				<span class="label"><span id="POST_TYPESET_LABEL">邮寄方式：</span></span>
				<label for="post_POST_TYPESET_0">
					<input jwcid="@Checkbox" name="post_POST_TYPESET_0" 
						checked="ognl:postInfo.POST_TYPESET_0" id="post_POST_TYPESET_0"
					/>邮政&nbsp;
				</label>
				<label for="post_POST_TYPESET_1">
					<input jwcid="@Checkbox" name="post_POST_TYPESET_1" 
						checked="ognl:postInfo.POST_TYPESET_1" id="post_POST_TYPESET_1"
					/>传真&nbsp;
				</label>
				<label for="post_POST_TYPESET_2">
					<input jwcid="@Checkbox" name="post_POST_TYPESET_2" 
						checked="ognl:postInfo.POST_TYPESET_2" id="post_POST_TYPESET_2"
					/>E-mail&nbsp;
				</label>
				
			</li>
			
			<li class="li" >
				<span class="label"><span id="POST_CYC_LABEL">邮寄周期：</span></span>
				<span class="e_select"><span><span>
					<select 
						jwcid="@Select" 
						name="post_POST_CYC" id="post_POST_CYC" 
						source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('POST_CYC')"
						textField="DATA_NAME" valueField="DATA_ID"
						value="ognl:postInfo.POST_CYC"
						/>

				</span></span></span>
			</li>
			<li class="li">
				<span class="label"><span id="POST_NAME_LABEL">邮寄名称：</span></span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="post_POST_NAME" 
						id="post_POST_NAME"
						type="text"
						maxLength="50"
						value="ognl:postInfo.POST_NAME"
						title="邮寄名称"
					/>
				</span></span>
			</li>
			<li class="li" >
				<span class="label">邮寄地址：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="post_POST_ADDRESS" 
						id="post_POST_ADDRESS"
						type="text"
						value="ognl:postInfo.POST_ADDRESS"
						title="邮寄地址"
					/>
				</span></span>
			</li>
			<li class="li">
				<span class="label">邮寄邮编：</span>
				<span class="e_input"><span>
				
					<input jwcid="@TextField" name="post_POST_CODE" 
						id="post_POST_CODE"
						type="text"
						maxLength="6"
						value="ognl:postInfo.POST_CODE"
						title="邮寄邮编"
					/>
				</span></span>
			</li>
			
			<li class="li">
				<span class="label">E-mail地址：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="post_EMAIL" 
						id="post_EMAIL"
						type="text"
						value="ognl:postInfo.EMAIL"
						title="E-mail地址"
					/>
				</span></span>
			</li>
			<li class="li">
				<span class="label">传真电话：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="post_FAX_NBR" 
						id="post_FAX_NBR"
						type="text"
						value="ognl:postInfo.FAX_NBR"
						title="传真电话"
					/>
				</span></span>
			</li>
			<input type="hidden" name="post_POST_TYPESET" id="post_POST_TYPESET"/>
   			<input type="hidden" name="post_POST_CONTENT" id="post_POST_CONTENT"/>
   			<input jwcid="@Any" id="POST_ID" name="POST_ID" value="ognl:postInfo.ID" style="display:none"/>
   			<input jwcid="@TextArea" id="OLD_POST_INFO" name="OLD_POST_INFO" value="ognl:oldPostInfo" desc="老数据"  style="display:none"/>
			</span>
		</ul>
	</div>
	<!-- 表单 结束 -->
	<!-- 标题 开始 -->
	<div class="c_title c_title-2">
		<div class="text">催缴联系信息</div>
	</div>
	<!-- 标题 结束 -->
	<!-- 表单 开始 -->
	<div class="c_form c_form-col-3 c_form-label-8">
		<ul class="ul">
			<li class="li">
				<span class="label">催缴人姓名1：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="askPrint_RSRV_STR1" 
						id="askPrint_RSRV_STR1"
						type="text"
						value="ognl:askPrintInfo.RSRV_STR1"
						title="催缴人姓名1" />
				</span></span>
			</li>
			<li class="li">
				<span class="label">催缴人手机号1：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="askPrint_RSRV_STR2" 
							id="askPrint_RSRV_STR2"
							type="text"
							value="ognl:askPrintInfo.RSRV_STR2"
							onchange="checkNum($(this));"
							title="催缴人手机号1" />
				</span></span>
			</li>
			<li class="li">
				<span class="label">催缴人办公电话1：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="askPrint_RSRV_STR3" 
							id="askPrint_RSRV_STR3"
							type="text"
							value="ognl:askPrintInfo.RSRV_STR3"
							title="催缴人办公电话1" />
				</span></span>
			</li>
			<li class="li">
				<span class="label">催缴人姓名2：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="askPrint_RSRV_STR4" 
							id="askPrint_RSRV_STR4"
							type="text"
							value="ognl:askPrintInfo.RSRV_STR4"
							title="催缴人姓名2" />
				</span></span>
			</li>
			<li class="li">
				<span class="label">催缴人手机号2：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="askPrint_RSRV_STR5" 
						id="askPrint_RSRV_STR5"
						type="text"
						value="ognl:askPrintInfo.RSRV_STR5"
						onchange="checkNum($(this));"
						title="催缴人手机号2" />
				</span></span>
			</li>
			<li class="li">
				<span class="label">催缴人办公电话2：</span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="askPrint_RSRV_STR6" 
						id="askPrint_RSRV_STR6"
						type="text"
						value="ognl:askPrintInfo.RSRV_STR6"
						title="催缴人办公电话2" />
				</span></span>
			</li>
		</ul>
	</div>
	<input jwcid="@TextArea" id="OLD_ASK_PRINT" name="OLD_ASK_PRINT" value="ognl:oldAskInfo" desc="老数据"  style="display:none"/>
	<!-- 表单 结束 -->
