<div class="c_scroll c_scroll-border c_scroll-white" style="height: 15em">
<div class="ognl:'c_list c_list-phone-col-1 c_list-line c_list-s c_list-col-'+discntColNum" jwcid="@Any" id="selectDiscntInfo" name="selectDiscntInfo" >
	<ul id="SelectDiscntUl">
		<li jwcid="@Foreach" source="ognl:discntList" value="ognl:discnt" element="li" class='ognl:"link "'>
			<div jwcid="@Conditional" condition='ognl:discnt.ATTR_PARAM!=null'>
				<label jwcid="@Any"
					itemIndex="ognl:discnt.ITEM_INDEX"
					elementId="ognl:discnt.ELEMENT_ID"
					element="div"
					elementType="D"
					elementName="ognl:discnt.ELEMENT_NAME"
					title="ognl:discnt.ELEMENT_NAME"
					class='ognl:"1".equals(discnt.MODIFY_TAG)?"group link e_delete":"group link"'>
					<div class="content">
						<div class="fn">
							<input type="checkbox"
								   name="SELECTED_DISCNT_CHECKBOX"
								   checked='ognl:("1".equals(discnt.MODIFY_TAG)||"0_1".equals(discnt.MODIFY_TAG))?"false":"true"'
								   value="ognl:discnt.ELEMENT_ID"
								   jwcid="@Checkbox"
								   itemIndex="ognl:discnt.ITEM_INDEX"
								   packageId="ognl:discnt.PACKAGE_ID"
								   disabled='ognl:"1_1".equals(discnt.PACKAGE_FORCE_TAG+"_"+discnt.ELEMENT_FORCE_TAG)?"true":"true".equals(discnt.DISABLED)?"true":"false"'
								   onclick="selectedElements.checkBoxAction(this)"/>
						</div>
						<div class="main">
							<div class="title" ><span jwcid="@Insert" value="ognl:discnt.ELEMENT_NAME"/></div>
							<div class="content">
								<span jwcid="@Insert" itemIndex="ognl:discnt.ITEM_INDEX" id='ognl:discnt.ITEM_INDEX+"_START_DATE"' value="ognl:getPage().formatDate('yyyy-MM-dd',discnt.START_DATE)"/>
								~
								<span jwcid="@Insert" itemIndex="ognl:discnt.ITEM_INDEX" id='ognl:discnt.ITEM_INDEX+"_END_DATE"' value="ognl:getPage().formatDate('yyyy-MM-dd',discnt.END_DATE)"/>
							</div>
						</div>
					</div>
				</label>
				<div jwcid="@Any" id='ognl:discnt.ITEM_INDEX+"_ATTRPARAM"' name='ognl:discnt.ITEM_INDEX+"_ATTRPARAM"'x-wade-float="elementAttrFloat" class="fn fn-orange" itemIndex="ognl:discnt.ITEM_INDEX" elementId="ognl:discnt.ELEMENT_ID" elementType="D" onclick="selectedElements.showAttr(this,this.getAttribute('elementId'),this.getAttribute('elementType'))"><span class="e_ico-unfold"></span></div>
			</div>

			<div jwcid="@Conditional" condition='ognl:discnt.ATTR_PARAM==null'>
            	<label class='ognl:"1".equals(discnt.MODIFY_TAG)?"group link e_delete ":"group link "' jwcid="@Any" itemIndex="ognl:discnt.ITEM_INDEX"  title="ognl:discnt.ELEMENT_NAME">
            		<div class="content">
						<div class="fn">
							<input type="checkbox"
								   name="SELECTED_DISCNT_CHECKBOX"
								   checked='ognl:("1".equals(discnt.MODIFY_TAG)||"0_1".equals(discnt.MODIFY_TAG))?"false":"true"'
								   value="ognl:discnt.ELEMENT_ID"
								   jwcid="@Checkbox"
								   itemIndex="ognl:discnt.ITEM_INDEX"
								   packageId="ognl:discnt.PACKAGE_ID"
								   disabled='ognl:"1_1".equals(discnt.PACKAGE_FORCE_TAG+"_"+discnt.ELEMENT_FORCE_TAG)?"true":"true".equals(discnt.DISABLED)?"true":"false"'
								   onclick="selectedElements.checkBoxAction(this)"/>
						</div>
						<div class="main">
							<div class="title"><span jwcid="@Insert" value="ognl:discnt.ELEMENT_NAME"/></div>
							<div class="content">
								<span jwcid="@Insert" itemIndex="ognl:discnt.ITEM_INDEX" id='ognl:discnt.ITEM_INDEX+"_START_DATE"' value="ognl:getPage().formatDate('yyyy-MM-dd',discnt.START_DATE)"/>
								~
								<span jwcid="@Insert" itemIndex="ognl:discnt.ITEM_INDEX" id='ognl:discnt.ITEM_INDEX+"_END_DATE"' value="ognl:getPage().formatDate('yyyy-MM-dd',discnt.END_DATE)"/>
							</div>
						</div>
					</div>
				</label>
            </div>
		</li>
	</ul>
</div>
</div>