<div class="c_option" style="top:164px; left:117px; width:200px; display:none;" id="elementDatePanel">
	<div class="c_optionContent">
		<!-- 表单 开始 -->
		<div class="c_form c_form-col-1">
			<ul class="ul" id="choiceEditDate">
				<li class="li" style="display:none">
		            <span class="label">修改方式：</span>
					<span class="e_select"><span><span>
		               	<select jwcid="@Select" name="CHOICE_EDIT_MODE" id="CHOICE_EDIT_MODE"
									source="ognl:page.pageutil.getStaticList('ELEMENT_DATE_EDIT_MODE')"
									textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
		                			value="ognl:info.EDIT_MODE"
		                			onchange=""
									desc="修改方式"
                        			disabled="ognl:'true'.equals(info.EDIT_DISABLED)"
                        />
	                </span></span></span>
		        </li>
		        <li class="li" tag="2" style="display:none">
		            <span class="label">结束时间：</span>
					<span class="e_input"><span>
						<input type="text" jwcid="@DateField" name="CHOICE_END_DATE" id="CHOICE_END_DATE" value="ognl:info.END_DATE" desc="结束时间" nullable="no" format="yyyy-MM-dd"/>
					</span></span>
		        </li>
		        <li class="li" tag="1" style="display:none">
		            <span class="label">生效方式：</span>
					<span class="e_select"><span><span>
		               	<select jwcid="@Select" name="CHOICE_ENABLE_TAG" id="CHOICE_ENABLE_TAG"
									source="ognl:info.ENABLELIST"
									textField="TEXT" valueField="VALUE" titleField="TEXT"
		                			value="ognl:info.EDIT_MODE"
		                			onchange=""
		                			addDefault="false"
                        />
	                </span></span></span>
		        </li>
		    </ul>
		</div>
		<!-- 表单 结束 -->
		<!-- 提交 开始 -->
		
		<div class="c_submit">
			<button class="e_button-form" jwcid="@Any" itemIndex="ognl:itemIndex" onclick="ognl:confirmHandler"><i class="e_ico-ok"></i><span>确定</span></button>
		</div>
		
		<!-- 提交 结束 -->
	</div>
	<div class="c_optionShadow"></div>
</div>
<input jwcid="@Hidden" name="ELEMENTDATECHOICE_COMPONENT_ID" id="ELEMENTDATECHOICE_COMPONENT_ID" value="ognl:id"/>