<div jwcid="@Conditional" condition="ognl:'false'.equals(isPlatSvc)">
    <div class="c_float c_float-fixed" style="width:23em" id="elementAttrFloat">
        <div class="bg"></div>
        <div class="content">
            <div class="l_padding">
                <!-- 表单 开始 -->
                <div class="c_form" jwcid="datePanel@Part">
                    <ul id="DateUl" class="e_hide">
                        <div jwcid="@Conditional" condition='ognl:"select".equals(sDateType)'>
                            <li class="link">
                                <div class="label">生效日期：</div>
                                <div class="value" id="ELEMENT_START_DATE_DIV">
								<span itemIndex="ognl:itemIndex"
                                      onchange="selectedElements.changeStartDate(this,'true')"
                                      id="ELEMENT_START_DATE" name="ELEMENT_START_DATE"
                                      source="ognl:sDateSource" addDefault="false"
                                      disabled="ognl:sDisabled=='true'?true:false"
                                      textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
                                      jwcid="@Select" value="" nullable="no" desc="生效日期"/>
                                </div>
                            </li>
                        </div>
                        <div jwcid="@Conditional" condition='ognl:"select".equals(eDateType)'>
                            <li class="link">
                                <div class="label">失效日期：</div>
                                <div class="value" id="ELEMENT_END_DATE_DIV">
								<span id="ELEMENT_END_DATE" name="ELEMENT_END_DATE" jwcid="@Select"
                                      value="ognl:elementEndDate"
                                      itemIndex="ognl:itemIndex" source="ognl:eDateSource"
                                      disabled="ognl:eDisabled=='true'?true:false"
                                      addDefault="false" textField="DATA_NAME" valueField="DATA_ID"
                                      titleField="DATA_NAME" nullable="no" desc="失效日期"/>
                                </div>
                            </li>
                        </div>
                        <div jwcid="@Conditional" condition='ognl:"datefield".equals(eDateType)'>
                            <li class="link">
                                <div class="label">失效日期：</div>
                                <div class="value" id="ELEMENT_END_DATE_DIV">
                                    <input id="ELEMENT_END_DATE" itemIndex="ognl:itemIndex" minName="ELEMENT_START_DATE"
                                           name="ELEMENT_END_DATE" dropDown="true" jwcid="@DateField"
                                           value="ognl:elementEndDate"
                                           onafterAction="selectedElements.checkDate(this)"
                                           disabled="ognl:eDisabled=='true'?true:false" nullable="no" desc="失效日期"/>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
                <!-- 表单 结束 -->
                <div class="c_space"></div>
                <div class="c_form" jwcid="elementPanel@Part">
                    <!-- 表单 开始 -->
                    <ul id="elementPanelUL">
                        <li jwcid="@Foreach"
                            source="ognl:Attrs"
                            value="ognl:attr"
                            element="li" class='ognl:"0".equals(attr.ATTR_CAN_NULL)?"link required":"link"'>
                            <div jwcid="@Conditional"
                                 condition='ognl:(attr.DISPLAY_CONDITION==null) || (displayCondition == null) || (attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)'>
                                <div class="label"><span><span jwcid="@Insert" value="ognl:attr.ATTR_LABLE"/></span>：
                                </div>
                                <div class="value">
                                    <!--普通input框-->
                                    <div jwcid="@Conditional"
                                         condition='ognl:"0".equals(attr.ATTR_TYPE_CODE) && ("7360".equals(attr.ATTR_CODE) || "7361".equals(attr.ATTR_CODE) || "7362".equals(attr.ATTR_CODE))'>
                                        '>
                                        <input
                                                jwcid="@TextField"
                                                name="ognl:attr.ATTR_CODE"
                                                id="ognl:attr.ATTR_CODE"
                                                attrCode="ognl:attr.ATTR_CODE"
                                                type="text"
                                                value="ognl:attr.ATTR_INIT_VALUE"
                                                datatype="ognl:attr.ATTR_FIELD_TYPE_WADE"
                                                nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                                disabled="ognl:(('7362'.equals(attr.ATTR_CODE))?'true':(attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
                                                minsize='ognl: (attr.ATTR_FIELD_MIN ==null || "".equals(attr.ATTR_FIELD_MIN))?"0":attr.ATTR_FIELD_MIN'
                                                maxsize='ognl: (attr.ATTR_FIELD_MAX ==null || "".equals(attr.ATTR_FIELD_MAX))?"999":attr.ATTR_FIELD_MAX'
                                                desc="ognl:attr.ATTR_LABLE" onkeyup="calculateAllFlow()"/>
                                    </div>
                                    <div jwcid="@Conditional"
                                         condition='ognl:("0".equals(attr.ATTR_TYPE_CODE)  && ("7360"!=attr.ATTR_CODE || "7361"!=attr.ATTR_CODE || "7362"!=attr.ATTR_CODE) )'>
                                        <input jwcid="@TextField"
                                               name="ognl:attr.ATTR_CODE"
                                               id="ognl:attr.ATTR_CODE"
                                               attrCode="ognl:attr.ATTR_CODE"
                                               type="text"
                                               value="ognl:attr.ATTR_INIT_VALUE"
                                               datatype="ognl:attr.ATTR_FIELD_TYPE_WADE"
                                               nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                               disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
                                               minsize='ognl: (attr.ATTR_FIELD_MIN ==null || "".equals(attr.ATTR_FIELD_MIN))?"0":attr.ATTR_FIELD_MIN'
                                               maxsize='ognl: (attr.ATTR_FIELD_MAX ==null || "".equals(attr.ATTR_FIELD_MAX))?"999":attr.ATTR_FIELD_MAX'
                                               desc="ognl:attr.ATTR_LABLE"/>
                                    </div>
                                    <!--selected模式-->
                                    <div jwcid="@Conditional"
                                         condition='ognl:"1".equals(attr.ATTR_TYPE_CODE)||"3".equals(attr.ATTR_TYPE_CODE)'>
		                            <span>
			                            <span jwcid="@Select"
                                              name="ognl:attr.ATTR_CODE"
                                              class="e_select e_select-r"
                                              id="ognl:attr.ATTR_CODE"
                                              attrCode="ognl:attr.ATTR_CODE"
                                              source="ognl:attr.PARAMS"
                                              textField="ATTR_FIELD_NAME" valueField="ATTR_FIELD_CODE"
                                              titleField="ATTR_FIELD_NAME"
                                              value="ognl:attr.ATTR_INIT_VALUE"
                                              onchange="ognl:attr.SELFFUNC"
                                              nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                              disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
                                              desc="ognl:attr.ATTR_LABLE"/>
		                            </span>
                                    </div>
                                    <!--时间输入-->
                                    <div jwcid="@Conditional" condition='ognl:"2".equals(attr.ATTR_TYPE_CODE)'>
                                        <input jwcid="@DateField"
                                               name="ognl:attr.ATTR_CODE"
                                               id="ognl:attr.ATTR_CODE"
                                               attrCode="ognl:attr.ATTR_CODE"
                                               value="ognl:attr.ATTR_INIT_VALUE"
                                               format='ognl:"1".equals(attr.RSRV_STR5)?"yyyyMMddHHmmss":"yyyy-MM-dd"'
                                               nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                               disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
                                               desc="ognl:attr.ATTR_LABLE"/>
                                    </div>
                                    <!--连续值(类型为密码)-->
                                    <div jwcid="@Conditional" condition='ognl:"4".equals(attr.ATTR_TYPE_CODE)'>
                                        <input
                                                jwcid="@Any"
                                                name="ognl:attr.ATTR_CODE"
                                                id="ognl:attr.ATTR_CODE"
                                                attrCode="ognl:attr.ATTR_CODE"
                                                type="password"
                                                value="ognl:attr.ATTR_INIT_VALUE"
                                                nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                                disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?null:((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?null:'true'))"
                                                minsize="6"
                                                desc="ognl:attr.ATTR_LABLE"
                                        />
                                    </div>
                                    <!--离散值-->
                                    <div jwcid="@Conditional" condition='ognl:"5".equals(attr.ATTR_TYPE_CODE)'>
                                        <input
                                                jwcid="@Radio"
                                                name="ognl:attr.ATTR_GROUP_NAME"
                                                id="ognl:attr.ATTR_CODE"
                                                attrCode="ognl:attr.ATTR_CODE"
                                                type="radio"
                                                value=""
                                                attrValue="ognl:attr.PARAMS.get(0).ATTR_FIELD_CODE"
                                                nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                                disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?null:((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?null:'true'))"
                                                onclick="ognl:attr.SELFFUNC"
                                                desc="ognl:attr.ATTR_LABLE"
                                        />
                                        <span jwcid="@Insert" value="ognl:attr.PARAMS.get(0).ATTR_FIELD_NAME"/>
                                    </div>
                                    <div jwcid="@Conditional" condition='ognl:("H".equals(attr.ATTR_TYPE_CODE))'>
                                        <input jwcid="@TextField"
                                               name="ognl:attr.ATTR_CODE"
                                               id="ognl:attr.ATTR_CODE"
                                               attrCode="ognl:attr.ATTR_CODE"
                                               type="text"
                                               value="ognl:attr.ATTR_INIT_VALUE"
                                               datatype="ognl:attr.ATTR_FIELD_TYPE_WADE"
                                               nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                               disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
                                               desc="ognl:attr.ATTR_LABLE"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- 表单 结束 -->
                </div>
                <div class="c_space"></div>
                <!-- 提交 开始 -->
                <div class="e_center">
                    <button type="button" id="ELEMENT_ATTR_BUTTON_CANCEL" name="ELEMENT_ATTR_BUTTON_CANCEL" jwcid="@Any"
                            itemIndex="ognl:itemIndex"
                            ontap="$('#elementAttrFloat').removeClass('c_float-show');selectedElements.cancelElementAttr(this.getAttribute('itemIndex'))"
                            class=" e_button-navy e_button-r">取消
                    </button>
                    <button type="button" id="ELEMENT_ATTR_BUTTON_OK" name="ELEMENT_ATTR_BUTTON_OK" jwcid="@Any"
                            itemIndex="ognl:itemIndex" onclick="ognl:confirmHandler" class=" e_button-blue e_button-r">
                        确定
                    </button>
                </div>
                <!-- 提交 结束 -->
            </div>
        </div>
    </div>
    <input jwcid="@Hidden" name="ELEMENTATTR_COMPONENT_ID" id="ELEMENTATTR_COMPONENT_ID" value="ognl:id"/>
    <input jwcid="@Hidden" name="ATTR_ITEM_INDEX" id="ATTR_ITEM_INDEX" value="ognl:itemIndex"/>
</div>
<div jwcid="@Conditional" condition="ognl:'true'.equals(isPlatSvc)">
    <div id="attrPanel">
        <div class="c_header">
            <div class="back" id="attrTitle" ontap="hidePopup('platSvcAttr')"></div>
        </div>
        <div class="c_scroll c_scroll-float c_scroll-header">
            <div class="l_padding">
                <div jwcid="@Conditional"
                     condition='ognl:"select".equals(sDateType)||"select".equals(eDateType)||"datefield".equals(eDateType)'>
                    <div class="c_list c_list-s c_list-border c_list-line" jwcid="datePanelPlatSvc@Part">
                        <ul id="DateUl">
                            <div jwcid="@Conditional" condition='ognl:"select".equals(sDateType)'>
                                <li class="link">
                                    <div class="label">生效日期</div>
                                    <div class="value" id="ELEMENT_START_DATE_DIV">
                                    <span itemIndex="ognl:itemIndex" onchange="selectedElements.changeStartDate(this,'true')"
                                          id="ELEMENT_START_DATE" name="ELEMENT_START_DATE"
                                          source="ognl:sDateSource" addDefault="false"
                                          disabled="ognl:sDisabled=='true'?true:false"
                                          textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
                                          jwcid="@Select" value="" nullable="no" desc="生效日期"/>
                                    </div>
                                </li>
                            </div>
                            <div jwcid="@Conditional" condition='ognl:"select".equals(eDateType)'>
                                <li class="link">
                                    <div class="label">失效日期</div>
                                    <div class="value" id="ELEMENT_END_DATE_DIV">
                                    <span id="ELEMENT_END_DATE" name="ELEMENT_END_DATE" jwcid="@Select"
                                          value="ognl:elementEndDate"
                                          itemIndex="ognl:itemIndex" source="ognl:eDateSource"
                                          disabled="ognl:eDisabled=='true'?true:false"
                                          addDefault="false" textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
                                          nullable="no" desc="失效日期"/>
                                    </div>
                                </li>
                            </div>
                            <div jwcid="@Conditional" condition='ognl:"datefield".equals(eDateType)'>
                                <li class="link">
                                    <div class="label">失效日期</div>
                                    <div class="value" id="ELEMENT_END_DATE_DIV">
                                        <input id="ELEMENT_END_DATE" itemIndex="ognl:itemIndex" minName="ELEMENT_START_DATE"
                                               name="ELEMENT_END_DATE" dropDown="true" jwcid="@DateField"
                                               value="ognl:elementEndDate"
                                               onafterAction="selectedElements.checkDate(this)"
                                               disabled="ognl:eDisabled=='true'?true:false" nullable="no" desc="失效日期"/>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div jwcid="elementPanelPlatSvc@Part">
                    <div class="c_space-c"></div>
                    <div class="c_list c_list-s c_list-border c_list-line">
                        <!-- 表单 开始 -->
                        <ul id="elementPanelUL">
                            <li jwcid="@Foreach"
                                source="ognl:Attrs"
                                value="ognl:attr"
                                element="li" class='ognl:"0".equals(attr.ATTR_CAN_NULL)?"link required":"link"'>
                                <div jwcid="@Conditional"
                                     condition='ognl:(attr.DISPLAY_CONDITION==null) || (displayCondition == null) || (attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)'>
                                    <div class="label"><span><span jwcid="@Insert" value="ognl:attr.ATTR_LABLE"/></span></div>
                                    <div class="value">
                                        <!--普通input框-->
                                        <div jwcid="@Conditional"
                                             condition='ognl:"0".equals(attr.ATTR_TYPE_CODE) && ("7360".equals(attr.ATTR_CODE) || "7361".equals(attr.ATTR_CODE) || "7362".equals(attr.ATTR_CODE))'>
                                            '>
                                            <input
                                                    jwcid="@TextField"
                                                    name="ognl:attr.ATTR_CODE"
                                                    id="ognl:attr.ATTR_CODE"
                                                    attrCode="ognl:attr.ATTR_CODE"
                                                    type="text"
                                                    value="ognl:attr.ATTR_INIT_VALUE"
                                                    datatype="ognl:attr.ATTR_FIELD_TYPE_WADE"
                                                    nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                                    disabled="ognl:(('7362'.equals(attr.ATTR_CODE))?'true':(attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
                                                    minsize='ognl: (attr.ATTR_FIELD_MIN ==null || "".equals(attr.ATTR_FIELD_MIN))?"0":attr.ATTR_FIELD_MIN'
                                                    maxsize='ognl: (attr.ATTR_FIELD_MAX ==null || "".equals(attr.ATTR_FIELD_MAX))?"999":attr.ATTR_FIELD_MAX'
                                                    desc="ognl:attr.ATTR_LABLE" onkeyup="calculateAllFlow()"/>
                                        </div>
                                        <div jwcid="@Conditional"
                                             condition='ognl:("0".equals(attr.ATTR_TYPE_CODE)  && ("7360"!=attr.ATTR_CODE || "7361"!=attr.ATTR_CODE || "7362"!=attr.ATTR_CODE) )'>
                                            <input jwcid="@TextField"
                                                   name="ognl:attr.ATTR_CODE"
                                                   id="ognl:attr.ATTR_CODE"
                                                   attrCode="ognl:attr.ATTR_CODE"
                                                   type="text"
                                                   value="ognl:attr.ATTR_INIT_VALUE"
                                                   datatype="ognl:attr.ATTR_FIELD_TYPE_WADE"
                                                   nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                                   disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
                                                   minsize='ognl: (attr.ATTR_FIELD_MIN ==null || "".equals(attr.ATTR_FIELD_MIN))?"0":attr.ATTR_FIELD_MIN'
                                                   maxsize='ognl: (attr.ATTR_FIELD_MAX ==null || "".equals(attr.ATTR_FIELD_MAX))?"999":attr.ATTR_FIELD_MAX'
                                                   desc="ognl:attr.ATTR_LABLE"/>
                                        </div>
                                        <!--selected模式-->
                                        <div jwcid="@Conditional"
                                             condition='ognl:"1".equals(attr.ATTR_TYPE_CODE)||"3".equals(attr.ATTR_TYPE_CODE)'>
                                <span>
                                    <span jwcid="@Select"
                                          name="ognl:attr.ATTR_CODE"
                                          class="e_select e_select-r"
                                          id="ognl:attr.ATTR_CODE"
                                          attrCode="ognl:attr.ATTR_CODE"
                                          source="ognl:attr.PARAMS"
                                          textField="ATTR_FIELD_NAME" valueField="ATTR_FIELD_CODE" titleField="ATTR_FIELD_NAME"
                                          value="ognl:attr.ATTR_INIT_VALUE"
                                          onchange="ognl:attr.SELFFUNC"
                                          nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                          disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
                                          desc="ognl:attr.ATTR_LABLE"/>
                                </span>
                                        </div>
                                        <!--时间输入-->
                                        <div jwcid="@Conditional" condition='ognl:"2".equals(attr.ATTR_TYPE_CODE)'>
                                            <input jwcid="@DateField"
                                                   name="ognl:attr.ATTR_CODE"
                                                   id="ognl:attr.ATTR_CODE"
                                                   attrCode="ognl:attr.ATTR_CODE"
                                                   value="ognl:attr.ATTR_INIT_VALUE"
                                                   format='ognl:"1".equals(attr.RSRV_STR5)?"yyyyMMddHHmmss":"yyyy-MM-dd"'
                                                   nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                                   disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
                                                   desc="ognl:attr.ATTR_LABLE"/>
                                        </div>
                                        <!--连续值(类型为密码)-->
                                        <div jwcid="@Conditional" condition='ognl:"4".equals(attr.ATTR_TYPE_CODE)'>
                                            <input
                                                    jwcid="@Any"
                                                    name="ognl:attr.ATTR_CODE"
                                                    id="ognl:attr.ATTR_CODE"
                                                    attrCode="ognl:attr.ATTR_CODE"
                                                    type="password"
                                                    value="ognl:attr.ATTR_INIT_VALUE"
                                                    nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                                    disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?null:((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?null:'true'))"
                                                    minsize="6"
                                                    desc="ognl:attr.ATTR_LABLE"
                                            />
                                        </div>
                                        <!--离散值-->
                                        <div jwcid="@Conditional" condition='ognl:"5".equals(attr.ATTR_TYPE_CODE)'>
                                            <input
                                                    jwcid="@Radio"
                                                    name="ognl:attr.ATTR_GROUP_NAME"
                                                    id="ognl:attr.ATTR_CODE"
                                                    attrCode="ognl:attr.ATTR_CODE"
                                                    type="radio"
                                                    value=""
                                                    attrValue="ognl:attr.PARAMS.get(0).ATTR_FIELD_CODE"
                                                    nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
                                                    disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?null:((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?null:'true'))"
                                                    onclick="ognl:attr.SELFFUNC"
                                                    desc="ognl:attr.ATTR_LABLE"
                                            />
                                            <span jwcid="@Insert" value="ognl:attr.PARAMS.get(0).ATTR_FIELD_NAME"/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- 表单 结束 -->
                    </div>
                </div>
                <div class="c_space"></div>
                <!-- 表单 结束 -->
                <!-- 提交 开始 -->
                <div class="c_submit c_submit-full" id="svcAttrSubmit">
                    <button type="button" id="ELEMENT_ATTR_BUTTON_CANCEL" name="ELEMENT_ATTR_BUTTON_CANCEL" jwcid="@Any"
                            itemIndex="ognl:itemIndex" ontap="hidePopup(this)" class="e_button-l e_button-navy e_button-r">取消
                    </button>
                    <button type="button" id="ELEMENT_ATTR_BUTTON_OK" name="ELEMENT_ATTR_BUTTON_OK" jwcid="@Any"
                            itemIndex="ognl:itemIndex" onclick="ognl:confirmHandler" class="e_button-l e_button-blue e_button-r">确定
                    </button>
                </div>
                <!-- 提交 结束 -->
                <input jwcid="@Hidden" name="ELEMENTATTR_COMPONENT_ID" id="ELEMENTATTR_COMPONENT_ID" value="ognl:id"/>
                <input jwcid="@Hidden" name="ATTR_ITEM_INDEX" id="ATTR_ITEM_INDEX" value="ognl:itemIndex"/>
            </div>
        </div>
    </div>
    <div id="giftPanel" style="display: none">
        <div class="c_header">
            <div class="back" ontap="hidePopup('platSvcAttr')">赠送设置</div>
        </div>
        <div class="c_scroll c_scroll-float c_scroll-header">
            <div class="l_padding">
                <div class="c_list c_list-s c_list-border c_list-line">
                    <ul class="ul">
                        <li class="li">
                            <div class="label">赠送号码</div>
                            <div class="value">
                                <input type="text" jwcid="@TextField" name="GIFT_SERIAL_NUMBER" id="GIFT_SERIAL_NUMBER"
                                       datatype="mbphone" value="" nullable="no" desc="赠送号码"/>
                                <input jwcid="@Any" type="hidden" name="GIFT_ITEM_INDEX" id="GIFT_ITEM_INDEX" value=""/>
                            </div>
                        </li>
                        <li class="li">
                            <div class="label">开始时间</div>
                            <div class="value">
                                <input type="text" jwcid="@DateField" dropDown="true" format="yyyy-MM-dd" name="GIFT_START_DATE"
                                       id="GIFT_START_DATE" nullable="no"
                                       value="ognl:@com.asiainfo.veris.crm.order.pub.frame.bcf.util.SysDateMgr@getSysDate()"
                                       disabled="true" desc="赠送开始时间"/>
                            </div>
                        </li>
                        <li class="li">
                            <div class="label">结束时间</div>
                            <div class="value">
                                <input type="text" jwcid="@DateField" dropDown="true" format="yyyy-MM-dd" name="GIFT_END_DATE"
                                       id="GIFT_END_DATE" nullable="no" value="" desc="赠送结束时间"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 表单 结束 -->
                <!-- 提交 开始 -->
                <div class="c_submit c_submit-full">
                    <button type="button" jwcid="@Any" ontap="hidePopup(this)" class="e_button-l e_button-navy e_button-r">取消</button>
                    <button type="button" jwcid="@Any" onclick="userPlatSvcsList.confirmGift()"
                            class="e_button-l e_button-blue e_button-r">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function calculateAllFlow() {
        var attrs = $("input[name=7362]");
        var length = attrs.length;
        if (attrs.length > 0) {
            var depositRate = $("input[name=7360]").val();//折扣率
            var flowCount = $("input[name=7361]").val();//流量份数
            var singleFlow = $("#7362_ATTR_SINGLE_FLOW").val();
            var allFlow = Number(singleFlow) * Number(flowCount);
            $("input[name=7362]").val(allFlow);
        }
    }
</script>