<!--<div class="l_colItem e_hide-x">-->
<!--<div class="c_title">-->
    <!--<div class="text">-->
        <!--<span class="e_hide-phone">已选区</span>-->
        <!--<span class="e_show-phone">服务 / 优惠</span>-->
    <!--</div>-->
    <!--<div class="fn">-->
        <!--<ul>-->
            <!--<div jwcid="@Conditional" condition="ognl:'true'.equals(isShowDate)">-->
            <!--<li style="padding:0;" class="e_hide-phone">-->
									<!--<span class="e_mix e_mix-r">-->
										<!--<span class="e_label">预约时间</span>-->
   							<!--<input type="text" jwcid="@DateField" dropDown="true" name="BOOKING_DATE" format="yyyy-MM-dd"-->
                                     <!--value="" desc="预约时间"-->
                                     <!--onafterAction="changeProductExtend.afterBookingDate();"/>-->
										<!--&lt;!&ndash;<span class="e_ico-date"></span>&ndash;&gt;-->
									<!--</span>-->
            <!--</li>-->
            <!--</div>-->
            <!--<li id="openDefaultOp"ontap="selectedElements.changeDefaultOp(this,'1');" style="display:none;"><span class="e_ico-show"></span>显示必选项</li>-->
            <!--<li id="hideDefaultOp"ontap="selectedElements.changeDefaultOp(this,'2');"><span class="e_ico-hide"></span>隐藏必选项</li>-->
            <!--<li class="e_show-phone" ontap="$('#colItemPopup').addClass('l_colItem-show');"><span class="e_ico-check"></span>选择</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<div id="selectedDiv">
<div jwcid="SelectedElements_Svc@Svc" svcList="ognl:svcList" element="div"></div>
<div class="c_space-c"></div>
<div jwcid="SelectedElements_Discnt@Discnt" discntList="ognl:discntList" element="div"></div>
<input jwcid="@Hidden" name="SELECTEDELEMENTS_COMPONENT_ID" id="SELECTEDELEMENTS_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="AFTER_RENDER_ACTION" id="AFTER_RENDER_ACTION" value="ognl:afterRenderAction"/>
<input jwcid="@Hidden" name="basicStartDateControlId" id="basicStartDateControlId" value="ognl:basicStartDateControlId"/>
<input jwcid="@Hidden" name="basicCancelDateControlId" id="basicCancelDateControlId" value="ognl:basicCancelDateControlId"/>
<input jwcid="@Hidden" name="ELEMENT_EXTEND_FIELD" id="ELEMENT_EXTEND_FIELD" value="ognl:elementExtendFiled"/>
<input jwcid="@Hidden" name="callAddElementSvc" id="callAddElementSvc" value="ognl:callAddElementSvc"/>
<input jwcid="@Hidden" name="ELEMENT_EXTEND_ACTION" id="ELEMENT_EXTEND_ACTION" value="ognl:elementExtendAction"/>
<input jwcid="@Hidden" name="SELECTED_TRADE_TYPE_CODE" id="SELECTED_TRADE_TYPE_CODE" value="ognl:tradeTypeCode"/>
<input jwcid="@Hidden" name="ACCT_DAY" id="ACCT_DAY" value="ognl:acctDay"/>
<input jwcid="@Hidden" name="FIRST_DATE" id="FIRST_DATE" value="ognl:firstDate"/>
<input jwcid="@Hidden" name="NEXT_ACCT_DAY" id="NEXT_ACCT_DAY" value="ognl:nextAcctDay"/>
<input jwcid="@Hidden" name="NEXT_FIRST_DATE" id="NEXT_FIRST_DATE" value="ognl:nextFirstDate"/>
</div>
<!--</div>-->