<div class="c_title">
		<div class="text">专线挂起信息</div>
	</div>
	<div class="c_list c_list-line c_list-border">
		<ul>
			<li element="li">
				<div class="main" jwcid="@Any">
					<div class="content e_hide-phone">
						<!-- 参数 开始 -->
						<div class="c_param c_param-label-auto c_param-col-3">
							<ul>
								<li>
									<span class="label">BSS工单编号：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:info.serialNo" desc="BSS工单编号"/></span>
								</li>
								<li>
									<span class="label">专线实例号：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:info.ProductNo" desc="专线实例号"/></span>
								</li>
								<li>
									<span class="label">申请类型：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:@com.ailk.biz.util.StaticUtil@getStaticValue('APPLYTYPE',info.applyType)" desc="申请类型"/></span>
								</li>
								<li>
									<span class="label">申请原因：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:info.applyReason" desc="申请原因"/></span>
								</li>
								<li>
									<span class="label">申请人：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:info.applyPerson"  desc="申请人"/></span>
								</li>
								<li>
									<span class="label">申请人联系电话：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:info.applyPersonContactPhone"  desc="申请人联系电话"/></span>
								</li>
								<li>
									<span class="label">延长时间：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:info.days"  desc="延长时间"/></span>
								</li>
								<li>
									<span class="label">工单所处环节：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:info.taskName"  desc="工单所处环节"/></span>
								</li>
								<li>
									<span class="label">申请地市：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:info.cityName"  desc="申请地市"/></span>
								</li>
									
							</ul>
						</div>
						<!-- 参数 结束 -->
					</div>
				</div>
			</li>
		</ul>
	</div>
<script type="text/javascript">
$(function(){
	initPageParam();
});
</script>
