<!-- 标题 开始 -->
<div class="c_title">
	<div class="text">合同信息</div>
</div>
<!-- 标题 结束 -->
<!-- 表单 开始 -->
<div class="c_list c_list-line c_list-border c_list-col-3 c_list-phone-col-1">
		<ul>
		<li class="link required">
			<div class="label">集团客户号</div>
			<div class="value"><input jwcid="@TextField" name="C_CUST_ID" value="ognl:info.C_CUST_ID" disabled="disabled" desc="集团客户号" /></div>
		</li>
		<div jwcid="@Conditional" condition="ognl:info.BPM_TEMPLET_ID == 'EDIRECTLINECONTRACTCHANGE'">
			<li class="link required">
				<div class="label">合同协议编码</div>
				<div class="value"><input jwcid="@TextField" name="C_CONTRACT_ID" value="ognl:info.C_CONTRACT_ID" disabled="disabled" desc="合同协议编码" nullable="no"/></div>
			</li>
		</div>
		<div jwcid="@Conditional" condition="ognl:info.BPM_TEMPLET_ID != 'EDIRECTLINECONTRACTCHANGE'">
			<li class="link required">
				<div class="label">合同协议编码</div>
			<div class="value"><input jwcid="@TextField" name="CONTRACT_ID" value="ognl:info.CONTRACT_ID" disabled="disabled" desc="合同协议编码" nullable="no"/></div>			</li>
		</div>
		
		<li class="link required">
			<div class="label">合同名称</div>
			<div class="value"><input jwcid="@TextField" name="C_CONTRACT_NAME" value="ognl:info.C_CONTRACT_NAME" disabled="disabled" desc="合同名称" nullable="no" /></div>
		</li>
		<li class="link">
			<div class="label">合同级别</div>
			<div class="value">
				<input jwcid="@Select" name="C_CONTRACT_LEVEL" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('GROUPCONTRACT_CONTRACTLEVEL')" textField="DATA_NAME" valueField="DATA_ID" 
				addDefault="true" value="ognl:info.C_CONTRACT_LEVEL" desc="合同级别" disabled="true"/>
			</div>
		</li>
		<li class="link required">
			<div class="label">附件类型</div>
			<div class="value">
				<input jwcid="@Select" name="C_POATT_TYPE" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('CONTRACT_POATT_TYPE')" textField="DATA_NAME" valueField="DATA_ID" 
				addDefault="true" value="ognl:info.C_POATT_TYPE" nullable="no" desc="附件类型" disabled="true"/>
			</div>
		</li>
		<li class="link required">
			<div class="label">是否自动续约</div>
			<div class="value">
				<input jwcid="@Select" name="C_CONTRACT_IS_AUTO_RENEW" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('CONTRACT_IS_AUTO_RENEW')" textField="DATA_NAME" valueField="DATA_ID" 
				addDefault="false" value="ognl:info.C_CONTRACT_IS_AUTO_RENEW" onchange="" nullable="no" desc="是否自动续约" disabled="true"/>
			</div>
		</li>
		<li class="link">
			<div class="label">续约后到期时间</div>
				<div class="value">
				<input name="C_RENEW_END_DATE" jwcid="C_RENEW_END_DATE@TextField" value="ognl:info.C_RENEW_END_DATE" now="true" dropDown="true" format="yyyy-MM-dd HH:mm:ss" desc="续约后到期时间" disabled="disabled"/>
			</div>
		</li>
		<li class="link">
			<div class="label">自动续约周期</div>
			<div class="value">
				<input jwcid="@Select" name="C_CONTRACT_AUTO_RENEW_CYCLE" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('CONTRACT_SS_AUTO_RENEW_CYCLE')" textField="DATA_NAME" valueField="DATA_ID" 
				addDefault="false" value="ognl:info.C_CONTRACT_AUTO_RENEW_CYCLE" onchange="" nullable="no" desc="自动续约周期" disabled="true"/>
			</div>
		</li>
		<li class="link required">
			<div class="label">签约资费</div>
			<div class="value"><input jwcid="@TextField" name="C_CONT_FEE" value="ognl:info.C_CONT_FEE" disabled="disabled" desc="签约资费" nullable="no"/></div>
		</li>
		<li>
			<div class="label">优惠方案</div>
			<div class="value"><input jwcid="@TextField" name="C_PERFER_PALN" value="ognl:info.C_PERFER_PALN" disabled="disabled" desc="优惠方案"/></div>
		</li>
		<li class="link required">
			<div class="label">合同类型</div>
			<div class="value">
				<input jwcid="@Select" name="C_CONTRACT_TYPE_CODE" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('CONTRACT_TYPE')" textField="DATA_NAME" valueField="DATA_ID" 
				addDefault="false" value="ognl:info.C_CONTRACT_TYPE_CODE" nullable="no" desc="合同类型" disabled="true"/>
			</div>
		</li>
		<li class="link required">
			<div class="label">合同签订类型</div>
			<div class="value">
				<input jwcid="@Select" name="C_CONTRACT_WRITE_TYPE" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('GROUPCONTRACT_WRITETYPE')" textField="DATA_NAME" valueField="DATA_ID" 
				addDefault="false" value="ognl:info.C_CONTRACT_WRITE_TYPE" nullable="no" desc="合同签订类型" disabled="true"/>
			</div>
		</li>
		<li class="link">
			<div class="label">合同签订地市</div>
			<div class="value">
				<input jwcid="@Select" name="C_CONTRACT_WRITE_CITY" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('GLOBAL_PROVINCE_CODE')" textField="DATA_NAME" valueField="DATA_ID" 
				addDefault="false" value="ognl:info.C_CONTRACT_WRITE_CITY" nullable="no" desc="合同签订地市" disabled="true"/>
			</div>
		</li>
		<li class="link required">
			<div class="label">合同项目经理</div>
			<div class="value"><input jwcid="@TextField" name="C_CONTRACT_WRITER" value="ognl:info.C_CONTRACT_WRITER" disabled="disabled" desc="合同项目经理" nullable="no"/></div>
		</li>
		<li class="link">
			<div class="label required">合同签订日期</div>
				<div class="value">
				<input name="C_CONTRACT_WRITE_DATE" jwcid="@TextField" value="ognl:info.C_CONTRACT_WRITE_DATE" now="true" dropDown="true" format="yyyy-MM-dd HH:mm:ss" desc="合同签订日期" nullable="no" disabled="disabled"/>
			</div>
		</li>
		<li class="link">
			<div class="label required">合同有效起始日期</div>
				<div class="value">
				<input name="C_CONTRACT_START_DATE" jwcid="@TextField" value="ognl:info.C_CONTRACT_START_DATE" now="true" dropDown="true" format="yyyy-MM-dd HH:mm:ss" desc="合同有效起始日期" nullable="no" disabled="disabled"/>
			</div>
		</li>
		<li class="link">
			<div class="label required">合同有效终止日期</div>
				<div class="value">
				<input name="C_CONTRACT_END_DATE" jwcid="C_CONTRACT_END_DATE@TextField" value="ognl:info.C_CONTRACT_END_DATE" now="true" dropDown="true" format="yyyy-MM-dd HH:mm:ss" desc="合同有效终止日期" nullable="no" disabled="disabled"/>
			</div>
		</li>
		<li class="link">
			<div class="label">客户合同签订人</div>
			<div class="value"><input jwcid="@TextField" name="C_CONTRACT_MANAGER" value="ognl:info.C_CONTRACT_MANAGER" disabled="disabled" desc="客户合同签订人"/></div>
		</li>
		<li class="link">
			<div class="label">合同决策人</div>
			<div class="value"><input jwcid="@TextField" name="C_CONTRACT_CONMAN" value="ognl:info.C_CONTRACT_CONMAN" disabled="disabled" desc="合同决策人"/></div>
		</li>
		<li class="link">
			<div class="label required">合同录入日期</div>
				<div class="value">
				<input name="C_CONTRACT_IN_DATE" jwcid="@TextField" now="true" dropDown="true" value="ognl:info.C_CONTRACT_IN_DATE" format="yyyy-MM-dd HH:mm:ss" desc="合同录入日期" nullable="no" disabled="disabled"/>
			</div>
		</li>
		<li class="link">
			<div class="label">合同竣工日期</div>
				<div class="value">
				<input name="C_CONTRACT_COMPLETE_DATE" jwcid="@TextField" now="true" dropDown="true" value="ognl:info.C_CONTRACT_COMPLETE_DATE" format="yyyy-MM-dd HH:mm:ss" desc="合同竣工日期" disabled="disabled"/>
			</div>
		</li>
		<li class="link">
			<div class="label">经办人客户经理</div>
			<div class="value"><input jwcid="@TextField" name="C_CLERK_STAFF_ID" value="ognl:info.C_CLERK_STAFF_ID" disabled="disabled" desc="经办人客户经理"/></div>
		</li>
		<li class="link">
			<div class="label">合同受理点</div>
			<div class="value"><input jwcid="@TextField" name="C_CONTRACT_RECV_SITE" value="ognl:info.C_CONTRACT_RECV_SITE" disabled="disabled" desc="合同受理点"/></div>
		</li>
		<li class="link">
			<div class="label">合同受理日期</div>
				<div class="value">
				<input name="C_RSRV_DATE2" jwcid="@TextField" now="true" dropDown="true" value="ognl:info.C_RSRV_DATE2" format="yyyy-MM-dd HH:mm:ss" desc="合同受理日期" disabled="disabled"/>
			</div>
		</li>
<!--    <li>
			<div class="label required">合同附件</div>
				<div class="value">
					<input name="CONTRACT_FILE_LIST" jwcid="@SimpleUpload" title="附件上传" 
					ftpCode="groupserv" filePath="upload/mebattach"
					fileTypes=".doc;.docx;.jpg;.png;.pdf;.zip;.rar" needSuffix ="true"/>
					<input jwcid="@Hidden" name="C_FILE_LIST"  value="ognl:info.C_FILE_LIST" desc="合同附件"/>
				</div>
		</li>
 -->		
		<li class="link">
			<div class="label">原合同协议编码</div>
			<div class="value"><input jwcid="@TextField" name="C_RELA_CONTRACT_ID" value="ognl:info.C_RELA_CONTRACT_ID" disabled="disabled" desc="原合同协议编码"/></div>
		</li>
		<li class="link required">
			<div class="label">合同状态</div>
			<div class="value">
				<input jwcid="@Select" name="C_CONTRACT_STATE_CODE" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('CONTRACT_STATE')" textField="DATA_NAME" valueField="DATA_ID" 
				addDefault="true" value="ognl:info.C_CONTRACT_STATE_CODE" onchange="" nullable="no" desc="合同状态" disabled="true"/>
			</div>
		</li>
		<li class="link">
			<div class="label">发展人</div>
			<div class="value"><input jwcid="@TextField" name="C_DEVELOP_STAFF_ID" value="ognl:info.C_DEVELOP_STAFF_ID" disabled="disabled" desc="发展人"/></div>
		</li>
		<li class="link">
			<div class="label">发展部门</div>
			<div class="value"><input jwcid="@TextField" name="C_DEVELOP_DEPART_ID" value="ognl:info.C_DEVELOP_DEPART_ID" disabled="disabled" desc="发展部门"/></div>
		</li>
		<li class="link">
			<div class="label">合同内容</div>
			<div class="value"><input jwcid="@TextField" name="C_CONTRACT_CONTENT" value="ognl:info.C_CONTRACT_CONTENT" disabled="disabled" desc="合同内容"/></div>
		</li>
		<li class="link">
			<div class="label">合同说明</div>
			<div class="value"><input jwcid="@TextField" name="C_REMARK" value="ognl:info.C_REMARK" disabled="disabled" desc="合同说明"/></div>
		</li>
		<li class="link">
			<div class="label required">产品有效起始日期</div>
				<div class="value">
				<input name="C_PRODUCT_START_DATE" jwcid="@TextField" now="true" dropDown="true" value="ognl:info.C_PRODUCT_START_DATE" format="yyyy-MM-dd HH:mm:ss" desc="产品有效起始日期" nullable="no" disabled="disabled"/>
			</div>
		</li>
		<li class="link">
			<div class="label required">产品有效终止日期</div>
				<div class="value">
				<input name="C_PRODUCT_END_DATE" jwcid="C_PRODUCT_END_DATE@TextField" value="ognl:info.C_PRODUCT_END_DATE" now="true" dropDown="true" format="yyyy-MM-dd HH:mm:ss" desc="产品有效终止日期" nullable="no" disabled="disabled"/>
			</div>
		</li>
	</ul>
</div>
<!-- 表单 结束 -->
 <div class="c_title">
     <div class="text">附件</div>
    </div>
    <div class="l_padding l_padding-u">
     <div class="c_list c_list-s" id="linkon">
      <ul jwcid="@Foreach" source="ognl:fileLists" value="ognl:filelist"
       element="ul">
       <li class="link">
        <div class="ico">
         <span class="e_ico-word"></span>
        </div> 
           <a jwcid="@Any" href="ognl:'attach?action=download&fileId=' + filelist.FILE_ID+'&realName='+filelist.ATTACH_NAME"
          target="_blank"> <span jwcid="@Insert" value="ognl:filelist.ATTACH_NAME" raw="false" />
         </a>
        <div class="c_space"></div>

       </li>
      </ul>
     </div>
    </div>