<!-- 标题 开始 -->
<div class="c_title">
	<div class="text">存量客户信息</div>
</div>
<!-- 标题 结束 -->
<!-- 表单 开始 -->
<div class="c_list c_list-line c_list-border c_list-col-3 c_list-phone-col-1">
	<ul>
		<div jwcid="@Conditional" condition="ognl:info.BPM_TEMPLET_ID == 'ETAPMARKETINGENTERING'">
		
			<li class="link required">
	             <div class="label">执行操作</div>
	             <div class="value">
	                 <input jwcid="@Select" id="C_TAPMARKETING_OPERATION" name="C_TAPMARKETING_OPERATION" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('MARKETING_OPERATION')" textField="DATA_NAME" valueField="DATA_ID" 
	                  value="ognl:info.C_TAPMARKETING_OPERATION"  desc="执行操作"   nullable="no"  disabled="disabled"   />
	             </div>
	        </li>
        </div>
		<li class="link required">
	        <div class="label">所属省份</div>
	        <div class="value">
	            <input jwcid="@TextField" id="C_PROVINCEA" name="C_PROVINCEA" value="ognl:info.C_PROVINCEA" readonly="readonly" desc="所属省份"/>
	        </div>
	     </li>
	     <li class="link required">
	           <div class="label">所属地市</div>
	           <div class="value">
	               <input jwcid="@Select" id="C_CITYA" name="C_CITYA" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('BUILDING_SECTION')" textField="DATA_NAME" valueField="DATA_ID" 
	                value="ognl:info.C_CITYA" nullable="no"  disabled="disabled"  desc="所属地市"/>
	           </div>
	     </li>
	     <li class="link required">
	         <div class="label">责任人</div>
	         <div class="value">
	             <input jwcid="@TextField" id="C_RESPONSIBILITY_NAME" name="C_RESPONSIBILITY_NAME" value="ognl:info.C_RESPONSIBILITY_NAME" 
	                    nullable="no" desc="责任人" readonly="readonly"  />
	         </div>
	     </li>
	     <li class="link required">
	         <div class="label">责任人联系电话</div>
	         <div class="value">
	             <input jwcid="@TextField" id="C_RESPONSIBILITY_PHONE" name="C_RESPONSIBILITY_PHONE" value="ognl:info.C_RESPONSIBILITY_PHONE" 
	                    nullable="no" desc="责任人联系电话" readonly="readonly"  />
	         </div>
	     </li>
	      <!-- <li>
		<div >对手存量凭证附件</div>
		<div class="value">
			<input name="C_ATTACHMENT_LIST" id="C_ATTACHMENT_LIST" jwcid="@SimpleUpload" title="对手存量凭证附件" 
			ftpCode="groupserv" filePath="upload/mebattach"
			fileTypes=".doc;.docx;.jpg;.png;.pdf;.zip;.rar" needSuffix ="true"/>
			<input jwcid="@Hidden" id="C_ATTACHMENT" name="C_ATTACHMENT"  value="ognl:info.C_ATTACHMENT" desc="对手存量凭证附件"/>
		</div>
	</li> -->
		
	</ul>
</div>
<!-- 表单 结束 -->

<div jwcid="@Conditional" condition="ognl:info.BPM_TEMPLET_ID == 'ETAPMARKETINGENTERING'">
<!-- 标题 开始 -->
<div class="c_title">
	<div class="text">挖抢专线信息</div>
</div>
<!-- 标题 结束 -->
<!-- 表单 开始 --> 
<div class="c_box c_box-border">
<!-- 参数 开始 -->
<div class="c_table">
<table jwcid="@Table" id="pattrMarketingInfos" name="myTable">
	<thead>
		<tr>
			<th col="NOTIN_LINENAME">专线名称</th>
			<th col="NOTIN_BANDWIDTH">专线带宽（兆）</th>
			<th col="NOTIN_RSRV_STR2">专线资费（元/月）</th>
			<th col="NOTIN_LINEPRICE_TAP">激励金额（元）</th>
			<th col="NOTIN_OPPONENTMARKETINGCONTENT">对手营销活动内容</th>
			<th col="NOTIN_OPPONENTENDDATE">对手签约到期时间</th>
			<th col="NOTIN_RENEWMODE">续签方式</th>
			<th col="NOTIN_CUSTRENEWCONTENT">客户续签需求</th>
			<th col="NOTIN_FRIENDBUSINESS_NAME">客户续签需求</th>
			<th col="NOTIN_CUST_NAME">友商名称</th>
		</tr>
	</thead>
	<tbody>
		<tr jwcid="@Foreach" source="ognl:pattrs" value="ognl:pattr" element="tr" index="ognl:rowIndex" pageutil="ognl:pageutil" class="ognl:rowIndex % 2 == 0 ? '' : 'odd'"
				>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_LINENAME"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_BANDWIDTH"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_RSRV_STR2"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_LINEPRICE_TAP"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_OPPONENTMARKETINGCONTENT"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_OPPONENTENDDATE"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pageutil.getStaticValue('MARKETING_RENEWMODE',pattr.NOTIN_RENEWMODE)" raw="true" /></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_CUSTRENEWCONTENT"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pageutil.getStaticValue('MARKETING_FRIENDBUSINESS_NAME',pattr.NOTIN_FRIENDBUSINESS_NAME)" raw="true" /></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_CUST_NAME"　raw="false"/></td>
				</tr>
			</tbody>
			</table>
	</div>
</div>
<!-- 表单 结束 -->
</div>
<div jwcid="@Conditional" condition="ognl:info.BPM_TEMPLET_ID == 'ETAPMARKETINGEXCITATION'">
<!-- 标题 开始 -->
<div class="c_title">
	<div class="text">挖抢专线信息</div>
</div>
<!-- 标题 结束 -->
<!-- 表单 开始 --> 
<div class="c_box c_box-border">
<!-- 参数 开始 -->
<div class="c_table">
<table jwcid="@Table" id="pattrMarketingExcitationtInfos" name="myTable">
	<thead>
		<tr>
			<th col="NOTIN_PRODUCTNO">专线实例号</th>
			<th col="NOTIN_CONTRACT_AGE">签约年限</th>
			<th col="NOTIN_PRODUCTNUMBER">产品编码</th>
			<th col="NOTIN_LINENAME">专线名称</th>
			<th col="NOTIN_BANDWIDTH">专线带宽（兆）</th>
			<th col="NOTIN_FRIENDBUSINESS_NAME">友商名称</th>
			<th col="NOTIN_RSRV_STR2">录入资费（元/月）</th>
			<th col="NOTIN_MONTHLYFEE_EXCITATION">实际资费（元/月）</th>
			<th col="NOTIN_LINEPRICE_TAP">录入激励金额（元）</th>
			<th col="NOTIN_LINEPRICE_EXCITATION">实际激励金额（元）</th>
		</tr>
	</thead>
	<tbody>
		<tr jwcid="@Foreach" source="ognl:pattrs" value="ognl:pattr" element="tr" index="ognl:rowIndex" pageutil="ognl:pageutil" class="ognl:rowIndex % 2 == 0 ? '' : 'odd'"
				>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_PRODUCTNO"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_CONTRACT_AGE"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_PRODUCTNUMBER"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_LINENAME"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_BANDWIDTH"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pageutil.getStaticValue('MARKETING_FRIENDBUSINESS_NAME',pattr.NOTIN_FRIENDBUSINESS_NAME)" raw="true" /></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_RSRV_STR2"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_MONTHLYFEE_EXCITATION"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_LINEPRICE_TAP"　raw="false"/></td>
					<td><span jwcid="@Insert" value="ognl:pattr.NOTIN_LINEPRICE_EXCITATION"　raw="false"/></td>
					
				</tr>
			</tbody>
			</table>
	</div>
</div>
<!-- 表单 结束 -->
</div>



