 <div class="c_title">
	<div class="text">BBOSS产品</div>
</div>
<div jwcid="OrderPart@Part" id="OrderPart" class="c_list c_list-line c_list-border c_list-col-2 c_list-phone-col-1">
		<ul>
		<li class="link required">
			<div class="label">主题</div>
			<div class="value">
				<input jwcid="@TextField" name="pattr_TITLE" value="ognl:info.TITLE" nullable="no" desc="主题" />
			</div>
		</li>
		<li class="link required">
			<div class="label">工单紧急程度</div>
			<div class="value">
				<input jwcid="@Select" name="pattr_URGENCY_LEVEL" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('URGENCY_LEVEL')" textField="DATA_NAME" valueField="DATA_ID" 
				value="ognl:info.URGENCY_LEVEL" nullable="no" desc="工单紧急程度" />
			</div>
		</li>
	</ul>
</div>
<div jwcid="@Conditional" condition="ognl:info.BBOSS_OPER_TYPE=='21'">
 <div class="c_title">
	<div class="text">需求申请</div>
</div>
<div jwcid="OrderPart1@Part" id="OrderPart1" class="c_list c_list-line c_list-border c_list-col-2 c_list-phone-col-1">
		<ul>
		<li class="link required">
			<div class="label">变更类型</div>
			<div class="value">
				<input jwcid="@Select" name="pattr_CHANGE_TYPE" id ="pattr_CHANGE_TYPE" 
				source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('EOP_fourzzChgType')" textField="DATA_NAME" valueField="DATA_ID" 
				value="" nullable="no" desc="变更类型" />
			</div>
		</li>
		<li class="link">
			<div class="label">选择下一步</div>
			<div class="value">
				<input jwcid="@Select" name="pattr_ROUTE_POINTCUSTCENTERAUDIT"  id ="pattr_ROUTE_POINTCUSTCENTERAUDIT"
				source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('EOP_MOBILE400OP_CHOOSE_OPTION')" textField="DATA_NAME" valueField="DATA_ID" 
				value="1" nullable="no" desc="选择下一步" />
			</div>
		</li>
	</ul>
</div>
<div jwcid="OrderPart4@Part" id="OrderPart4" class="c_list c_list-line c_list-border c_list-col-1 c_list-phone-col-1">
		<ul>
			<li class="link required">
					<div class="label">业务需求描述</div>
					<div class="value">
					<textarea class="e_textarea-row-2" jwcid="@TextArea" id="pattr_REQURIE_DECRIPTION" name="pattr_REQURIE_DECRIPTION" value="" desc="业务需求描述">
					</textarea>
		
					</div>
				</li>
		</ul>
	</div>
</div>
<div jwcid="@Conditional" condition="ognl:info.BBOSS_OPER_TYPE=='23'">
 <div class="c_title">
	<div class="text">需求申请</div>
</div>
<div jwcid="OrderPart2@Part" id="OrderPart2" class="c_list c_list-line c_list-border c_list-col-2 c_list-phone-col-1">
		<ul>
		<li class="link required">
			<div class="label">是否欠费</div>
			<div class="value">
				<input jwcid="@Select" name="pattr_ID_FEE_OVER" id ="pattr_ID_FEE_OVER" 
				source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('EOP_yesOrNo')" textField="DATA_NAME" valueField="DATA_ID" 
				value="2" nullable="no" desc="是否欠费" />
			</div>
		</li>
		<li class="link">
			<div class="label">选择下一步</div>
			<div class="value">
				<input jwcid="@Select" name="pattr_ROUTE_POINTCUSTCENTERAUDIT_23"  id ="pattr_ROUTE_POINTCUSTCENTERAUDIT_23"
				source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('EOP_MOBILE400OP_CHOOSE_OPTION')" textField="DATA_NAME" valueField="DATA_ID" 
				value="1" nullable="no" desc="选择下一步" />
			</div>
		</li>
	</ul>
</div>
<div jwcid="OrderPart3@Part" id="OrderPart3" class="c_list c_list-line c_list-border c_list-col-1 c_list-phone-col-1">
		<ul>
			<li class="link required">
					<div class="label">业务需求描述</div>
					<div class="value">
					<textarea class="e_textarea-row-2" jwcid="@TextArea" id="pattr_REQURIE_DECRIPTION_23" name="pattr_REQURIE_DECRIPTION_23" value="" desc="业务需求描述">
					</textarea>
		
					</div>
				</li>
		</ul>
	</div>
</div>