<!-- 标题 开始 -->
<div class="c_title">
	<div class="text">订单级信息</div>
</div>
<!-- 标题 结束 -->
<!-- 表单 开始 -->
<div jwcid="OrderPart@Part" id="OrderPart" class="c_list c_list-line c_list-border c_list-col-3 c_list-phone-col-1">
		<ul>
		<li class="link required">
			<div class="label">主题</div>
			<div class="value">
				<input jwcid="@TextField" name="pattr_TITLE" value="ognl:info.TITLE" nullable="no" desc="主题" "/>
			</div>
		</li>
		<li class="link required">
			<div class="label">工单紧急程度</div>
			<div class="value">
				<input jwcid="@Select" name="pattr_URGENCY_LEVEL" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('URGENCY_LEVEL')" textField="DATA_NAME" valueField="DATA_ID" 
				value="ognl:info.URGENCY_LEVEL" nullable="no" desc="工单紧急程度" />
			</div>
		</li>
	</ul>
</div>
<!-- 表单 结束 -->
