<div jwcid="@Conditional" condition="ognl:templetId == 'ETAPMARKETINGENTERINGUPD' || templetId == 'ETAPMARKETINGEXCITATION'">
    <div jwcid="@Conditional" condition="ognl:info.C_TAPMARKETING_SELECT==null || info.C_TAPMARKETING_SELECT==''">
	<!-- 标题 开始 -->
	<div class="c_title">
		<div class="text">选择存量数据</div>
	</div>
	<!-- 标题 结束 -->
	<div  class="c_list c_list-line c_list-border c_list-phone-col-1" style="">
		<ul>
			<li class="link required">
	             <div class="label">选择挖抢存量数据</div>
	             <div class="value">
		             <input jwcid="@Select" id="C_TAPMARKETING_SELECT" name="C_TAPMARKETING_SELECT" source="ognl:tapMarketingList" textField="TEXT" valueField="IBSYSID" 
	                  value="ognl:info.C_TAPMARKETING_SELECT" nullable="no"  desc="挖抢标识" onchange="selectTapMarketing(this);" />
	             </div>
	        </li>
		</ul>
	</div>
	
	</div>
	
	
    <div jwcid="@Conditional" condition="ognl:info.C_TAPMARKETING_SELECT!=null&&info.C_TAPMARKETING_SELECT!=''">
    	<input jwcid="@TextField" id="C_TAPMARKETING_SELECT" name="C_TAPMARKETING_SELECT" value="ognl:info.C_TAPMARKETING_SELECT" readonly="readonly" desc="挖抢标识订单号" type="hidden"/>
    </div>
		             
	
</div>
<div jwcid="@Conditional" condition="ognl:templetId == 'ETAPMARKETINGENTERING' || templetId == 'ETAPMARKETINGENTERINGUPD' || templetId == 'ETAPMARKETINGEXCITATION'">
	<!-- 标题 开始 -->
	<div class="c_title">
		<div class="text">存量客户信息</div>
	</div>
	<!-- 标题 结束 -->
	<div jwcid="TapMarketingWorkformPart@Part" id="TapMarketingWorkformPart" class="c_list c_list-line c_list-border c_list-col-3 c_list-phone-col-1" style="">
		<ul>
			<div jwcid="@Conditional" condition="ognl:templetId == 'ETAPMARKETINGENTERING'">
				<li class="link required">
		             <div class="label">执行操作</div>
		             <div class="value">
		                 <input jwcid="@Select" id="C_TAPMARKETING_OPERATION" name="C_TAPMARKETING_OPERATION" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('MARKETING_OPERATION')" textField="DATA_NAME" valueField="DATA_ID" 
		                  value="0" nullable="no"  desc="执行操作" disabled="disabled"/>
		             </div>
		        </li>
			</div>
			<div jwcid="@Conditional" condition="ognl:templetId == 'ETAPMARKETINGENTERINGUPD'">
				<li class="link required">
		             <div class="label">执行操作</div>
		             <div class="value">
		                 <input jwcid="@Select" id="C_TAPMARKETING_OPERATION" name="C_TAPMARKETING_OPERATION" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('MARKETING_OPERATION')" textField="DATA_NAME" valueField="DATA_ID" 
		                  value="ognl:info.C_TAPMARKETING_OPERATION==0?'':info.C_TAPMARKETING_OPERATION" nullable="no"  desc="执行操作"  onchange="selectMarketingOperation(this);"  />
		             </div>
		        </li>
			</div>
			
			
			<li class="link required">
	             <div class="label">所属省份</div>
	             <div class="value">
	                 <input jwcid="@TextField" id="C_PROVINCEA" name="C_PROVINCEA" value="ognl:info.C_PROVINCEA==null?'海南':info.C_PROVINCEA" readonly="readonly" desc="所属省份"/>
	             </div>
	        </li>
	        <li class="link required">
	             <div class="label">所属地市</div>
	             <div class="value">
	                 <input jwcid="@Select" id="C_CITYA" name="C_CITYA" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('BUILDING_SECTION')" textField="DATA_NAME" valueField="DATA_ID" 
	                  value="ognl:info.C_CITYA" nullable="no"  desc="所属地市"/>
	             </div>
	        </li>
	        <li class="link required">
	             <div class="label">责任人</div>
	             <div class="value">
	                 <input jwcid="@TextField" id="C_RESPONSIBILITY_NAME" name="C_RESPONSIBILITY_NAME" value="ognl:info.C_RESPONSIBILITY_NAME==null?staffInfo.staffName:info.C_RESPONSIBILITY_NAME" 
	                        nullable="no" desc="责任人"/>
	                 <input jwcid="@TextField" id="C_RESPONSIBILITY_ID" name="C_RESPONSIBILITY_ID" value="ognl:info.C_RESPONSIBILITY_ID==null?staffInfo.staffId:info.C_RESPONSIBILITY_ID" 
	                        nullable="no" desc="责任工号" type="hidden"/>
                        <input jwcid="@TextField" id="C_RESPONSIBILITY_CITYCODE" name="C_RESPONSIBILITY_CITYCODE" value="ognl:info.C_RESPONSIBILITY_CITYCODE==null?staffInfo.cityCode:info.C_RESPONSIBILITY_CITYCODE" 
                        nullable="no" desc="所属地市"  type="hidden" />      
	             </div>
	        </li>
	        <li class="link required">
	             <div class="label">责任人联系电话</div>
	             <div class="value">
	                 <input jwcid="@TextField" id="C_RESPONSIBILITY_PHONE" name="C_RESPONSIBILITY_PHONE" value="ognl:info.C_RESPONSIBILITY_PHONE==null?staffInfo.staffNumber:info.C_RESPONSIBILITY_PHONE" 
	                        nullable="no" desc="责任人联系电话"/>
	             </div>
	        </li>
	        <div jwcid="@Conditional" condition="ognl:templetId == 'ETAPMARKETINGENTERING' || templetId == 'ETAPMARKETINGENTERINGUPD'">
				<li>
					<div >对手存量凭证附件</div>
					<div class="value">
						<span class="e_mix">
							<input jwcid="@TextField" name="C_MARKETING_FILE_NAME" value="ognl:attachInfo.MARKETING_FILENAME" ontap="showPopup('popup09','marketingPopupItem',true);" readonly="true"/>
							<input jwcid="@Hidden" name="C_MARKETING_FILE_ID" value="ognl:attachInfo.MARKETING_FILEID"  />
							<input jwcid="@Hidden" name="C_MARKETING_FILENAME" value="ognl:attachInfo.MARKETING_FILENAME"  />
							<span style="display:none" id="C_MARKETING_FILE_LIST" value="ognl:attachInfo.MARKETING_LIST"></span>
							<span class="e_ico-upload" id="C_MARKETING_ICO" ontap="showPopup('popup09','marketingPopupItem',true);"></span>
						</span>
					</div>
				</li>
			</div>
			<div jwcid="@Conditional" condition="ognl:templetId == 'ETAPMARKETINGEXCITATION'">
				<li class="link required">
					<div >对手存量凭证附件</div>
					<div class="value">
						<span class="e_mix">
							<input jwcid="@TextField" name="C_MARKETING_FILE_NAME" value="ognl:attachInfo.MARKETING_FILENAME" ontap="showPopup('popup09','marketingPopupItem',true);" readonly="true" nullable="no"  desc="对手存量凭证附件" />
							<input jwcid="@Hidden" name="C_MARKETING_FILE_ID" value="ognl:attachInfo.MARKETING_FILEID"/>
							<input jwcid="@Hidden" name="C_MARKETING_FILENAME" value="ognl:attachInfo.MARKETING_FILENAME"  />
							<span style="display:none" id="C_MARKETING_FILE_LIST" value="ognl:attachInfo.MARKETING_LIST"></span>
							<span class="e_ico-upload" id="C_MARKETING_ICO" ontap="showPopup('popup09','marketingPopupItem',true);"></span>
						</span>
					</div>
				</li>
			</div>
	        
		</ul>
	</div>	
</div>


<div jwcid="@Conditional" condition="ognl:operCode == '20' && templetId == 'ETAPMARKETINGENTERING'">
	<div class="c_title">
		<div class="text">挖抢专线数据信息</div>
		<div class="fn">
			<ul>
			<!-- 	<li ontap="showUpload();" id="batchAdd"><span class="e_ico-import"></span>批量新增</li> -->
				<li id="batchAdd">
					<span name="batchMarketingAddImport" taskId=201903221753 jwcid="@Import"
						configFile="import/bat/group/BATCHTAPMARKETING.xml"
						templateFile="template/bat/group/BATCHTAPMARKETING.xls"
						ftpCode="eosdata" buttonText="批量新增" fileName="挖抢专线信息导入模板.xls"
						auto="false" />
				</li>
				<li ontap="addDataLineParam();" id="add"><span class="e_ico-add"></span>新增</li>
				<li ontap="deleteDataLineParam();" id="delete"><span class="e_ico-delete"></span>删除</li>
			</ul>
		</div>
		<div jwcid="@Any" style="display:none" id="SUCC_LIST" desc="上传到ftp的数据"><span jwcid="@Insert" value="ognl:ftpInfo" /></div>
	</div>
	<div class="c_list c_list-line c_list-border" style="display:none;">
		<ul id="MARKETING_PARAM_UL">
			
		</ul>
	</div>
</div>


<div jwcid="@Conditional" condition="ognl:templetId == 'ETAPMARKETINGENTERINGUPD'">
	<div class="c_title">
		<div class="text">挖抢专线数据信息</div>
	</div>
	<div class="c_list c_list-line c_list-border">
		<ul id="MARKETING_PARAM_UL">
			<li jwcid="@Foreach" source="ognl:tapMarketingLineList" value="ognl:tapMarketingInfo" index="ognl:rowIndex"  element="li" id="ognl:'MARKETING_'+rowIndex+'_LI'">
				<div class="fn">
					<input jwcid="@Radio" name="DATALINE_TAG" id="ognl:'MARKETING_'+rowIndex" />
				</div>
				<div class="main" jwcid="@Any" id="ognl:rowIndex+'new'">
					<div class="content e_hide-phone">
						<!-- 参数 开始 -->
						<div class="c_param c_param-label-auto c_param-col-3">
							<ul >
								<li>
									<span class="label">专线名称：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:tapMarketingInfo.NOTIN_LINENAME" id="ognl:rowIndex+'NOTIN_LINENAME'" desc="专线名称" name="NOTIN_LINENAME"/></span>
								</li>
								<li>
									<span class="label">专线带宽（兆）：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:tapMarketingInfo.NOTIN_BANDWIDTH" id="ognl:rowIndex+'NOTIN_BANDWIDTH'" desc="专线带宽（兆）" name="NOTIN_BANDWIDTH"/></span>
								</li>
								<li>
									<span class="label">专线资费（元/月）：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:tapMarketingInfo.NOTIN_RSRV_STR2" id="ognl:rowIndex+'NOTIN_RSRV_STR2'" desc="专线资费（元/月）"  name="NOTIN_RSRV_STR2"/></span>
								</li>
								<li>
									<span class="label">对手营销活动内容：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:tapMarketingInfo.NOTIN_OPPONENTMARKETINGCONTENT" id="ognl:rowIndex+'NOTIN_OPPONENTMARKETINGCONTENT'"  desc="对手营销活动内容" name="NOTIN_OPPONENTMARKETINGCONTENT"/></span>
								</li>
								<li>
									<span class="label">对手签约到期时间：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:tapMarketingInfo.NOTIN_OPPONENTENDDATE" id="ognl:rowIndex+'NOTIN_OPPONENTENDDATE'"  desc="对手签约到期时间" name="NOTIN_OPPONENTENDDATE"/></span>
								</li>
								<li>
									<span class="label">续签方式：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:tapMarketingInfo.NOTIN_RENEWMODE_STRING"  id="ognl:rowIndex+'NOTIN_RENEWMODE'" desc="续签方式" name="NOTIN_RENEWMODE"/></span>
								</li>
								<li>
									<span class="label">客户续签需求：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:tapMarketingInfo.NOTIN_CUSTRENEWCONTENT" id="ognl:rowIndex+'NOTIN_CUSTRENEWCONTENT'"  desc="客户续签需求" name="NOTIN_CUSTRENEWCONTENT"/></span>
								</li>
								<li>
									<span class="label">友商名称：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:tapMarketingInfo.NOTIN_FRIENDBUSINESS_NAME_STRING" id="ognl:rowIndex+'NOTIN_FRIENDBUSINESS_NAME'"  desc="友商名称" name="NOTIN_FRIENDBUSINESS_NAME"/></span>
								</li>
								<li>
									<span class="label">客户名称：</span>
									<span class="value"><input jwcid="@Insert" value="ognl:tapMarketingInfo.NOTIN_CUST_NAME" id="ognl:rowIndex+'NOTIN_CUST_NAME'"   desc="客户名称" name="NOTIN_CUST_NAME"/></span>
								</li>
							</ul>
						</div>
						<!-- 参数 结束 -->
					</div>
				</div>
				<div jwcid="@Any" class='fn' ontap="ognl:'modifyDataLineParam(&#39;OFFER_CHA_'+getPage().getData().getString('OFFER_CODE')+'_'+rowIndex+'&#39);'"><span class='e_ico-edit'></span></div>
				<input  type="hidden" jwcid="@Any" id="ognl:'OFFER_CHA_'+getPage().getData().getString('OFFER_CODE')+'_'+rowIndex+''" value='' />
			</li>
		</ul>
	</div>
</div>
<div jwcid="@Conditional" condition="ognl:templetId == 'ETAPMARKETINGEXCITATION'">
	<div class="c_title">
		<div class="text">专线数据信息</div>
	</div>
	<div >
		<ul id="MARKETING_PARAM_UL">
			<li jwcid="@Foreach" source="ognl:tapMarketingLineList" value="ognl:tapMarketingInfo" index="ognl:rowIndex"  element="li" id="ognl:'MARKETING_'+rowIndex+'_LI'">
				<div  jwcid="@Any" id="ognl:rowIndex+'new'">
						<!-- 参数 开始 -->
					<div class="c_list c_list-line c_list-border c_list-col-3 c_list-phone-col-1">
					<ul >
						<li class="link required">
				             <div class="label">专线实例号：</div>
				             <div class="value">
				                 <input jwcid="@TextField" id="ognl:rowIndex+'NOTIN_PRODUCTNO'" name="NOTIN_PRODUCTNO" value="ognl:tapMarketingInfo.NOTIN_PRODUCTNO"  desc="专线实例号" onchange="selectMarketingProductNo(this);" nullable="no"  />
				             </div>
				        </li>
				        <li class="link required">
				             <div class="label">签约年限：</div>
				             <div class="value">
				                 <input jwcid="@TextField" id="ognl:rowIndex+'NOTIN_CONTRACT_AGE'" name="NOTIN_CONTRACT_AGE" value="ognl:tapMarketingInfo.NOTIN_CONTRACT_AGE"  desc="签约年限" nullable="no"  onchange="selectMarketingContractAge(this);" />
				             </div>
				        </li>
				        <li class="link required">
				             <div class="label">产品编码：</div>
				             <div class="value">
				                 <input jwcid="@TextField" id="ognl:rowIndex+'NOTIN_PRODUCTNUMBER'" name="NOTIN_PRODUCTNUMBER" value="ognl:tapMarketingInfo.NOTIN_PRODUCTNUMBER"  desc="产品编码" readonly="readonly" nullable="no"  />
				             </div>
				        </li>
				        <li class="link required">
				             <div class="label">专线名称：</div>
				             <div class="value">
				                 <input jwcid="@TextField" id="ognl:rowIndex+'NOTIN_LINENAME'" name="NOTIN_LINENAME" value="ognl:tapMarketingInfo.NOTIN_LINENAME"  desc="专线名称" readonly="readonly" nullable="no"  />
				             </div>
				        </li>
				        <li class="link required">
				             <div class="label">专线带宽（兆）：</div>
				             <div class="value">
				                 <input jwcid="@TextField" id="ognl:rowIndex+'NOTIN_BANDWIDTH'" name="NOTIN_BANDWIDTH" value="ognl:tapMarketingInfo.NOTIN_BANDWIDTH"  desc="专线带宽（兆）" readonly="readonly" nullable="no"  />
				             </div>
				        </li>
				        <li class="link required">
				             <div class="label">友商名称：</div>
				             <div class="value">
				                 <input jwcid="@Select" id="ognl:rowIndex+'NOTIN_FRIENDBUSINESS_NAME'" name="NOTIN_FRIENDBUSINESS_NAME" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('MARKETING_FRIENDBUSINESS_NAME')" textField="DATA_NAME" valueField="DATA_ID" 
                  					value="ognl:tapMarketingInfo.NOTIN_FRIENDBUSINESS_NAME" nullable="no"  desc="友商名称" disabled="disabled"  />
				             </div>
				        </li>
				        <li class="link required">
				             <div class="label">录入资费（元/月）：</div>
				             <div class="value">
				                 <input jwcid="@TextField" id="ognl:rowIndex+'NOTIN_RSRV_STR2'" name="NOTIN_RSRV_STR2" value="ognl:tapMarketingInfo.NOTIN_RSRV_STR2"  desc="录入资费（元/月）" readonly="readonly" nullable="no"  />
				             </div>
				        </li>
				        <li class="link required">
				             <div class="label">实际资费（元/月）：</div>
				             <div class="value">
				                 <input jwcid="@TextField" id="ognl:rowIndex+'NOTIN_MONTHLYFEE_EXCITATION'" name="NOTIN_MONTHLYFEE_EXCITATION" value="ognl:tapMarketingInfo.NOTIN_MONTHLYFEE_EXCITATION"  desc="实际资费（元/月）" readonly="readonly" nullable="no"  />
				             </div>
				        </li>
				        <li class="link required">
				             <div class="label">录入激励金额（元）：</div>
				             <div class="value">
				                 <input jwcid="@TextField" id="ognl:rowIndex+'NOTIN_LINEPRICE_TAP'" name="NOTIN_LINEPRICE_TAP" value="ognl:tapMarketingInfo.NOTIN_LINEPRICE_TAP"  desc="录入激励金额（元）" readonly="readonly" nullable="no"  />
				             </div>
				        </li>
				        <li >
				             <div class="label">实际激励金额（元）：</div>
				             <div class="value">
				                 <input jwcid="@TextField" id="ognl:rowIndex+'NOTIN_LINEPRICE_EXCITATION'" name="NOTIN_LINEPRICE_EXCITATION" value="ognl:tapMarketingInfo.NOTIN_LINEPRICE_EXCITATION"  desc="实际激励金额（元）" readonly="readonly" />
				             </div>
				        </li>
					</ul>
					</div>
						<!-- 参数 结束 -->
				</div>
				<input  type="hidden" jwcid="@Any" id="ognl:'OFFER_CHA_'+getPage().getData().getString('OFFER_CODE')+'_'+rowIndex+''" value='' />
			</li>
		</ul>
	</div>
</div>

<input type="hidden" id="MARKETING_MAX_INDEX" value="0" desc="记录当前专线的最大数量，每新增一条该数量加1"/>
<script type="text/javascript">
$(function(){
	initPageParam();
});
</script>
