<input
	jwcid="@Hidden"
	id="ognl:'POP_'+fieldName"
	name="ognl:'POP_'+fieldName"
	tradeEparchyCode="ognl:eparchyCode"
	classHandler="ognl:classHandler"
	bindEvent="ognl:bindEvent"
	beforeAction="ognl:beforeAction"
	tradeAction="ognl:tradeAction"
	isLocal="ognl:isLocal"
	isAuth="ognl:isAuth"
	desc="ognl:desc"
	checkTag="ognl:checkTag"
	authType="ognl:authType"
	afterAction="ognl:'$.userCheck.onUserCheck(\''+fieldName+'\')'"
	value=""
	authParams=""
	authUser=""
	noUserPasswd=""
	exceptAction="ognl:exceptAction"
	cacheSn="ognl:cacheSn" />