<div class="c_header">
    <div class="back" ontap="hidePopup(this);">选择营销包</div>
    <div class="fn">
        <span class="e_mix e_mix-search">
            <input jwcid="@TextField" name="SEARCH_CONTENT" onkeyup="saleActiveList.filterByPackageName();"/>
            <button type="button"><span class="e_ico-search"></span></button>
        </span>
    </div>
</div>
<div name="saleActiveListScroller" jwcid="@Scroller"
     class="c_scroll c_scroll-float c_scroll-header c_scroll-white">
    <div class="c_list c_list-line c_list-border">
        <ul id="saleActiveListUl">
            <!-- （PC/Pad版） 开始 -->
            <li jwcid="@Foreach" class="link e_hide-phone" source="ognl:saleActives" value="ognl:saleActive"
                index="ognl:rowIndex" element="li" packageId="ognl:saleActive.PACKAGE_ID"
                packageName="ognl:saleActive.PACKAGE_NAME" productId="ognl:saleActive.PRODUCT_ID"
                campnType="ognl:saleActive.CAMPN_TYPE" ontap="saleActiveList.checkByPackageId(this);">

                <div class="main ">
                    <span jwcid="@Insert" class="ognl:1==saleActive.ERROR_FLAG ? 'e_delete' : ''"
                          value="ognl:saleActive.PACKAGE_NAME"></span>
                    <input jwcid="@Hidden" name="SALEACTIVE_ERROR_FLAG"
                           value="ognl:saleActive.ERROR_FLAG"/>
                </div>
            </li>
            <!-- （Phone 版） 开始 -->
            <li jwcid="@Foreach" class="link e_show-phone" source="ognl:saleActives" value="ognl:saleActive"
                index="ognl:rowIndex" element="li" packageId="ognl:saleActive.PACKAGE_ID"
                packageName="ognl:saleActive.PACKAGE_NAME" productId="ognl:saleActive.PRODUCT_ID"
                campnType="ognl:saleActive.CAMPN_TYPE" ontap="saleActiveList.checkByPackageId(this);">

                <div class="main" style="white-space: inherit;">
                    <span jwcid="@Insert" class="ognl:1==saleActive.ERROR_FLAG ? 'e_delete' : ''"
                          value="ognl:saleActive.PACKAGE_NAME"></span>
                    <input jwcid="@Hidden" name="SALEACTIVE_ERROR_FLAG"
                           value="ognl:saleActive.ERROR_FLAG"/>
                </div>
            </li>
        </ul>
    </div>
</div>

<input jwcid="@Hidden" name="SALEACTIVELIST_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="SALEACTIVELIST_POPUP_ID" value="ognl:popupId"/>
<input jwcid="@Hidden" name="SALEACTIVELIST_EPARCHY_CODE_COMPID" value="ognl:eparchyCodeCompId"/>
<input jwcid="@Hidden" name="SALEACTIVELIST_USER_ID" value="ognl:saleActiveListUserId"/>
<input jwcid="@Hidden" name="SALEACTIVELIST_CUST_ID" value="ognl:saleActiveListCustId"/>
<input jwcid="@Hidden" name="SALEACTIVE_IMEI" value="ognl:info.IMEI"/>
<input jwcid="@Hidden" name="DEVICE_MODEL_CODE" value="ognl:info.DEVICE_MODEL_CODE"/>