	<span jwcid="@Conditional" condition="ognl:hasTitle">	
		<div jwcid="@Any" class="ognl:titleLev">
			<div class="text">集团成员信息</div>
		</div>
	</span>
	
	<div class="c_form c_form-text c_form-label-6 c_form-col-3">
		<ul class="ul">
			<li class="li">
				<span class="label">成员客户标识：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:info.CUST_ID" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">成员用户标识：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:info.USER_ID" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">成员服务号码：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:info.SERIAL_NUMBER" raw="true"/>
					<input jwcid="@Any" id="MEB_USER_ID" name="MEB_USER_ID" value="ognl:info.USER_ID" style="display:none;" encode="false" />
					<input jwcid="@Any" id="MEB_SERIAL_NUMBER" name="MEB_SERIAL_NUMBER" value="ognl:info.SERIAL_NUMBER" style="display:none;" encode="false" />
					<input jwcid="@Any" id="MEB_CUST_NAME" name="MEB_CUST_NAME" value="ognl:info.CUST_NAME" style="display:none;" encode="false" />
					<input jwcid="@Any" id="MEB_EPARCHY_CODE" name="MEB_EPARCHY_CODE" value="ognl:info.EPARCHY_CODE" style="display:none;" encode="false" />
				</span>
			</li>
			<li class="li">
				<span class="label">成员名称：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:info.CUST_NAME" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">归属地州：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:info.EPARCHY_NAME" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">开户时间：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:info.OPEN_DATE" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">成员品牌：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:info.BRAND_NAME" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">成员产品标识：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:info.PRODUCT_ID" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">成员产品名称：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:info.PRODUCT_NAME" raw="true"/>
				</span>
			</li>
		</ul>
	</div>
	<!-- 成员信息 结束 -->