<div jwcid="@Any" element="div" class="m_cust m_cust-group" id="ognl:id"  style="display: none">
	<div jwcid="GroupLoginPart@Part" style="display: none"></div>
	<div class="wrapper">
		<div class="fn" id="groupLoginFn" style="display:none;">
			<ul>
				<li jwcid="@Any" element="li" ontap="ognl:id + '.logout(this);'">注销</li>
				<li jwcid="@Any" element="li" ontap="ognl:id + '.navTo360(this);'">产品360</li>
				<li jwcid="@Any" element="li" ontap="ognl:id + '.navToMemberMgr(this);'">成员管理</li>
			</ul>
		</div>
		<div class="fn" id="groupLogoutFn">
			<ul>
				<li jwcid="@Any" element="li" ontap="ognl:id + '.navToGrpOfferOper(this);'">集团开户</li>
				<li jwcid="@Any" element="li" ontap="ognl:id + '.navToNewGrp(this);'">新增集团</li>
				<li jwcid="@Any" element="li" ontap="ognl:id + '.navToMemberMgr(this);'">成员管理</li>
			</ul>
		</div>
		<div class="login" id="groupLogin">
			<div class="title">集团客户查询</div>
			<div class="content">
				<ul>
					<li id="groupQueryTypeButton">
						<div class="label">方式</div>
						<div class="value" code="GROUP_ID">集团编码</div>
						<div class="unfold"></div>
					</li>
					<li id="groupQueryTypeValue">
						<div class="label">编码</div>
						<div class="input">
							<input jwcid="@TextField"  class="e_right" name="groupQueryTypeValueInput" type="text" nullable="no" value="" />
						</div>
					</li>
				</ul>
				<div class="option" id="groupQueryType" style="display:none;">
					<ul>
						<li code="GROUP_ID" class="on">集团编码</li>
						<li code="GROUP_NAME">集团客户名称</li>
						<li code="ACCESS_NUM">集团服务号码</li>
						<li code="KEYMAN_SN">集团关键人号码</li>
					</ul>
					<ul>
						<li code="MEB_ACCESS_NUM">成员服务号码</li>
					</ul>
				</div>
			</div>
			<div class="submit">
				<button jwcid="@Any" element="button" type="button" ontap="ognl:id + '.navToNewGrp(this);'" class="blue">新增集团</button>
				<button jwcid="@Any" element="button" type="button" ontap="ognl:id + '.queryGroup(1);'" id="loginBtn">查询</button>
			</div>
			<div class="list" id="groupList">
				<div class="wrapper">
					<div class="title"><div class="back" ontap="$('#groupList').removeClass('list-show');">选择集团 (17)</div></div>
					<div id="groupListLoading" class="c_msg c_msg-full c_msg-loading" style="display:none">
						<div class="wrapper">
							<div class="emote"></div>
							<div class="info">
								<div class="text">
									<div class="title">loading</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content">
						<ul>
							
						</ul>
					</div>
					<div class="page">
						<div jwcid="@Any" element="div" class="prev" ontap="ognl:id + '.prev(this);'">上一页</div>
						<div class="count">1/12</div>
						<div jwcid="@Any" element="div" class="next" ontap="ognl:id + '.next(this);'">下一页</div>
					</div>
				</div>
				<div class="cover" onclick="removeClass(get('groupList'),'list-show')"></div>	
			</div>
		</div>
		
		
		<div class="cust" style="display:none;" id="groupCust" >
			<div onclick="showGrpDetail('groupDetail');">
			<div class="head head-group"></div>
			<div class="name"></div>
			<div class="num"></div>
			<div class="user"></div>
			<div class="honor"></div>	
			<div class="level">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			</div>
			<div class="more" id="groupDetail" onclick="hideDeal('groupDetail');">
				<div jwcid="@Scroller" class="wrapper c_scroll" name="groupDetailScroll" 
						hScroll="false" hScrollbar="false">
					<div class="title">
						<div id="groupBaseInfoTile" class="text">基本信息</div>
						<div class="fn"><span class="e_ico-edit"></span></div>
					</div>
					<div class="param" id="groupBaseInfo">
						<ul>
							<li id="contact">
								<div class="label">联系人：</div>
								<div class="value"></div>
							</li>
							<li id="contactPhone">
								<div class="label">联系电话：</div>
								<div class="value"></div>
							</li>
							<li id="custId">
								<div class="label">客户编码：</div>
								<div class="value"></div>
							</li>
							<li id="groupType">
								<div class="label">集团类型：</div>
								<div class="value"></div>
							</li>
							<li id="callingType">
								<div class="label">行业类别：</div>
								<div class="value"></div>
							</li>
							<li id="orgCode">
								<div class="label">组织代码：</div>
								<div class="value"></div>
							</li>
							<li id="enterpriseTypeCode">
								<div class="label">企业类型：</div>
								<div class="value"></div>
							</li>
							<li id="orgTypeA">
								<div class="label">企业大类：</div>
								<div class="value"></div>
							</li>
							<li id="address">
								<div class="label">地址：</div>
								<div class="value"></div>
							</li>
						</ul>
					</div>
					<div class="space"></div>	
					<div class="title">
						<div id="groupManagerInfo" class="text">客户经理</div>
						<div class="fn"><span class="e_ico-edit"></span></div>
					</div>
					<div class="manager" id="groupManager">
						<div class="pic"></div>
						<div class="content">
							<div class="name" id='mgrName'></div>
							<div class="info">
								电话：<span id="mgrPhone"></span><br />
								邮箱：<span id="mgrEmail"></span><br />
							</div>
						</div>
					</div>
					<div class="space"></div>	
					<div class="title">
						<div id="OrderedOffer" class="text">已订商品</div>
						<div class="fn"><span class="e_ico-edit"></span></div>
					</div>
					<div class="list" id="groupOrderedProduct">
						<ul>
			
						</ul>
						<div class="page">
							<div jwcid="@Any" element="div" class="prev" ontap="ognl:id + '.prevOffer(this);'">上一页</div>
							<div class="count">1/12</div>
							<div jwcid="@Any" element="div" class="next" ontap="ognl:id + '.nextOffer(this);'">下一页</div>
						</div>
					</div>
				</div>
			</div>
			<div class="more" id="contractDetail" onclick="hideDeal('contractDetail');">
				<div jwcid="@Scroller" class="wrapper c_scroll" name="contractDetailScroll" 
						hScroll="false" hScrollbar="false">
						<!-- 标题 开始 -->
						<div class="c_title">
							<div class="text">合同列表</div>
						</div>
						<!-- 标题 结束 -->
						<div class="l_padding l_padding-u">
							<!-- 列表 开始 -->
							<div class="c_list c_list-hideSide c_list-line" id="contactList">
								<ul>
								</ul>
							</div>
							<!-- 列表 结束 -->
						</div>
				</div>
			</div>
			<div class="more" id="healthDetail"  onclick="hideDeal('healthDetail');">
				<div jwcid="@Scroller" class="wrapper c_scroll" name="healthDetailScroll" 
						hScroll="false" hScrollbar="false">
												<!-- 标题 开始 -->
						<div class="c_title">
							<div class="text">健康度</div>
							<div class="fn">
								<ul>
									<li><span class="e_ico-check"></span>集团账单查询</li>
								</ul>
							</div>
						</div>
						<!-- 标题 结束 -->
						<div class="l_padding l_padding-u">
							<!-- 列表 开始 -->
							<div class="c_list c_list-hideSide c_list-line" id="healthList">
								<ul>
									<li>
									</li>
								</ul>
							</div>
							<!-- 列表 结束 -->
						</div>
				</div>
			</div>
		</div>
<!-- 		<div class="sale" id="saleRec" style="display:none;">
			<div class="title">系统建议给该客户推荐</div>
			<div class="content">
				<ul>

				</ul>
			</div>
		</div> -->
		<div class="l_padding" id="groupSpInfo" style="display:none;">
			<div class="c_space-2"></div>
			<div class="c_list c_list-s c_list-line e_left">
				<ul>
					<li class="link" id="contractButton" onclick="showGrpDetail('contractDetail');">
						<div class="content">
							<div class="main e_black">合同到期</div>
							<div class="side"><span class="more">详细</span></div>
						</div>
					</li>
					<li class="link" id="healthButton" onclick="showGrpDetail('healthDetail');">
						<div class="main e_black">健康度信息</div>
						<div class="side"><span class="more">详细</span></div>
					</li>
				</ul>
			</div>
			
			
		</div>
	</div>

	<span jwcid="@Any" element="span" id="ognl:id + 'Info'" style="display:none"></span>
</div>