	<!-- 标题 开始 -->
	<div class="c_title">
		<div class="text">产品说明</div>
	</div>
	<!-- 标题 结束 -->
	<!-- 参数列表 开始 -->
	<div class="c_form c_form-text c_form-label-6 c_form-col-3">
		<ul class="ul">
			<li class="li">
				<span class="label">产品标识：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:productInfo.PRODUCT_ID"/>
				</span>
			</li>
			<li class="li">
				<span class="label">产品描述：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:productInfo.PRODUCT_EXPLAIN"/>
				</span>
			</li>
			<li class="li">
				<span class="label">最大成员数：</span>
				<span class="text"><span jwcid="@Insert" value="ognl:productInfo.MAX_MEMBER"/>人</span>
			</li> 
			<li class="li">
				<span class="label">最小成员数：</span>
				<span class="text"><span jwcid="@Insert" value="ognl:productInfo.MIN_MEMBER"/>人</span>
			</li> 
			
		</ul>
	</div>
