<div jwcid="@Conditional" condition="ognl:isRender == 'true'">
	<div jwcid="@Conditional" condition="ognl:isShoppingCart == 'true'">
		<button jwcid="@Button" buttonType="shoppingCartButton"  repeatTrade="ognl:repeatTrade" name="ADD_SHOPPING_CART" 
		        disabledBtn="ognl:disabledBtn" class="e_button-r e_button-l e_button-blue">
			<span>加入购物车</span>
		</button>
	</div>
	<div jwcid="@Conditional" condition="ognl:isPayShopping == 'false'">
		<button jwcid="@Button" accesskey="Y" class="ognl:'e_button-r '+(submitStyle==''?'':submitStyle)" name="CSSUBMIT_BUTTON" 
			area="ognl:area" callBean="ognl:callBean" listener="ognl:listener" params="ognl:params"  style="display: none;"
			refreshPart="ognl:refreshPart" beforeAction="ognl:beforeAction" isGrp="ognl:isGrp" 
			isBusinessFlow="ognl:getPage().getData().getString('IS_BUSINESS_FLOW','')"			
			affirmAction="ognl:affirmAction" cancelRule="ognl:cancelRule" disabledBtn="ognl:disabledBtn"
			isPrint="ognl:isPrint" ruleErrorAction="ognl:ruleErrorAction" ruleErrorExecFlag="ognl:ruleErrorExecFlag"
			edocPrint="ognl:edocPrint" bothPrint="ognl:bothPrint" edocSecond="ognl:edocSecond" closeNoPrint="ognl:closeNoPrint" mustPrintTag="ognl:mustPrintTag">
			<span jwcid="@Insert" value="ognl:submitText"/>
		</button>
	</div>
	<div jwcid="@Conditional" condition="ognl:isReset == 'true'">
		<button jwcid="@Button" resetAction="ognl:resetAction" class="e_button-r e_button-l e_button-navy" name="CSRESET_BUTTON">
			<i class="e_ico-reset"></i><span>重置</span>
		</button>
	</div>
	<div jwcid="@Conditional" condition="ognl:isPayShopping == 'true'">
		<button jwcid="@Button" class="e_button-r" name="CSSUBMIT_BUTTON" 
			area="ognl:area" callBean="ognl:callBean" listener="ognl:listener" params="ognl:params" 
			refreshPart="ognl:refreshPart" beforeAction="ognl:beforeAction" isGrp="ognl:isGrp" 
			affirmAction="ognl:affirmAction" cancelRule="ognl:cancelRule" disabledBtn="ognl:disabledBtn"
			isPrint="ognl:isPrint" ruleErrorAction="ognl:ruleErrorAction" ruleErrorExecFlag="ognl:ruleErrorExecFlag"
			edocPrint="ognl:edocPrint" bothPrint="ognl:bothPrint" edocSecond="ognl:edocSecond" closeNoPrint="ognl:closeNoPrint" mustPrintTag="ognl:mustPrintTag">结算</button>
	</div>	

</div>
<div jwcid="@Conditional" condition="ognl:isRender == 'false'">
	<div jwcid="@Conditional" condition="ognl:isReset == 'true'">
		<button jwcid="@Button" resetAction="ognl:resetAction" class="e_button-r e_button-l e_button-navy" name="CSRESET_BUTTON">
			<i class="e_ico-reset"></i><span>重置</span>
		</button>
	</div>
	<div jwcid="@Conditional" condition="ognl:isPayShopping == 'false'">
		<button jwcid="@Button" accesskey="Y" class="ognl:'e_button-r '+(submitStyle==''?'':submitStyle)" name="CSSUBMIT_BUTTON" 
			area="ognl:area" callBean="ognl:callBean" listener="ognl:listener" params="ognl:params" 
			refreshPart="ognl:refreshPart" beforeAction="ognl:beforeAction" isGrp="ognl:isGrp" 
			isBusinessFlow="ognl:getPage().getData().getString('IS_BUSINESS_FLOW','')" 
			affirmAction="ognl:affirmAction" cancelRule="ognl:cancelRule" disabledBtn="ognl:disabledBtn" 
			isPrint="ognl:isPrint" ruleErrorAction="ognl:ruleErrorAction" ruleErrorExecFlag="ognl:ruleErrorExecFlag"
			edocPrint="ognl:edocPrint" bothPrint="ognl:bothPrint" edocSecond="ognl:edocSecond" closeNoPrint="ognl:closeNoPrint" mustPrintTag="ognl:mustPrintTag">
			<span jwcid="@Insert" value="ognl:submitText"/>
		</button>
	</div>	
	<div jwcid="@Conditional" condition="ognl:isPayShopping == 'true'">
		<button jwcid="@Button" class="e_button-r" name="CSSUBMIT_BUTTON" 
			area="ognl:area" callBean="ognl:callBean" listener="ognl:listener" params="ognl:params" 
			refreshPart="ognl:refreshPart" beforeAction="ognl:beforeAction" isGrp="ognl:isGrp" 
			affirmAction="ognl:affirmAction" cancelRule="ognl:cancelRule" disabledBtn="ognl:disabledBtn"
			isPrint="ognl:isPrint" ruleErrorAction="ognl:ruleErrorAction" ruleErrorExecFlag="ognl:ruleErrorExecFlag"
			edocPrint="ognl:edocPrint" bothPrint="ognl:bothPrint" edocSecond="ognl:edocSecond" closeNoPrint="ognl:closeNoPrint" mustPrintTag="ognl:mustPrintTag">结算</button>
	</div>	
	<div jwcid="@Conditional" condition="ognl:isShoppingCart == 'true'">
			<button jwcid="@Button" buttonType="shoppingCartButton"  repeatTrade="ognl:repeatTrade" name="ADD_SHOPPING_CART"
					disabledBtn="ognl:disabledBtn" class="e_button-r e_button-l e_button-blue">
				<i class="e_ico-import"></i><span>加入购物车</span>
			</button>
	</div>
</div>

<div id="PAY_FEE_PART" style="display:none;" >
	<input name="_PAY_FEE_ID" jwcid="@TextField" value="" afterAction="$.cssubmit.callBack.payBackFunc" style="display:none;"/>
</div>