<div id="userPckageTreePop" class="c_popupItem">
	<div class="c_header">
		<div class="back" ontap="hidePopup(this)">定制信息</div>
	</div>
	<div  jwcid="@Scroller" name="userPackageScroller" class="c_scroll c_scroll-white c_scroll-float c_scroll-header">
		<div class="l_padding-2">
		<div jwcid="@Tree" 
			class="c_tree"
			name="mytree"
			expandPath="root" 
			method="loadSimpleTree" 
			clazz="com.asiainfo.veris.crm.iorder.web.frame.icsview.common.component.enterprise.offer.EnterpriseUserPackageHttpHandler"
			params="" 
			async="true" 
			checkBoxType="checkbox" 
			init="false"
			checkBoxAction="checkTree(nodedata);"
			textAction="checkTree(nodedata);"></div>
		</div>
	</div>
	<input jwcid="@Hidden" name="USR_SET_OFFER_ID" value=""/>
</div>
