<!-- <div id="bbossUserPckageTreePop" class="c_popupItem">
	<div class="c_header">
		<div class="back" ontap="hidePopup(this);">定制信息</div>
	</div>
	<div  jwcid="@Scroller" name="bbossUserPackageScroller" class="c_scroll c_scroll-float c_scroll-header">
		<div jwcid="@Tree" 
			class="c_tree c_tree-border"
			name="mybbosstree"
			expandPath="root" 
			method="loadSimpleTree" 
			clazz="com.asiainfo.veris.crm.iorder.web.frame.icsview.common.component.enterprise.offer.EnterpriseUserPackageHttpHandler"
			params="" 
			async="true" 
			checkBoxType="checkbox" 
			init="false"
			checkBoxAction="checkBBossTree(nodedata);"
			textAction="checkBBossTree(nodedata);"></div>
	</div>
	<input jwcid="@Hidden" name="BBOSS_USR_SET_OFFER_ID" value=""/>
	
</div>
 -->
<div jwcid="@Popup" class="c_popup c_popup-half c_popup-half-hasBg" name="bbossUserPckageTreePop" >
 <div class="c_popupGroup">
		<div id="PckageHome" class="c_popupItem">
			<div class="c_header">
				<div class="back" ontap="hidePopup(this);">定制信息</div>
			</div>
			<div  jwcid="@Scroller" name="bbossUserPackageScroller" class="c_scroll c_scroll-float c_scroll-header">
			<div jwcid="@Tree" 
				class="c_tree c_tree-border"
				name="mybbosstree"
				expandPath="root" 
				method="loadSimpleTree" 
				clazz="com.asiainfo.veris.crm.iorder.web.frame.icsview.common.component.enterprise.offer.EnterpriseUserPackageHttpHandler"
				params="" 
				async="true" 
				checkBoxType="checkbox" 
				init="false"
				checkBoxAction="checkBBossTree(nodedata);"
				textAction="checkBBossTree(nodedata);"></div>
			</div>
			<input jwcid="@Hidden" name="BBOSS_USR_SET_OFFER_ID" value=""/>
			<input jwcid="@Hidden" name="BBOSS_USR_SET_USER_ID" value=""/>
			
			
			
		</div>
		 <!-- 提交 开始 -->
		<div class="c_submit c_submit-full l_bottom">
			<button type="button" class="e_button-l e_button-navy" ontap="cancelPckInfo();">取消</button>
			<button type="button" class="e_button-l e_button-blue" ontap="submitPkgInfo();">确定</button>
		</div>
		<!-- 提交 结束 -->
	</div>

 </div>