<div jwcid="@Any" element="div" class="c_popupItem" id="ognl:info.id">
	<div id="PriceChaHead" class="c_header">
		<div class="back" ontap="backPopup(this);">价格特征</div>
	</div>
	<div jwcid="@Scroller" name="priceChaListDiv" class="c_scroll c_scroll-float c_scroll-submit c_scroll-header">
		<div class="c_scrollContent l_padding-side">
			<div class="c_scrollContent">
				<!-- 列表 开始 -->
				<div class="c_space"></div>
				<div jwcid="OfferSimpleChaListPart@Part" class="c_list c_list-line c_list-border">
					<ul>
						<li class="ognl:offerSimpleCha.IS_NULL==0?'link required':'link'" jwcid="@Foreach" source="ognl:offerSimpleChaList" value="ognl:offerSimpleCha" element="li">
							<!-- 普通文本框 开始 -->
							<div jwcid="@Conditional" condition='ognl:"0".equals(offerSimpleCha.SHOW_MODE)'>
								<div class="label"><span jwcid="@Insert" name="CHA_SPEC_NAME" value="ognl:offerSimpleCha.CHA_SPEC_NAME"></span></div>
								<div class="value">
									<input jwcid="@TextField" name="ognl:offerSimpleCha.FIELD_NAME" 
										id="ognl:offerSimpleCha.FIELD_NAME" 
										value="ognl:offerSimpleCha.VALUE" 
										oldValue="ognl:offerSimpleCha.VALUE" 
										nullable="ognl:offerSimpleCha.IS_NULL==0?'no':'yes'" 
										desc="ognl:offerSimpleCha.CHA_SPEC_NAME" 
										datatype="ognl:offerSimpleCha.DATA_TYPE" 
										disabled="ognl:offerSimpleCha.IS_EDIT==1?false:true"
										CHA_SPEC_ID="ognl:offerSimpleCha.CHA_SPEC_ID" 
										OFFER_CHA_INS_ID="ognl:offerSimpleCha.OFFER_CHA_INS_ID"/>
								</div>
							</div>
							<!-- 普通文本框 结束 -->
							<div jwcid="@Conditional" condition='ognl:"2".equals(offerSimpleCha.SHOW_MODE)'>
								<div class="label"><span jwcid="@Insert" name="CHA_SPEC_NAME" value="ognl:offerSimpleCha.CHA_SPEC_NAME"></span></div>
								<div class="value">
									<input jwcid="@DateField" name="ognl:offerSimpleCha.FIELD_NAME" 
										value="ognl:offerSimpleCha.VALUE" 
										nullable="ognl:offerSimpleCha.IS_NULL==0?'no':'yes'" 
										desc="ognl:offerSimpleCha.CHA_SPEC_NAME" 
										CHA_SPEC_ID="ognl:offerSimpleCha.CHA_SPEC_ID"
										OFFER_CHA_INS_ID="ognl:offerSimpleCha.OFFER_CHA_INS_ID" dropDown="true"/>
								</div>
									
								<div class="more"></div>
							</div>
							<!-- 下拉框 开始 -->
							<div jwcid="@Conditional" condition='ognl:"1".equals(offerSimpleCha.SHOW_MODE) || "3".equals(offerSimpleCha.SHOW_MODE)'>
								<div class="label"><span jwcid="@Insert" name="CHA_SPEC_NAME" value="ognl:offerSimpleCha.CHA_SPEC_NAME"></span></div>
								<div class="value">
									<input jwcid="@Select" name="ognl:offerSimpleCha.FIELD_NAME" 
										source="ognl:offerSimpleCha.DATA_VAL" 
										textField="TEXT" valueField="VALUE" 
										value="ognl:offerSimpleCha.VALUE" 
										oldValue="ognl:offerSimpleCha.VALUE" 
										nullable="ognl:offerSimpleCha.IS_NULL=='0'?'no':'yes'" 
										desc="ognl:offerSimpleCha.CHA_SPEC_NAME" 
										CHA_SPEC_ID="ognl:offerSimpleCha.CHA_SPEC_ID" 
										OFFER_CHA_INS_ID="ognl:offerSimpleCha.OFFER_CHA_INS_ID"/>
								</div>
							</div>
							<!-- 下拉框 结束 -->
							<!-- 自动计算属性 开始 -->
							<div jwcid="@Conditional" condition='ognl:"A".equals(offerSimpleCha.SHOW_MODE)'>
								<div class="label"><span jwcid="@Insert" name="CHA_SPEC_NAME" value="ognl:offerSimpleCha.CHA_SPEC_NAME"></span></div>
								<div class="value">
									<input jwcid="@TextField" name="ognl:offerSimpleCha.FIELD_NAME" 
										id="ognl:offerSimpleCha.FIELD_NAME" 
										value="ognl:offerSimpleCha.VALUE" 
									 	oldValue="ognl:offerSimpleCha.VALUE" 
									 	desc="ognl:offerSimpleCha.CHA_SPEC_NAME" 
									 	style="display:" 
									 	calculate_formula="ognl:offerSimpleCha.CALCULATE_FORMULA" 
									 	datatype="ognl:offerSimpleCha.DATA_TYPE" 
									 	CHA_SPEC_ID="ognl:offerSimpleCha.CHA_SPEC_ID" 
									 	OFFER_CHA_INS_ID="ognl:offerSimpleCha.OFFER_CHA_INS_ID"/>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="c_line"></div>
				<!-- 列表 结束 -->
			</div>
			<input jwcid="@Hidden" id="pricecha_OFFER_ID" name="pricecha_OFFER_ID" value="" desc="当前资费类商品标识"/>
			<input jwcid="@Hidden" id="pricecha_OFFER_INDEX" name="pricecha_OFFER_INDEX" value="" desc="当前资费类商品序号"/>
			<div class="c_space"></div>
			<!-- 提交 开始 -->
			<div class="c_submit c_submit-full">
				<!-- <button type="button" class="e_button-r e_button-l e_button-navy" ontap="backPopup(this);">取消</button> -->
				<button type="button" class="e_button-r e_button-l e_button-blue" ontap="offerSimpleCha.submitOfferSimpleCha();">确定</button>
			</div>
			<!-- 提交 结束 -->
		</div>
	</div>
</div>