<div class="c_filter" id="filter">
	<ul id="labelPart">
		<div jwcid="@OfferGroupList" groupList="ognl:groupList"></div>
		<li jwcid="@Foreach" 
			source="ognl:labelList" 
			value="ognl:label"
			element="li" title="">
			<div class="label"><span jwcid="@Insert" value="ognl:label.LABEL_NAME"/>：</div>
			<div class="option">
				<ul>
					<li labelKeyId="-1" onclick="offerList.switchLabel($(this));">不限</li>
					<li jwcid="@Foreach" 
						source="ognl:label.LABEL_KEY_LIST" 
						value="ognl:labelKey"  labelKeyId="ognl:labelKey.LABEL_KEY_ID"
						element="li" title="" onclick="offerList.switchLabel($(this));">
						<span jwcid="@Insert" value="ognl:labelKey.LABEL_KEY_VALUE"/>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>