<div jwcid="@Any" element="div" id="ognl:name" class="c_popupItem">
	<div jwcid="@Part" id="ognl:name + 'MgrPart'" style="display: none"></div>
	<div class="c_header">
		<div class="back" ontap="hidePopup(this);">账户信息</div>
	</div>
	<div jwcid="@Scroller" name="ognl:name + 'Scroller'" class="c_scroll c_scroll-float c_scroll-header"
		hScroll="false" hScrollbar="false">
		<div class="c_scrollContent l_padding">
		
			<div jwcid="@Any" element="div" class="c_list c_list-form" id="ognl:name + '_form1'" style="display: none;">
				<ul>
					<li class="link">
						<div class="label">账户标识</div>
						<div class="value">
							<input jwcid="@TextField" name="ognl:name + '_ACCT_ID'" value="ognl:acctInfo.ACCT_ID" readOnly="true" />
						</div>
					</li>
					<li class="link">
						<div class="label">开户时间</div>
						<div class="value">
							<input jwcid="@TextField" name="ognl:name + '_OPEN_DATE'" value="ognl:acctInfo.OPEN_DATE" readOnly="true" />
						</div>
					</li>
					<li class="link">
						<div class="label">归属地州</div>
						<div class="value">
							<input jwcid="@TextField" name="ognl:name + '_REGION_NAME'" value="ognl:acctInfo.REGION_NAME" readOnly="true" />
							<input jwcid="@TextField" name="ognl:name + '_REGION_ID'" value="ognl:acctInfo.MGMT_DISTRICT" style="display: none" />
						</div>
					</li>
					<!-- <li class="link">
						<div class="label">附属业务区</div>
						<div class="value">
							<input jwcid="@TextField" name="ognl:name + '_CITY_CODE'" value="ognl:acctInfo.CITY_CODE" disabled="disabled" />
						</div>
					</li> -->
				</ul>
			</div>
			<div class="c_space"></div>
			
			<div jwcid="@Any" element="div" class="c_list c_list-form" id="ognl:name + '_form2'">
				<ul>
					<li class="link required">
						<div class="label">账户名称</div>
						<div class="value">
							<input jwcid="@TextField" name="ognl:name + '_ACCT_NAME'" value="ognl:acctInfo.ACCT_NAME" nullable="no" desc="账户名称" />
						</div>
					</li>
				</ul>
			</div>
			<div class="c_space"></div>
			
			<div jwcid="@Any" element="div" class="c_list c_list-form" id="ognl:name + '_form3'">
				<ul>
					<li class="link required">
						<div class="label">帐户类别</div>
						<div class="value">
							<span jwcid="@Select" name="ognl:name + '_ACCT_TYPE'" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('TD_S_PAYMODE')" 
								textField="DATA_NAME" valueField="DATA_ID"
								value="ognl:acctInfo.ACCT_TYPE" onchange="ognl:name + '.onchangeAcctType(this);'" nullable="no" desc="帐户类别">
							</span>
						</div>
					</li>
					<!--  li class="link">
						<div class="label">打印模式</div>
						<div class="value">
							<span jwcid="@Select" name="ognl:name + '_RSRV_STR8'" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('PRINT_MODE')" 
								textField="DATA_NAME" valueField="DATA_ID" class="e_select e_select-l e_select-r"
								value="ognl:acctInfo.RSRV_STR8" nullable="no" desc="打印模式" addDefault="false">
							</span>
						</div>
					</li>
					<li class="link">
						<div class="label">发票模式</div>
						<div class="value">
							<span jwcid="@Select" name="ognl:name + '_RSRV_STR9'" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('NODE_MODE')" 
								textField="DATA_NAME" valueField="DATA_ID" class="e_select e_select-l e_select-r"
								value="ognl:acctInfo.RSRV_STR9" nullable="no" desc="打印模式" addDefault="false">
							</span>
						</div>
					</li>
					-->
				</ul>
			</div>
			<div class="c_space"></div>
			
			<div jwcid="@Any" element="div" class="c_list c_list-form" id="ognl:name + '_form4'">
				<ul>
					<li class="link required">
						<div class="label">合同号</div>
						<div class="value">
							<input jwcid="@TextField" name="ognl:name + '_CONTRACT_ID'" value="ognl:acctInfo.CONTRACT_ID" nullable="no" desc="合同号" />
						</div>
					</li>
					<li class="link required">
						<div class="label">上级银行</div>
						<div class="value">
							<span jwcid="@Select" name="ognl:name + '_SUPER_BANK_CODE'" source="ognl:info.SUPER_BANK_CODE_SEL_LIST" 
								textField="BANK" valueField="BANK_CODE"
								value="ognl:acctInfo.BANK_CODE" nullable="no" desc="上级银行">
							</span>
						</div>
					</li>
					<li class="link required">
						<div class="label">银行名称</div>
						<div class="value" jwcid="@Part" element="div" id="ognl:name + 'BankPart'">
							<span jwcid="@Select" name="ognl:name + '_BANK_CODE'" source="ognl:info.BANK_CODE_SEL_LIST" 
								textField="BANK" valueField="BANK_CODE"
								value="ognl:acctInfo.BANK_CODE" nullable="no" desc="银行名称">
							</span>
						</div>
					</li>
					<li class="link required">
						<div class="label">银行账号</div>
						<div class="value">
							<input jwcid="@TextField" datatype="numeric" name="ognl:name + '_BANK_ACCT_NO'" value="ognl:acctInfo.BANK_ACCT_NO" nullable="no" desc="银行账号" />
						</div>
					</li>
				</ul>
			</div>
			<div class="c_space"></div>
			
			<div class="c_submit c_submit-full">
				<button jwcid="@Any" element="button" class="e_button-l e_button-r e_button-navy" type="button" ontap="ognl:name + '.reset(this);'">重置</button>
				<button jwcid="@Any" element="button" class="e_button-l e_button-r e_button-blue" type="button" ontap="ognl:name + '.submit(this);'">确定</button>
			</div>
		</div>
	</div>
</div>