<!DOCTYPE HTML>
<html size="s">
<head jwcid="@Head">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>银行名称选择列表</title>
	<script jwcid="@Script" language="JavaScript" src="scripts/iorder/icsserv/component/person/banklist/BankList.js"></script>
</head>
<body jwcid="@Body">
<div class="c_header">
	<div class="back" id="bankBack" name="bankBack" onclick="backPopup(this)"></div>
</div>
<!-- 表单 开始 -->
<div class="c_form c_form-padding" jwcid="QueryBankPart@Part">
	<ul>
		<li>
			<div class="value">
				<span class="e_mix">
					<input jwcid="@TextField" name="BANK" value="ognl:cond.BANK" desc="银行名称或编码" nullable="no"/>
					<input jwcid="@Hidden" name="SUPER_BANK_CODE" value="ognl:cond.SUPER_BANK_CODE" desc="上级银行编码" />
					<button class="e_button-form e_button-blue" id="qryBankBtn"><i class="e_ico-search"></i><span>查询</span></button>
				</span>
			</div>
		</li>
	</ul>
</div>
<!-- 表单 结束 -->
<div class="c_line"></div>
<!-- 滚动（替换为 java 组件） 开始 -->
<div class="c_scroll c_scroll-float c_scroll-white" style="top:8.5em;">
	<div class="c_list c_list-line" jwcid="QueryListPart@Part">
		<ul>
			<li class="link" jwcid="@Foreach" source="ognl:infos" value="ognl:info" element="li">
				<div class="main">
					<!--<div class="title">-->
					<span jwcid="@Insert" value="ognl:info.BANK"/>
					<!--</div>-->
				</div>
				<div class="side">
					<span jwcid="@Insert" value="ognl:info.BANK_CODE"/>

				</div>
				<div class="side">
					<button jwcid="@Any" bank="ognl:info.BANK" bankCode="ognl:info.BANK_CODE" class="e_button e_button-green" onclick="setPopupReturnValue(this,{'BANK_CODE':this.getAttribute('bankCode'),'BANK':this.getAttribute('bank'),'POP_BANK_CODE':this.getAttribute('bankCode'),'acctinfo_BANK_CODE':this.getAttribute('bankCode')});"><i class="e_ico-left"></i><span>选择</span></button>
				</div>
			</li>
		</ul>
	</div>
</div>
</body>
</html>