<div class="c_float" style="" id="elementAttrFloat">
	<div class="bg"></div>
	<div class="content">
		<div class="c_box c_box-border l_padding">
			<div class="c_space"></div>
			<div class="c_list c_list-form" jwcid="@Part" id="ognl:id+'_elementPanel'" name="ognl:id+'_elementPanel'" >
				<!-- 表单 开始 -->
				<ul id="elementPanelUL">
					<li jwcid="@Foreach"  source="ognl:Attrs" value="ognl:attr" element="li" class='ognl:"0".equals(attr.ATTR_CAN_NULL)?"link required":"link"'>
						<div jwcid="@Conditional" condition='ognl:(attr.DISPLAY_CONDITION==null) || (displayCondition == null) || (attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)'>	
							<div class="label"><span jwcid="@Insert" value="ognl:attr.ATTR_LABLE"/></div>
							<div class="value" >
								<div jwcid="@Conditional" condition='ognl:"0".equals(attr.ATTR_TYPE_CODE)'>
									<input
									jwcid="@TextField" 
									name="ognl:attr.ATTR_CODE" 
									id="ognl:'ATTR'+attr.ATTR_CODE" 
									attrCode = "ognl:attr.ATTR_CODE"
									type="text"
									value="ognl:attr.ATTR_INIT_VALUE"
									datatype='ognl:attr.(attr.ATTR_VALUE_TYPE ==null || "".equals(attr.ATTR_VALUE_TYPE)) ? attr.ATTR_FIELD_TYPE_WADE : attr.ATTR_VALUE_TYPE'
									nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
									disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
									minsize = 'ognl: (attr.ATTR_FIELD_MIN ==null || "".equals(attr.ATTR_FIELD_MIN))?"0":attr.ATTR_FIELD_MIN'
									maxsize = 'ognl: (attr.ATTR_FIELD_MAX ==null || "".equals(attr.ATTR_FIELD_MAX))?"999":attr.ATTR_FIELD_MAX'
									desc="ognl:attr.ATTR_LABLE"/>
								</div>
								<div jwcid="@Conditional" condition='ognl:"1".equals(attr.ATTR_TYPE_CODE)||"3".equals(attr.ATTR_TYPE_CODE)'>
									<select jwcid="@Select"
									class="e_select e_select-r"
									name="ognl:attr.ATTR_CODE" 
									id="ognl:'ATTR'+attr.ATTR_CODE"
									attrCode = "ognl:attr.ATTR_CODE"
									source="ognl:attr.PARAMS"
									textField="ATTR_FIELD_NAME" valueField="ATTR_FIELD_CODE" titleField="ATTR_FIELD_NAME"
									value="ognl:attr.ATTR_INIT_VALUE"
									onchange="ognl:attr.SELFFUNC"
									nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
									disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
									desc="ognl:attr.ATTR_LABLE"/>
								</div>
								<div jwcid="@Conditional" condition='ognl:"2".equals(attr.ATTR_TYPE_CODE)'>
									<div class="link" jwcid="@Any" attrId="ognl:attr.ATTR_CODE">
										<div class="value">
											<input jwcid="@DateField"
											name="ognl:attr.ATTR_CODE"  
											id="ognl:'ATTR'+attr.ATTR_CODE" 
											attrCode = "ognl:attr.ATTR_CODE"
											value="ognl:attr.ATTR_INIT_VALUE"
											format="yyyy-MM-dd"
											nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
											disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?'false':((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?'false':'true'))"
											desc="ognl:attr.ATTR_LABLE"
											dropDown="true"/>
										</div>
									</div>
								</div>
								<div jwcid="@Conditional" condition='ognl:"4".equals(attr.ATTR_TYPE_CODE)'>
									<input
									jwcid="@Any" 
									name="ognl:attr.ATTR_CODE" 
									id="ognl:'ATTR'+attr.ATTR_CODE" 
									attrCode = "ognl:attr.ATTR_CODE"
									type="password"
									value="ognl:attr.ATTR_INIT_VALUE"
									nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
									disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?null:((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?null:'true'))"
									minsize="6"
									desc="ognl:attr.ATTR_LABLE"
									/>
								</div>
								<div jwcid="@Conditional" condition='ognl:"5".equals(attr.ATTR_TYPE_CODE)'>
									<input
									jwcid="@Radio" 
									name="ognl:attr.ATTR_GROUP_NAME" 
									id="ognl:'ATTR'+attr.ATTR_CODE" 
									attrCode = "ognl:attr.ATTR_CODE"
									type="radio"
									value=""
									attrValue = "ognl:attr.PARAMS.get(0).ATTR_FIELD_CODE"
									nullable='ognl:"0".equals(attr.ATTR_CAN_NULL)?"no":"yes"'
									disabled="ognl:((attr.DISPLAY_CONDITION==null || displayCondition == null)?null:((attr.DISPLAY_CONDITION!=null&&displayCondition!=null&&attr.DISPLAY_CONDITION.indexOf(displayCondition)>=0)?null:'true'))"
									onclick="ognl:attr.SELFFUNC"
									desc="ognl:attr.ATTR_LABLE"/>
									<span jwcid="@Insert" value="ognl:attr.PARAMS.get(0).ATTR_FIELD_NAME"/>
								</div>
							</div>
						</div>	
					</li>
				</ul>
				<!-- 表单 结束 -->
			</div>
			<div class="c_space"></div>
			<div class="c_submit c_submit-full">
				<button type="button"  jwcid="@Button" name="CANCEL_ATTR_BTN" onclick="ognl:id+'.cancelAction(this);'"  cancelHandler="ognl:cancelHandler" class=" e_button-navy e_button-r">取消</button>
				<button type="button"  jwcid="@Button" name="CONFIRM_ATTR_BTN" onclick="ognl:id+'.confirmAction(this);'" confirmHandler="ognl:confirmHandler" itemIndex="ognl:itemIndex" class=" e_button-blue e_button-r">确定</button>
			</div>
		</div>
	</div>
</div>
<!--  selectedElements.cancelElementAttr(this.getAttribute(\'itemIndex\'));
<input jwcid="@Hidden" name="ELEMENTATTR_COMPONENT_ID" id="ELEMENTATTR_COMPONENT_ID" value="ognl:id"/>
-->
<input jwcid="@Hidden" name="ATTR_ITEM_INDEX" id="ATTR_ITEM_INDEX" value="ognl:itemIndex"/>
<input jwcid="@Hidden" name="bindedComponent" id="bindedComponent" value="ognl:bindedComponent"/>


