<div class="c_title">
	<div class="text">
		<div class="fn" >
			<span class="e_ico-fold" jwcid="@Any" ontap="ognl:id+'.toggleSelectElementPart(this)'" style="display:inline">已订购的优惠 </span>
		</div>
	</div>
	<div class="fn" >
		<ul>
		<!-- 
			<li id="BOOK_DATE_FIELD" style="display: none;">
			<span class="label">预约时间</span> 
			<input name="BOOK_DATE"
				jwcid="@DateField" dropDown="true" format="yyyy-MM-dd"
				value="" min=""
				onafterAction="ognl:id+'.testAlert()'" desc="预约时间" />
			</li>
			 -->
			<li jwcid="@Any" ontap="ognl:id+'.renderItemList();'" style="ognl:(''!=itemComponent&&itemComponent!=null)?'':'display:none'">
				<span class="e_ico-add"></span>新增优惠/服务
			</li>
		</ul>
	</div>
</div>
<div class="c_list c_list-line c_list-col-2 c_list-phone-col-1 c_list-border">
	<ul id="SelectDiscntUl">
		
	</ul>
</div>

<div class="c_space-c" ></div>

<div class="c_title">
	<div class="text">
		<div class="fn">
			<span  class="e_ico-fold" jwcid="@Any" ontap="ognl:id + '.toggleSelectElementPart(this)'" style="display:inline">已订购的服务 </span>
		</div>
	</div>
</div>
<div class="c_list c_list-line c_list-col-4 c_list-phone-col-1 c_list-border" >
	<ul id="SelectSvcUl" >
		
	</ul>
</div>

<input jwcid="@Hidden" name="AFTER_RENDER_ACTION" id="AFTER_RENDER_ACTION" value="ognl:afterRenderAction"/>

<input jwcid="@Hidden" name="AFTER_CHECK_BOX_ACTION" id="AFTER_CHECK_BOX_ACTION" value="ognl:afterCheckBoxAction"/>
<input jwcid="@Hidden" name="AFTER_ADD_ELEMENTS_ACTION" id="AFTER_ADD_ELEMENTS_ACTION" value="ognl:afterAddElementsAction"/>
<input jwcid="@Hidden" name="ELEMENT_EXTEND_ACTION" id="ELEMENT_EXTEND_ACTION" value="ognl:elementExtendAction"/>
<input jwcid="@Hidden" name="CONFIRM_PRODUCT_RELA_DISCNT" id="CONFIRM_PRODUCT_RELA_DISCNT" value="0" desc="是否办理产品变更关联优惠"/>
<input jwcid="@Hidden" name="basicStartDateControlId" id="basicStartDateControlId" value="ognl:basicStartDateControlId"/>
<input jwcid="@Hidden" name="basicCancelDateControlId" id="basicCancelDateControlId" value="ognl:basicCancelDateControlId"/>

<input jwcid="@Hidden" name="itemComponent" id="itemComponent" value="ognl:itemComponent"/>
<input jwcid="@Hidden" name="attrComponent" id="attrComponent" value="ognl:attrComponent"/>
<input jwcid="@Hidden" name="timeComponent" id="timeComponent" value="ognl:timeComponent"/>
