<div jwcid="@Any" element="div" id="ognl:name" class="c_popupItem">
	<div jwcid="@Part" id="ognl:name + 'MgrPart'" style="display: none"></div>
	<div class="c_header">
		<div class="back" ontap="hidePopup(this);">稽核人员查询</div>
	</div>
	<div jwcid="@Scroller" name="ognl:name + 'Scroller'" class="c_scroll c_scroll-float c_scroll-header"
		hScroll="false" hScrollbar="false">
		<div class="c_scrollContent l_padding">
		
			
			
			<div jwcid="@Any" element="div" class="c_list c_list-form" id="ognl:name + '_form2'">
				<ul>
					<li class="link">
						<div class="label">工号</div>
						<div class="value">
							<input jwcid="@TextField" name="AUDIT_NAME" value="ognl:acctInfo.ACCT_NAME" nullable="no" desc="账户名称" />
						</div>
					</li>
				</ul>
			</div>
			<div class="c_space"></div>
			<div jwcid="@Any" element="div" class="c_list c_list-form" id="ognl:name + '_form2'">
				<ul>
					<li class="link">
						<div class="label">姓名</div>
						<div class="value">
							<input jwcid="@TextField" name="AUDIT_NO" value="ognl:acctInfo.ACCT_NAME" nullable="no" desc="账户名称" />
						</div>
					</li>
				</ul>
			</div>
			<div class="c_space"></div>
			
			<div class="c_submit c_submit-full">
				<button jwcid="@Any" element="button" class="e_button-l e_button-r e_button-blue" type="button" ontap="selectAuditPopupItem(this);">查询</button>
			</div>
		</div>
	</div>
</div>



		
