<input jwcid="@Hidden" id="SALEACTIVEMODULE_COMPONENT_ID" name="SALEACTIVEMODULE_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@TextField" name="SALEACTIVEMODULE_EPARCHY_CODE_COMPID" id="SALEACTIVEMODULE_EPARCHY_CODE_COMPID" value="ognl:eparchyCodeCompId"  style="display:none"/>
<div id="ognl:id+'_PART'" jwcid="@Part">
    <input jwcid="@Hidden" name="SALEACTIVE_ELEMENTS" value="ognl:info.SALEACTIVE_ELEMENTS" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_CAMPN_TYPE" value="ognl:info.CAMPN_TYPE" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PRODUCT_ID" value="ognl:info.PRODUCT_ID" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PRODUCT_NAME" value="ognl:info.PRODUCT_NAME" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PACKAGE_ID" value="ognl:info.PACKAGE_ID" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PACKAGE_NAME" value="ognl:info.PACKAGE_NAME" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PKG_ELEMENT_MIN" value="ognl:info.MIN_NUMBER" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PKG_ELEMENT_MAX" value="ognl:info.MAX_NUMBER" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PKG_LIMIT_TYPE"  value="ognl:info.LIMIT_TYPE" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_COMBINE_MIN"  value="ognl:info.COMBINE_MIN" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_COMBINE_MAX"  value="ognl:info.COMBINE_MAX" style="display:none"/>
    <input jwcid="@Hidden" name="SALEACTIVE_BOOK_DATE"    value="ognl:basicElemDate" style="display:none"/>
    <input jwcid="@Hidden" name="REL_PACKAGE_ID" value="ognl:info.REL_PACKAGE_ID" style="display:none"/>
    <input jwcid="@Hidden" name="NET_PACKAGE_ID" value="ognl:info.NET_PACKAGE_ID" style="display:none"/>
    
    <div class="c_list c_list-border" jwcid="userSaleactivePart@Part">
		<ul> 
			<li class="link required">
				<div class="main">
						<div class="title">
							<span jwcid="@Insert" id="SALEACTIVE_NAME0_span" name="SALEACTIVE_NAME0_span" value="ognl:info.PACKAGE_NAME" desc="当前活动"/>
						</div>
					<div class="content">
				          <span jwcid="@Insert" name="SALEACTIVE_NAME_span" id="SALEACTIVE_NAME_span" value="ognl:info.PACKAGE_DESC"/>
                        </div>
				  </div>
			</li>
		</ul>
	</div>
	 <!--活动信息开始-->
	<div id="saleDatePart" jwcid="saleDatePart@Part" class="c_list c_list_form c_list-col-2 c_list-phone-col-1 c_list-border c_list-line">
		<ul class="ul">
			<li class="link required">
		    	<div class="label">活动起始时间</div>
		            <div class="value">
		                <input jwcid="@DateField" dropDown="ognl:((info.CHG_STARTDATE_TAG==null || info.CHG_STARTDATE_TAG == 0)?'false':'true')" format="yyyy-MM-dd HH:mm:ss" name="SALEACTIVE_START_DATE" id="SALEACTIVE_START_DATE" value="ognl:info.START_DATE"
								desc="合同起始时间" disabled="ognl:((info.CHG_STARTDATE_TAG==null || info.CHG_STARTDATE_TAG == 0)?'true':'false')" onafterAction="marketActivityModule.changeSaleStartDate()"/>
		            </div>
		    </li>
		    <li class="link">
		        <div class="label">活动终止时间</div>
		        <div class="value">
		            <input jwcid="@DateField" dropDown="false" format="yyyy-MM-dd HH:mm:ss" name="SALEACTIVE_END_DATE" id="SALEACTIVE_END_DATE" value="ognl:info.END_DATE" desc="合同终止时间" disabled="true"/>
		        </div>
		    </li>

			<div jwcid="@Conditional"
				condition='ognl:null != info.ONNET_START_DATE && !"".equals(info.ONNET_START_DATE)'>
				<li class="link required">
					<div class="label">在网起始时间：</div>
					<div class="value">
						<input jwcid="@DateField"	
							format="yyyy-MM-dd HH:mm:ss" name="SALEACTIVE_ONNET_START_DATE"
							id="SALEACTIVE_ONNET_START_DATE"
							value="ognl:info.ONNET_START_DATE" desc="在网起始时间" disabled="true"/>
					</div>
				</li>
			</div>
			<div jwcid="@Conditional"
				condition='ognl:null != info.ONNET_END_DATE && !"".equals(info.ONNET_END_DATE)'>
				<li>
					<div class="label">在网终止时间：</div>
					<div class="value">
						<input jwcid="@DateField" format="yyyy-MM-dd HH:mm:ss"
							name="SALEACTIVE_ONNET_END_DATE" id="SALEACTIVE_ONNET_END_DATE"
							value="ognl:info.ONNET_END_DATE" desc="在网终止时间" disabled="true"/>
					</div>
				</li>
			</div>
		</ul>
	</div>
	<!--duhj  
	<div class="c_list c_list_form c_list-col-2 c_list-phone-col-1 c_list-border c_list-line">
		    <ul class="ul">	        
			<div jwcid="@Conditional" condition='ognl:"true".equals(info.SMS_FLAG)'>
               <li class="link">
				<div class="label" >短信下发</div>
				 <div class="value"><span>
					<div name="SMS_FLAG" id="SMS_FLAG" jwcid="@Switch" value="on" onText="是" offText="否"/>
				</span></div>
				</li>
			</div>
	    </ul>
	</div>-->
	<div class="c_space"></div>
	<div jwcid="@Conditional" condition="ognl:hasSaleCombine">
		<div jwcid="marketActivitySaleCombine@MarketActivitySaleCombine" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber" campnType="ognl:campnType" element="div" />
	</div>
	
	<div jwcid="@Conditional" condition="ognl:hasSaleService">
		<div jwcid="marketActivityService@MarketActivityService" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber" campnType="ognl:campnType" element="div" />
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleDiscnt">
		<div jwcid="marketActivityDiscnt@MarketActivityDiscnt" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber" campnType="ognl:campnType"  userId="ognl:userId" element="div" />
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSalePlatsvc">
		<div jwcid="marketActivityPlatsvc@MarketActivityPlatsvc" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber" campnType="ognl:campnType" element="div" />
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleDeposit">
		<div jwcid="marketActivitydeposit@MarketActivityDeposit" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber" campnType="ognl:campnType" deviceModelCode="ognl:deviceModelCode"  moreGiftFlag="ognl:moreGiftFlag" element="div" />
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleGoods">
		<div jwcid="marketActivitygoods@MarketActivityGoods" packageId="ognl:packageId" productId="ognl:productId" goodsId="ognl:goodsId" newImei="ognl:newImei" eparchyCode="ognl:eparchyCode" serialNumber="ognl:serialNumber" campnType="ognl:campnType" deviceModelCode="ognl:deviceModelCode" element="div" />
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleCredit">
		<div jwcid="marketActivityCredit@MarketActivityCredit" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber" campnType="ognl:campnType" element="div" />
	</div>
	<div jwcid="@Conditional" condition="ognl:hasSaleScore">
		<div jwcid="marketActivityScore@MarketActivityScore" packageId="ognl:packageId" productId="ognl:productId" eparchyCode="ognl:eparchyCode" serialNumber="ognl:serialNumber" campnType="ognl:campnType" element="div" />
	</div> 
	<div id="defaulePart" jwcid="defaulePart@Part">
	</div>
	<div id="attrDesc" class="c_tip c_tip-orange" x_tips="attrDesc" style="display:none"></div>
</div>