<div jwcid="tableGridPart@Part">
	<span jwcid="@Insert" raw="true" value="ognl:divElement"/>
	<span jwcid="@Conditional" condition="ognl:footDisplay">
		<div class="c_page" jwcid="@Any" id="ognl:navId" name="ognl:navId" 
			part="tableGridPart" 
			count="ognl:pagin.count"
			current="ognl:pagin.current"
			pagesize="ognl:pagin.getPageSize()"
			pagecount="ognl:pagin.getPageCount()"
			loadingtxt="ognl:loadingTxt"
			>
			<div class="turn center">
				<span jwcid="@Conditional" condition="ognl:pagin.current == 1 || pagin.getPageCount() <= 1">
					<span class="first e_dis"><span jwcid="@Label" code="第一页" /></span>
					<span class="pre e_dis"><span jwcid="@Label" code="上一页" /></span>
				</span>
				<span jwcid="@Conditional" condition="ognl:pagin.current != 1 && pagin.getPageCount() > 1">
					<a jwcid="@Any" href="javascript:void(0);" tableId="ognl:tableId" paginId="ognl:navId" class="first" op="first" onclick="return $.trunNavPage($(this));"><span jwcid="@Label" code="第一页" /></a>
					<a jwcid="@Any" href="javascript:void(0);" tableId="ognl:tableId" paginId="ognl:navId" class="pre" op="pre" onclick="return $.trunNavPage($(this));"><span jwcid="@Label" code="上一页" /></a>
				</span>
				<span class="stat"><span><span jwcid="@Insert" value="ognl:pagin.getPageCount()==0 ? 0 : pagin.current"></span></span>/<span jwcid="@Insert" value="ognl:pagin.getPageCount()"></span></span>
				<span jwcid="@Conditional" condition="ognl:pagin.getPageCount() == pagin.current || pagin.getPageCount() <= 1">
					<span class="next e_dis"><span jwcid="@Label" code="下一页" /></span>
					<span class="last e_dis"><span jwcid="@Label" code="最末页" /></span>
				</span>
				<span jwcid="@Conditional" condition="ognl:pagin.getPageCount() != pagin.current && pagin.getPageCount() > 1">
					<a jwcid="@Any" href="javascript:void(0);" tableId="ognl:tableId" paginId="ognl:navId" class="next" op="next" onclick="return $.trunNavPage($(this));"><span jwcid="@Label" code="下一页" /></a>
					<a jwcid="@Any" href="javascript:void(0);" tableId="ognl:tableId" paginId="ognl:navId" class="last" op="last" onclick="return $.trunNavPage($(this));"><span jwcid="@Label" code="最末页" /></a>
				</span>
			</div>
		</div>
	</span>
</div>
