<div>
    <div class="c_space c_space-phone-0"></div>

    <div
        id="stopAndOpenMenuWrap"
        jwcid="@Conditional"
        condition="ognl:tradeTypeCodeList.size() > 0"
        element="div">
        <div
            class="c_list c_list-s c_list-line c_list-border c_list-col-3 c_list-phone-col-2">
            <ul>
                <li
                    jwcid="@Foreach"
                    source="ognl:tradeTypeCodeList"
                    value="ognl:menuItem"
                    element="li"
                    valueCode="ognl:menuItem.TRADE_TYPE_CODE"
                    index="ognl:rowIndex"
                    class="STOP_AND_OPEN_MENU_ITEM link"
                    onclick="clickOper(this)">
                    <div class="main">
                        <div class="title">
                            <span
                                jwcid="@Insert"
                                value="ognl:menuItem.TRADE_TYPE_NAME"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <input
            type="hidden"
            jwcid="@Any"
            name="TRADE_TYPE_CODE_CURRENT"
            id="TRADE_TYPE_CODE_CURRENT"
            value="ognl:tradeTypeCodeCurrent"/>
        <input
                type="hidden"
                jwcid="@Any"
                name="TYPE_CODE"
                id="TYPE_CODE"
                value="ognl:type_code"/>
    </div>

</div>