<span class="label">集团产品编码：</span> 
<span class="e_input"><span><input type="text" jwcid="@TextField" name="cond_GROUP_SERIAL_NUMBER" id="cond_GROUP_SERIAL_NUMBER" value="ognl:condition.cond_GROUP_SERIAL_NUMBER" onkeypress="var e=$.event.fix(event);if (e.which == 13) {getGrpInfoBySn();e.stop();};"/></span></span>
<input type="hidden" jwcid="@Any" id="SELECTGROUPBYSN_AFTER_ACTION" name="SELECTGROUPBYSN_AFTER_ACTION" value="ognl:afterAction"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUPBYSN_REFRESH_PART" name="SELECTGROUPBYSN_REFRESH_PART" value="ognl:refreshPart"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUPBYSN_CLAZZ_NAME" name="SELECTGROUPBYSN_CLAZZ_NAME" value="ognl:clazzName"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUPBYSN_METHOD_NAME" name="SELECTGROUPBYSN_METHOD_NAME" value="ognl:methodName"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUPBYSN_LISTENER_NAME" name="SELECTGROUPBYSN_LISTENER_NAME" value="ognl:listenerName"  />		
<input type="hidden" jwcid="@Any" id="SELECTGROUPBYSN_AFTER_ERR_ACTION" name="SELECTGROUPBYSN_AFTER_ERR_ACTION" value="ognl:afterErrorAction"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUPBYSN_BUSI_TYPE" name="SELECTGROUPBYSN_BUSI_TYPE" value="ognl:busiType"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUPBYSN_LIMITTYPE" name="SELECTGROUPBYSN_LIMITTYPE" value="ognl:limitType"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUPBYSN_LIMITPRODUCTS" name="SELECTGROUPBYSN_LIMITPRODUCTS" value="ognl:limitProducts"  />							