
<!-- 分栏 开始 -->
<div class="l_col">
	<!-- 第 1 栏 开始 -->
	<div class="l_right">
		<!-- 表单 开始 -->
		<div class="c_form c_form-col-1 c_form-label-3" style="height:247px;">
			<ul class="ul">
				<li class="li" jwcid="ResPart@Part">
					<span class="label">标准：</span>
					<span class="e_input"><span>
						<input type="text" id="DYNATABLE_RES_CODE" name="DYNATABLE_RES_CODE" value="" desc="资源号码" readOnly=true/>
						<input  type="hidden" id="DYNATABLE_RES_TYPE_CODE" name="DYNATABLE_RES_TYPE_CODE" value="" desc="资源类型" />
						<input  type="hidden" id="DYNATABLE_RES_TYPE" name="DYNATABLE_RES_TYPE" value="" desc="资源类型" />
						<input  type="hidden" id="DYNATABLE_CHECKED" name="DYNATABLE_CHECKED" value="" desc="校验成功" />
						<input  type="hidden" id="DYNATABLE_DISABLED" name="DYNATABLE_DISABLED" value="" desc="不可修改" />
					</span></span>
				</li>
				<li class="li">
					<span class="label">参数1：</span>
					<span class="e_input"><span><input type="text" /></span></span>
				</li>
				<li class="li">
					<span class="label">参数2：</span>
					<span class="e_input"><span><input type="text" /></span></span>
				</li>
				<li class="li">
					<span class="label">参数3：</span>
					<span class="e_input"><span><input type="text" /></span></span>
				</li>
				<li class="li">
					<span class="label">参数4：</span>
					<span class="e_input"><span><input type="text" /></span></span>
				</li>
				<li class="li">
					<span class="label">参数5：</span>
					<span class="e_input"><span><input type="text" /></span></span>
				</li>
				<li class="li">
					<span class="label">参数6：</span>
					<span class="e_input"><span><input type="text" /></span></span>
				</li>
			</ul>
		</div>
		<!-- 表单 结束 -->
	</div>
	<!-- 第 1 栏 结束 -->
	<!-- 第 2 栏 开始 -->
	<div class="l_auto">
		<!-- 表格 开始 -->
		<div class="c_scroll c_scroll-table-10"><div class="c_table">
			<table jwcid="@Table" id="resview" name="resview">
				<thead>
					<tr>
						<th col="X_TAG" style="display:none">TAG</th>
						<th col="DYNATABLE_RES_TYPE_CODE" style="display:none">资源类型编码</th>
						<th col="DYNATABLE_RES_TYPE">资源类型</th>
						<th col="DYNATABLE_RES_CODE">资源号码</th>
						<th col="DYNATABLE_CHECKED">校验成功</th>
						<th col="DYNATABLE_DISABLED">不可修改</th>
					</tr>
				</thead>
				<tbody id="RESVIEW_TBODY">
					<tr jwcid="@Foreach" source="ognl:resList" value="ognl:resData" element="tr">
						<td style="display:none">0</td>
						<td style="display:none"><span jwcid="@Insert" value="ognl:resData.RES_TYPE_CODE"/></td>
						<td><span jwcid="@Insert" value="ognl:resData.RES_TYPE"/></td>
						<td><span jwcid="@Insert" value="ognl:resData.RES_CODE"/></td>
						<td><span jwcid="@Insert" value='ognl:"true".equals(resData.CHECKED) ? "成功" : "失败"'/></td>
						<td><span jwcid="@Insert" value='ognl:"true".equals(resData.DISABLED) ? "不可修改" : "可修改"'/></td>
					</tr>
				</tbody>
			</table>
		</div></div>
		<!-- 表格 结束 -->
	</div>
	<!-- 第 2 栏 结束 -->
</div>
<!-- 分栏 结束 -->
<textarea jwcid="@TextArea" name="DYNATABLE_RES_RECORD" id="DYNATABLE_RES_RECORD" value="[]" style="display:none" desc="资源记录"></textarea>

<textarea jwcid="@TextArea" id="DYNATABLE_RES_LIST" name="DYNATABLE_RES_LIST" value="ognl:resRecord" style="display:none" desc="资源明细"></textarea>
