<div class="c_title">
	<div class="text">集团已订购的产品列表</div>
</div>
<!-- 表格 开始 -->
<div class="c_scroll c_scroll-x c_scroll-table-5"><div class="c_table">
	<table>
		<thead>
			<tr>
				<th id="col_GROUP_SN">集团产品编码</th>
				<th id="col_GROUP_PRODUCT">集团产品</th>
				<th id="col_OPEN_DATE">开户时间</th>
			</tr>
		</thead>
		<tbody>
			<tr jwcid="@Foreach" source="ognl:useInfos" value="ognl:useInfo" element="tr" index="ognl:rowIndex" class="ognl:rowIndex % 2 == 0 ? '' : 'odd'">
				
				<td><span jwcid="@Insert" value="ognl:useInfo.SERIAL_NUMBER"　raw="false"/></td>
				<td><span jwcid="@Insert" value="ognl:useInfo.PRODUCT_ID"　raw="false"/></td>
				<td><span jwcid="@Insert" value="ognl:useInfo.OPEN_DATE" raw="false"/></td>
			</tr>
		</tbody>
	</table>
</div></div>
