<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@Head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>银行名称选择列表</title>
<script jwcid="@Script" language="JavaScript" src="scripts/csserv/component/person/banklist/BankList.js"></script>
</head>
<body jwcid="@Body"><div class="m_wrapper"><div class="m_wrapper2">
<div class="c_box">
	<div class="c_form" jwcid="QueryBankPart@Part">
		<ul class="ul">
			<li class="li">
				<span class="label"><span class="e_required">银行名称或编码：</span></span>
				<span class="e_input"><span>
					<input jwcid="@TextField" name="BANK" value="ognl:cond.BANK" desc="银行名称或编码" nullable="no"/>
					<input jwcid="@Hidden" name="SUPER_BANK_CODE" value="ognl:cond.SUPER_BANK_CODE" desc="上级银行编码" />
			   </span></span> 
			</li>
		</ul>
	    <div class="submitPlace"></div>
		<div class="submit">
			  <button class="e_button-form" id="qryBankBtn"><i class="e_ico-search"></i><span>查询</span></button>
		</div>
	</div>
	 
	<!-- 表格 开始 -->
	<div jwcid="QueryListPart@Part" element="div">
		<div class="c_scroll c_scroll-table-10">
		<div class="c_table">
			<table jwcid="@Table" name="BankTable">
				<thead>
					<tr>
						<th col="BANK">选择</th>
						<th col="BANK">银行名称</th>
						<th col="BANK_CODE">银行编码</th>
					</tr>
				</thead>
				
				<tbody  jwcid="@Any" name="BankTableValues" id="BankTableValues">
					<tr jwcid="@Foreach" source="ognl:infos" value="ognl:info" index="ognl:rowIndex" element="tr">
						<td><input type="radio" jwcid="@Any" name="bank" value="ognl:info.BANK_CODE" bank="ognl:info.BANK" /></td>
						<td><span jwcid="@Insert" value="ognl:info.BANK"/></td>
						<td><span jwcid="@Insert" value="ognl:info.BANK_CODE"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
	<!-- 表格 结束 -->
	
	<div class="c_submit">
		<button type="button" class="e_button-page-ok" id="submitBtn"><i></i><span>确定</span></button>
		<button type="button" class="e_button-page-cancel" id="cancelBtn"><i></i><span>取消</span></button>
	</div>
	 
</div>
</div></div>
</body>
</html>