<div x_id="OfferContent" >
	<div class="c_filter c_filter-label-5 e_hide-x l_padding l_padding-n">
		<ul x_id="tagArea">
		</ul>
	</div>
	<div class="c_box c_box-gray l_padding">
		<div class="l_col l_col-phone-merge">
			<div class="l_colItem">
				<div>
					<div class="c_list c_list-s c_list-auto c_list-space">
						<ul x_id="selectTagArea">
						</ul>
					</div>
					<div class="c_space e_show-phone"></div>
				</div>
			</div>
			<div class="l_colItem e_right" style="width:11em;">
				<button type="button" class="e_button-r e_button-s" jwcid="@Any" ontap="ognl:id+'.clearTags(this)'"><span class="e_ico-close"></span></button>
				<button type="button" class="e_button-r e_button-s" jwcid="@Any" ontap="ognl:id+'.foldLabelArea(this)'" ><span class="e_ico-fold"></span></button>
			</div>
		</div>
	</div>
	
	<div x_id="listArea" class="c_list c_list-s c_list-col-3 c_list-border c_list-line c_list-hasStatu c_list-phone-col-1">
		<ul x_id="itemListArea">
		</ul>
	</div>
	
	<div class="c_page" x_id="pagingComponent">
		<div class="more" >
			<span class="e_ico-fold" ontap="$(this).parent().siblings('.option').toggle()" ></span>
		</div>
		<div class="turn">
			<div class="first"  handle="first" ><span class="e_ico-first" ></span></div>
			<div class="prev" handle="prev">上一页</div>
			<div class="page"><span id="current"></span>/<span id="totalPageSize"></span></div>
			<div class="next" handle="next">下一页</div>
			<div class="last" handle="last"><span class="e_ico-last" ></span></div>
		</div>
		<div class="option" style="display:none;">
			<div class="goto">
				<div class="label">跳转至</div>
				<input type="text" id="turnPageSize"/>
				<button type="button" handle="turnPage" >确定</button>
			</div>
			<div class="stat" handle="statisticl">统计</div>
			<div class="per">
				<div class="label">每页</div>
				<div class="value">
					<span class="e_select" id="onePageCount">21</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="l_queryMsg l_queryMsg-notop" x_id="errMsgContent" style="display:none;">
	<!-- 无数据提示 开始 -->
	<div class="c_msg">
		<div class="wrapper">
			<div class="emote"></div>
			<div class="info">
				<div class="text">
					<div class="title" x_id="errMsg"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 无数据提示 结束 -->
</div>
