<input jwcid="@Hidden" name="SALEACTIVEMODULE_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="SALEACTIVEMODULE_EPARCHY_CODE_COMPID"
       value="ognl:eparchyCodeCompId"/>

<div id="SaleActiveModuleBody">
    <div class="c_title">
        <div class="text">活动配置</div>
    </div>
    <div class="c_box c_box-border l_padding l_padding-u">
        <div class="c_param c_param-col-4 c_param-label-6 c_param-phone-col-1">
            <ul>
                <li>
                    <span class="label">合同起始时间：</span>
                    <span class="value" jwcid="@Insert"
                          id="SALEACTIVE_START_DATE"
                          value="ognl:info.START_DATE"></span>
                </li>
                <li>
                    <span class="label">合同终止时间：</span>
                    <span class="value" jwcid="@Insert"
                          id="SALEACTIVE_END_DATE"
                          value="ognl:info.END_DATE"></span>
                </li>
                <div jwcid="@Conditional"
                     condition='ognl:null != info.ONNET_START_DATE && !"".equals(info.ONNET_START_DATE)'>
                    <li>
                        <span class="label">在网起始时间：</span>
                        <span class="value" jwcid="@Insert"
                              id="SALEACTIVE_ONNET_START_DATE"
                              value="ognl:info.ONNET_START_DATE"></span>
                    </li>
                </div>
                <div jwcid="@Conditional"
                     condition='ognl:null != info.ONNET_END_DATE && !"".equals(info.ONNET_END_DATE)'>
                    <li>
                        <span class="label">在网终止时间：</span>
                        <span class="value" jwcid="@Insert"
                              id="SALEACTIVE_ONNET_END_DATE"
                              value="ognl:info.ONNET_END_DATE"></span>
                    </li>
                </div>
            </ul>
        </div>
        <div class="c_line c_line-dashed"></div>
        <div jwcid="@Conditional" condition="ognl:hasSaleCombine">
            <div class="c_space"></div>
            <div jwcid="@SaleCombine" packageId="ognl:packageId"
                 productId="ognl:productId" eparchyCode="ognl:eparchyCode"
                 basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber"
                 campnType="ognl:campnType"></div>
        </div>
        <div jwcid="@Conditional" condition="ognl:hasSaleService">
            <div class="c_space"></div>
            <div jwcid="@SaleService" packageId="ognl:packageId"
                 productId="ognl:productId" eparchyCode="ognl:eparchyCode"
                 basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber"
                 campnType="ognl:campnType"></div>
        </div>
        <div jwcid="@Conditional" condition="ognl:hasSaleDiscnt">
            <div class="c_space"></div>
            <div jwcid="@SaleDiscnt" packageId="ognl:packageId"
                 productId="ognl:productId" eparchyCode="ognl:eparchyCode"
                 basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber"
                 campnType="ognl:campnType"></div>
        </div>
        <div jwcid="@Conditional" condition="ognl:hasSalePlatsvc">
            <div class="c_space"></div>
            <div jwcid="@SalePlatsvc" packageId="ognl:packageId"
                 productId="ognl:productId" eparchyCode="ognl:eparchyCode"
                 basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber"
                 campnType="ognl:campnType"></div>
        </div>
        <div jwcid="@Conditional" condition="ognl:hasSaleDeposit">
            <div class="c_space"></div>
            <div jwcid="@SaleDeposit" packageId="ognl:packageId"
                 productId="ognl:productId" eparchyCode="ognl:eparchyCode"
                 basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber"
                 campnType="ognl:campnType" netOrderId="ognl:netOrderId"></div>
        </div>
        <div jwcid="@Conditional" condition="ognl:hasSaleGoods">
            <div class="c_space"></div>
            <div jwcid="@SaleGoods" packageId="ognl:packageId" newImei="ognl:newImei"
                 productId="ognl:productId" goodsId="ognl:goodsId"
                 eparchyCode="ognl:eparchyCode" serialNumber="ognl:serialNumber"
                 campnType="ognl:campnType" netOrderId="ognl:netOrderId"></div>
        </div>
        <div jwcid="@Conditional" condition="ognl:hasSaleCredit">
            <div class="c_space"></div>
            <div jwcid="@SaleCredit" packageId="ognl:packageId"
                 productId="ognl:productId" eparchyCode="ognl:eparchyCode"
                 basicDate="ognl:basicElemDate" serialNumber="ognl:serialNumber"
                 campnType="ognl:campnType"></div>
        </div>
        <div jwcid="@Conditional" condition="ognl:hasSaleScore">
            <div class="c_space"></div>
            <div jwcid="@SaleScore" packageId="ognl:packageId"
                 productId="ognl:productId" eparchyCode="ognl:eparchyCode"
                 serialNumber="ognl:serialNumber" campnType="ognl:campnType"></div>
        </div>
    </div>

    <input jwcid="@Hidden" name="SALEACTIVE_ELEMENTS"
           value="ognl:info.SALEACTIVE_ELEMENTS"/>
    <input jwcid="@Hidden" name="SALEACTIVE_CAMPN_TYPE"
           value="ognl:info.CAMPN_TYPE"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PRODUCT_ID"
           value="ognl:info.PRODUCT_ID"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PRODUCT_NAME"
           value="ognl:info.PRODUCT_NAME"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PACKAGE_ID"
           value="ognl:info.PACKAGE_ID"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PACKAGE_NAME"
           value="ognl:info.PACKAGE_NAME"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PKG_ELEMENT_MIN"
           value="ognl:info.MIN_NUMBER"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PKG_ELEMENT_MAX"
           value="ognl:info.MAX_NUMBER"/>
    <input jwcid="@Hidden" name="SALEACTIVE_PKG_LIMIT_TYPE"
           value="ognl:info.LIMIT_TYPE"/>
    <input jwcid="@Hidden" name="SALEACTIVE_COMBINE_MIN"
           value="ognl:info.COMBINE_MIN"/>
    <input jwcid="@Hidden" name="SALEACTIVE_COMBINE_MAX"
           value="ognl:info.COMBINE_MAX"/>
    <input jwcid="@Hidden" name="SALEACTIVE_BOOK_DATE"
           value="ognl:basicElemDate"/>
</div>


