
<div id="grpUserList" class="c_popup" jwcid="@Any" style="ognl:hidden=='false'?'':'display:none'">
	<div class="c_popupWrapper">
		<div class="c_popupHeight"></div>
		<div class="c_popupBox" style="width:60%;">
			<div class="c_popupTitle">
				<div class="text">集团产品查询</div>
				<div class="fn"><a href="#nogo" class="close" onclick="hiddenPopupGrpList();"></a></div>
			</div>
			<div class="c_popupContent"><div class="c_popupContentWrapper">
				<!-- 表格 开始 -->
					<div class="c_scroll c_scroll-x c_scroll-table-10"><div class="c_table">
						<table>
							<thead>
								<tr>
									<th id="col_USER_ID">集团用户标识</th>
									<th id="col_GROUP_SN">集团产品编码</th>
									<th id="col_GROUP_PRODUCT">集团产品名称</th>
									<th id="col_OPEN_DATE">开户时间</th>
								</tr>
							</thead>
							<tbody id="popupGrpUserListBody">
								<tr jwcid="@Foreach" source="ognl:infos" value="ognl:info" element="tr" index="ognl:rowIndex" class="ognl:rowIndex % 2 == 0 ? '' : 'odd'">
									<td><span jwcid="@Insert" value="ognl:info.USER_ID"　raw="false"/></td>
									<td><a jwcid="@Redirect" value="ognl:info.SERIAL_NUMBER" sn="ognl:info.SERIAL_NUMBER" groupUserId="ognl:info.USER_ID"
										productId="ognl:info.PRODUCT_ID"
										groupId="ognl:info.GROUP_ID"  productName="ognl:info.PRODUCT_NAME" onclick="hiddenPopupGrpList();getMenberGroupInfo($(this).attr('sn'),$(this).attr('groupUserId'))"/></td>
									<td><span jwcid="@Insert" value="ognl:info.PRODUCT_NAME"　raw="false"/></td>
									<td><span jwcid="@Insert" value="ognl:info.OPEN_DATE" raw="false"/></td>
								</tr>
							</tbody>
						</table>
					</div></div>
					<!-- 表格 结束 -->
				</div></div>
			<div class="c_popupBottom"><div></div></div>
			<div class="c_popupShadow"></div>
		</div>
	</div>
	<iframe class="c_popupFrame"></iframe>
	<div class="c_popupCover"></div>
</div>
<input type="hidden" jwcid="@Any" id="GRPINFO_REFRESH_PART" name="GRPINFO_REFRESH_PART" value="ognl:grprefreshPart"  />	
<input type="hidden" jwcid="@Any" id="GRPINFO_SUCCESS_JSMETHOD" name="GRPINFO_SUCCESS_JSMETHOD" value="ognl:sucessJsMethod"  />	
<input type="hidden" jwcid="@Any" id="GRPINFO_ERROR_JSMETHOD" name="GRPINFO_ERROR_JSMETHOD" value="ognl:errorJsMethod"  />	
