
.m_fn .e_ico-config:before { content:"设置";}
.m_fn .e_ico-menu:before { content:"菜单";}
.m_menu,
.m_menufa,
.m_notice,
.m_cust,
.m_fn,
.m_favo { top:7.06em;}


.m_usual { top:4.29em; position:absolute; left:0; width:22.14em; background:#3e4951; color:#fff; height:2.77em; line-height:2.77;}
.m_usual li { width:2.77em; float:left; text-align:center; cursor:default;}
.m_usual li:hover { background:#68a2e5;}
.m_usual li span { font-size:120%; line-height:2.31;}
.m_usual ul { width:101%;}
.s_phone .m_usual { display:none;}

.m_allMenu { position:absolute; width:17.86em; top:7.06em; left:4.29em; bottom:0; background:#fff; box-sizing:border-box; border-right:1px solid #ccc}
.m_allMenu > .wrapper { background:#fff; position:relative; height:100%}
.m_allMenu > .wrapper > .allMenu { position:fixed; left:22.15em; top:4.29em; bottom:0; overflow:hidden; width:60em; visibility:hidden; transition:visibility .2s ease-out}
.m_allMenu > .wrapper > .allMenu .wrapper { width:60em; box-sizing:border-box; transition:-webkit-transform .2s ease-out; transition:transform .2s ease-out; -webkit-transform:translateX(-100%); transform:translateX(-100%); position:absolute;z-index:2; text-align:left; left:0; top:0; bottom:0; background:#fff; border-right:1px solid #ccc;}
.m_allMenu > .wrapper > .allMenu .cover { width:100%; height:100%;}
.m_allMenu > .wrapper > .allMenu-show { visibility:visible;}
.m_allMenu > .wrapper > .allMenu-show .wrapper { -webkit-transform:translateX(0); transform:translateX(0);}

.m_allMenu .subNavMenu{ position:fixed; left:22.15em; top:4.29em; bottom:0; overflow:hidden; right:0; transition:visibility .2s ease-out}
/*.m_allMenu .subNavMenu .subNavMenu_item{position:absolute;left:-60em;top:0;width:60em;height: 100%; box-sizing:border-box; background:#fff;border:1px solid #ccc;}
.m_allMenu .subNavMenu .subNavMenu_item .l_colItem:nth-child(2){}*/

.c_menu .title ~ .title { margin-top:0;}

.m_fn .e_ico-config{position:absolute; bottom:0;}
.l_padding-6{ padding:4.26em;}
.c_dialog-auth >.wrapper{ width:40em; overflow:auto;}
.c_dialog-auth >.wrapper{ background:#4d5b65;}
.c_dialog-auth >.wrapper .header{ background:#4d5b65;}

.c_title-level-4{ background:#fafafa; white-space:nowrap; text-align:left; height:2.9em; box-sizing:border-box; padding:0; line-height:2.9em;}
.c_title-level-4 .text{ font-size:1em; padding:0 1em;}


.c_table table tbody tr.on td .e_keyword{ color:#336600;}
.e_keyword{ color:#ffcc00}

.l_query-custInfo{top:4.4em;}

.s_noside .m_menu,
.s_noside .m_menufa,
.s_noside .m_notice,
.s_noside .m_cust,
.s_noside .m_fn,
.s_noside .m_favo { top:4.29em;}
.s_noside .m_usual { display:none;}
.s_noside .m_main { left:4.29em;}
.s_noside .m_fn { padding-top:2.77em;}

.c_msg-xs .wrapper{ padding:0;}
.c_msg-xs .emote:before { content:""; display:inline-block; width:4em; height:4.7em; background-repeat:no-repeat; background-size:100% 100%;}

/*解决IE11拖动表格,l_query影响分列布局*/
body>.l_query{position:fixed}