<span jwcid="@Conditional" condition="ognl:hasTitle">	
	<div jwcid="@Any" class="ognl:titleLev">
		<div class="text">集团用户信息</div>
	</div>
</span>
<div class="c_form c_form-text c_form-label-6 c_form-col-3" id="groupuserinfoform">
	<ul class="ul">
		<li class="li">
			<span class="label">集团产品编码：</span>
			<span class="text" id="SPAN_GROUPUSERINFO_SN" name="SPAN_GROUPUSERINFO_SN"><span jwcid="@Insert" value="ognl:groupUserInfo.SERIAL_NUMBER"/></span>
			<input jwcid="@Any" id="GRP_SN" name="GRP_SN" value="ognl:groupUserInfo.SERIAL_NUMBER" style="display:none;" encode="false" />
			<input jwcid="@Any" id="GRP_USER_ID" name="GRP_USER_ID" value="ognl:groupUserInfo.USER_ID" style="display:none;" encode="false" />
			<input jwcid="@Any" id="GRP_BRAND_CODE" name="GRP_BRAND_CODE" value="ognl:groupUserInfo.BRAND_CODE" style="display:none;" encode="false" />
			<input jwcid="@Any" id="GRP_PRODUCT_ID" name="GRP_PRODUCT_ID" value="ognl:groupUserInfo.PRODUCT_ID" style="display:none;" encode="false" />
			<input jwcid="@Any" id="GRP_PRODUCT_NAME" name="GRP_PRODUCT_NAME" value="ognl:groupUserInfo.PRODUCT_NAME" style="display:none;" encode="false" />
			<input jwcid="@Any" id="GRP_USER_EPARCHYCODE" name="GRP_USER_EPARCHYCODE" value="ognl:groupUserInfo.EPARCHY_CODE" style="display:none;" encode="false" />
		</li>
		<li class="li">
			<span class="label">集团用户标识：</span>
			<span class="text" id="SPAN_GROUPUSERINFO_USER_ID" name="SPAN_GROUPUSERINFO_USER_ID"><span jwcid="@Insert" value="ognl:groupUserInfo.USER_ID"/></span>
		</li>
		<li class="li">
			<span class="label">集团开户时间：</span>
			<span class="text" id="SPAN_GROUPUSERINFO_OPEN_DATE" name="SPAN_GROUPUSERINFO_OPEN_DATE" ><span jwcid="@Insert" value="ognl:groupUserInfo.OPEN_DATE"/></span>
		</li>
		<li class="li">
			<span class="label">集团产品标识：</span>
			<span class="text" id="SPAN_GROUPUSERINFO_PRODUCT_ID" name="SPAN_GROUPUSERINFO_PRODUCT_ID" ><span jwcid="@Insert" value="ognl:groupUserInfo.PRODUCT_ID"/></span>
		</li>
		<li class="li">
			<span class="label">集团产品名称：</span>
			<span class="text" id="SPAN_GROUPUSERINFO_PRODUCT_NAME" name="SPAN_GROUPUSERINFO_PRODUCT_NAME" >
				<span jwcid="@Insert" value="ognl:groupUserInfo.PRODUCT_NAME" raw="true"/>
			</span>
		</li>
		<li class="li">
			<span class="label">集团产品品牌：</span>
			<span class="text" id="SPAN_GROUPUSERINFO_BRAND_NAME" name="SPAN_GROUPUSERINFO_BRAND_NAME" ><span jwcid="@Insert" value="ognl:groupUserInfo.BRAND_NAME"/></span>
		</li>
	</ul>
</div>	