<div id="postInfo" class="c_popupItem">
	<div jwcid="@Part" id="refreshPart"></div>
	<div jwcid="@Part" id="postInfoMgrPart">
	<div class="c_header">
		<div class="back" ontap="hidePopup(this);">邮寄信息</div>
	</div>
	<div jwcid="@Scroller" name="postDiv" class="c_scroll c_scroll-float c_scroll-header"
		hScroll="false" hScrollbar="false">
		<div class="c_scrollContent l_padding">
			<div class="c_list c_list-form">
				<ul>
					<li class="link required">
						<div class="label">邮寄标识</div>
						<div class="value">
							<span jwcid="@Select" name="post_POST_TAG" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('POST_TAG')" 
								textField="DATA_NAME" valueField="DATA_ID" class="e_select e_select-l e_select-r"
								value="ognl:postInfo.POST_TAG" onchange="changePostTag();" nullable="no" desc="邮寄标识" 	addDefault="false">
							</span>
						</div>
					</li>
				</ul>
			</div>
			<div jwcid="@Any" element="div" class="c_list c_list-form" id="IS_POST_PART" style="display:none">
			<div class="c_title">
				<div class="text">邮寄内容</div>
			</div>
			<div class="c_list c_list-border c_list-line c_list-col-2">
				<ul>
					<li class="link">
						<div class="fn"><input jwcid="@Checkbox" name="post_POST_CONTENT_0" 
								checked="ognl:postInfo.POST_CONTENT_0" id="post_POST_CONTENT_0"/></div>
						<div class="main">账单</div>
					</li>
					<li class="link">
						<div class="fn"><input jwcid="@Checkbox" name="post_POST_CONTENT_1" 
								checked="ognl:postInfo.POST_CONTENT_1" id="post_POST_CONTENT_1"/></div>
						<div class="main">清单</div>
					</li>
					<li class="link">
						<div class="fn"><input jwcid="@Checkbox" name="post_POST_CONTENT_2" 
								checked="ognl:postInfo.POST_CONTENT_2" id="post_POST_CONTENT_2"/></div>
						<div class="main">发票</div>
					</li>
					<li class="link">
						<div class="fn"><input jwcid="@Checkbox" name="post_POST_CONTENT_3" 
								checked="ognl:postInfo.POST_CONTENT_3" id="post_POST_CONTENT_3"/></div>
						<div class="main">广告</div>
					</li>
				</ul>
			</div>
			<div class="c_space"></div>
			<div class="c_title">
				<div class="text">邮寄方式</div>
			</div>
			<div class="c_list c_list-border c_list-line c_list-col-2">
				<ul>
					<li class="link">
						<div class="fn"><input jwcid="@Checkbox" name="post_POST_TYPESET_0" 
								checked="ognl:postInfo.post_POST_TYPESET_0" id="post_POST_TYPESET_0"/></div>
						<div class="main">邮政</div>
					</li>
					<li class="link">
						<div class="fn"><input jwcid="@Checkbox" name="post_POST_TYPESET_1" 
								checked="ognl:postInfo.post_POST_TYPESET_1" id="post_POST_TYPESET_1"/></div>
						<div class="main">传真</div>
					</li>
					<li class="link">
						<div class="fn"><input jwcid="@Checkbox" name="post_POST_TYPESET_2" 
								checked="ognl:postInfo.post_POST_TYPESET_2" id="post_POST_TYPESET_2"/></div>
						<div class="main">E-mail</div>
					</li>
				</ul>
			</div>
			<div class="c_space"></div>
			<div class="c_list c_list-form">
				<ul>
					<li class="link required">
						<div class="label">邮寄周期</div>
						<div class="value">
							<span jwcid="@Select" name="post_POST_CYC" source="ognl:@com.ailk.biz.util.StaticUtil@getStaticList('POST_CYC')" 
								textField="DATA_NAME" valueField="DATA_ID" class="e_select e_select-l e_select-r"
								value="ognl:postInfo.POST_CYC" nullable="no" desc="邮寄周期">
							</span>
						</div>
					</li>
					<li class="link required">
						<div class="label">邮寄名称</div>
						<div class="value">
							<input type="text" jwcid="@Any" maxLength="50" name="post_POST_NAME" id="post_POST_NAME" nullable="no" value="ognl:postInfo.POST_NAME"/>
						</div>
					</li>
					<li class="link">
						<div class="label">邮寄地址</div>
						<div class="value">
							<input type="text" jwcid="@Any" name="post_POST_ADDRESS" id="post_POST_ADDRESS" value="ognl:postInfo.POST_ADDRESS"/>
						</div>
					</li>
					<li class="link">
						<div class="label">邮寄邮编</div>
						<div class="value">
							<input type="text" jwcid="@Any" maxLength="6" name="post_POST_CODE" id="post_POST_CODE" value="ognl:postInfo.POST_CODE"/>
						</div>
					</li>
					<li class="link">
						<div class="label">E-mail地址</div>
						<div class="value">
							<input type="text" jwcid="@Any" name="post_EMAIL" id="post_EMAIL" value="ognl:postInfo.EMAIL"/>
						</div>
					</li>
					<li class="link">
						<div class="label">传真电话</div>
						<div class="value">
							<input type="text" jwcid="@Any" name="post_FAX_NBR" id="post_FAX_NBR" value="ognl:postInfo.FAX_NBR"/>
						</div>
					</li>
				</ul>
			</div>
			<input type="hidden" name="post_POST_TYPESET" id="post_POST_TYPESET"/>
   			<input type="hidden" name="post_POST_CONTENT" id="post_POST_CONTENT"/>
			</div>
			<div class="c_space"></div>
			<div class="c_title">
				<div class="text">催缴信息</div>
			</div>
			<div class="c_list c_list-form">
				<ul>
					<li class="link">
						<div class="label">催缴人姓名1</div>
						<div class="value">
							<input type="text" jwcid="@Any" name="askPrint_RSRV_STR1" id="askPrint_RSRV_STR1" value="ognl:askPrintInfo.RSRV_STR1"/>
						</div>
					</li>
					<li class="link">
						<div class="label">催缴人手机号1</div>
						<div class="value">
							<input type="text" jwcid="@Any" desc="催缴人手机号1" onchange="checkPostNum(this);" name="askPrint_RSRV_STR2" id="askPrint_RSRV_STR2" value="ognl:askPrintInfo.RSRV_STR2"/>
						</div>
					</li>
					<li class="link">
						<div class="label">催缴人办公电话1</div>
						<div class="value">
							<input type="text" jwcid="@Any" name="askPrint_RSRV_STR3" id="askPrint_RSRV_STR3" value="ognl:askPrintInfo.RSRV_STR3"/>
						</div>
					</li>
				</ul>
			</div>
			<div class="c_space"></div>
			<div class="c_list c_list-form">
				<ul>
					<li class="link">
						<div class="label">催缴人姓名2</div>
						<div class="value">
							<input type="text" jwcid="@Any" name="askPrint_RSRV_STR4" id="askPrint_RSRV_STR4" value="ognl:askPrintInfo.RSRV_STR4"/>
						</div>
					</li>
					<li class="link">
						<div class="label">催缴人手机号2</div>
						<div class="value">
							<input type="text" jwcid="@Any" desc="催缴人手机号2" name="askPrint_RSRV_STR5" onchange="checkPostNum(this);" id="askPrint_RSRV_STR5" value="ognl:askPrintInfo.RSRV_STR5"/>
						</div>
					</li>
					<li class="link">
						<div class="label">催缴人办公电话2</div>
						<div class="value">
							<input type="text" jwcid="@Any" name="askPrint_RSRV_STR6" id="askPrint_RSRV_STR6" value="ognl:askPrintInfo.RSRV_STR6"/>
						</div>
					</li>
				</ul>
			</div>
   			<div style="display:none" id="askPrint_OLD_ASKPRINT_INFO"><span jwcid="@Insert"  value="ognl:askPrintInfo" /></div>
   			<input type="hidden" name="post_USER_ID" id="post_USER_ID"/>
   			
   			<div class="c_space"></div>
   			
			<div class="c_submit c_submit-full">
				<button jwcid="@Any" element="button" class="e_button-l e_button-r e_button-blue" type="button" ontap="postSubmit(this);">确定</button>
			</div>
		</div>
	</div>
	</div>
</div>