<div class="c_title">
	<div class="text">基础商品</div>
	<div class="fn">
		<ul>
			<li style="display: none;"><label> <input type="checkbox" id="EFFECT_NOW"
					name="EFFECT_NOW" jwcid="@Any" onclick="ognl:effectAction"
					disabled="true" />&nbsp;&nbsp; <span class="label">立即生效</span>
			</label></li>
			<li id="BOOKING_DATE_FIELD" >
				<span class="label">预约时间</span> <input name="BOOKING_DATE"
				jwcid="@DateField" dropDown="true" format="yyyy-MM-dd"
				value="" min=""
				readOnly="true"
				onafterAction="changeProduct.afterBookingDate();" desc="预约时间" />
<!-- 				onafterAction="changeProductExtend.afterBookingDate();" -->
			</li>
		</ul>
	</div>
</div>
<div class="c_list c_list-border c_list-line" >			
	<ul id="mainUl">
		<li id="oldMain" >
			<div class="main" >
				<div class="title" name="productName" ></div>
				<div class="content content-row-2" name="productDesc" ></div>
				<div class="content" id="mainOfferDate" name="productTime" ></div>
			</div>
			<div class="side e_hide-phone" id="changeBtn">
				<button class="e_button e_button-blue e_button-r"  jwcid="@Any" id="changeButton" style="display:none;"
				 ontap="ognl:changeAction"><span class="e_ico-change"></span><span>变更</span></button>
			</div>
		</li>
		<li id="newMain" style="display:none;">
			<div class="main"  >
				<div class="title" name="productName" ><span class="e_green">变更为： </span> </div>
				<div class="content content-row-2" name="productDesc" ></div>
				<div class="content" id="mainOfferDate" name="productTime" ><span class="e_blue">生效时间</span></div>
			</div>
			<div class="side e_hide-phone">
				<button class="e_button e_button-r" id="resetButton" jwcid="@Any"  ontap="ognl:id+'.resetProduct(\''+resetAction+'\');'"
				 style="display:none;"><span class="e_ico-reset"></span><span>恢复</span></button>
			</div>
		</li>
	</ul>
</div>