<!DOCTYPE HTML>
<html size="s"> 
<head jwcid="@Head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>员工选择</title>
<script jwcid="@Script" src="scripts/iorder/icsserv/component/org/org.js" ></script> 
</head>
<body jwcid="@Body">
<div class="c_box c_box-blue l_padding l_padding-u">
	<div class="c_form">
		<ul>
			<li>
				<div class="value">
					<span class="e_mix e_mix-r">
						<input type="text" minsize="2" jwcid="@TextField" id="STAFF_SEARCH_TEXT" name="STAFF_SEARCH_TEXT" placeholder="员工名称 / 工号"  onenterAction="return $.org.queryStaffsSimp();"/>
						<span class="e_ico-search" ontap="return $.org.queryStaffsSimp();"></span>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>

<div id="QueryCond" class="c_list c_list-line c_list-border" style="display:none">
	<ul class="ul">
		<li class="li">
			<span class="label"><span class="e_required">业务区：</span></span>
			<input type="text" name="cond_AREA_CODE"  jwcid="@TextField" desc="业务区" nullable="no"/>
		</li>
		<li class="li col-2">
			<span class="label">归属部门：</span>
			<input type="text" name="cond_DEPART_ID"  jwcid="@TextField"/>
		</li>
		<li class="li">
			<span class="label">员工名称：</span>
			<span class="e_input"><span><input type="text" name="cond_STAFF_NAME" jwcid="@TextField" value="ognl:condition.cond_STAFF_NAME" enterAction="$.org.queryStaffs();" /> </span></span>
		</li>
		<li class="li">
			<span class="label">性别：</span>
			<span class="e_select"><span><span>
				<select name="cond_SEX" jwcid="@Select" source="ognl:pageutil.getStaticList('STAFF_SEX')" textField="DATA_NAME" valueField="DATA_ID" value="ognl:condition.cond_SEX" desc="性别" />
			</span></span></span>
		</li>
		<li class="li">
			<span class="label">服务号码：</span>
			<span class="e_input"><span><input type="text" name="cond_SERIAL_NUMBER" jwcid="@TextField" value="ognl:condition.cond_SERIAL_NUMBER" enterAction="$.org.queryStaffs();"/></span></span>
		</li>
		<li class="li">
			<span class="label">员工工号：</span>
			<span class="e_input"><span><input type="text" name="cond_STAFF_ID" jwcid="@TextField" value="ognl:condition.cond_STAFF_ID" enterAction="$.org.queryStaffs();" /></span></span>
		</li>
	</ul>
	<input jwcid="@Any" type="hidden" id="check_dept_kind" name="check_dept_kind" value="ognl:getParameter('check_dept_kind', 'false')" />
	<input jwcid="@Any" type="hidden" id="need_stafftag" name="need_stafftag" value="ognl:getParameter('need_stafftag', 'false')"/>
	<input jwcid="@Any" type="hidden" id="staff_tags" name="staff_tags" value="ognl:getParameter('staff_tags', '1')" />
	<input jwcid="@Any" type="hidden" id="multi" name="multi" value="ognl:getParameter('multi')" />
	
	<div class="submitPlace"></div>
	<div class="submit"><button type="button" class="e_button-form" onclick="return $.org.queryStaffs();"><i class="e_ico-search"></i><span>查询</span></button></div>
</div>
<div class="c_scroll c_scroll-float c_scroll-white c_scroll-header" style="bottom:3.5em">
	<div jwcid="staffsPart@Part" element="div">
		<div class="c_list c_list-line" >
			<ul id="StaffListUl">
				<li class="link" jwcid="@Foreach" source="ognl:infos" value="ognl:info" index="ognl:rowIndex" element="li">
					<div class="content" jwcid="@Any" staff_id="ognl:info.STAFF_ID" staff_name="ognl:info.STAFF_NAME" serial_number="ognl:info.SERIAL_NUMBER" ontap="javascript:$.org.setStaffPopupReturnValue(this.getAttribute('staff_id'), this.getAttribute('staff_name'), this.getAttribute('serial_number'))">
						<!-- <div class="pic l_padding">
							<img jwcid="@Any" SEX="ognl:info.SEX"  src='ognl:"0".equals(info.SEX)?"img/male.png":"img/female.png"' style="width:3.6em;" class="e_pic-r" alt="" />
						</div> -->
						<div class="main">
							<div class="title"><span jwcid="@Insert" value="ognl:info.STAFF_NAME" /></div>
							<div class="content"><span jwcid="@Insert" value="ognl:pageutil.getStaticValue('TD_M_AREA', 'AREA_CODE', 'AREA_NAME', info.CITY_CODE)" /> </div>
							<div class="content"><span jwcid="@Insert" value="ognl:pageutil.getStaticValue('TD_M_DEPART', 'DEPART_ID', 'DEPART_NAME', info.DEPART_ID)"  /></div>
							<div class="content"><span jwcid="@Insert" value="ognl:info.SERIAL_NUMBER" /></div>
						</div>
						<div class="side"><span jwcid="@Insert" value="ognl:info.STAFF_ID" /></div>
					</div>
				</li><!-- -->
			</ul>
		</div>
		<div class="c_line"></div>
		<!--  
		<div jwcid="@NavBar" name="staffnav" cond="QueryCond" part="staffsPart" listener="queryStaffs" count="ognl:staffsCount" pageSize="5" loadingTxt="正在加载员工数据..."></div>
		-->
	</div>
</div>
<input jwcid="@Hidden" name="CURRENT_PAGE"  value="1" desc="记录当前页码"/>
<input name="field_name" jwcid="@Hidden" type="hidden" value="ognl:getParameter('field_name','')" />
<script type="text/javascript">
	$(document).ready(function(){
		parent.window.fillStaffsParam = $.org.fillStaffsParam;
	});
</script>
</body>
</html>