<div class="c_submit">
	<button type="button" id="groupSubmit" class="e_button-page-ok" onclick="GroupSubmit.submit()"><i></i>
	<span><span jwcid="@Insert" value="ognl: buttonName == null ? '确定' : buttonName" raw="true"/></span>
	</button>
</div>
<input jwcid="@Any" name="SUBMIT_AREA" id="SUBMIT_AREA" value="ognl:submitArea" style="display:none"/>
<input jwcid="@Any" name="REFRESH_AREA" id="REFRESH_AREA" value="ognl:refreshArea" style="display:none"/>
<input jwcid="@Any" name="SUBMIT_PARAM" id="SUBMIT_PARAM" value="ognl:submitParam" style="display:none"/>
<input jwcid="@Any" name="BEFORE_ACTION" id="BEFORE_ACTION" value="ognl:beforeAction" style="display:none"/>
<input jwcid="@Any" name="AFTER_ACTION" id="AFTER_ACTION" value="ognl:afterAction" style="display:none"/>