<div jwcid="@Conditional" condition="ognl:isRender == 'true'">
	<div class="c_submit">
		<button jwcid="@Button" accesskey="Y" class="ognl:'e_button-page'+(submitStyle==''?'':'-'+submitStyle)" name="CSSUBMIT_BUTTON" 
			area="ognl:area" callBean="ognl:callBean" listener="ognl:listener" params="ognl:params" 
			refreshPart="ognl:refreshPart" beforeAction="ognl:beforeAction" isGrp="ognl:isGrp" 
			 affirmAction="ognl:affirmAction" cancelRule="ognl:cancelRule" disabledBtn="ognl:disabledBtn"
			 	isPrint="ognl:isPrint" edocPrint="ognl:edocPrint" bothPrint="ognl:bothPrint" edocSecond="ognl:edocSecond" closeNoPrint="ognl:closeNoPrint" mustPrintTag="ognl:mustPrintTag">
			<i jwcid="@Any" class="ognl:'e_ico-'+submitIcon"></i><span><span jwcid="@Insert" value="ognl:submitText"/></span>
		</button>
		<div jwcid="@Conditional" condition="ognl:isReset == 'true'">
			<button jwcid="@Button" name="CSRESET_BUTTON" resetAction="ognl:resetAction" class="e_button-page">
				<i class="e_ico-reset"></i><span>重置</span>
			</button>
		</div>
		<div jwcid="@Conditional" condition="ognl:isShoppingCart == 'true'">
			<button jwcid="@Button" name="ADD_SHOPPING_CART" buttonType="shoppingCartButton"  repeatTrade="ognl:repeatTrade" disabledBtn="ognl:disabledBtn"
			        class="ognl:'e_button-page'+(submitStyle==''?'':'-'+submitStyle)">
				<i class="e_ico-import"></i><span>加入购物车</span>
			</button>
		</div>
		<div id="DEVELOPED_STAFF_PART" style="display:none; position:absolute; top:5px; right:0;" >
			<div class="form">
				<span class="label">发展员工：</span>
				<input name="DEVELOPED_STAFF" jwcid="@biz:StaffField" value="ognl:getVisit().getStaffId()" text="ognl:getVisit().getStaffName()" afterAction="$.developStaff.setDevelopStaff()"/>
				<style>#DEVELOPED_STAFF_PART .e_elements { width:100px;}</style>
			</div>
		</div>
		<div id="PAY_FEE_PART" style="display:none;" >
			<input name="_PAY_FEE_ID" jwcid="@TextField" value="" afterAction="$.cssubmit.callBack.payBackFunc" style="display:none;"/>
		</div>
	</div>
</div>
<div jwcid="@Conditional" condition="ognl:isRender == 'false'">
	<button jwcid="@Button" accesskey="Y" class="ognl:'e_button-page'+(submitStyle==''?'':'-'+submitStyle)" name="CSSUBMIT_BUTTON" 
		area="ognl:area" callBean="ognl:callBean" listener="ognl:listener" params="ognl:params" 
		refreshPart="ognl:refreshPart" beforeAction="ognl:beforeAction" isGrp="ognl:isGrp"  
		 affirmAction="ognl:affirmAction" cancelRule="ognl:cancelRule" disabledBtn="ognl:disabledBtn" 
		 	isPrint="ognl:isPrint" edocPrint="ognl:edocPrint" bothPrint="ognl:bothPrint" edocSecond="ognl:edocSecond" closeNoPrint="ognl:closeNoPrint" mustPrintTag="ognl:mustPrintTag">
		<i jwcid="@Any" class="ognl:'e_ico-'+submitIcon"></i><span><span jwcid="@Insert" value="ognl:submitText"/></span>
	</button>
	<div jwcid="@Conditional" condition="ognl:isReset == 'true'">
		<button jwcid="@Button" name="CSRESET_BUTTON" resetAction="ognl:resetAction" class="e_button-page">
			<i class="e_ico-reset"></i><span>重置</span>
		</button>
	</div>
	<div jwcid="@Conditional" condition="ognl:isShoppingCart == 'true'">
			<button jwcid="@Button" name="ADD_SHOPPING_CART" buttonType="shoppingCartButton"  repeatTrade="ognl:repeatTrade" disabledBtn="ognl:disabledBtn"
			        class="ognl:'e_button-page'+(submitStyle==''?'':'-'+submitStyle)">
				<i class="e_ico-import"></i><span>加入购物车</span>
			</button>
	</div>
	<div id="DEVELOPED_STAFF_PART" style="display:none; position:absolute; top:5px; right:0;">
		<div class="form">
			<span class="label">发展员工：</span>
			<input name="DEVELOPED_STAFF" jwcid="@biz:StaffField" value="ognl:getVisit().getStaffId()" text="ognl:getVisit().getStaffName()" afterAction="$.developStaff.setDevelopStaff()"/>
				<style>#DEVELOPED_STAFF_PART .e_elements { width:100px;}</style>
		</div>
	</div>
	<div id="PAY_FEE_PART" style="display:none;" >
			<input name="_PAY_FEE_ID" jwcid="@TextField" value="" afterAction="$.cssubmit.callBack.payBackFunc" style="display:none;"/>
	</div>
</div>