<div jwcid="@Popup" class="c_popup c_popup-half c_popup-half-hasBg"  name="ognl:id+'Pop'">
	<div class="c_popupGroup" level="1">
		<div class="c_popupItem" id="popup-mainProduct" >
			<div class="c_header">
				<div class="back" ontap="hidePopup(this)">基础商品</div>
				<div class="fn">
					<span class="e_mix e_mix-search">
						<input type="text" id="searchInput">
						<button type="button" id="searchBtn" ontap="ognl:id+'.searchProduct()'" jwcid="@Any"><span class="e_ico-search"></span></button>
					</span>
				</div>
			</div>
			
			<div class="c_scroll c_scroll-white c_scroll-float c_scroll-header c_scroll-page">
				<div class="c_filter c_filter-label-1">
					<ul id="productTagArea">
						<li>
							<div class="label">标签：</div>
							<div class="option">
								<ul id="labels">
								</ul>
							</div>
							<div class="more"><button class="e_button-s e_button-r" jwcid="@Any" onclick="ognl:id+'.foldTags(this)'"><span>更多</span></button></div>
						</li>
					</ul>
				</div>
				<div class="c_line"></div>
				<div class="c_list c_list-s c_list-line">
					<ul id="productArea">
					</ul>
				</div>
			</div>
			<div class="l_bottom">
				<div class="c_line"></div>
				<div class="c_page" id="pagingComponent">
					<div class="more" style="width:85px">
						<span id="dataSourceCount"></span>
					</div>
					<div class="turn">
						<div class="first"><div class="e_ico-first"></div></div>
						<div class="prev">上一页</div>
						<div class="page"><span id="current"></span>/<span id="pageSize"></span></div>
						<div class="next">下一页</div>
						<div class="last"><div class="e_ico-last"></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c_popupGroup" level="2">
		<div class="c_popupItem" id="pop-itemList" >
			<div class="c_header">
				<div class="back" ontap="backPopup(this);"></div>
			</div>
			<div class="c_scroll c_scroll-submit c_scroll-float c_scroll-header">
				<div class="l_padding l_padding-u" id="productItemListArea">
					
				</div>
			</div>
			<div class="l_bottom">
				<div class="c_submit c_submit-full">
					<button type="button" class="e_button-l e_button-navy" jwcid="@Any" ontap="ognl:id+'.cancelAction()'">取消</button>
					<button type="button" class="e_button-l e_button-blue" jwcid="@Any" ontap="ognl:id+'.confirmAction(this)'">确定</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="searchResult_float" class="c_float" style="width : 230px;" tabindex="1">
	<div class="bg"></div>
	<div class="content">
		<div class="c_scrollContent">
			<div class="c_list c_list-pc-s c_list-phone-line">
				<ul id="searchResult" >
				</ul>
			</div>
		</div>
	</div>
</div>
<input jwcid="@Hidden" name="AFTER_ACTION" id="AFTER_ACTION" value="ognl:afterAction"/>
