<div jwcid="@Conditional" condition="ognl:groupList!=null && groupList.size()>0">
<li>
	<div class="label">分组：</div>
	<div class="option">
		<ul id="packages">
			<li jwcid="@Foreach" 
				source="ognl:groupList" 
				value="ognl:group"
				element="li" title="" groupId="ognl:group.GROUP_ID" groupName="ognl:group.GROUP_NAME" forceTag="ognl:group.FORCE_TAG" defaultTag="ognl:group.DEFAULT_TAG" onclick="offerList.switchGroup($(this));" class="''">
				<span jwcid="@Insert" value="ognl:group.GROUP_NAME"/>
			</li>
		</ul>
	</div>
</li>
</div>