<div jwcid="@Any" id="ognl:id+'_offerlist'" class="l_auto">
	<div class="c_scroll c_scroll-mix" style="height:353px;">
		<div jwcid="@OfferLabel" groupList="ognl:groupList" labelList="ognl:labelList"></div>
		<div id="OFFERLIST_DRAWAREA">
			<div jwcid="@Foreach" 
				source="ognl:categoryList" 
				value="ognl:category"
				element="li" title="ognl:category.CATEGORY_ID+':'+category.CATEGORY_NAME">
				<div class="c_title c_title-2">
				    <div class="text"><span jwcid="@Insert" value="ognl:category.CATEGORY_NAME"/></div>
				</div>
				<div jwcid="@Any" class="ognl:'c_list c_list-table c_list-col-'+colNum">
					<ul>
						<li 
							jwcid="@Foreach" 
							source="ognl:category.OFFER_LIST" 
							value="ognl:offer"
							element="li" title="ognl:offer.OFFER_ID+':'+offer.OFFER_NAME">
							<button type="button" jwcid="@Any" style="display:none" onmouseover="this.style.display = '';" onmouseout="this.style.display ='none';" onclick="ognl:'offerList.addElement('+'\'' + offer.OFFER_CODE +'\''+ ',' +'\''+ offer.OFFER_TYPE+'\''+');'"><i class="e_ico-next"></i><span></span></button>
							<label class="text" jwcid="@Any" id="ognl:'LABEL_'+offer.OFFER_TYPE+'_'+offer.OFFER_CODE" onmouseover="$(this).prev().css('display','');" onmouseout="$(this).prev().css('display','none');" >
								
				                <span>
			                        <input type="checkbox" 
			                        	name="elementCheckBox" 
			                        	jwcid="@Checkbox"
			                        	id="ognl:'PE_'+offer.OFFER_TYPE+'_'+offer.OFFER_CODE"
			                        	class="e_checkbox" 
			                        	checked='' 
			                        	value="ognl:offer.OFFER_CODE"
			                        	disabled=''
			                        	onclick=""/>
				                    <span jwcid="@Insert" value="ognl:offer.OFFER_NAME"/>
			                        <!-- <a href="#nogo" jwcid="@Any" onclick="ognl:'popupPage(\'offer.OfferDetail\', \'init\', \'&OFFER_ID='+offer.OFFER_ID+'&ROUTE_CODE='+district+'\', \'商品详情\', \'700\', \'500\');'"><span jwcid="@Insert" value="ognl:offer.OFFER_NAME"/></a>
			                    	 -->
			                    </span>
			                   </label>
				        </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="c_submit">
		<input jwcid="@Hidden" name="OFFERLIST_COMPONENT_ID" id="OFFERLIST_COMPONENT_ID" value="ognl:id"/>
		<input jwcid="@Hidden" name="CATEGORY_ID" id="CATEGORY_ID" value="ognl:categoryId"/>
		<input jwcid="@Hidden" name="OFFERLIST_PRODUCT_ID" id="OFFERLIST_PRODUCT_ID" value="ognl:productId"/>
		<input jwcid="@Hidden" name="COL_NUM" id="COL_NUM" value="ognl:colNum"/>
		<input jwcid="@Hidden" name="SWITCH_GROUP_SERVICE" id="SWITCH_GROUP_SERVICE" value="ognl:switchGroupService"/>
		<input jwcid="@Hidden" name="SWITCH_JOIN_SERVICE" id="SWITCH_JOIN_SERVICE" value="ognl:switchJoinService"/>
		<button jwcid="@Any" type="button" class="e_button-form" id="ognl:id+'_choiceButton'" name="ognl:id+'_choiceButton'" onclick="offerList.addElements();"><i class="e_ico-next"></i><span>添加到已选区</span></button>
	</div>
</div>