<div class="c_box" id="acctDayBox" style="display:none">
	<div class="c_tip" id="diverTip" style="display:none"></div>
	<div class="c_form" id="bookingcheckbox" style="display:none" ></div>
	<div id="popupPageDay"></div>
</div>
<input type="hidden" jwcid="@Any" id="JUDGEMEBACCTDAY_DIVER_TIP_KEY" name="JUDGEMEBACCTDAY_DIVER_TIP_KEY" value="ognl:tipKey"  />
<input type="hidden" jwcid="@Any" id="JUDGEMEBACCTDAY_BOOKING_BOX_ACTION" name="JUDGEMEBACCTDAY_BOOKING_BOX_ACTION" value="ognl:clickBookingBoxAction"  />