<div class="c_title">
		<div class="text">成员付费信息</div>
</div>
<div class="c_form c_form-text c_form-label-6 c_form-col-4">
	<ul class="ul">
		<li class="li">
			<span class="label">付费方式：</span>
			<span class="text">
			  <span jwcid="@Insert" value="ognl:payPlanInfo.SHOW_PLAN_TYPE==null?'':@com.ailk.biz.util.StaticUtil@getStaticValue('PLAN_TYPE',payPlanInfo.SHOW_PLAN_TYPE)" raw="false"/>	
			</span>
		</li>
		<li class="li">
			<span class="label">付费模板：</span>
			<span class="text">
			  <span jwcid="@Insert" value="ognl:payPlanInfo.SHOW_PLAN_MODE==null?'':@com.ailk.biz.util.StaticUtil@getStaticValue('PLAN_MODE',payPlanInfo.SHOW_PLAN_MODE)" raw="false"/>	
			</span>
		</li>
		<li class="li">
			<span class="label">账目项：</span>
			<span class="text">
				<span jwcid="@Insert" value="ognl:payPlanInfo.NOTE_ITEMS" raw="false"/>
			</span>
		</li>
		<li class="li">
			<span class="label">服务号码：</span>
			<span class="text">
				<span jwcid="@Insert" value="ognl:payPlanInfo.SERIAL_NUMBER" raw="false"/>
			</span>
		</li>
		<li class="li">
			<span class="label">限定方式：</span>
			<span class="text">
				<span jwcid="@Insert" value="ognl:payPlanInfo.LIMIT_TYPE==null?'':@com.ailk.biz.util.StaticUtil@getStaticValue('PAYRELAADVCHG_LIMIT_TYPE',payPlanInfo.LIMIT_TYPE)" raw="false"/>	
			</span>
		</li>
		<li class="li">
			<span class="label">限定值：</span>
			<span class="text">
				<span jwcid="@Insert" value="ognl:payPlanInfo.LIMIT" raw="false"/>
			</span> 
		</li>
		
	</ul>
</div>