<!DOCTYPE HTML>
<html>
<head jwcid="@Head">
<title>MessageBox</title>
<script jwcid="@Script" src="scripts/csserv/component/fee/FeeMgr.js"></script>
</head>
<body jwcid="@Body">
	
<div class="l_padding">
	<button type="button" ontap="test1()">增加费用</button>
	<button type="button" ontap="test2()">增加费用2</button>
	<button type="button" ontap="test3()">清空费用</button>
	<button type="button" ontap="test4()">删除费用</button>
	<button type="button" ontap="test5()">加载POS配置</button>
	<div class="c_list">
		<ul>
			<li>
				<div class="label">生日</div>
				<div class="value"><input name="BIRTHDAY" jwcid="@DateField" dropDown="true"/></div>
				<div class="more"></div>
			</li>
		</ul>
	</div>
	
</div>

<script language="javascript">

function test1(){
	var feeData = new $.DataMap();
	feeData.put("TRADE_TYPE_CODE", "240");
	feeData.put("MODE", "2");
	feeData.put("CODE", "100");
	feeData.put("FEE", "10000");
	
	//if(typeof(elementId) != "undefined" && elementId != "")
	//{
	//	feeData.put('ELEMENT_ID', elementId);
	//}
	
	$.feeMgr.insertFee(feeData);
}

function test2(){
	var feeData = new $.DataMap();
	feeData.put("TRADE_TYPE_CODE", "240");
	feeData.put("MODE", "0");
	feeData.put("CODE", "370");
	feeData.put("FEE", "50000");
	
	//if(typeof(elementId) != "undefined" && elementId != "")
	//{
	//	feeData.put('ELEMENT_ID', elementId);
	//}
	
	$.feeMgr.insertFee(feeData);
}

function test3(){
	$.feeMgr.clearFeeList("240");
}

function test4(){
	$.feeMgr.removeFee("240", "2", "100");

}

function test5(){
	$.feeMgr.setPosParam('240', '13467517522', '0731', '');
	
	/*
	$.ajax.submit("cond", "test", null, null,function(data){
		alert(data);
	}, function(code, info, errinfo){
	
		//alert("|" + code + "\n|" + info + "\n|" + errid + "\n|" + errinfo);
		$.MessageBox.error("错误信息", info, function(btn){
			alert(btn);
			
		},null, errinfo, false);
	});	
	*/
	
	/*
	MessageBox.show({
		success : true,
		title : "成功信息1",
		content : "成功信息1",
		buttons : {"ok" : "确认", "ext1" : "打印", "ext2" : "扩展按钮"},
		fn : function(btn){
			if("ext1" == btn){
				alert("打印");
			}
		},
		beforeHide : function(btn){
			if("ext1" == btn) {
				return window.confirm("是否设置校验成功？");
			}
		}
	});
	*/
}


</script>
</body>
</html>