<!DOCTYPE HTML>
<html>
<head jwcid="@Head">
<title>Table</title>
<script jwcid="@Script" type="text/javascript" src="frame/scripts/device.js"></script>
<script jwcid="@Script" type="text/javascript" src="frame/scripts/local.js"></script>
</head>
<body jwcid="@Body">

<div class="l_padding">
	<div class="c_list c_list-col-2 c_list-phone-col-1 c_list-border c_list-line">
		<ul>
			<li class="link required">
				<div class="label">选择号码</div>
				<div class="value">
					<span class="e_mix">
						<input type="text" id="UI-selectNumInput" />
						<span class="e_label">预存：￥500</span>
					</span>
				</div>
			</li>
			<li class="link required" id="obj12"  onclick="showFloatLayerFun(this,'UI-float')">
				<div class="label">SIM卡号</div>
				<div class="value">
					<input type="text"  id="UI-selectNumInput" />
				</div>
				<div class="fn"><input type="checkbox" /></div>
				<div class="button"><button  class="e_button-l e_button-blue"><span class="e_ico-import"></span><span>读卡</span></button></div>
			</li>
			<li class="link required" id="obj11" onclick="showFloatLayerFun(this,'UI-float')" >
				<div class="main">选择套餐</div>
				<div class="side"></div>
				<div class="more"></div>
			</li>
		</ul>
	</div>
	
	
</div>
<!-- 悬浮层 开始 -->
<div class="c_float" style="left:0.1rem; top:0.57rem; width:5.51rem;height:4rem" id="UI-float">
	<div class="bg" onclick="removeClass('UI-float','c_float-show')"></div>
	<div class="content">
		<!-- 列表 开始 -->
		<div class="c_list">
			<ul>
				<li class="link">
					<div class="main">13510242048</div>
				</li>
				<li class="link">
					<div class="main">13510242048</div>
				</li>
				<li class="link">
					<div class="main">13510242048</div>
					<div class="side">预存 150.00</div>
				</li>
				<li class="link">
					<div class="main">13510242048</div>
					<div class="side">预存 400.00</div>
				</li>
				<li class="link">
					<div class="main">13510242048</div>
				</li>
				<li class="link">
					<div class="main">13510242048</div>
				</li>
				<li class="link">
					<div class="main">13510242048</div>
				</li>
				<li class="link">
					<div class="main">13510242048</div>
				</li>
				<li class="link">
					<div class="main">13510242048</div>
				</li>
				<li class="link">
					<div class="main">13510242048</div>
				</li>
			</ul>
		</div>
		<!-- 列表 结束 -->
		<div class="c_line"></div>
		<!-- 分列 开始 -->
		<div class="l_col l_col-line">
			<div class="l_colItem">
				<!-- 分页 开始 -->
				<div class="c_page">
					<div class="more"><span class="e_ico-fold"></span></div>
					<div class="turn">
						<div class="first"><span class="e_ico-first"></span></div>
						<div class="prev">上一页</div>
						<div class="page">10/23</div>
						<div class="next">下一页</div>
						<div class="last"><span class="e_ico-last"></span></div>
					</div>
				</div>
				<!-- 分页 结束 -->
			</div>
			<div class="l_colItem" style="width:auto;">
				<button class="e_button-blue"><span class="e_ico-star"></span><span>筛选</span></button>
			</div>
		</div>
		<!-- 分列 结束 -->
	</div>
</div>
<!-- 悬浮层 结束 -->
<script language="javascript">
function showFloatLayerFun(obj,floatId){
	var objOffset = $("#"+obj.id).offset();
	alert($("#UI-float").height()+"=="+$.format.px2rem($("#UI-float").height()));
	var top = parseFloat($.format.px2rem(objOffset.top))+parseFloat(0.5);
	var left = parseFloat($.format.px2rem(objOffset.left));
	//$.format.px2rem(h) + "rem";
	
	//alert("top:"+top+"|left:"+left);
	$("#"+floatId).css("top",top + "rem");
	$("#"+floatId).css("left",left + "rem");
	//$("#"+floatId).style="top:"+top+"px;left:"+left+"px";
	$("#"+floatId).addClass("c_float-show");
}
</script>
</body>
</html>