<!DOCTYPE HTML>
<html>
<head jwcid="@Head">
<title>Popup</title>
</head>
<body jwcid="@Body">

<!-- showPopup(popupName, showItem); 显示弹窗， popupName为Popup组件的name属性值, showItem为第一层要显示的项(div .c_popupItem)元素id -->
<button type="button" ontap="showPopup('mypop', 'level1Item1')">打开弹窗</button>

<button type="button" ontap="showPopup('myhalfpop', 'halfpopLevel1Item1')">打开半屏弹窗</button>

<button type="button" ontap="showPopup('myfullpop', 'fullpopItem')">打开全屏弹窗</button>

<!--
 visible="true|false" 是否默认显示 默认为不显示
 mask="true|false" 是否显示遮罩   默认为显示遮罩
-->
<div jwcid="@Popup" class="c_popup" name="mypop" >

	<!-- 弹窗第一层  开始-->
	<div class="c_popupGroup">

		<div id="level1Item1" class="c_popupItem">
		
			<!-- 新增 开始  -->
			<div class="c_header">
				<div class="back">新增记录</div>
			</div>
			<div class="c_scroll c_scroll-float c_scroll-header">
				<div class="c_scrollContent l_padding">
					<div class="c_list c_list-form">
						<ul>
							<li>
								<div class="label">标识</div>
								<div class="value"><input type="text" ontap="forwardPopup(this, 'level2Item1')" /></div>
							</li>
							<li>
								<div class="label">姓名</div>
								<div class="value"><input type="text" ontap="forwardPopup(this, 'level2Item2')" /></div>
							</li>
							<li>
								<div class="label">生日</div>
								<div class="value"><input type="text" ontap="forwardPopup(this, 'level2Item3')" /></div>
							</li>
						</ul>
					</div>
					<div class="c_space"></div>
					<div class="c_list c_list-form">
						<ul>
							<li>
								<div class="label">手机号</div>
								<div class="value"><input type="text" /></div>
							</li>
							<li>
								<div class="label">邮箱</div>
								<div class="value">
									<div class="e_mix">
										<input type="text" />
										<span class="e_select">@Asiainfo.com</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="c_space"></div>
					
					
					<div class="c_submit c_submit-full">
						<button class="e_button-l e_button-r e_button-navy" type="button" ontap="forwardPopup(this, 'level2Item1')">继续</button>
						<!--  hidePopup(this); 隐藏弹窗  this为操作的元素dom对象-->
						<button class="e_button-l e_button-r e_button-green" type="button" ontap="hidePopup(this)">完成</button>
					</div>
				</div>
			</div>		
			<!-- 新增结束  -->
				
		</div>
		
		
	</div>	
	<!-- 弹窗第一层  结束-->
	
	<!-- 弹窗第二层  开始-->
	<div class="c_popupGroup">
		
		<!-- 弹窗第二层项1 -->
		<div id="level2Item1" class="c_popupItem">
			<br />
			第二层项1
			<br />
			<button type="button" ontap="forwardPopup(this, 'level3Item1')">第三层项1222</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'level3Item2')">第三层项2</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'level3Item3')">第三层项3</button>
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第二层项1 -->
		
		
		<!-- 弹窗第二层项2 -->
		<div id="level2Item2" class="c_popupItem">
			<br />
			第二层项2
			<br />
			<button type="button" ontap="forwardPopup(this, 'level3Item1')">第三层项1</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'level3Item2')">第三层项2</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'level3Item3')">第三层项3</button>
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第二层项2 -->
		
		
		<!-- 弹窗第二层项3 -->
		<div id="level2Item3" class="c_popupItem">
			<br />
			第二层项3
			<br />
			<button type="button" ontap="forwardPopup(this, 'level3Item1')">第三层项1</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'level3Item2')">第三层项2</button>
			<br />
			<!-- 
				   forwardPopup(this, 'level3Item3'); 前进到下一级,  
				   this为操作的元素dom对象，
				  'level3Item3' 为下一级要显示的项(div .c_popupItem)元素id
				  
			-->
			<button type="button" ontap="forwardPopup(this, 'level3Item3')">第三层项3</button>
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第二层项3 -->
		
	</div>
	<!-- 弹窗第二层 结束-->
	
	
	<!-- 弹窗第三层  开始-->
	<div class="c_popupGroup">
		
		<!-- 弹窗第三层项1 -->
		<div id="level3Item1" class="c_popupItem">
			<br />
			第三层项1
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第三层项1 -->
		
		
		<!-- 弹窗第三层项2 -->
		<div id="level3Item2" class="c_popupItem">
			<br />
			第三层项2
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第三层项2 -->
		
		
		<!-- 弹窗第三层项3 -->
		<div id="level3Item3" class="c_popupItem">
			<br />
			第三层项3
			<br />
			<!-- backPopup(this); this为操作的元素dom对象，返回上一级 -->
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第三层项3 -->
		
	</div>
	<!-- 弹窗第三层 结束-->
</div>


<!--
半屏弹窗开始
-->
<div jwcid="@Popup" class="c_popup c_popup-half" name="myhalfpop" >

	<!-- 弹窗第一层  开始-->
	<div class="c_popupGroup">

		<div id="halfpopLevel1Item1" class="c_popupItem">
		
			<!-- 新增 开始  -->
			<div class="c_header">
				<div class="back">新增记录</div>
			</div>
			<div class="c_scroll c_scroll-float c_scroll-header">
				<div class="c_scrollContent l_padding">
					<div class="c_list c_list-form">
						<ul>
							<li>
								<div class="label">标识</div>
								<div class="value"><input type="text" ontap="forwardPopup(this, 'halfpopLevel2Item1')" /></div>
							</li>
							<li>
								<div class="label">姓名</div>
								<div class="value"><input type="text" ontap="forwardPopup(this, 'halfpopLevel2Item2')" /></div>
							</li>
							<li>
								<div class="label">生日</div>
								<div class="value"><input type="text" ontap="forwardPopup(this, 'halfpopLevel2Item3')" /></div>
							</li>
						</ul>
					</div>
					<div class="c_space"></div>
					<div class="c_list c_list-form">
						<ul>
							<li>
								<div class="label">手机号</div>
								<div class="value"><input type="text" /></div>
							</li>
							<li>
								<div class="label">邮箱</div>
								<div class="value">
									<div class="e_mix">
										<input type="text" />
										<span class="e_select">@Asiainfo.com</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="c_space"></div>
					
					
					<div class="c_submit c_submit-full">
						<button class="e_button-l e_button-r e_button-navy" type="button" ontap="forwardPopup(this, 'halfpopLevel2Item1')">继续</button>
						<!--  hidePopup(this); 隐藏弹窗  this为操作的元素dom对象-->
						<button class="e_button-l e_button-r e_button-green" type="button" ontap="hidePopup(this)">完成</button>
					</div>
				</div>
			</div>		
			<!-- 新增结束  -->
		</div>
	</div>	
	<!-- 弹窗第一层  结束-->
	
	<!-- 弹窗第二层  开始-->
	<div class="c_popupGroup">
		
		<!-- 弹窗第二层项1 -->
		<div id="halfpopLevel2Item1" class="c_popupItem">
			<br />
			第二层项1
			<br />
			<button type="button" ontap="forwardPopup(this, 'halfpopLevel3Item1')">第三层项1</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'halfpopLevel3Item2')">第三层项2</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'halfpopLevel3Item3')">第三层项3</button>
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第二层项1 -->
		
		
		<!-- 弹窗第二层项2 -->
		<div id="halfpopLevel2Item2" class="c_popupItem">
			<br />
			第二层项2
			<br />
			<button type="button" ontap="forwardPopup(this, 'halfpopLevel3Item1')">第三层项1</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'halfpopLevel3Item2')">第三层项2</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'halfpopLevel3Item3')">第三层项3</button>
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第二层项2 -->
		
		
		<!-- 弹窗第二层项3 -->
		<div id="halfpopLevel2Item3" class="c_popupItem">
			<br />
			第二层项3
			<br />
			<button type="button" ontap="forwardPopup(this, 'halfpopLevel3Item1')">第三层项1</button>
			<br />
			<button type="button" ontap="forwardPopup(this, 'halfpopLevel3Item2')">第三层项2</button>
			<br />
			<!-- 
				   forwardPopup(this, 'level3Item3'); 前进到下一级,  
				   this为操作的元素dom对象，
				  'level3Item3' 为下一级要显示的项(div .c_popupItem)元素id
				  
			-->
			<button type="button" ontap="forwardPopup(this, 'halfpopLevel3Item3')">第三层项3</button>
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第二层项3 -->
		
	</div>
	<!-- 弹窗第二层 结束-->
	
	
	<!-- 弹窗第三层  开始-->
	<div class="c_popupGroup">
		
		<!-- 弹窗第三层项1 -->
		<div id="halfpopLevel3Item1" class="c_popupItem">
			<br />
			第三层项1
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第三层项1 -->
		
		
		<!-- 弹窗第三层项2 -->
		<div id="halfpopLevel3Item2" class="c_popupItem">
			<br />
			第三层项2
			<br />
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第三层项2 -->
		
		
		<!-- 弹窗第三层项3 -->
		<div id="halfpopLevel3Item3" class="c_popupItem">
			<br />
			第三层项3
			<br />
			<!-- backPopup(this); this为操作的元素dom对象，返回上一级 -->
			<button type="button" ontap="backPopup(this)">返回</button>
		</div>
		<!-- 弹窗第三层项3 -->
		
	</div>
	<!-- 弹窗第三层 结束-->
</div>


<!--
全屏弹窗开始
-->
<div jwcid="@Popup" class="c_popup c_popup-full" name="myfullpop" >

	<!-- 弹窗第一层  开始-->
	<div class="c_popupGroup">

		<div class="c_popupItem" id="fullpopItem">

			<div class="c_header">
				<div class="back" ontap="hidePopup(this)">全屏弹窗</div>
			</div>
			<div class="c_scroll c_scroll-float c_scroll-header">
				<div class="c_scrollContent l_padding">
					<div class="c_list c_list-form">
						<ul>
							<li class="link" onclick="ctrlPopupItem('chooseNum')">
								<div class="label">选择号码</div>
								<div class="value">
								</div>
								<div class="more"></div>
							</li>
							<li>
								<div class="label">SIM卡号</div>
								<div class="value">
									<div class="e_mix">
										<input type="text" />
										<button class="e_button-blue" type="button">读卡</button>
									</div>
								</div>
							</li>
						</ul>
					</div>	
					<div class="c_space"></div>
					
					<div class="c_submit c_submit-full">
						<button class="e_button-l e_button-r e_button-navy" type="button" ontap="showPopup('mypop', 'level1Item1')">新增记录</button>
						<!--  hidePopup(this); 隐藏弹窗  this为操作的元素dom对象-->
						<button class="e_button-l e_button-r e_button-green" type="button" ontap="hidePopup(this)">完成</button>
					</div>
				</div>
			</div>		

		</div>

	</div>	
	<!-- 弹窗第一层  结束-->
</div>

</body>
</html>