<!DOCTYPE HTML>
<html>
<head jwcid="@Head">
<title>Range</title>
</head>
<body jwcid="@Body">

<div class="l_padding">

	<h2 class="page_h2">进度条组件</h2>
	<div class="l_padding">
		<span name="prog1" jwcid="@Progress" ></span>
		<button type="button" ontap="test()">开始</button>
	</div>
	
	<br />
	
	<h2 class="page_h2">范围组件(单向)</h2>
	<div class="l_padding">
		<span name="range1" jwcid="@Range" style="width:5rem;"></span>
	</div>
	
	<br />	
	
	<h2 class="page_h2">范围组件(双向)</h2>
	<div class="l_padding">
		<span name="range2" jwcid="@Range" start="true" style="width:5rem;"></span>
	</div>

</div>

<script language="javascript">
//<!--
function test(){
       // this hideous block creates the bogus progress
       var f = function(v){
            return function(){
                if(v == 11){
                   //prog1.hide();
                }else{
                    prog1.update(v/10, '正在载入' + v + '/10项');
                }
           };
       };
       
       for(var i = 1; i < 12; i++){
           setTimeout(f(i), i*1000);
       }
}
//-->
</script>
</body>
</html>