<!DOCTYPE HTML>
<html>
<head jwcid="@Head">
<title>Range</title>
</head>
<body jwcid="@Body">

<div class="l_padding">
	
	<!-- 
		hScroll - true|false 是否允许横向滚动   默认为true
		vScroll - true|false 是否允许竖向滚动 默认为true
		hScrollbar - true|false 是否显示横向滚动 条  默认为true
		vScrollbar - true|false 是否显示竖向滚动 条  默认为true
		bounce - true|false 是否使用回弹效果    默认为true
		momentum - true|false 是否使用惯性效果     默认为true
		checkDOMChanges - true|false 是否自适应尺寸     默认为false (会造成额外的性能开销)
		
		通常情况下需要设置sytle里的高度
	 -->
	<div name="scroller1" jwcid="@Scroller" style="height:4rem;" vScrollbar="true" bounce="true">

			<div class="c_list c_list-space c_list-line c_list-col-3">
				<ul>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers04.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">娜塔莎·罗曼诺夫</div>
							<div class="content">Natasha Romanoff</div>
						</div>
						<div class="side">黑寡妇</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers05.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">布鲁斯·班纳</div>
							<div class="content">Bruce Banner</div>
						</div>
						<div class="side">绿巨人</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers06.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">克林特·巴顿</div>
							<div class="content">Clint Barton</div>
						</div>
						<div class="side">鹰眼</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers04.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">娜塔莎·罗曼诺夫</div>
							<div class="content">Natasha Romanoff</div>
						</div>
						<div class="side">黑寡妇</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers05.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">布鲁斯·班纳</div>
							<div class="content">Bruce Banner</div>
						</div>
						<div class="side">绿巨人</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers06.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">克林特·巴顿</div>
							<div class="content">Clint Barton</div>
						</div>
						<div class="side">鹰眼</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers04.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">娜塔莎·罗曼诺夫</div>
							<div class="content">Natasha Romanoff</div>
						</div>
						<div class="side">黑寡妇</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers05.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">布鲁斯·班纳</div>
							<div class="content">Bruce Banner</div>
						</div>
						<div class="side">绿巨人</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers06.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">克林特·巴顿</div>
							<div class="content">Clint Barton</div>
						</div>
						<div class="side">鹰眼</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers04.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">娜塔莎·罗曼诺夫</div>
							<div class="content">Natasha Romanoff</div>
						</div>
						<div class="side">黑寡妇</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers05.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">布鲁斯·班纳</div>
							<div class="content">Bruce Banner</div>
						</div>
						<div class="side">绿巨人</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers06.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">克林特·巴顿</div>
							<div class="content">Clint Barton</div>
						</div>
						<div class="side">鹰眼</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers04.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">娜塔莎·罗曼诺夫</div>
							<div class="content">Natasha Romanoff</div>
						</div>
						<div class="side">黑寡妇</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers05.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">布鲁斯·班纳</div>
							<div class="content">Bruce Banner</div>
						</div>
						<div class="side">绿巨人</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers06.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">克林特·巴顿</div>
							<div class="content">Clint Barton</div>
						</div>
						<div class="side">鹰眼</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers01.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尼·斯塔克</div>
							<div class="content">Tony Stark</div>
						</div>
						<div class="side">钢铁侠</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers02.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">斯蒂夫·罗杰斯</div>
							<div class="content">Steve Rogers</div>
						</div>
						<div class="side">美国队长</div>
					</li>
					<li class="link">
						<div class="pic">
							<img src="temp/avengers03.jpg" alt="" />
						</div>
						<div class="main">
							<div class="title">托尔</div>
							<div class="content">Thor</div>
						</div>
						<div class="side">雷神</div>
					</li>
				</ul>
			</div>	
	
	</div>

</div>

<script language="javascript">
//<!--

//-->
</script>
</body>
</html>