<!DOCTYPE HTML>
<html>
<head jwcid="@Head">
<title>Tabset</title>
</head>
<body jwcid="@Body">

<div class="l_padding">

	<div name="tabset1" class="c_tab" jwcid="@Tabset">
		
		<!-- 功能区域，最多只能有一个 -->
		<div class="fn">
			<span class="e_mix e_mix-search">
				<input type="text"/>
				<button class="e_button-blue"><span class="e_ico-search"></span></button>
			</span>
		</div>
		
		<!-- 标签页内容区域  <div title="标题" class="content" > ...标签页内容  </div> 可以有多个-->
		<div title="标签1" class="content" style="display:none">

			<div name="scroller1" jwcid="@Scroller" style="height:3rem;" >
			
					<div class="c_list c_list-space c_list-line c_list-col-3">
						<ul>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers01.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">托尼·斯塔克</div>
									<div class="content">Tony Stark</div>
								</div>
								<div class="side">钢铁侠</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers02.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">斯蒂夫·罗杰斯</div>
									<div class="content">Steve Rogers</div>
								</div>
								<div class="side">美国队长</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers03.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">托尔</div>
									<div class="content">Thor</div>
								</div>
								<div class="side">雷神</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers04.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">娜塔莎·罗曼诺夫</div>
									<div class="content">Natasha Romanoff</div>
								</div>
								<div class="side">黑寡妇</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers05.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">布鲁斯·班纳</div>
									<div class="content">Bruce Banner</div>
								</div>
								<div class="side">绿巨人</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers06.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">克林特·巴顿</div>
									<div class="content">Clint Barton</div>
								</div>
								<div class="side">鹰眼</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers01.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">托尼·斯塔克</div>
									<div class="content">Tony Stark</div>
								</div>
								<div class="side">钢铁侠</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers02.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">斯蒂夫·罗杰斯</div>
									<div class="content">Steve Rogers</div>
								</div>
								<div class="side">美国队长</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers03.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">托尔</div>
									<div class="content">Thor</div>
								</div>
								<div class="side">雷神</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers01.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">托尼·斯塔克</div>
									<div class="content">Tony Stark</div>
								</div>
								<div class="side">钢铁侠</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers02.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">斯蒂夫·罗杰斯</div>
									<div class="content">Steve Rogers</div>
								</div>
								<div class="side">美国队长</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers03.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">托尔</div>
									<div class="content">Thor</div>
								</div>
								<div class="side">雷神</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers04.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">娜塔莎·罗曼诺夫</div>
									<div class="content">Natasha Romanoff</div>
								</div>
								<div class="side">黑寡妇</div>
							</li>
							<li class="link">
								<div class="pic">
									<img src="temp/avengers05.jpg" alt="" />
								</div>
								<div class="main">
									<div class="title">布鲁斯·班纳</div>
									<div class="content">Bruce Banner</div>
								</div>
								<div class="side">绿巨人</div>
							</li>
						</ul>
					</div>	
			
			</div>


		</div>
		
		<div title="标签2" class="content">
			<div class="c_list">
				<ul>
					<li>
						<div class="main">就电影宇宙而言，谁是复仇者联盟里最接地气的超级英雄</div>
						<div class="side">2015-09-06</div>
					</li>
					<li>
						<div class="main">漫威的电视剧和电影都是一个世界观吗</div>
						<div class="side">2015-09-06</div>
					</li>
					<li>
						<div class="main">电影里幻视真的很牛</div>
						<div class="side">2015-09-06</div>
					</li>
					<li>
						<div class="main">雷神能力属性展现，绝不只是一个只会抡大锤的傻大个</div>
						<div class="side">2015-09-06</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>


<script language="javascript">
//<!--
$("#tabset1").switchAction(function(e, idx){
	//return window.confirm("确定要切换标签页吗？");
});
//-->
</script>
</body>
</html>