<!DOCTYPE HTML>
<html>
<head jwcid="@Head">
<title>Tree</title>
</head>
<body jwcid="@Body">

<div class="l_padding">


<div name="tabset1" jwcid="@Tabset" style="height:5rem" class="c_tab c_tab-full">
	<div title="静态树" class="content" >
		<div name="scroller1" jwcid="@Scroller" bounce="false">
			<div name="tree1" jwcid="@Tree" expandPath="root" checkBoxType="radio" listener="loadTreeData" oncheckBoxAction="return window.confirm('确定选中/取消当前项吗？')"></div>
		</div>
	</div>
	<div title="动态树" class="content" style="display:none">
		<div name="scroller2" jwcid="@Scroller" bounce="false">
			<div name="tree2" jwcid="@Tree" expandPath="HNAN" async="true" listener="loadSimpleTree" ></div>
		</div>
	</div>
</div>
	
</div>

<script language="javascript">
//<!--
$("#tree2").textAction(function(e, nodeData){
	alert(new $.DataMap(nodeData));
	return true;
});

$("#tree2").checkBoxAction(function(e, nodeData){
	return window.confirm("确定选中/取消当前项吗？");
});
//-->
</script>
</body>
</html>