<!-- 区域 开始 -->
	<!-- 标题 开始 -->
	<div class="c_title c_title-2">
		<div class="text">
			<span jwcid="@Insert" value="ognl:page.productInfo.PRODUCT_NAME" raw="true"/>
		</div>
	</div>
	<!-- 标题 结束 -->
	<!-- 标题 开始 -->
	<div class="c_title c_title-3">
		<div class="text">产品说明</div>
	</div>
	<!-- 标题 结束 -->
	<!-- 参数列表 开始 -->
	<div class="c_form c_form-col-1 c_form-label-7 c_form-text">
		<ul class="ul">
			<li class="li">
				<span class="label">产品编码：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:page.productInfo.PRODUCT_ID"/>
				</span>
			</li>
			<li class="li">
				<span class="label">产品描述：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:page.productInfo.PRODUCT_EXPLAIN"/>
				</span>
			</li>
			<li class="li">
				<span class="label">最小关联用户数：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:page.compProductInfo.MIN_MEMBER"/>
				</span>
			</li>
			<li class="li">
				<span class="label">最大关联用户数：</span>
				<span class="text">
					<span jwcid="@Insert" value="ognl:page.compProductInfo.MAX_MEMBER"/>
				</span>
			</li>
			<li class="li">
				<span class="label">关联角色：</span>
				<span class="text">
					普通关联
				</span>
			</li>
		</ul>
	</div>
	<!-- 参数列表 结束 -->
<!-- 区域 结束 -->

