<!-- 标题 开始 -->
<div class="c_title">
	<div class="text">订购列表</div>
	<div class="fn">
		<ul>
			<li><div name="checkBoxSwitch" jwcid="@Switch" value="off" onText="开" offText="关" tip="打开有惊喜哦！"/></li>
			<li><input onclick="" type="checkbox" id="checkAll" /></li>
		</ul>
	</div>
	<div class="tip">
		<span class="e_red">共 <span id="tradeCount">0</span> 件商品</span>
	</div>
</div>
<!-- 标题 结束 -->

<!-- 表格 开始 -->
<div class="c_box">
	<div class="c_cart c_cart-border">
		<table id="tradeListTable">
			
		</table>
		<div id="BEGIN_MESSAGE" class="c_msg">
			<div class="wrapper">
				<div class="emote"></div>
				<div class="info">
					<div class="text">
						<div class="title">请先验证号码！</div>
					</div>
				</div>
			</div>
		</div>
		<div id="NULL_MESSAGE" class="c_msg c_msg-warn" style="display:none">
			<div class="wrapper">
				<div class="emote"></div>
				<div class="info">
					<div class="text">
						<div class="title">没有查到数据！</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 表格 结束 -->

<input jwcid="@Any" type="hidden" name="SHOPPINGLIST_COMPONENT_ID" id="SHOPPINGLIST_COMPONENT_ID" value="ognl:id"/>