<div class="c_title c_title-2">
	<div class="text">优惠</div>
	<div class="fn"></div>
</div> 
<!-- 标题 结束 -->
<!-- 表格 开始 -->
<div class="c_scroll" style="height:220px;"><div class="c_table c_table-hover">
	<table>
        <thead>
            <th style="width:20px"></th>
			<th>优惠</th>
			<th style="width:85px">开始时间</th>
			<th style="width:85px">结束时间</th>
        </thead>
		<tbody id="SelectDiscntTable">
			 <tr
				jwcid="@Foreach" 
				source="ognl:discntList" 
				value="ognl:discnt"
				element="tr"
                class='ognl:"0".equals(discnt.MODIFY_TAG)?"new":"1".equals(discnt.MODIFY_TAG)?"e_del":""'
                title="ognl:discnt.ELEMENT_NAME">
                <td class="e_center">
                    <input type="checkbox" 
                    	name="SELECTED_DISCNT_CHECKBOX" 
                    	class="e_checkbox" 
                    	checked='ognl:("1".equals(discnt.MODIFY_TAG)||"0_1".equals(discnt.MODIFY_TAG))?"false":"true"' 
                    	value="ognl:discnt.ELEMENT_ID"
                    	jwcid="@Checkbox"
                    	itemIndex="ognl:discnt.ITEM_INDEX"
                		disabled='ognl:"1_1".equals(discnt.PACKAGE_FORCE_TAG+"_"+discnt.ELEMENT_FORCE_TAG)?"true":"true".equals(discnt.DISABLED)?"true":"false"'
                    	onclick="selectedElements.checkBoxAction(this)"/>
                </td>
				<td class="wrap" jwcid="@Any" onclick="selectedElements.selectElementPackage(this)" packageId="ognl:discnt.PACKAGE_ID">
                    <div jwcid="@Conditional" condition='ognl:discnt.ATTR_PARAM!=null'>    
                    	<a jwcid="@Any" href="#nogo" id='ognl:discnt.ITEM_INDEX+"_ATTRPARAM"' name='ognl:discnt.ITEM_INDEX+"_ATTRPARAM"' elementId="ognl:discnt.ELEMENT_ID" elementType="D" itemIndex="ognl:discnt.ITEM_INDEX" onclick="selectedElements.showAttr(this,this.getAttribute('elementId'),this.getAttribute('elementType'))" class="select"></a>
                    </div>
					<span jwcid="@Insert" value="ognl:discnt.ELEMENT_NAME"/>
				</td>
				<td class="e_center edit" jwcid="@Any">
					<span class="e_select"><span><span>
						<select  
							disabled="true" 
							itemIndex="ognl:discnt.ITEM_INDEX" 
							jwcid="@Any" 
							id='ognl:discnt.ITEM_INDEX+"_START_DATE"'
							onchange="selectedElements.changeStartDate(this);"
							style="width:91px">
							<option jwcid="@Any" value="ognl:discnt.START_DATE"><span jwcid="@Insert" value="ognl:getPage().formatDate('yyyy-MM-dd',discnt.START_DATE)"/></option>
						</select>
					</span></span></span>
				</td>
				<td class="e_center edit" jwcid="@Any">
					<span class="e_select"><span><span>
						<select  
							disabled="true" 
							itemIndex="ognl:discnt.ITEM_INDEX" 
							jwcid="@Any" 
							id='ognl:discnt.ITEM_INDEX+"_END_DATE"'
							onchange="selectedElements.changeEndDate(this);"
							style="width:91px">
							<option jwcid="@Any" value="ognl:discnt.END_DATE"><span jwcid="@Insert" value="ognl:getPage().formatDate('yyyy-MM-dd',discnt.END_DATE)"/></option>
						</select>
					</span></span></span>
				</td>
            </tr>
		</tbody>
	</table>
</div></div>