<div class="c_title c_title-2">
	<div class="text">服务</div>
</div>
<!-- 标题 结束 -->
<!-- 表格 开始 -->
<div class="c_scroll" style="height:110px;">
    <div class="c_list c_list-table c_list-col-2 e_noborder">
		<ul id="SelectSvcUl">
			<li
				jwcid="@Foreach" 
				source="ognl:svcList" 
				value="ognl:svc"
				element="li"
                class='ognl:"0".equals(svc.MODIFY_TAG)?"new":("1".equals(svc.MODIFY_TAG)?"e_del":"")' 
                title="ognl:svc.ELEMENT_NAME">
                <label class="text">
                    <span>
                        <input type="checkbox" 
                        	name="SELECTED_SVC_CHECKBOX" 
                        	jwcid="@Checkbox"
                        	class="e_checkbox" 
                        	checked='ognl:"1".equals(svc.MODIFY_TAG)?"false":"true"' 
                        	value="ognl:svc.ELEMENT_ID"
                        	itemIndex="ognl:svc.ITEM_INDEX"
                        	disabled='ognl:"1_1".equals(svc.PACKAGE_FORCE_TAG+"_"+svc.ELEMENT_FORCE_TAG)?"true":"true".equals(svc.DISABLED)?"true":"false"'
                        	onclick="selectedElements.checkBoxAction(this)"/>
                        <span jwcid="@Insert" value="ognl:svc.ELEMENT_NAME"/>
                    </span>
                </label>
                <div jwcid="@Conditional" condition='ognl:svc.ATTR_PARAM!=null'>
               		<a href="#nogo" jwcid="@Any" id='ognl:svc.ITEM_INDEX+"_ATTRPARAM"' name='ognl:svc.ITEM_INDEX+"_ATTRPARAM"' itemIndex="ognl:svc.ITEM_INDEX" elementId="ognl:svc.ELEMENT_ID" elementType="S" class="select" onclick="selectedElements.showAttr(this,this.getAttribute('elementId'),this.getAttribute('elementType'))"></a>
                </div>
            </li>
        </ul>
    </div>
</div>