	<span jwcid="@Conditional" condition="ognl:hasTitle">	
		<div jwcid="@Any" class="ognl:titleLev">
			<div class="text"><span jwcid="@Insert" value="ognl:titleHit==null?'成员用户信息':titleHit" raw="true"/></div>
		</div>
	</span>
	
	<div class="c_form c_form-text c_form-label-6 c_form-col-3" id="memberuserinfoform">
		<ul class="ul">
			
			<li class="li">
				<span class="label">成员用户标识：</span>
				<span class="text" id="MEMBERUSERINFO_USER_ID" name="MEMBERUSERINFO_USER_ID">
					<span jwcid="@Insert" value="ognl:userInfo.USER_ID" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">成员服务号码：</span>
				<span class="text" id="MEMBERUSERINFO_SERIAL_NUMBER" name="MEMBERUSERINFO_SERIAL_NUMBER">
					<span jwcid="@Insert" value="ognl:userInfo.SERIAL_NUMBER" raw="true"/>
				</span>
				<input jwcid="@Any" id="MEB_USER_ID" name="MEB_USER_ID" value="ognl:userInfo.USER_ID" style="display:none;" encode="false" />
				<input jwcid="@Any" id="MEB_PRODUCT_ID" name="MEB_PRODUCT_ID" value="ognl:userInfo.PRODUCT_ID" style="display:none;" encode="false" />
				<input jwcid="@Any" id="MEB_SERIAL_NUMBER" name="MEB_SERIAL_NUMBER" value="ognl:userInfo.SERIAL_NUMBER" style="display:none;" encode="false" />
				<input jwcid="@Any" id="MEB_EPARCHY_CODE" name="MEB_EPARCHY_CODE" value="ognl:userInfo.EPARCHY_CODE" style="display:none;" encode="false" />
				<input jwcid="@Any" id="MEB_BRAND_CODE" name="MEB_BRAND_CODE" value="ognl:userInfo.BRAND_CODE" style="display:none;" encode="false" />
			</li>
			<li class="li">
				<span class="label">用户归属地州：</span>
				<span class="text" id="MEMBERUSERINFO_EPARCHY_NAME" name="MEMBERUSERINFO_EPARCHY_NAME">
					<span jwcid="@Insert" value="ognl:userInfo.EPARCHY_NAME" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">成员开户时间：</span>
				<span class="text" id="MEMBERUSERINFO_OPEN_DATE" name="MEMBERUSERINFO_OPEN_DATE">
					<span jwcid="@Insert" value="ognl:userInfo.OPEN_DATE" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">成员品牌：</span>
				<span class="text" id="MEMBERUSERINFO_BRAND_NAME" name="MEMBERUSERINFO_BRAND_NAME">
					<span jwcid="@Insert" value="ognl:userInfo.BRAND_NAME" raw="true"/>
				</span>
			</li>
			<li class="li">
				<span class="label">成员产品：</span>
				<span class="text"  id="MEMBERUSERINFO_PRODUCT_NAME" name="MEMBERUSERINFO_PRODUCT_NAME">
					<span jwcid="@Insert" value="ognl:userInfo.PRODUCT_NAME" raw="true"/>
				</span>
			</li>
		</ul>
	</div>
	<!-- 成员信息 结束 -->