<div id="productTreePanel" class="c_popup" style="display:none">
	<div class="c_popupWrapper">
		<div class="c_popupHeight"></div>
		<div class="c_popupBox">
			<div class="c_popupTitle">
				<div class="text">产品选择</div>
				<div class="fn"><a href="#nogo" class="close" onclick="$('#productTreePanel').css('display','none');"></a></div>
			</div>
			<div class="c_popupContent"><div class="c_popupContentWrapper">
	            <div class="c_scroll" style="height:300px">
						<div class="c_filter">
							<ul id="productTagArea">
								
							</ul>
						</div>
						<div jwcid="@Any" class="c_list c_list-table c_list-col-2" >
							<ul id="productArea">
								
							</ul>
						</div>
                    <input jwcid="@Hidden" name="monitor" id="monitor" value="ognl:monitor"/>
                    <input jwcid="@Hidden" name="AFTER_ACTION" id="AFTER_ACTION" value="ognl:afterAction"/>
				</div>
            	<div class="c_submit">
            		<input jwcid="@Hidden" name="PRODUCTSELECT_COMPONENT_ID" id="PRODUCTSELECT_COMPONENT_ID" value="ognl:id"/>
					<a href="#nogo" class="e_button e_button-page-ok" onclick="ProductSelect.confirmAction()"><i></i><span>确定</span></a>
				</div>
            
            </div></div>
			<div class="c_popupBottom"><div></div></div>
			<div class="c_popupShadow"></div>
		</div>
	</div>
	<iframe class="c_popupFrame"></iframe>
	<div class="c_popupCover"></div>
</div>
