<!-- 费用组件 开始 -->
<div id="FEE_LIST_DIV" style="display:none">
	<div class="c_title">
		<div class="text">费用信息</div>
		<div class="fn">
			<ul>
				<li><span class="e_ico-money"></span><span id="FEE_TOTAL"></span></li>
			</ul>
		</div>
	</div>
	<div class="c_list c_list-col-2 c_list-phone-col-1 c_list-line c_list-border"  jwcid="FEE_LIST_PART@Part" id="FEE_LIST_PART" >
		<ul id="FEE_ITEM_LIST">
			
		</ul>
	</div>
</div>
<input type="hidden" jwcid="@Any" id="onlyPayMode" name="onlyPayMode" value="ognl:onlyPayMode"/>
<div id="JunActOCXABC" style="display:none;"></div>
<!-- 费用组件 结束 -->