<button class="e_button e_button-blue e_hide"
        jwcid="@Button"
        name="PasswdSetBtn"
        componentId="ognl:getId()"
        userId="ognl:userId"
        serialNumber="ognl:serialNumber"
        psptId="ognl:psptId"
        oldPass="ognl:hasOldPass"
        password="ognl:password"
        beforeAction="ognl:beforeAction"
        afterAction="ognl:afterAction">

    <i class="e_ico-config"></i><span>密码设置</span>
</button>
<div jwcid="@Any" id="PasswdSetFormPopup" class="ognl:'c_list  c_list-phone-col-1 c_list-'+listSize+' c_list-col-'+col+' c_list-border c_list-line'">
    <ul class="ul">
        <div jwcid="@Conditional" condition="ognl:hasOldPass">
        <li class="link required">
            <div class="label">当前服务密码</div>
            <div class="value">
                <div class="e_mix">
                <input type="password" id="pass_OLD_PASSWD" value="" desc="当前服务密码" nullable="yes"
                       datatype="pinteger"
                       equsize="6" maxlength="6"/>
                </div>
            </div>
        </li>
        </div>
        <li class="link required">
            <div class="label">新服务密码</div>
            <div class="value">
                <div class="e_mix">
                <input type="password" id="pass_NEW_PASSWD" value="" desc="新服务密码" nullable="yes"
                       datatype="pinteger"
                       equsize="6" maxlength="6"/>
                </div>
            </div>
        </li>
        <li class="link required">
            <div class="label">确认服务密码</div>
            <div class="value">
                <div class="e_mix">
                <input type="password" id="pass_CONFIRM_PASSWD" value="" desc="确认服务密码" nullable="yes"
                       datatype="pinteger"
                       equsize="6" maxlength="6"/>
                <button id="LittleKeyBtn"  class="e_button-blue e_hide-phone" type="button"><span>小键盘</span></button>
                </div>
            </div>
        </li>
    </ul>
</div>

