<div class="c_title">
    <div class="text e_hide-phone">我的平台业务</div>
    <div class="fn">
        <ul>
            <li id="showHot"
                ontap="platOrderAdd.toggle('UI-hot'); platOrderAdd.hide(this); platOrderAdd.show('hideHot')" class=""
                style=""><span class="e_ico-unfold"></span>显示重点业务办理区
            </li>
            <li id="hideHot"
                ontap="platOrderAdd.toggle('UI-hot'); platOrderAdd.hide(this); platOrderAdd.show('showHot')"
                style="display: none;" class=""><span class="e_ico-fold"></span>隐藏重点业务办理区
            </li>
            <li ontap="platOrderAdd.myShowFloatLayerFn(this);" x-wade-float="myFloatLayer" class=""><span
                    class="e_ico-unfold e_hide-phone"></span>快捷批量操作
            </li>
            <li ontap="showPopup('serviceAddPopup','platAddPop',true)" class=""><span
                    class="e_ico-add e_hide-phone"></span>新增
            </li>
        </ul>
    </div>
</div>


<!--热门-->
<div id="UI-hot" style="display: none">
    <div class="c_list c_list-s c_list-line c_list-border c_list-col-3 c_list-phone-col-1 c_list-fixWrapSpace">
        <ul id="keyBusinessArea">
        </ul>
    </div>
    <div class="c_space"></div>
</div>
<!--热门 结束---->

<!--点击新增-->
<div id="myFloatLayer" class="c_float" style="width: 20em; z-index: 1000;">
    <div class="bg" ontap="hideFloatLayer('myFloatLayer')"></div>
    <div class="content">
        <div class="content">
            <!-- 列表 开始 -->
            <div class="c_list c_list-s">
                <ul id="CANCEL_PART">
                </ul>
            </div>
            <!-- 列表 结束 -->
            <div class="c_line"></div>
            <!-- 列表 开始 -->
            <div class="c_list c_list-s" >
                <ul id="SWITCH_PART">
                </ul>
            </div>
            <!-- 列表 结束 -->
        </div>
    </div>
</div>
<!--新增 结束---->
<input jwcid="@Hidden" name="PLATORDERADD_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="searchBtn" isdisable="ognl:disableSearch"/>

