<!DOCTYPE HTML>
<html size="s">
<head jwcid="@Head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>身份校验</title>
<script jwcid="@Script" type="text/javascript" src="scripts/iorder/icsserv/component/auth/UserListNew.js"></script>
</head>

<body jwcid="@Body">
	<div class="c_header e_show-phone">
		<div class="back" id="userListBackBtn" ontap="backPopup(this)"></div>
	</div>
	<div id="userListScroll">
		<div class="l_queryResult">
			<table jwcid="@Table" name="resultTab" class="c_table c_table-lite c_table-min-3 c_table-hasGrid">
				<thead>
					<tr>
						<th>选择</th>
						<th>服务号码</th>
						<th>客户名称</th>
						<th>用户类型</th>
						<th>注销标识</th>
						<th>注销时间</th>
						<!-- <th>归属品牌</th> -->
						<th>归属地区</th>
						<th>开户时间</th>
						<th>最后停机时间</th>
					</tr>
				</thead>
				<tbody id="userList">
					<tr jwcid="@Foreach" source="ognl:infos" value="ognl:info" element="tr" index="ognl:rowIndex">
						<td data-title="选择" class="key"><input type="radio" jwcid="@Any" name="user" value="ognl:info.USER_ID" /></td>
						<td data-title="服务号码"><span jwcid="@Insert" value="ognl:info.SERIAL_NUMBER" raw="false"/></td>
						<td data-title="客户名称"><span jwcid="@Insert" value="ognl:info.CUST_NAME" raw="false"/></td>
						<td data-title="用户类型"><span jwcid="@Insert" value="ognl:pageutil.getStaticValue('TD_B_USERTYPE', 'USER_TYPE_CODE', 'USER_TYPE', info.USER_TYPE_CODE)" raw="false"/></td>
						<td data-title="注销标识"><span jwcid="@Insert" value="ognl:pageutil.getStaticValue('USER_REMOVETAG', info.REMOVE_TAG)" raw="false"/></td>
						<td data-title="注销时间"><span jwcid="@Insert" value="ognl:info.DESTROY_TIME" raw="false"/></td>
						<!--
						<td><span jwcid="@Insert" value="ognl:pageutil.getStaticValue('TD_S_BRAND', 'BRAND_CODE', 'BRAND', info.BRAND_CODE)" raw="false"/></td>
						-->
						<td data-title="归属地区"><span jwcid="@Insert" value="ognl:pageutil.getStaticValue('TD_M_AREA', 'AREA_CODE', 'AREA_NAME', info.EPARCHY_CODE)" raw="false"/></td>
						<td data-title="开户时间"><span jwcid="@Insert" value="ognl:info.OPEN_DATE" raw="false"/></td>
						<td data-title="最后停机时间"><span jwcid="@Insert" value="ognl:info.LAST_STOP_TIME" raw="false"/></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="">
		<div class="c_submit c_submit-full">
			<button class="e_button-navy e_button-r" id="cancelBtn"><i></i><span>取消</span></button>
			<button class="e_button-blue e_button-r" id="submitBtn"><i></i><span>确定</span></button>
		</div>
	</div>
</body>
</html>