.m_fn .e_ico-config:before { content:"设置";}
.m_fn .e_ico-menu:before { content:"菜单";}
.m_menu,
.m_menufa,
.m_notice,
.m_cust,
.m_fn,
.m_favo { top:7.06em;}


.m_usual { top:4.29em; position:absolute; left:0; width:22.14em; background:#3e4951; color:#fff; height:2.77em; line-height:2.77;}
.m_usual li { width:2.77em; float:left; text-align:center; cursor:default;}
.m_usual li:hover { background:#68a2e5;}
.m_usual li span { font-size:120%; line-height:2.31;}
.m_usual ul { width:101%;}
.s_phone .m_usual { display:none;}
.s_ie8 .m_usual li span { margin-top:0.2em;}

.m_allMenu { position:absolute; width:17.86em; top:7.06em; left:4.29em; bottom:0; background:#fff; box-sizing:border-box; border-right:1px solid #ccc}
.m_allMenu > .wrapper { background:#fff; position:relative; height:100%}
.m_allMenu > .wrapper > .allMenu { position:fixed; left:22.15em; top:4.29em; bottom:0; overflow:hidden; width:60em; visibility:hidden; transition:visibility .2s ease-out}
.m_allMenu > .wrapper > .allMenu .wrapper { width:60em; box-sizing:border-box; transition:-webkit-transform .2s ease-out; transition:transform .2s ease-out; -webkit-transform:translateX(-100%); transform:translateX(-100%); position:absolute;z-index:2; text-align:left; left:0; top:0; bottom:0; background:#fff; border-right:1px solid #ccc;}
.m_allMenu > .wrapper > .allMenu .cover { width:100%; height:100%;}
.m_allMenu > .wrapper > .allMenu-show { visibility:visible;}
.m_allMenu > .wrapper > .allMenu-show .wrapper { -webkit-transform:translateX(0); transform:translateX(0);}

.m_allMenu .subNavMenu{ position:fixed; left:22.15em; top:4.29em; bottom:0; overflow:hidden; right:0; transition:visibility .2s ease-out}
/*.m_allMenu .subNavMenu .subNavMenu_item{position:absolute;left:-60em;top:0;width:60em;height: 100%; box-sizing:border-box; background:#fff;border:1px solid #ccc;}
.m_allMenu .subNavMenu .subNavMenu_item .l_colItem:nth-child(2){}*/

.m_cust > .wrapper > .cust .statu { left:-3em; top:1em !important;}
.m_cust > .wrapper > .cust .statu:before { content:"";}
.s_ie8 .m_cust > .wrapper > .cust .statu { left:-2em; top:-2em !important;}
/* .m_cust > .wrapper > .cust .param { padding:0 0 1em 0;} */
.m_cust > .wrapper > .cust .level { padding-top:0.7em;}
.m_cust > .wrapper > .cust .level ~ .c_param { text-align:left; margin-top:-1em; margin-bottom:0.5em;}

.c_menu .title ~ .title { margin-top:0;}

.m_header .card { width:32em;}
.m_header .card .fn > ul { display:block; overflow:hidden; zoom:1; padding:0.5em;}
.m_header .card .fn > ul > li { float:left; width:32%; line-height:2.4; padding:0; box-sizing:border-box;}


.s_ie8 .m_fn .e_ico-menu { background-image:url(../img/frame.png) !important; background-repeat:no-repeat; background-position:-4px -64px;}
.s_ie8 .m_fn .e_ico-menu.on { background-position:-4px -4px; background-color:#fff;}
.s_ie8 .m_fn .e_ico-config { background-image:url(../img/frame.png) !important; background-repeat:no-repeat; background-position:-64px -64px;}
.s_ie8 .m_fn .e_ico-config.on { background-position:-64px -4px; background-color:#fff;}
.m_fn .e_ico-config { position:absolute; bottom:0;}

.s_noside .m_menu,
.s_noside .m_menufa,
.s_noside .m_notice,
.s_noside .m_cust,
.s_noside .m_fn,
.s_noside .m_favo { top:4.29em;}
.s_noside .m_usual { display:none;}
.s_noside .m_main { left:4.29em;}
.s_noside .m_fn { padding-top:2.77em;}



.m_miniMsg { position:absolute; font-size:86%; right:0.5em; bottom:0.5em; width:3em; height:3em; color:#fff; text-align:center; line-height:3em; background:url(../img/miniMsg.png) no-repeat; background-size:100% 100%; cursor:pointer;}
.m_miniMsg:hover { opacity:0.8;}
.s_ie8 .m_miniMsg { width:30px; height:30px; background-image:url(../img/miniMsg-ie8.png);}


input[type="password"]::-ms-reveal{display:none;}


/*.c_urlGetter { position:absolute; opacity:0; left:-1000em; top:-1000em;}
.c_urlGetter { position:absolute; left:0; top:0; opacity:1;}*/

.c_msg-xs .wrapper { padding:0;}
.c_msg-xs .emote:before { content:""; display:inline-block; width:4em; height:4.7em; background-repeat:no-repeat; background-size:100% 100%;}

.c_title-level-4 { background:#fafafa; white-space:nowrap; text-align:left; height:2.9em; box-sizing:border-box; padding:0; line-height:2.9em;}
.c_title-level-4 .text{ font-size:1em; padding:0 1em;}

.l_query-custInfo {top:4.4em;}
.l_query .l_queryMsg { top:7.95em;}
.l_query-user .l_queryMsg { top:14em;}
.l_queryResult { border-top:1px solid #ddd;}

.l_padding-6 { padding:4.26em;}
.c_dialog-auth >.wrapper{ width:40em; overflow:auto;}
.c_dialog-auth >.wrapper{ background:#4d5b65;}
.c_dialog-auth >.wrapper .header{ background:#4d5b65;}

.c_table table tbody tr.on td .e_keyword{ color:#336600;}
.c_table table thead tr th { background:#f7f7f7; font-weight:normal; color:#333; border-left:1px solid #ddd; border-bottom:1px solid #ddd;}
.c_table table thead tr th:first-child { border-left:0 none;}
.c_table table tbody tr td { border-left:1px solid #ddd; color:#333;}
.c_table table tbody tr td:first-child { border-left:0 none;}



.c_list-narrow > ul > li .main { padding:0.6em;}
.c_list-narrow > ul > li .side-float { top:-0.1em; right:-0.9em; font-size:95%;}
.s_ie8 .c_list-narrow > ul > li .side-float { top:0.6em;}
.c_list-narrow-2 > ul > li .main { padding:0.7em;}
.c_list > ul > li .more-down:after { content:"\e081";}
.c_list > ul > li > .fn-red [class*="e_ico"] { background:#e40077;}
.c_list > ul > li > .fn-green [class*="e_ico"] { background:#8fc320;}
.c_list > ul > li > .fn-orange [class*="e_ico"] { background:#f3b100;}
.c_list > ul > li > .fn-gray [class*="e_ico"] { background:#eee;}
.c_list > ul > li > .value { overflow:hidden;}
/*.c_list > ul > li > .fn:first-child { width:2.6em; cursor:default;}*/
/*.c_list > ul > li > .fn:first-child:hover { background:none;}*/
/*.c_list > ul > li > .fn:first-child input[type="checkbox"] { top:0; margin-top:0.82em; margin-left:-0.3em;}*/
.c_list > ul > li > .fn:first-child + .group .main { padding-left:0;}

.s_ie8 .c_list > ul > li > .content > .fn-orange [class*="e_ico"],
.s_ie8 .c_list > ul > li > .group > .fn-orange [class*="e_ico"],
.s_ie8 .c_list > ul > li > .group > .content > .fn-orange [class*="e_ico"],
.s_ie8 .c_list > ul > li > .sub > .fn-orange [class*="e_ico"],
.s_ie8 .c_list > ul > li > .fn-orange [class*="e_ico"] { background:url(../img/circular-orange.png) no-repeat;}

.s_ie8 .c_list > ul > li > .content > .fn-green [class*="e_ico"],
.s_ie8 .c_list > ul > li > .group > .fn-green [class*="e_ico"],
.s_ie8 .c_list > ul > li > .group > .content > .fn-green [class*="e_ico"],
.s_ie8 .c_list > ul > li > .sub > .fn-green [class*="e_ico"],
.s_ie8 .c_list > ul > li > .fn-green [class*="e_ico"] { background:url(../img/circular-green.png) no-repeat;}


.c_article-contract  > .content { border-top:none; padding-top:1em;}
.c_article-contract  > .tips { font-weight:bold; padding:2em 1em 0 1em; line-height:2.4em; text-indent:2em;}
.c_article-contract input[type="text"] { border:none; width:8em; border-bottom:1px solid #ccc; background:#fff;}
.c_article-contract input[type="text"].e_input-required { border-bottom:1px solid #e40077;}
.c_article-contract input[type="text"].e_input-line-m { width:12em;}
.c_article-contract input[type="text"].e_input-line-l { width:14em;}
.c_article-contract p { margin-bottom:0.6em;}
.c_article-contract .e_group { vertical-align:middle; border:none; border-bottom:1px solid #ccc; }
.c_article-contract .e_groupMain,
.c_article-contract .e_group .e_ico-date { background:#fff;}
.c_article-contract .e_group input[type="text"] { width:auto; border:none; background:#fff; height:2.7em; margin-top:1px;}
.c_article-contract .e_group-required { border-bottom:1px solid #e40077;}


.e_keyword { color:#ffcc00;}
.e_button-sprite-red { border:1px solid #e40077; color:#e40077 !important;}
.e_button-sprite-blue { border:1px solid #68a2e5; color:#68a2e5 !important;}
.e_button-sprite-orange { border:1px solid #f3b100; color:#f3b100 !important;}
.e_button-sprite-green { border:1px solid #8fc320; color:#8fc320 !important;}


.s_pc .c_float-phone { position:static !important; display:block !important;}
.s_phone .c_float-phone { position:fixed !important; top:0 !important; background:#f7f7f7; display:block !important; visibility:hidden; transform:translateX(100%); transition:transform 0.3s ease-out,visibility 0.3s ease-out;}
.s_phone .c_float-phone.c_float-show { transform:translateX(0); visibility:visible;}
.c_float { position:fixed !important;}
.c_float-phone-top > .content { bottom:auto; top:0;}
.s_phone .c_tab-phone-full { position:absolute; top:0; left:0; right:0; bottom:0;}
.s_phone .c_tab-phone-full > .page { position:absolute; top:3.57em; left:0; right:0; bottom:0;}
.s_phone .c_tab-phone-full > .page > .content { height:100%; overflow:auto;}

.s_phone .li-phone-sideV { padding-bottom:3.57em;}
.s_phone .li-phone-sideV > .side { position:absolute; left:0.71em; right:0.71em; bottom:0.5em;}
.s_phone .li-phone-sideV > .side .e_mix { width:100%;}



/*费用组件*/
.c_list-visible > ul > li { position: relative; z-index:0;}
.c_list-visible > ul > li > .value,
.c_list-visible > ul > li,
.c_list-visible > ul,
.c_list-visible { overflow: visible;}
.c_list-visible > ul > li > .value { position: static;}
.e_mix { position: relative;}
.e_mix .tip { position: absolute !important; pointer-events: none; right: 0.5em; top: 0.75em; line-height: 1.5em; border: 1px solid #fff; border-radius: 0.75em; padding: 0 0.7em; background: none; transition: transform 0.2s ease-out;}
.e_mix .tip .label { color: #fff;}
.e_mix .tip .value { color: #999;}
:not(.s_ie8) .e_mix-tip input + .tip, :not(.s_ie8) .e_mix input:focus + .tip { transform: translate(0, -1.5em); right: 1em; border: 1px solid #ddd; background: #f7f7f7; z-index: 3;}
:not(.s_ie8) .e_mix-tip input + .tip .label, :not(.s_ie8) .e_mix input:focus + .tip .label { font-size: 75%; color: #f3b100;}
:not(.s_ie8) .e_mix-tip input + .tip .value, :not(.s_ie8) .e_mix input:focus + .tip .value { font-size: 75%; color: #f3b100;}
/*.s_ie8 .c_list-visible > ul > li:hover .e_mix .tip { display:none;}*/
.s_ie8 .e_mix-tip input + .tip, .s_ie8 .e_mix input:focus + .tip, .s_ie8 .e_mix input:hover + .tip { right: 1em; top: -1em; border: 1px solid #ddd !important; background: #f7f7f7; z-index: 3;}
.s_ie8 .e_mix-tip input + .tip .label, .s_ie8 .e_mix input:focus + .tip .label, .s_ie8 .e_mix input:hover + .tip .label { color: #f3b100;}
.s_ie8 .e_mix-tip input + .tip .value, .s_ie8 .e_mix input:focus + .tip .value, .s_ie8 .e_mix input:hover + .tip .value { color: #f3b100;}



/* html { background-image:url(../img/wm2.png);} */

body { opacity:0.98;}
.s_ie8 { background-color:#f0f0f0;}
.s_ie8 body { background:url(../img/watermark-gray-80.png);}
.s_ie8 .c_list { background:none;}
.s_ie8 .c_list > ul > li { background:url(../img/watermark-white.png);}
.s_ie8 .c_list > ul > li.on { background:#8fc320;}
.s_ie8 .c_list-blue > ul > li,
.s_ie8 .c_list > ul > li.blue { background:#68a2e5;}
.s_ie8 .c_scroll-white { background:url(../img/watermark-white.png);}

html:not(.s_touchframe) { background:none !important;}
.s_touchframe.s_ie8 body { background:none; opacity:1;}
.s_touchframe.s_ie8 .m_cust { background:url(../img/watermark-white.png);}
.s_touchframe.s_ie8 .m_cust > .wrapper { background:none;}



/* 除去打印设备的水印 */
@media print {
	html { background:none !important;}
}



/* 文字黑化 */
.m_cust > .wrapper > * > .more .wrapper .param .label,
.m_cust > .wrapper > * > .more .wrapper .manager .info,
.m_cust > .wrapper > .cust .user,
.m_cust > .wrapper > .login > .list > .wrapper > .content li .main .content,
.m_cust>.wrapper>.cust .name,
.m_cust>.wrapper>.cust .num,
.e_mix .tip .value,
.e_label,
html body .e_black-light,
html body .e_black-light *,
body,
.e_select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="week"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="text"],
input[type="password"],
.c_table table tbody tr td,
.c_list > ul > li .main .content,
.c_list > ul > li .side,
.c_list > ul > li .value .e_select,
.c_list > ul > li .value .text,
.c_param-v .value,
.c_param-v .label,
.c_param > ul > li .value,
.c_param > ul > li .label { color:#000;}
input:-ms-input-placeholder { color:#ccc;}
html > body .e_black { color:#000 !important;}
.c_list-blue > ul > li .main .content { color:#fff;}