<span jwcid="@Any" style="display:none;" id="_CardCmpParam" eparchyCode="ognl:eparchyCode==null?getVisit().getStaffEparchyCode():eparchyCode" 
	readBeforeAction="ognl:readBeforeAction" readTradeAction="ognl:readTradeAction" readAfterAction="ognl:readAfterAction" writeBeforeAction="ognl:writeBeforeAction" writeAfterAction="ognl:writeAfterAction" 
		serialNumber="ognl:serialNumber" snbField="ognl:snbField" mode="ognl:mode" tradeTypeCode="ognl:tradeTypeCode" 
		beforeWriteSVC="ognl:beforeWriteSVC" checkWriteSVC="ognl:checkWriteSVC" afterWriteSVC="ognl:afterWriteSVC" />
<!-- mode=1为单卡，mode=2为双卡 -->
<span jwcid="@Conditional" condition="ognl:mode<3">
<span jwcid="@Conditional" condition="ognl:isRender=='true'">
<!--div class="form">
<span class="e_elements" style="width:auto;">
</span>
</div-->
<button type="button" id="readCardBtn" class="e_button-page"><i class="e_ico-export"></i><span>读卡</span></button>
<button type="button" id="writeCardBtn" class="e_button-page"><i class="e_ico-import"></i><span>写卡</span></button>
</span>
<span jwcid="@Conditional" condition="ognl:isRender=='false'">
<button type="button" id="writeCardBtn" class="e_button-right"><i class="e_ico-import"></i><span>写卡</span></button>
<button type="button" id="readCardBtn" class="e_button-right"><i class="e_ico-export"></i><span>读卡</span></button>
</span>
</span>

<span jwcid="@Conditional" condition="ognl:mode==3">
<div class="form">
	<span class="e_elements" style="width:auto;">
		<button type="button" id="formatCardBtn" class="e_button-right"><i class="e_ico-delete"></i><span>清卡</span></button>
		<button type="button" id="readFmtCardBtn" class="e_button-left"><i class="e_ico-export"></i><span>读卡</span></button>
	</span>
</div>
</span>

<span jwcid="@Conditional" condition="ognl:mode==4">
<button type="button" id="reuseCardBtn" class="e_button"><i class="e_ico-refresh"></i><span>SIM卡再利用</span></button>
</span>