
<div jwcid="@Popup"  name="ognl:id+'_TimePop'" >
	<div class="c_popupGroup">
		<div id="ognl:id+'_TimeItem'"  jwcid="@Any" class="c_popupItem">
			<div class="c_scroll c_scroll-float c_scroll-header l_padding">
				<div class="c_list c_list-form" jwcid="@Part" element="div" id="ognl:id+'Panel'">
					<ul>
						<li>
							<div class="label">开始时间</div>
							<div class="value">
								<input name="ognl:id+'_startDateField'"
                                       jwcid="@DateField"
                                       dropDown="true"
                                       format="yyyy-MM-dd"
                                       readOnly="true"
                                       onafterAction="ognl:id + '.changeStartDate()'"
                                       desc="开始时间"
                                       disabled="true"/>
							</div>
						</li>
						<li>
							<div class="label">结束时间</div>
							<div class="value">
								<input name="ognl:id+'_endDateField'"
									   jwcid="@DateField" 
									   dropDown="true" 
									   format="yyyy-MM-dd" 
									   onafterAction="ognl:id + '.changeEndDate()'"
									   desc="结束时间" 
									   disabled="true"/>
								<input jwcid="@Hidden" name="ognl:id+'_realEndDateField'"/>
							</div>
						</li>
					</ul>
				</div>
				<div class="c_space"></div>
				<div class="c_submit c_submit-full">
					<button type="button" jwcid="@Any" class="e_button-r e_button-l e_button-green" ontap="ognl:id+'.ok(this)'">确定</button>
					<button type="button" class="e_button-r e_button-l e_button-red" ontap="backPopup(this)">取消</button>
				</div>
				<div class="c_space"></div>
			</div>
		</div>
	</div>
</div>


<div jwcid="@Popup"  name="ognl:id+'_PlatPop'" >
	<div class="c_popupGroup">
		<div id="ognl:id+'_PlatItem'"  jwcid="@Any" class="c_popupItem">
			<div class="c_header">
				<div class="back" ontap="">赠送设置</div>
			</div>

			<div class="c_scroll c_scroll-float c_scroll-header l_padding">
				<div class="c_list c_list-form" jwcid="@Part" element="div" id="ognl:id+'PlatPanel'">
					<ul>
						<li class="li">
							<div class="label">赠送号码</div>
							<div class="value">
								<input type="text" jwcid="@TextField" name="ognl:id+'_giftSnPlatField'"
								    datatype="mbphone" value=""
									nullable="no" desc="赠送号码" /> 
							</div>
						</li>


                        <li class="li">
                            <div class="label">开始时间</div>
                            <div class="value">
                                <input type="text" jwcid="@DateField" dropDown="true" format="yyyy-MM-dd" name="ognl:id+'_startDatePlatField'"
                                        nullable="no"
                                       value="ognl:@com.asiainfo.veris.crm.order.pub.frame.bcf.util.SysDateMgr@getSysDate()"
                                       disabled="true" desc="赠送开始时间"/>
                            </div>
                        </li>
                        <li class="li">
                            <div class="label">结束时间</div>
                            <div class="value">
                                <input type="text" jwcid="@DateField" dropDown="true" format="yyyy-MM-dd" name="ognl:id+'_endDatePlatField'"
                                        nullable="no" value="" desc="赠送结束时间"/>
                            </div>
                        </li>
					</ul>
				</div>
				<div class="c_space"></div>
				<div class="c_submit c_submit-full">
					<button type="button" jwcid="@Any" class="e_button-r e_button-l e_button-green" ontap="ognl:id+'.okPlat(this)'">确定</button>
					<button type="button" jwcid="@Any" class="e_button-r e_button-l e_button-red" ontap="ognl:id+'.cancelGiftPlat(this)'">取消</button>
				</div>
				<div class="c_space"></div>
			</div>
		</div>
	</div>
</div>


<div jwcid="@Popup" name="ognl:id+'_CalendarPop'" >
	<div class="c_popupGroup">
		<div class="c_popupItem"  id="ognl:id+'_CalendarItem'"  jwcid="@Any">
			<div class="c_header">
				<div class="back" onclick="backPopup(this)">返回</div>
			</div>
			<div class="l_float l_float-header">
				<div name="ognl:id+'_Calendar'"  lunar="true" class="c_calendar c_calendar-lunar" jwcid="@Calendar" ></div>
			</div>
		</div>
	</div>
</div>


 
