<div jwcid="@Conditional" condition='ognl:display'>
	<div style="display:none">
		<input jwcid="@TextField" name="SP_SCAN_PSPT" id="SP_SCAN_PSPT" value="ognl:@com.veris.crm.priv.PrivCheck@checkDomPermission(getVisit().getStaffId(),'SP_SCAN_PSPT')" desc="代理商扫描身份证权限" />
		<!-- 手输权限 -->
		<input jwcid="@TextField" name="AUTH_HIPRIV" value="ognl:@com.veris.crm.priv.PrivCheck@checkDomPermission(getVisit().getStaffId(),'AUTH_HIPRIV')" style="display:none"/>
		<input jwcid="@TextField" name="LOGIN_LOG_ID" value=""/>
	</div>
	<div class="fn" id="">
	    <ul>
	        <li id="logoutButton" style="display:none;">注销</li>
	        <li id="creatUserButton">个人开户</li>
	        <li id="broadbandOpen">宽带开户</li>
	        <li id="custCentre" style="display:none;">客户资料</li>
	        <li id="shopCart" style="display:none;">购物车<span class="num" id="CART_NUM" style="display:none;">0</span></li>
	    </ul>
	</div>
	<div class="cust" id="cust_info" style="display:none;">
	    <div class="head"><span class="is4g-on" id="IS_4GUSER"></span></div>
	    <div class="name" id="S_PARTY_NAME"></div>
	    <div class="num" id="S_ACCESS_NUM"></div>
	    <div id="STAR_LEVEL">
	        <span></span>
	        <span></span>
	        <span></span>
	        <span></span>
	        <span></span>
	    </div>
	    <div id="STA_SET" title="开机"></div>
	    <div class="refresh" id="REFRESH_BTN">
			<span class="e_ico-refresh"></span>
		</div>
	</div>
	<div class="more" id="personalDetail" style="display:none">
			<div class="wrapper">
			    <div class="title">
			        <div class="text">基本信息</div>
			        <div class="fn"><span class="me_ico-next"></span></div>
			    </div>
			    <div class="param">
			        <ul>
			         	<li>
			                <div class="label">登录方式：</div>
			                <div class="value" id="LOGIN_TYPE_NAME"></div>
			            </li>
			            <li>
			                <div class="label">主套餐：</div>
			                <div class="value" id="S_MAIN_OFFER"></div>
			            </li>
			            <li>
			                <div class="label">信用额度：</div>
			                <div class="value" id="S_CREDIT_VALUE">0</div>
			            </li>
			            <li>
			                <div class="label">帐户类型：</div>
			                <div class="value" id="S_ACCT_TYPE">现金</div>
			            </li>
			        </ul>
			    </div>
			</div>
	</div>
	<div class="info" id="fee_info" style="display:none;">
	    <ul>
	        <li>
	            <div class="value" id="S_BALANCE"></div>
	            <div class="label">余额（元）</div>
	          <!--   <div class="fn" id="chargeFee">缴费</div> -->
	        </li>
	        <li>
	            <div class="value" id="S_REAL_TIME_FEE"></div>
	            <div class="label">话费（元）</div>
	        </li>
	        <li>
	            <div class="value" id="S_FLOW"></div>
	            <div class="label">流量（M）</div>
	        </li>
	    </ul>
	</div>
	<div class="info" id="widenet_fee_info" style="display:none;">
	    <ul>
	        <li>
	            <div class="value" id="S_BROADBAND_CASH_BAL"></div>
	            <div class="label">宽带现金结余（元）</div>
	            <div class="fn" id="widenetChargeFee">缴费</div>
	        </li>
	        <li>
	            <div class="value" id="S_BROADBAND_PRESENT_BAL"></div>
	            <div class="label">宽带赠送结余（元）</div>
	        </li>
	        <li>
	            <div class="value" id="S_RATE"></div>
	            <div class="label">带宽（M）</div>
	        </li>
	    </ul>
	</div>
	<div class="login" id="login">
	     <div class="title">服务号码登录</div>
	     <div class="content">
	        <ul>
	            <li id="LOGIN_TLI" ontap="$.login.ctrlLayer()">
	                <div class="label">方式</div>
	                <div class="input">
	                    <input jwcid="LoginTypeList@TextArea" name="LoginTypeList" value="ognl:pageUtil.getStaticList('LOGIN_TYPE_CODE')" style="display:none"/>
	                    <input jwcid="LOGIN_TYPE_CODE@TextField" name="LOGIN_TYPE_CODE"  class="e_right" type="text" loginTypeCode="1" value="密码" nullable="no" desc="登录方式" readOnly="true"/>
	                </div>
	                <div class="unfold"></div>
	            </li>
	            <li>
	                <div class="input"><input type="text" id="LOGIN_NUM" placeholder="号码" nullable="no" desc="手机号码"/></div>
	            </li>
	             <li id="PSPT_TYPE_LI" style="display:none;">
	             	<div class="label">证件类型:</div>
		             <div class="input">
		                <input  jwcid="@Select"  name="PSPT_TYPE_CODE"  optionWidth="15" source="ognl:pageUtil.getStaticList('TD_S_PASSPORTTYPE')"   textField="DATA_NAME" valueField="DATA_ID" desc="证件类型" />
		           	 </div>
	            </li>
	            <li id="LOGIN_VLI">
	                <div class="input"><input type="password" id="LOGIN_VAL" autocomplete="off" placeholder="服务密码" maxlength="6" nullable="no" desc="服务密码"/></div>
	            </li>
	        </ul>
	        <div class="option" style="display:none;" id="LoginTypeOption">
	            <ul></ul>
	        </div>
	    </div>
	    <div class="submit">
	        <button jwcid="@Any" id="LOGIN_BTN" type="button">登录</button>
	    </div> 
	 </div> 
	   
	 
	 <!--身份识别系统-->
	<span id="PsptControlOCX" style="display:none;" ></span> 
	<!--读写卡系统-->
	<object name="RpsClient"
	classid="CLSID:B2ED220B-F358-4A48-A724-937545220D89" width="1"
	height="1" VIEWASTEXT>
	</object>
	<object classid="clsid:8FEEA6DC-31F9-42A7-B42E-EB2EACE5FD57"
	id="downocx2" name="downocx2"  style="display: none"></object>
	<!-- <object classid="clsid:8FEEA6DC-31F9-42A7-B42E-EB2EACE5FD57"
	id="downocx2" name="downocx2" CODEBASE="./GMCCRpsOcx.ocx#version=1,0,0,1"
	style="display: none"></object> -->
	<div jwcid="nonePart@Part" style="display:none;"></div>
</div>	
