<div jwcid="@Foreach" source="ognl:pageList" value="ognl:pageInfo">
   <div jwcid="@Any" id="ognl:pageInfo.PAGE_ID">
		<div jwcid="@Any" id="ognl:pageInfo.PAGE_TEMPLATE_ID" style="display:block;">
		     <!-- 
			 <iframe jwcid="@Any" scrolling="no" frameborder="0" style="width:100%;"  
			         id="ognl:pageInfo.PAGE_FRAME_ID" 
			         src="ognl:pageInfo.PAGE_FRAME_SRC">	
			 </iframe>
			  -->
			  <iframe jwcid="@Frame" type="iframe"
			          id="ognl:pageInfo.PAGE_FRAME_ID" 
			          page="ognl:pageInfo.PAGE_NAME" 
			          listener="ognl:pageInfo.LISTENER" 
			          params="ognl:pageInfo.PARAMS" 
			          subsys="ognl:pageInfo.SUBSYS_CODE"/>
		</div>	
	    <span jwcid="@Insert" raw="true" value="ognl:pageInfo.INIT_SCRIPT" />
   </div>
</div>

