<!--<div class="l_colItem l_colItem-popup">-->
<div class="c_header e_show-phone">
	<div class="back" ontap="$('#OfferListPart').parent().removeClass('l_colItem-show');">选择服务 / 优惠</div>
    <div class="right">
        <div class="fn">
            <button type="button" class="e_button-blue" ontap="$('#OfferListPart').parent().removeClass('l_colItem-show');offerList.addElements();">确定</button>
        </div>
    </div>
</div>
<div class="c_scroll-phone c_scroll-phone-float c_scroll-phone-header">
<div class="c_title e_hide-phone">
	<div class="text">待选区</div>
	<div class="fn">
		<ul>
			<li jwcid="@Any" class='ognl:"true".equals(showSearchTag)?"":"e_hide"'>
                    <span class="label">服务 / 优惠</span>
                    <span class="value">
                        <input name="offerSuggest" textField="ELEMENT_NAME" valueField="ElementSuggestValue" page="changeproduct.ChangeProductNew" listener="search" jwcid="@Suggest"/>
                    </span>
			</li>
			<li>
				<button jwcid="@Any" type="button" class="e_button-form" id="ognl:id+'_choiceButton'" name="ognl:id+'_choiceButton'" onclick="offerList.addElements();"><i class="e_ico-next"></i><span>添加到已选区</span></button>
			</li>
		</ul>
	</div>
</div>

<div jwcid="@Any" id="ognl:id+'_offerlist'" class="c_scroll c_scroll-border c_scroll-white c_scroll-sp s_offerList" style="height: 25.7em">

		<div jwcid="@OfferLabel" groupList="ognl:groupList" labelList="ognl:labelList">

		</div>
		<div id="OFFERLIST_DRAWAREA">

		</div>
</div>

<input jwcid="@Hidden" name="OFFERLIST_COMPONENT_ID" id="OFFERLIST_COMPONENT_ID" value="ognl:id"/>
<input jwcid="@Hidden" name="CATEGORY_ID" id="CATEGORY_ID" value="ognl:categoryId"/>
<input jwcid="@Hidden" name="OFFERLIST_PRODUCT_ID" id="OFFERLIST_PRODUCT_ID" value="ognl:productId"/>
<input jwcid="@Hidden" name="COL_NUM" id="COL_NUM" value="ognl:colNum"/>
<input jwcid="@Hidden" name="SWITCH_GROUP_SERVICE" id="SWITCH_GROUP_SERVICE" value="ognl:switchGroupService"/>
<input jwcid="@Hidden" name="SWITCH_JOIN_SERVICE" id="SWITCH_JOIN_SERVICE" value="ognl:switchJoinService"/>
</div>