<span class="label"><span jwcid="@Insert" value="ognl:ecName==null?'集团客户编码：':ecName+'：'" raw="false"/></span>
<span class="e_elements" style="width:200px">
	<button type="button" class="e_button-right" onclick="$.popupPageExternal('csserv.component.group.selectgroup.SearchGroupPopupPage','init','&cond_IS_TTGRP='+$('#SELECTGROUP_IS_TTGRP').val(),'集团客户资料查询',780,350,'POP_cond_GROUP_ID')"><i class="e_ico-check"></i><span></span></button>
	<span class="e_input e_input-left"><span>
		
		<input jwcid="@Search"
		name="GROUP_ID_NAME"
		clazz="com.asiainfo.veris.crm.order.web.frame.csview.common.component.group.selectgroup.SelectGroupHttpHandler"
		defaultText="集团客户编码|名称搜索"
		dynamic="true"
		method="searchGroupInfos"
		searchCode="CUST_NAME"
		optionEnterAction='groupSearchOptionEnterAction'
		optionClickAction='groupSearchOptionKeyAction'
		enterAction="groupSearchEnterAction"
		
		/>
		<input jwcid="@Any" type="hidden" id="POP_cond_GROUP_ID" name="POP_cond_GROUP_ID" afterAction="getGroupInfoByCustId()"/>
	</span></span>
	
</span>

<input type="hidden" name="POP_cond_GRPCUST_ID" id="POP_cond_GRPCUST_ID" value=""/>
<input type="hidden" jwcid="@Any" id="SELECTGROUP_AFTER_ACTION" name="SELECTGROUP_AFTER_ACTION" value="ognl:afterAction"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUP_AFTER_ERROR_ACTION" name="SELECTGROUP_AFTER_ERROR_ACTION" value="ognl:afterErrorAction"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUP_REFRESH_PART" name="SELECTGROUP_REFRESH_PART" value="ognl:refreshPart"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUP_CLAZZ_NAME" name="SELECTGROUP_CLAZZ_NAME" value="ognl:selectGroupClazz"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUP_METHOD_NAME" name="SELECTGROUP_METHOD_NAME" value="ognl:selectGroupMethod"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUP_LISTENER_NAME" name="SELECTGROUP_LISTENER_NAME" value="ognl:selectGroupListener"  />
<input type="hidden" jwcid="@Any" id="SELECTGROUP_IS_TTGRP" name="SELECTGROUP_IS_TTGRP" value="ognl:isTTGrp"  />