<span jwcid="@Conditional" condition="ognl:hasTitle">	
	<div class="c_title">
		<div class="text">集团VPMN信息</div>
	</div>
</span>
<div class="c_form c_form-label-7 c_form-col-3 c_form-text">
	<ul class="ul">
		<li class="li">
			<span class="label">VPMN用户标识：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.USER_ID"/></span> 
			<input jwcid="@Any" id="GRP_USER_ID" name="GRP_USER_ID" value="ognl:vpmnInfo.USER_ID" style="display:none;" encode="false" /> 
		</li> 
		<li class="li">
			<span class="label">VPMN集团编号：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.VPN_NO"/></span>
		</li>
		<li class="li">
			<span class="label">VPMN类型：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.VPMN_TYPE"/></span>
		</li>
		<li class="li">
			<span class="label">区号代码：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.GROUP_AREA"/></span>
		</li>
		<li class="li">
			<span class="label">SCP代码：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.SCP_CODE"/></span>
		</li>
		<li class="li">
			<span class="label">最大用户数：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.MAX_USERS"/></span>
		</li>
		<li class="li">
			<span class="label">网外最大用户数：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.MAX_OUTNUM"/></span>
		</li>
		<li class="li">
			<span class="label">最大闭合群数：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.MAX_CLOSE_NUM"/></span>
		</li>
		<li class="li">
			<span class="label">闭合群用户数：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.MAX_NUM_CLOSE"/></span>
		</li>
		<li class="li">
			<span class="label">可入闭合群数：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.PERSON_MAXCLOSE"/></span>
		</li>
		<li class="li">
			<span class="label">呼叫转接号码：</span>
			<span class="text"><span jwcid="@Insert" value="ognl:vpmnInfo.TRANS_NO"/></span>
		</li>
	</ul>
</div>	