<div class="c_box">
	<div id="SALEACTIVE_LIST_DETAIL" class="c_scrollContent">
	    <input type="text" jwcid="@TextField" id="SALEACTIVE_IMEI" name="SALEACTIVE_IMEI" value="ognl:info.IMEI" style="display:none" disabled="true"/>
	    <input type="text" jwcid="@Any" id="DEVICE_MODEL_CODE" name="DEVICE_MODEL_CODE" value="" style="display:none" disabled="true"/>
		<div class="c_list c_list-col-3 c_list-line c_list-border">
			<ul id="SaleActiveListTable_Body">
				<li jwcid="@Foreach" source="ognl:saleActives" value="ognl:saleActive" index="ognl:rowIndex" element="li" title="ognl:saleActive.PACKAGE_TITLE">
					<div jwcid="@Any" class="main link" id="ognl:saleActive.PRODUCT_ID+'_'+saleActive.PACKAGE_ID" 
									  ontap="marketActivityList.checkByPackageId(this);" 
									  packageId="ognl:saleActive.PACKAGE_ID" 
									  packageName="ognl:saleActive.PACKAGE_NAME" 
									  productId="ognl:saleActive.PRODUCT_ID"
									  campnType="ognl:saleActive.CAMPN_TYPE" 
									  saleGoods="ognl:saleActive.REL_OFFER_CODE"
									  onmousemove="marketActivityList.changeColor(this,0);" 
									  packageDesc="ognl:saleActive.PACKAGE_DESC"
									  errorFlag="ognl:saleActive.ERROR_FLAG">
						<div class="title">
							<span jwcid="@Any" class="ognl:1==saleActive.ERROR_FLAG ? 'e_gray e_delete' : 'e_black'">
								<div class="wrap"><span jwcid="@Insert" value="ognl:saleActive.PACKAGE_TITLE"></span></div>
							</span>
						</div>
						
						<div class="content content-row-2">
							<span jwcid="@Insert" value="ognl:saleActive.PACKAGE_DESC" />
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="c_page">
		
			<div class="more">
				<span class="e_ico-fold" ontap="$(this).parent().siblings('.option').toggle()" ></span>
			</div>
			
			<div class="turn">
				<div class="first" id="firstPage"><span class="e_ico-first"></span></div>
				<div class="prev" id="prePage">上一页</div>
				<div class="page"><span id="currentPageNum"></span>/<span id="totalPageNum"></span></div>
				<div class="next" id="nextPage">下一页</div>
				<div class="last" id="lastPage"><span class="e_ico-last"></span></div>
			</div>
			<div class="option" style="display:none;">
				<div class="goto">
					<div class="label">跳转至</div>
					<input type="text" id="jumpPageNum"/>
					<button type="button" ontap="marketActivityList.jumpPage();">确定</button>
				</div>
				<div class="per">
					<div class="label">每页</div>
					<div class="value">
						<span class="e_select" id="onePageNum">21</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="l_queryMsg" id="queryError" style="display:none">
		<div class="c_msg c_msg-error">
			<div class="wrapper">
				<div class="emote"></div>
				<div class="info">
					<div class="text">
						<div class="title">没有查到符合条件的营销包</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- duhj -->
<input jwcid="@TextField" name="SALEACTIVELIST_USER_ID" id="SALEACTIVELIST_USER_ID" value="ognl:saleActiveListUserId"  style="display:none"/>
<input jwcid="@TextField" name="SALEACTIVELIST_CUST_ID" id="SALEACTIVELIST_CUST_ID" value="ognl:saleActiveListCustId"  style="display:none"/>
<input jwcid="@Hidden" name="SALE_PACKAGE_ID" id="SALE_PACKAGE_ID" value=""/>
<input jwcid="@Hidden" name="SALE_PACKAGE" id="SALE_PACKAGE" value=""/>

<input jwcid="@TextField" name="SALEACTIVELIST_COMPONENT_ID" id="SALEACTIVELIST_COMPONENT_ID" value="ognl:id"  style="display:none"/>
<input jwcid="@TextField" name="SALEACTIVELIST_EPARCHY_CODE_COMPID" id="SALEACTIVELIST_EPARCHY_CODE_COMPID" value="ognl:eparchyCodeCompId" style="display:none"/>
