<div class="c_popupItem" id="offerCatalogPopupItem">
	<div class="c_header">
		<div class="back" ontap="hidePopup(this)">选择产品</div>
		<!-- <div class="fn">
			<span class="e_mix e_mix-search" style="width:14em">
				<input type="text" />
				<button type="button"><span class="e_ico-search"></span></button>
			</span>
		</div> -->
	</div>
	<!-- 滚动（替换为 java 组件） 开始 -->
	<div jwcid="@Scroller" name="offerCataScroll" class="c_scroll c_scroll-float c_scroll-header">
		<div jwcid="CatalogPart@Part" class="c_filter">
			<ul>
				<li>
					<div class="option">
						<ul id="CATALOG_ID_UL">
							<li jwcid="@Foreach" source="ognl:catalogList" value="ognl:catalog" element="li" name="CATALOG_ID" id="ognl:catalog.CATALOG_ID" ontap="chooseOfferCatalog($(this).attr('id'));">
								<span jwcid="@Insert" value="ognl:catalog.CATALOG_NAME" raw="true"></span>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!-- 列表 开始 -->
		<div jwcid="OfferListPart@Part" class="c_list c_list-line c_list-col-1">
			<ul id="OFFER_LIST_UL">
				<li jwcid="@Foreach" source="ognl:offerList" value="ognl:offer" element="li">
					<div class="main">
						<span jwcid="@Insert" value="ognl:offer.OFFER_NAME" raw="true"></span>
					</div>
					<div class="side">
						<button jwcid="@Any" class="e_blue e_button-r" OFFER_CODE="ognl:offer.OFFER_CODE" OFFER_NAME="ognl:offer.OFFER_NAME" USER_ID="ognl:offer.USER_ID" ontap="chooseOffer(this);">选择</button>
					</div>
				</li>
			</ul>
		</div>
		<!-- 列表 结束 -->
	</div>
	<!-- 滚动 结束 -->
	<input jwcid="@Hidden" name="FILTER_OFFER_SVC" value="ognl:filterOfferSvc" />
	<div id="FILTER_OFFER_PARAM" style="display:none"><span jwcid="@Insert" value="ognl:filterOfferParam"></span></div> 
</div>