<div id="InvoicePopup" style="display:none;" class="c_popup">
	<div class="c_popupWrapper"><div class="c_popupHeight"></div>
		<div class="c_popupBox" style="width:320px">
			<div class="c_popupTitle">
				<div class="text">发票录入</div>
			</div>
			<div class="c_popupContent"><div class="c_popupContentWrapper">
				<div class="c_form c_form-col-1 c_form-label-4">
					<ul class="ul">
						<li class="li"><span class="label"><span class="e_required">发票号：</span></span>
							<span class="e_input"><span>
									<input jwcid="@TextField" type="text" name="_INVOICE_CODE" id="_INVOICE_CODE" maxsize="15" datatype="numeric" value="" desc="发票号"/>
							</span></span>
						</li>
				  </ul>
				</div>
				<div class="c_submit">
					<button type="button" class="e_button-page-ok" id="InvoiceSubmitBtn" onclick="Invoice.confirmAction()"><i></i><span>确定</span></button>
					<button type="button" class="e_button-page-cancel" id="InvoiceCancelBtn" onclick="Invoice.invoicePppupCancel()"><i></i><span>取消</span></button>
				</div>
			</div></div>
			<div class="c_popupBottom">
				<div></div>
			</div>
			<div class="c_popupShadow"></div>
		</div>
	</div>
	<iframe class="c_popupFrame"></iframe>
	<div class="c_popupCover"></div>
	<input jwcid="@Hidden" name="INVOICE_COMPONENT_ID" id="INVOICE_COMPONENT_ID" value="ognl:id"/>
	<input jwcid="@Hidden" name="CHECK_SVC" id="CHECK_SVC" value="ognl:checkSvc" />
	<input jwcid="@Hidden" name="SVC_ID" id="SVC_ID" value="ognl:svcId" />
	<input jwcid="@Hidden" name="AFTER_ACTION" id="AFTER_ACTION" value="ognl:afterAction" />
	<input jwcid="@Hidden" name="_INVOICE_CODE_OLD" id="_INVOICE_CODE_OLD" value="" />
</div>