<div class="c_box" jwcid="MustInfoPart@Part">

<div class="c_box">
	<div class="c_title">
		<div class="text">批量条件</div>
	</div>
	
	<!-- 表单 开始 -->
	<div class="c_form c_form-col-4 c_form-label-7">
		<ul class="ul">
			<li class="li col-1">
				<span class="label"><span class="e_required">集团产品编码：</span></span>
				<span class="e_input"><span>
					<input jwcid="@TextField" id="SN" name="SN" value="ognl:info.SN" nullable="no" desc="集团产品编码"
					onchange="batcreateuserpbnbd.checkPhone('SN')" />
				</span></span>
			</li>
			<li class="li col-1">
				<span class="label"><span class="e_required">联系人电话：</span></span>
				<span class="e_input"><span><input type="text" jwcid="@TextField" name="CONTACT_PHONE" id="CONTACT_PHONE" 
					  value="ognl:info.CONTACT_PHONE" maxsize="20" maxLength="20" nullable="no" desc="联系人电话"/>
				</span></span>
			</li>
			<li class="li col-1">
				<span class="label"><span class="e_required">联系人：</span></span>
				<span class="e_input"><span><input type="text" jwcid="@TextField" name="CONTACT" id="CONTACT" 
					  value="ognl:info.CONTACT" maxLength="128" maxsize="128" nullable="no" desc="联系人"/>
                </span></span>
			</li>
			<li class="li col-1">
				<span class="label"><span class="e_required">联系电话：</span></span>
				<span class="e_input"><span><input type="text" jwcid="@TextField" 
				      name="PHONE" id="PHONE" value="ognl:info.PHONE" maxsize="20" maxLength="20" nullable="no" desc="联系电话"/>
				</span></span>
			</li>
		</ul>
	</div>
	<!-- 表单 结束 -->
	
</div>
</div>
