<div class="c_box" jwcid="MustInfoPart@Part">
    <div class="c_title">
        <span class="text">批量优惠变更</span>
    </div>
    <div class="c_form c_form-col-2 c_form-label-10" jwcid="QueryCondPart@Part">
        <ul class="ul">
	        <li class="li">
	        	<div jwcid="SelectListA@Part">
				<span class="label"><span class="e_required">优惠：</span></span>
	            	<span class="e_elements">
						<button type="button" class="e_button-right" id="btBatchTask" onclick="javascript:popupPage('bat.batdiscntquery.DiscntPopupQry','initPage','&IS_POP=DISCNTCHG','选择优惠',700,430,'DISCNT_CODE')">
						<i class="e_ico-check"></i><span></span></button>
						<span class="e_input e_input-left"><span>
						<input type="text" jwcid="@Popup" readOnly="true" 
						value="" 
						text="" 
						name="DISCNT_CODE" id="DISCNT_CODE" 
						afterAction="batdiscntchg.getElementAttr()"
						desc="优惠" nullable="no"
						/>
						</span></span>
					</span>
	            </div>
			</li>
			<li class="li">
				<div jwcid="SelectListB@Part">
				<span class="label"><span class="e_required">操作类型：</span></span>
	            <span class="e_select"><span><span>
	            <select jwcid="@Select" name="MODIFY_TAG" id="MODIFY_TAG"
					source="ognl:page.pageutil.getStaticList('BAT_ELEMENT_MODIFY_TAG')"
					textField="DATA_NAME" valueField="DATA_ID" titleField="DATA_NAME"
	    			value="ognl:info.MODIFY_TAG"
					desc="操作类型" nullable="no" onchange="batdiscntchg.diabledenddate()"/>
	            </span></span></span></div>
			</li>
        </ul>
        <ul class="ul">
	       <li class="li">
	        	<div jwcid="SelectListE@Part" id="SD">
				<span class="label"><span class="e_required">优惠起始时间：</span></span>
				<span class="e_input"><span>
				<input type="text" jwcid="@DateField" name="START_DATE" id="START_DATE" maxName="END_DATE" value="ognl:info.START_DATE" format="yyyy-MM-dd" desc="开始时间"  min="ognl:page.pageutil.getSysDate()" startdate="ognl:page.pageutil.getSysDate()" rows="1"/></span></span>
	           	</div>
	        </li>
        
			<li class="li">
				<div jwcid="SelectListD@Part" id="ED">
					<span class="label"><span class="e_required">优惠结束时间：</span></span>
					<span class="e_input"><span>
					<input type="text" jwcid="@DateField" name="END_DATE" id="END_DATE" minName="START_DATE" value="ognl:info.END_DATE" format="yyyy-MM-dd" desc="结束时间"  min="ognl:page.pageutil.getSysDate()" enddate="ognl:page.pageutil.getSysDate()" rows="1"/></span></span>
		      		</div>
			</li>
		</ul>
	</div>

	<div jwcid="QueryListPart@Part" class="c_form c_form-col-8 c_form-label-10" element="div" index="ognl:rowIndex">
			
		<ul class="ul">
			
			<li jwcid="@Foreach" class="li" source="ognl:listD" value="ognl:info" element="ul">
				<span class="label"><span jwcid="@Insert" value="ognl:info.ATTR_LABLE+'：'"  class='ognl:"0".equals(info.ATTR_CAN_NULL) ? "e_required":""' /></span>
				<span jwcid="@Conditional" condition='ognl:"0".equals(info.ATTR_TYPE_CODE)' class="e_input">
				<span class="e_input"><span>
					<input type="text" jwcid="@TextField" id="ATTR_INIT_VALUE" name="ATTR_INIT_VALUE" value="ognl:info.ATTR_INIT_VALUE" desc="ognl:info.ATTR_LABLE" nullable='ognl:"0".equals(info.ATTR_CAN_NULL) ? "no":""' bat_element_type="text"/>
				</span></span></span>
				<span jwcid="@Conditional" condition='ognl:"2".equals(info.ATTR_TYPE_CODE)' class="e_input">
					<input type="text" jwcid="@DateField" id="ATTR_INIT_VALUE" name="ATTR_INIT_VALUE" value="ognl:info.ATTR_INIT_VALUE" desc="ognl:info.ATTR_LABLE" nullable='ognl:"0".equals(info.ATTR_CAN_NULL) ? "no":""' bat_element_type="text" format="yyyy-mm-dd"/>
				</span>
				<span jwcid="@Conditional" condition='ognl:"3".equals(info.ATTR_TYPE_CODE)||"1".equals(info.ATTR_TYPE_CODE)' class="e_input">
				<span class="e_input"><span>
					<select jwcid="@Select" id="ATTR_FIELD" name="ATTR_FIELD"
					 source="ognl:info.ATTRB" valueField="ATTR_FIELD_CODE" textField="ATTR_FIELD_NAME" value="ognl:info.ATTR_FIELD_CODE"
					 nullable='ognl:"0".equals(info.ATTR_CAN_NULL) ? "no":""' bat_element_type="select" desc="ognl:info.ATTR_LABLE" />
				</span></span></span>
				<span jwcid="@Conditional" condition='ognl:"0".equals(info.ATTR_TYPE_CODE)' class="e_input" style="display:none">
					<input type="text" jwcid="@TextField" id="ATTR_CODE" name="ATTR_CODE" value="ognl:info.ATTR_CODE" bat_element_type="text" style="display:none"/>
				</span>
				<span jwcid="@Insert" value='ognl:(rowIndex+1) % 1 == 0 ? "</ul><ul>" : "" ' raw="true"/>
			</li>
			
		</ul>
			
	</div>
	
</div>
