<div class="c_box" jwcid="MustInfoPart@Part">
	<div class="c_title">
		<div class="text">星火计划</div>
	</div>	
		<div class="c_form c_form-label-7 c_form-col-1">
			<ul class="ul">
			<li class="li col-1">
					<span class="label"><span class="e_required">营销包（星火计划）：</span></span>
					<span class="e_select"><span><span>
						<select jwcid="@Select" name="DEFAULE_VALUE" id="DEFAULE_VALUE"
								source="ognl:@com.ailk.biz.util.StaticUtil@getList(getVisit(),'TD_S_COMMPARA','PARA_CODE1||\'-\'||PARA_CODE2','PARAM_NAME','PARAM_ATTR','718')"
								textField="PARAM_NAME" valueField="PARA_CODE1||'-'||PARA_CODE2"
								desc="营销包（星火计划）" nullable="no"/>
					</span></span></span>
				</li>
			</ul>
		</div>
		<input jwcid="@Hidden" name="PRODUCT_ID" id="PRODUCT_ID" value="ognl:info.PARA_CODE1" encode="false" />
		<input jwcid="@Hidden" name="PACHAGE_ID" id="PACHAGE_ID" value="ognl:info.PARA_CODE2" encode="false" />
</div>	
		